<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A-Frame Viewer - Single Model or Scene">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon"/>

    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.10.0/dist/es-module-shims.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.174.0/build/three.module.min.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.174.0/examples/jsm/",
          "meshoptimizer_decoder": "https://cdn.jsdelivr.net/npm/meshoptimizer@0.21.0/meshopt_decoder.module.min.js"
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/aframe@1.6.0/dist/aframe-v1.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>

    <style>
      body, html {
        position: relative;
        display: block;
        width: 100%;
        min-height: 100vh;
        border: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }

      button {
        background-color: transparent;
        border: 1px solid blue;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
        vertical-align: middle;
        margin: 2px 2px 2px 0;
        min-width: 20px;
        height: 22px;
        padding: 1px;
      }

      label {
        vertical-align: middle;
        height: 22px;
        margin: 2px 0 2px 0;
      }

      input[type=file] {
        vertical-align: middle;
        margin: 2px 0 2px 0;
        max-width: 160px;
      }

      input[type=text] {
        vertical-align: middle;
        margin: 2px 2px 2px 0;
      }

      select {
        vertical-align: middle;
        border: 1px solid blue;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background: none;
        min-width: 72px;
        height: 22px;
        color: blue;
      }

      .error_msg {
        background-color: transparent;
        position: absolute;
        text-align: center;
        font-size: x-large;
        display: none;
        color: red;
        width: 240px;
        height: 240px;
        top: 50%;
        left: 50%;
        margin-left: -127px;
        padding: 10px;
        border: none;
      }

      .loading_msg {
        background-color: transparent;
        color: greenyellow;
        position: absolute;
        text-align: center;
        font-size: large;
        display: none;
        height: 240px;
        width: 240px;
        top: 50%;
        left: 50%;
        margin-left: -127px;
        padding: 10px;
        border: none;
      }

      .fm {
        color: navy;
        width: calc(100% - 12px);
        border: 1px solid navy;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        padding: 4px;
        margin: 1px;
      }

      .fixed-menu {
        background-color: whitesmoke;
        width: calc(100% - 2px);
        display: inline-block;
        position: fixed;
        padding: 1px;
        z-index: 1;
        margin: 0;
      }
    </style>

    <!-- Using A-Frame Library from: https://aframe.io -->

    <title>A-Frame Viewer</title>
  </head>
  <body onload="reset_all(); enable_disable( true ); document_ready();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm">
        <button title="URL of the remote 3D model" id="btn_url" onclick="show_url();" style="background-color: transparent; min-width: 34px;">URL</button>
        <input type="file" id="file_input" name="file" onchange="init()" accept=".bim, .dae, .fbx, .glb, .gltf, .ply, .usdz" />
        <select title="Scale" id="model_scale" disabled>
          <option title="Model Scale" value="scale" selected disabled>Scale</option>
          <option title="Scale 0.05x" value="0.05x" onclick="set_model_scale( '0.05x' );">0.05x</option>
          <option title="Scale 0.1x" value="0.1x" onclick="set_model_scale( '0.1x' );">0.1x</option>
          <option title="Scale 0.2x" value="0.2x" onclick="set_model_scale( '0.2x' );">0.2x</option>
          <option title="Scale 0.5x" value="0.5x" onclick="set_model_scale( '0.5x' );">0.5x</option>
          <option title="Scale 2x" value="2x" onclick="set_model_scale( '2x' );">2x</option>
          <option title="Scale 5x" value="5x" onclick="set_model_scale( '5x' );">5x</option>
          <option title="Scale 10x" value="10x" onclick="set_model_scale( '10x' );">10x</option>
          <option title="Scale 20x" value="20x" onclick="set_model_scale( '20x' );">20x</option>
        </select>
        <button title="Quick -90 degree X-Axis Rotation" id="btn_quick_x" onclick="quick_x_rotation( '-0.5' );" style="min-width: 15px;" disabled>&#x2191</button>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry" title="Remote URL"></label>
        <input type="text" id="url_entry" value="" style="width: calc(75% - 12px);" />
        <button title="Load" id="btn_load" onclick="load_url_file();" style="min-width: 8.5%;">Load</button>
        <button title="Clear" id="btn_clear" onclick="clear_url();" style="min-width: 8.5%;">Clear</button>
      </div>
    </div>

    <a-scene id="a_scene">
      <a-sky color="#000325"></a-sky>
    </a-scene>

    <div id="div_error" class="error_msg">E R R O R !</div>
    <div id="div_loading" class="loading_msg">Loading</div>

    <script>
      function show_url() {
        if (url_displayed === true) {
          url_displayed = false;
          document.getElementById('url').style.display = 'none';
          document.getElementById('btn_url').style.backgroundColor = 'transparent';
        } else {
          document.getElementById('btn_url').style.backgroundColor = 'lightgreen';
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url !== '') { selected_url_file = url; url_loading = true; init(); }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function initialize_event_listeners() {
        const arrow_keys = [ 'ArrowUp', 'ArrowDown', 'ArrowRight', 'ArrowLeft' ];

        window.addEventListener( 'pointerdown', ( event ) => {}, false);
        window.addEventListener( 'pointerup', ( event ) => {}, false);
        window.addEventListener( 'wheel', ( event ) => {}, false);
        window.addEventListener( 'keydown', ( event ) => {
          if (progress.value === 0) {
            if (arrow_keys.some( k => k === event.key ) || event.ctrlKey || event.metaKey || event.shiftKey) {
              controls.listenToKeyEvents( window );
            }
          }
        }, false);
        window.addEventListener( 'keyup', ( event ) => {
          if (progress.value === 0) {
            if (arrow_keys.some( k => k === event.key )) {
              controls.stopListenToKeyEvents();
            }
          }
        }, false);
      }
    </script>

    <script>
      var selected_url_file = '', url_displayed = false, url_loading = false;
      var manager, loaded_model, material, extension, vertex_colors;
      var texture_maps, isMobile, events_initialized;

      function set_model_scale( scale ) {
        document.getElementById('model_scale').selectedIndex = 0;

        loaded_model.scale.multiplyScalar( parseFloat( scale.slice( 0, -1 ) ) );
      }

      function quick_x_rotation( angle ) {
        loaded_model.rotateX( Math.PI * parseFloat( angle ) );
      }

      async function load_model( url = '', extension = '' ) {
        if (extension === '') {
          handle_error( 'Invalid extension!' );
          return;
        }

        let scene = document.getElementById('a_scene').object3D;

        await new Promise( async resolve => {
          switch ( extension ) {
            case '.BIM':
              const { BIMLoader } = await import( "../static/dotbim/loader/module/BIMLoader.js" );

              const bim_loader = new BIMLoader( manager );

              bim_loader.load( url, function( bim_meshes ) {
                loaded_model = bim_meshes;
                loaded_model.name = 'loaded_model';

                loaded_model.traverse( ( child ) => {
                  if (child.isMesh) {
                    if (!child.geometry.attributes.normal) child.geometry.computeVertexNormals();
                    child.geometry.normalizeNormals();
                    child.geometry.computeBoundingBox();
                    child.geometry.computeBoundingSphere();

                    vertex_colors = (child.geometry.hasAttribute( 'color' ) === true);

                    if (Array.isArray( child.material )) {
                      child.material.forEach( mtl => {
                        set_texture_colorSpace( mtl );
                        mtl.vertexColors = vertex_colors;
                        mtl.side = THREE.DoubleSide;
                        mtl.flatShading = true;

                        mtl.needsUpdate = true;
                      });
                    } else {
                      set_texture_colorSpace( child.material );
                      child.material.vertexColors = vertex_colors;
                      child.material.side = THREE.DoubleSide;
                      child.material.flatShading = true;

                      child.material.needsUpdate = true;
                    }
                  }
                });

                resolve( scene.add( loaded_model ) );
              }, function ( xhr ) { // onProgress
              }, function ( error ) { handle_error( error ); }); // onError

              break;

            case '.DAE':
              const { ColladaLoader } = await import( "../static/jsm/loaders/ColladaLoader.js" );

              const dae_loader = new ColladaLoader( manager );

              dae_loader.load( url, function( collada ) {
                loaded_model = collada.scene;
                loaded_model.name = 'loaded_model';

                loaded_model.traverse( ( child ) => {
                  if (child.isMesh || child.isPoints) {
                    if (!child.geometry.attributes.normal) child.geometry.computeVertexNormals();
                    child.geometry.normalizeNormals();
                    child.geometry.computeBoundingBox();
                    child.geometry.computeBoundingSphere();

                    vertex_colors = (child.geometry.hasAttribute( 'color' ) === true);

                    if (Array.isArray( child.material )) {
                      child.material.forEach( mtl => {
                        set_texture_colorSpace( mtl );
                        mtl.vertexColors = vertex_colors;
                        mtl.side = THREE.DoubleSide;
                        mtl.flatShading = false;

                        mtl.needsUpdate = true;
                      });
                    } else {
                      set_texture_colorSpace( child.material );
                      child.material.vertexColors = vertex_colors;
                      child.material.side = THREE.DoubleSide;
                      child.material.flatShading = false;

                      child.material.needsUpdate = true;
                    }
                  }
                });

                resolve( scene.add( loaded_model ) );
              }, function ( xhr ) { // onProgress
              }, function ( error ) { handle_error( error ); }); // onError

              break;

            case '.FBX':
              const { DDSLoader } = await import( "three/addons/loaders/DDSLoader.min.js" );
              const { TGALoader } = await import( "three/addons/loaders/TGALoader.min.js" );
              const { FBXLoader } = await import( "../static/jsm/loaders/FBXLoader.js" );

              const fbx_loader = new FBXLoader( manager );

              const dds_loader = new DDSLoader( manager );
              manager.addHandler( /\.dds$/i, dds_loader );

              const tga_loader = new TGALoader( manager );
              manager.addHandler( /\.tga$/i, dds_loader );

              fbx_loader.load( url, function( fbx_scene ) {
                loaded_model = fbx_scene;
                loaded_model.name = 'loaded_model';

                loaded_model.traverse( ( child ) => {
                  if (child.isMesh || child.isPoints) {
                    if (!child.geometry.attributes.normal) child.geometry.computeVertexNormals();
                    child.geometry.normalizeNormals();
                    child.geometry.computeBoundingBox();
                    child.geometry.computeBoundingSphere();

                    vertex_colors = (child.geometry.hasAttribute( 'color' ) === true);

                    if (Array.isArray( child.material )) {
                      child.material.forEach( mtl => {
                        set_texture_colorSpace( mtl );
                        mtl.vertexColors = vertex_colors;
                        mtl.side = THREE.DoubleSide;

                        mtl.needsUpdate = true;
                      });
                    } else {
                      set_texture_colorSpace( child.material );
                      child.material.vertexColors = vertex_colors;
                      child.material.side = THREE.DoubleSide;

                      child.material.needsUpdate = true;
                    }
                  }
                });

                resolve( scene.add( loaded_model ) );
              }, function ( xhr ) { // onProgress
              }, function ( error ) { handle_error( error ); }); // onError

              break;

            case '.GLB':
            case '.GLTF':
              const { MeshoptDecoder } = await import( "meshoptimizer_decoder" );
              const { KTX2Loader } = await import( "three/addons/loaders/KTX2Loader.min.js" );
              const { DRACOLoader } = await import( "three/addons/loaders/DRACOLoader.min.js" );
              const { GLTFLoader } = await import( "../static/jsm/loaders/GLTFLoader.js" );

              const gltf_loader = new GLTFLoader( manager );

              const draco_loader = new DRACOLoader( manager );
              draco_loader.setDecoderPath( "https://cdn.jsdelivr.net/npm/three@0.174.0/examples/jsm/libs/draco/" );
              draco_loader.setDecoderConfig( { type: 'js' } );
              draco_loader.preload();

              const ktx2_loader = new KTX2Loader( manager );
              ktx2_loader.setTranscoderPath( "https://cdn.jsdelivr.net/npm/three@0.174.0/examples/jsm/libs/basis/" );
              ktx2_loader.detectSupport( new THREE.WebGLRenderer( { antialias: true, alpha: true } ) );
              manager.addHandler( /\.ktx2$/i, ktx2_loader );

              gltf_loader.setKTX2Loader( ktx2_loader );
              gltf_loader.setDRACOLoader( draco_loader );
              gltf_loader.setMeshoptDecoder( MeshoptDecoder );

              gltf_loader.load( url, function( gltf ) {
                loaded_model = gltf.scene;
                loaded_model.name = 'loaded_model';

                resolve( scene.add( loaded_model ) );

                gltf_loader.dracoLoader.dispose();
                gltf_loader.ktx2Loader.dispose();
              }, function ( xhr ) { // onProgress
              }, function ( error ) { handle_error( error ); }); // onError

              break;

            case '.PLY':
              const { PLYLoader } = await import( "three/addons/loaders/PLYLoader.min.js" );
              const { mergeVertices } = await import( "three/addons/utils/BufferGeometryUtils.min.js" );

              const ply_loader = new PLYLoader( manager );

              ply_loader.load( url, function( geometry ) {
                (geometry.hasAttribute( 'color' ) === true) ? vertex_colors = true : vertex_colors = false;

                if ( geometry.index !== null ) {
                  geometry.deleteAttribute('normal');
                  geometry = mergeVertices( geometry );
                  geometry.computeVertexNormals();
                  geometry.normalizeNormals();
                  geometry.center();

                  material.vertexColors = vertex_colors;

                  loaded_model = new THREE.Mesh( geometry, material );
                } else {
                  let points_material = new THREE.PointsMaterial( { size: 0.35, transparent: true, blending: THREE.AdditiveBlending } );

                  points_material.vertexColors = vertex_colors;

                  loaded_model = new THREE.Points( geometry, points_material );
                  loaded_model.sizeAttenuation = true;
                  loaded_model.sortPoints = true;
                }

                loaded_model.name = 'loaded_model';

                resolve( scene.add( loaded_model ) );
              }, function ( xhr ) { // onProgress
              }, function ( error ) { handle_error( error ); }); // onError

              break;

            case '.USDZ':
              const { USDZLoader } = await import( "../static/jsm/loaders/USDZLoader.js" );

              const usdz_loader = new USDZLoader( manager );

              usdz_loader.load( url, function( usd ) {
                loaded_model = usd;
                loaded_model.name = 'loaded_model';

                loaded_model.traverse( ( child ) => {
                  if (child.isMesh) {
                    if (Array.isArray( child.material )) {
                      child.material.forEach( mtl => {
                        set_texture_colorSpace( mtl );
                        mtl.side = THREE.DoubleSide;
                        mtl.flatShading = false;

                        mtl.needsUpdate = true;
                      });
                    } else {
                      set_texture_colorSpace( child.material );
                      child.material.side = THREE.DoubleSide;
                      child.material.flatShading = false;

                      child.material.needsUpdate = true;
                    }
                  }
                });

                resolve( scene.add( loaded_model ) );
              }, function ( xhr ) { // onProgress
              }, function ( error ) { handle_error( error ); }); // onError

              break;

            default:
              break;

          }
        });

        finish_loading();
      }

      async function init() {
        if (!events_initialized) { initialize_event_listeners(); events_initialized = true; }
        if (manager === undefined) manager = new THREE.LoadingManager();

        if (loaded_model === undefined) loaded_model = new THREE.Object3D();

        if (material === undefined) {
          material = new THREE.MeshPhongMaterial( {
            side: THREE.DoubleSide,
            vertexColors: false,
            specular: 0xA0A0A0,
            flatShading: true,
            color: 0xCFCFCF,
            shininess: 30,
            opacity: 1,
            fog: true
          });
        }

        reset_all( true );

        document.getElementById('div_loading').style.display = 'block';
        document.getElementById('div_loading').innerHTML = 'Load & Visualize';

        enable_disable( true );

        const model_extensions = [ '.BIM', '.DAE', '.FBX', '.GLB', '.GLTF', '.PLY', '.USDZ' ];

        if (url_loading === false) {
          // Load local model file
          let fi = document.getElementById('file_input');

          console.time( 'Loading Time' );

          let fn_uc = fi.files[ 0 ].name.toUpperCase();
          extension = fn_uc.substring( fn_uc.lastIndexOf( '.' ) );

          if ( model_extensions.some( ext => fn_uc.endsWith( ext ) ) ) {
            let url = URL.createObjectURL( fi.files[ 0 ] );
            await load_model( url, extension );
            URL.revokeObjectURL( fi.files[ 0 ] );
          } else {
            console.log( 'No valid model file selected!' );
            document.getElementById('div_loading').style.display = 'none';
            document.getElementById('div_error').style.display = 'block';
            return;
          }

          selected_url_file = '';
        } else {
          // Reset the file input
          document.getElementById('file_input').value = '';
          url_loading = false;

          if (selected_url_file.indexOf( ',' ) !== -1) {
            handle_error( 'Only a single URL is allowed!' );
            return;
          }

          if (selected_url_file.startsWith('https://github.com') === true) {
            selected_url_file = ( selected_url_file.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
          }

          let url_uc = selected_url_file.toUpperCase();
          extension = url_uc.substring( url_uc.lastIndexOf( '.' ) );

          if ( model_extensions.some( ext => url_uc.endsWith( ext ) ) ) {
            console.time( 'Loading Time' );
            await load_model( selected_url_file, extension );
          } else {
            console.log( 'Not a valid URL for supported models!' );
            document.getElementById('div_loading').style.display = 'none';
            document.getElementById('div_error').style.display = 'block';
            return;
          }
        }
      }

      function set_texture_colorSpace( material ) {
        if (material.map && (!material.map.colorSpace || material.map.colorSpace === 'NoColorSpace')) {
          material.map.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.aoMap && (!material.aoMap.colorSpace || material.aoMap.colorSpace === 'NoColorSpace')) {
          material.aoMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.alphaMap && (!material.alphaMap.colorSpace || material.alphaMap.colorSpace === 'NoColorSpace')) {
          material.alphaMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.bumpMap && (!material.bumpMap.colorSpace || material.bumpMap.colorSpace === 'NoColorSpace')) {
          material.bumpMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.lightMap && (!material.lightMap.colorSpace || material.lightMap.colorSpace === 'NoColorSpace')) {
          material.lightMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.emissiveMap && (!material.emissiveMap.colorSpace || material.emissiveMap.colorSpace === 'NoColorSpace')) {
          material.emissiveMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.normalMap && (!material.normalMap.colorSpace || material.normalMap.colorSpace === 'NoColorSpace')) {
          material.normalMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.specularMap && (!material.specularMap.colorSpace || material.specularMap.colorSpace === 'NoColorSpace')) {
          material.specularMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.metalnessMap && (!material.metalnessMap.colorSpace || material.metalnessMap.colorSpace === 'NoColorSpace')) {
          material.metalnessMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.roughnessMap && (!material.roughnessMap.colorSpace || material.roughnessMap.colorSpace === 'NoColorSpace')) {
          material.roughnessMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.anisotropyMap && (!material.anisotropyMap.colorSpace || material.anisotropyMap.colorSpace === 'NoColorSpace')) {
          material.anisotropyMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.clearcoatMap && (!material.clearcoatMap.colorSpace || material.clearcoatMap.colorSpace === 'NoColorSpace')) {
          material.clearcoatMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.clearcoatNormalMap && (!material.clearcoatNormalMap.colorSpace || material.clearcoatNormalMap.colorSpace === 'NoColorSpace')) {
          material.clearcoatNormalMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.clearcoatRoughnessMap && (!material.clearcoatRoughnessMap.colorSpace || material.clearcoatRoughnessMap.colorSpace === 'NoColorSpace')) {
          material.clearcoatRoughnessMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.iridescenceMap && (!material.iridescenceMap.colorSpace || material.iridescenceMap.colorSpace === 'NoColorSpace')) {
          material.iridescenceMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.iridescenceThicknessMap && (!material.iridescenceThicknessMap.colorSpace || material.iridescenceThicknessMap.colorSpace === 'NoColorSpace')) {
          material.iridescenceThicknessMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.sheenColorMap && (!material.sheenColorMap.colorSpace || material.sheenColorMap.colorSpace === 'NoColorSpace')) {
          material.sheenColorMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.sheenRoughnessMap && (!material.sheenRoughnessMap.colorSpace || material.sheenRoughnessMap.colorSpace === 'NoColorSpace')) {
          material.sheenRoughnessMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.specularColorMap && (!material.specularColorMap.colorSpace || material.specularColorMap.colorSpace === 'NoColorSpace')) {
          material.specularColorMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.specularIntensityMap && (!material.specularIntensityMap.colorSpace || material.specularIntensityMap.colorSpace === 'NoColorSpace')) {
          material.specularIntensityMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.thicknessMap && (!material.thicknessMap.colorSpace || material.thicknessMap.colorSpace === 'NoColorSpace')) {
          material.thicknessMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.transmissionMap && (!material.transmissionMap.colorSpace || material.transmissionMap.colorSpace === 'NoColorSpace')) {
          material.transmissionMap.colorSpace = THREE.LinearSRGBColorSpace;
        }
      }

      function finish_loading() {
        console.timeEnd( 'Loading Time' );
        enable_disable( false );
        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').style.display = 'none';
      }

      function handle_error( error ) {
        console.timeEnd( 'Loading Time' );
        console.log( 'Error loading model!' );
        console.log( error );

        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').style.display = 'block';
      }

      function reset_all( no_reload = false ) {
        if (no_reload === false) {
          document.getElementById('file_input').value = '';
          document.getElementById('url_entry').value = '';
          selected_url_file = '';
        }

        document.getElementById('div_loading').innerHTML = '';
        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').innerHTML = '';
        document.getElementById('div_error').style.display = 'none';
        vertex_colors = false;
        extension = '';

        let scene = document.getElementById('a_scene').object3D;

        if (scene) {
          if (loaded_model && loaded_model.name === 'loaded_model') {
            scene.remove( loaded_model );

            if (loaded_model.skeleton && loaded_model.skeleton.boneTexture)
              loaded_model.skeleton.boneTexture.dispose();

            loaded_model.traverse( ( child ) => {
              if (child.isMesh || child.isPoints || child.isLineSegments) {
                if (child.skeleton && child.skeleton.boneTexture)
                  child.skeleton.boneTexture.dispose();

                if (child.material) {
                  if (Array.isArray( child.material )) {
                    child.material.forEach( mtl => {
                      if (mtl.uniforms) {
                        Object.keys( mtl.uniforms ).forEach( ( key ) => {
                          if (mtl.uniforms[ key ].value) {
                            if (Array.isArray( mtl.uniforms[ key ].value ) && mtl.uniforms[ key ].value.length > 0) {
                              mtl.uniforms[ key ].value.forEach( val => {
                                if (val.type && val.type === 1009)
                                  val.dispose();
                              });
                            } else {
                              if (mtl.uniforms[ key ].value.type && mtl.uniforms[ key ].value.type === 1009)
                                mtl.uniforms[ key ].value.dispose();
                            }
                          }
                        });
                      } else {
                        for (const prop in mtl) {
                          texture_maps.forEach( tex_map => {
                            if (prop === tex_map) {
                              if (mtl[ prop ]) mtl[ prop ].dispose();
                            }
                          });
                        };
                      }

                      mtl.dispose();
                    });
                  } else {
                    if (child.material.uniforms) {
                      Object.keys( child.material.uniforms ).forEach( ( key ) => {
                        if (child.material.uniforms[ key ].value) {
                          if (Array.isArray( child.material.uniforms[ key ].value ) && child.material.uniforms[ key ].value.length > 0) {
                            child.material.uniforms[ key ].value.forEach( val => {
                              if (val.type && val.type === 1009)
                                val.dispose();
                            });
                          } else {
                            if (child.material.uniforms[ key ].value.type && child.material.uniforms[ key ].value.type === 1009)
                              child.material.uniforms[ key ].value.dispose();
                          }
                        }
                      });
                    } else {
                      for (const prop in child.material) {
                        texture_maps.forEach( tex_map => {
                          if (prop === tex_map) {
                            if (child.material[ prop ]) child.material[ prop ].dispose();
                          }
                        });
                      };
                    }

                    child.material.dispose();
                  }
                }

                child.geometry.dispose();
              }
            });
          }
        }
      }

      function enable_disable( disable = false ) {
        document.getElementById('btn_quick_x').disabled = disable;
        document.getElementById('model_scale').disabled = disable;
        disabled_changed();
      }
    </script>

    <script>
      function document_ready() {
        isMobile = (/iPad|iPhone|iPod/.test( navigator.platform )) ||
          (/Android|webOS|iPhone|iPad|iPod|CriOS|BlackBerry|IEMobile|Opera Mini/i.test( navigator.userAgent )) ||
          (navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));

        texture_maps = [ 'map', 'aoMap', 'alphaMap', 'bumpMap', 'displacementMap', 'envMap', 'lightMap', 'emissiveMap', 'normalMap',
          'metalnessMap', 'roughnessMap', 'anisotropyMap', 'clearcoatMap', 'clearcoatNormalMap', 'clearcoatRoughnessMap',
          'iridescenceMap', 'iridescenceThicknessMap', 'sheenColorMap', 'sheenRoughnessMap', 'specularMap',
          'specularColorMap', 'specularIntensityMap', 'thicknessMap', 'transmissionMap'
        ];

        $('#model_scale').keypress( function( event ) { if (event.key === 'Enter') $(this).children(':selected').click(); });

        if (navigator.userAgent.indexOf('Chrome') > -1 || navigator.userAgent.indexOf('Safari') > -1 || isMobile === true) {
          $('#model_scale').change( function() { $(this).children(':selected').click(); });
        }
      }

      function disabled_changed() {
        $('button').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }
        });

        $('select').each( function() {
          if (this.disabled === false) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }
        });
      }
    </script>
  </body>
</html>
