<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="AR / VR Viewer">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon"/>

    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.10.0/dist/es-module-shims.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.178.0/build/three.module.min.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.178.0/examples/jsm/",
          "@monogrid/gainmap-js/decode": "https://cdn.jsdelivr.net/npm/@monogrid/gainmap-js@3.0.6/dist/decode.min.js",
          "meshoptimizer_decoder": "https://cdn.jsdelivr.net/npm/meshoptimizer@0.24.0/meshopt_decoder.module.min.js",
          "@tweenjs": "https://esm.sh/@tweenjs/tween.js@23.1.2"
        }
      }
    </script>

    <script>
      var selected_url_file = '', url_displayed = false, url_loading = false;
      var THREE, fflate, manager, loaded_model, material, extension = '', vertex_colors;
      var ww = window.innerWidth, wh = window.innerHeight, bounding_box, rotation_enabled;
      var scene, camera, renderer, animations, animation_mixer, merge_vertices;
      var ambientLight, directionalLight, events_initialized, isMobile;
      var device_controls, do_controls, controls, clock, texture_maps;
      var ar_button, vr_button, controller, controllerGrip1, controllerGrip2;
      var ar, ar_selected, ar_activated, vr, vr_selected, vr_activated, current_up;
      var kinematics, kinematics_running, kinematicsTween, tween, tween_update, easing, duration;

      const target = {};
      const tweenParameters = {};
    </script>

    <script type="module">
      import * as three_js from "three";
      import * as fflate_js from "three/addons/libs/fflate.module.min.js";

      THREE = three_js;
      fflate = fflate_js;
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>

    <style>
      body, html {
        background-color: whitesmoke;
        position: relative;
        display: block;
        width: 100%;
        min-height: 100vh;
        border: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }

      button {
        background-color: transparent;
        border: 1px solid blue;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
        vertical-align: middle;
        margin: 2px 2px 2px 0;
        min-width: 20px;
        height: 22px;
        padding: 1px;
      }

      label {
        vertical-align: middle;
        margin: 2px 0 2px 0;
        height: 22px;
      }

      input[type=file] {
        vertical-align: middle;
        margin: 2px 0 2px 0;
        max-width: 150px;
      }

      input[type=text] {
        vertical-align: middle;
        margin: 2px 2px 2px 0;
      }

      .dropdown {
        background-color: transparent;
        border: 1px solid #DEAF64;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        vertical-align: middle;
        display: inline-block;
        position: relative;
        min-width: 40px;
        font-size: 85%;
        color: blue;
        border: none;
        padding: 1px;
      }

      .dropdown-content {
        background-color: #FFFAD5;
        border: 1px solid #DEAF64;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        position: absolute;
        display: none;
        margin-top: 2px;
        z-index: 10;
      }

      select {
        vertical-align: middle;
        border: 1px solid blue;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background: none;
        min-width: 72px;
        height: 22px;
        color: blue;
      }

      .error_msg {
        background-color: transparent;
        position: absolute;
        text-align: center;
        font-size: x-large;
        display: none;
        color: red;
        width: 50vw;
        height: 50vh;
        top: 50vh;
        left: 25vw;
        z-index: 2;
        padding: 10px;
        border: none;
      }

      .loading_msg {
        background-color: transparent;
        color: green;
        position: absolute;
        text-align: center;
        font-size: x-large;
        display: none;
        width: 50vw;
        height: 50vh;
        top: 50vh;
        left: 25vw;
        z-index: 2;
        padding: 10px;
        border: none;
      }

      p.full_screen {
        text-align: center;
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAf0lEQVRIie1VQQ6AMAjb/x9M4IRePICoK7GLB5eQbElpCTAY7j6YRiUPAvvxbNMkN76XIDhSRKCdjhmB494hzzwngcoBIa/eASgisMgTBo4ODqCTAiSFrW6Biv8LfL/I1DbtfDRV9VLgjVFhZp59A4g+7JaM6yULh7IyWUYX2AAPDxz26GjX+gAAAABJRU5ErkJggg==);
        margin: 1px 1px 1px 2px;
        padding: 0;
        width: 15px;
        height: 15px;
      }

      .fm {
        color: navy;
        width: calc(100% - 12px);
        border: 1px solid navy;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        padding: 4px;
        margin: 1px;
      }

      .fixed-menu {
        background-color: whitesmoke;
        width: calc(100% - 2px);
        display: inline-block;
        position: fixed;
        padding: 1px;
        z-index: 1;
        margin: 0;
      }
    </style>

    <!-- Using three.js library: https://github.com/mrdoob/three.js -->
    <!-- Using tween.js library: https://github.com/tweenjs/tween.js -->
    <!-- Using jQuery: https://github.com/jquery/jquery -->

    <title>AR / VR Viewer (r178)</title>
  </head>
  <body onload="reset_all(); enable_disable( true ); document_ready();" onresize="resize();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm" id="fm1">
        <button title="URL of the remote 3D model" id="btn_url" onclick="show_url();" style="background-color: transparent; min-width: 34px;">URL</button>
        <input type="file" id="file_input" onchange="init()" accept=".3mf, .bim, .dae, .fbx, .glb, .gltf, .ply, .usdz" />
        <select title="Scale" id="model_scale" disabled>
          <option title="Model Scale" value="scale" selected disabled>Scale</option>
          <option title="Scale 0.05x" value="0.05x" onclick="set_model_scale( '0.05x' );">1/20</option>
          <option title="Scale 0.1x" value="0.1x" onclick="set_model_scale( '0.1x' );">1/10</option>
          <option title="Scale 0.2x" value="0.2x" onclick="set_model_scale( '0.2x' );">1/5</option>
          <option title="Scale 0.333333x" value="0.333333x" onclick="set_model_scale( '0.333333x' );">1/3</option>
          <option title="Scale 0.5x" value="0.5x" onclick="set_model_scale( '0.5x' );">1/2</option>
          <option title="Scale 2x" value="2x" onclick="set_model_scale( '2x' );">2x</option>
          <option title="Scale 3x" value="3x" onclick="set_model_scale( '3x' );">3x</option>
          <option title="Scale 5x" value="5x" onclick="set_model_scale( '5x' );">5x</option>
          <option title="Scale 10x" value="10x" onclick="set_model_scale( '10x' );">10x</option>
          <option title="Scale 20x" value="20x" onclick="set_model_scale( '20x' );">20x</option>
        </select>
        <button title="Quick -90 degree X-Axis Rotation" id="btn_quick_x" onclick="quick_x_rotation( '-0.5' );" style="min-width: 15px;" disabled>&#x2191</button>
        <button title="Toggle Equirectangular Background" id="btn_equi" onclick="set_equi();" style="min-width: 25px;" disabled>Eq</button>
        <button title="Toggle Auto Rotate" id="btn_rotate" onclick="set_rotation();" disabled>R</button>
        <button title="Directional Light Intensity" id="btn_dc_dli" class="dropdown" style="text-align: center; border: 1px solid blue; -webkit-border-radius: 3px; border-radius: 3px;" onclick="show_hide_dropdown_dli();">DLi
          <div id="dc_dli" class="dropdown-content" style="display: none;" onfocusout="hide_dropdown_dli();">
            <input type="range" orient="vertical" id="directional_light_intensity" min="0" max="30" step="0.05" value="3" onkeydown="return_false();" oninput="set_directional_light_intensity();" disabled />
            <span id="dli_val">3</span>
          </div>
        </button>
        <button title="Toggle Full Screen" id="btn_full_screen" onclick="full_screen()" style="display: none;">
          <p class="full_screen"></p>
        </button>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry" title="Remote URL"></label>
        <input type="text" id="url_entry" value="" style="width: calc(75% - 12px);" />
        <button title="Load" id="btn_load" onclick="load_url_file();" style="min-width: 8.5%;">Load</button>
        <button title="Clear" id="btn_clear" onclick="clear_url();" style="min-width: 8.5%;">Clear</button>
      </div>
    </div>

    <div id="div_error" class="error_msg">E R R O R !</div>
    <div id="div_loading" class="loading_msg">Loading</div>

    <script>
      function hide_dropdown_dli() { $('#dc_dli').fadeOut(); }

      function show_hide_dropdown_dli() {
        if ($('#dc_dli')[ 0 ].style.display === 'none') {
          $('#dc_dli').fadeIn();
          $('#directional_light_intensity').focus();
        } else {
          $('#dc_dli').fadeOut();
        }
      }

      function set_directional_light_intensity() {
        let dli_value = document.getElementById('directional_light_intensity').value;
        document.getElementById('dli_val').innerText = dli_value;
        directionalLight.intensity = parseFloat( dli_value );
      }

      function return_false() { return false; }

      function show_url() {
        if (url_displayed === true) {
          url_displayed = false;
          document.getElementById('url').style.display = 'none';
          document.getElementById('btn_url').style.backgroundColor = 'transparent';
        } else {
          document.getElementById('btn_url').style.backgroundColor = 'lightgreen';
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url !== '') { selected_url_file = url; url_loading = true; init(); }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function initialize_event_listeners() {
        const arrow_keys = [ 'ArrowUp', 'ArrowDown', 'ArrowRight', 'ArrowLeft' ];

        window.addEventListener( 'pointerdown', ( event ) => {}, false);
        window.addEventListener( 'pointerup', ( event ) => {}, false);
        window.addEventListener( 'wheel', ( event ) => {}, false);
        window.addEventListener( 'keydown', ( event ) => {
          if (arrow_keys.some( k => k === event.key ) || event.ctrlKey || event.metaKey || event.shiftKey) {
            if (controls) controls.listenToKeyEvents( window );
          }
        }, false);
        window.addEventListener( 'keyup', ( event ) => {
          if (arrow_keys.some( k => k === event.key )) {
            if (controls) controls.stopListenToKeyEvents();
          }
        }, false);
      }

      function resize() {
        if (window.fullScreen || document.fullscreenElement || document.mozFullScreenElement ||
          document.msFullscreenElement || document.webkitFullscreenElement) {

          document.getElementById('btn_full_screen').style.backgroundColor = '#FFFF00';
        } else {
          document.getElementById('btn_full_screen').style.backgroundColor = 'transparent';
        }

        if (scene !== undefined) {
          ww = window.innerWidth;
          wh = window.innerHeight;

          renderer.setSize( ww, wh );

          camera.aspect = ww / wh;
          camera.updateProjectionMatrix();
        }
      }

      function full_screen() {
        if (document.fullscreenEnabled) {
          document.fullscreenElement ? document.exitFullscreen() : document.body.requestFullscreen();
        } else if (document.mozFullScreenEnabled) {
          document.mozFullScreenElement ? document.mozCancelFullScreen() : document.body.mozRequestFullScreen();
        } else if (document.msFullscreenEnabled) {
          document.msFullscreenElement ? document.msExitFullscreen() : document.body.msRequestFullscreen();
        } else if (document.webkitFullscreenEnabled) {
          document.webkitFullscreenElement ? document.webkitExitFullscreen() : document.body.webkitRequestFullscreen();
        } else if (window.fullScreen) {
          // Do nothing. This fullscreen mode was triggered with F11 key press and requires the same again.
        }
      }
    </script>

    <script>
      function set_rotation() {
        if (rotation_enabled === true) {
          rotation_enabled = false;
          document.getElementById('btn_rotate').style.backgroundColor = 'transparent';
        } else {
          rotation_enabled = true;
          document.getElementById('btn_rotate').style.backgroundColor = 'lightgreen';
        }
      }

      async function set_equi() {
        if (scene) {
          if (scene.environment === null) {
            const { HDRJPGLoader } = await import( "@monogrid/gainmap-js/decode" );

            let url = 'https://raw.githubusercontent.com/GitHubDragonFly/three.js/dev/examples/textures/planets/earth_atmos_4096.jpg';

            new HDRJPGLoader( renderer ).load( url, async function( texture ) {
              let tex = await texture.toDataTexture();

              tex.mapping = THREE.EquirectangularReflectionMapping;
              tex.needsUpdate = true;

              scene.background = tex;
              scene.environment = tex;

              texture.renderTarget.texture.dispose();
              texture.renderTarget.dispose();
              texture.dispose();
              tex.dispose();

              document.getElementById('btn_equi').style.backgroundColor = 'lightgreen';
            }, function ( xhr ) {
            }, function ( error ) {
              console.log( 'Error loading Background Image File!' );
              console.log( error );
            });
          } else {
            if (scene.environment) {
              scene.environment.dispose();
              scene.environment = null;
            }

            if (scene.background) {
              if (!scene.background.isColor) {
                scene.background.dispose();
                scene.background = new THREE.Color();
              }
            }

            document.getElementById('btn_equi').style.backgroundColor = 'transparent';
          }
        }
      }

      function set_initial_scale() {
        // Set the initial scale of the object so it hopefully comes to view

        bounding_box.setFromObject( loaded_model );
        let size = bounding_box.getSize( new THREE.Vector3() );

        if ( size.y > 1 ) {
          loaded_model.scale.multiplyScalar( 50 / size.y );
        } else if ( size.y > 0.02 ) {
          loaded_model.scale.multiplyScalar( 25 / size.y );
        } else if ( size.y > 0.01 ) {
          loaded_model.scale.multiplyScalar( 10 / size.y );
        } else {
          loaded_model.scale.multiplyScalar( 1 / size.y )
        }

        loaded_model.position.z = -50;
        loaded_model.position.y = -15;

        bounding_box.setFromObject( loaded_model );
        let center = bounding_box.getCenter( new THREE.Vector3() );

        controls.target.set( center.x, center.y, center.z );
      }

      function set_model_scale( scale ) {
        document.getElementById('model_scale').selectedIndex = 0;
        loaded_model.scale.multiplyScalar( parseFloat( scale.slice( 0, -1 ) ) );
      }

      function quick_x_rotation( angle ) {
        loaded_model.rotateX( Math.PI * parseFloat( angle ) );

        switch ( current_up ) {
          case '-y':
            current_up = '-z';
            break;

          case 'y':
            current_up = 'z';
            break;

          case '-z':
            current_up = 'y';
            break;

          case 'z':
            current_up = '-y';
            break;

          default:
            break;
        }
      }

      async function load_model( url = '', extension = '' ) {
        if (extension === '') {
          handle_error( 'Invalid extension!' );
          return;
        }

        function setupTween() {
          for ( const prop in kinematics.joints ) {
            if ( kinematics.joints.hasOwnProperty( prop ) ) {
              if ( ! kinematics.joints[ prop ].static ) {
                const joint = kinematics.joints[ prop ];
                const old = tweenParameters[ prop ];
                const position = old ? old : joint.zeroPosition;

                tweenParameters[ prop ] = position;

                target[ prop ] = THREE.MathUtils.randInt( joint.limits.min, joint.limits.max );
              }
            }
          }

          kinematicsTween = new tween( tweenParameters ).to( target, duration ).easing( easing.Quadratic.Out );

          kinematicsTween.onUpdate( function( object ) {
            for ( const prop in kinematics.joints ) {
              if ( kinematics.joints.hasOwnProperty( prop ) ) {
                if ( ! kinematics.joints[ prop ].static ) {
                  kinematics.setJointValue( prop, object[ prop ] );
                }
              }
            }
          });

          kinematicsTween.start();
          kinematics_running = true;
          setTimeout( setupTween, duration );
        }

        await new Promise( async resolve => {
          switch ( extension ) {
            case '.3MF':
              const { ThreeMFLoader } = await import( "three/addons/loaders/3MFLoader.min.js" );

              const tmf_loader = new ThreeMFLoader( manager );

              tmf_loader.load( url, function( object ) {
                loaded_model = object.clone();

                loaded_model.traverse( ( child ) => {
                  if (child.isMesh) {
                    child.geometry.deleteAttribute('normal');
                    child.geometry = merge_vertices( child.geometry, 1e-6 );
                    child.geometry.computeVertexNormals();
                    child.geometry.normalizeNormals();

                    vertex_colors = (child.geometry.hasAttribute( 'color' ) === true);

                    if (Array.isArray( child.material )) {
                      child.material.forEach( mtl => {
                        mtl.vertexColors = vertex_colors;
                        mtl.side = THREE.DoubleSide;
                        mtl.flatShading = false;

                        mtl.needsUpdate = true;
                      });
                    } else {
                      child.material.vertexColors = vertex_colors;
                      child.material.side = THREE.DoubleSide;
                      child.material.flatShading = false;

                      child.material.needsUpdate = true;
                    }
                  }
                });

                loaded_model.rotation.x -= Math.PI / 2;

                resolve( scene.add( loaded_model ) );
              }, function ( xhr ) { // onProgress
              }, function ( error ) { handle_error( error ); }); // onError

              break;

            case '.BIM':
              const { BIMLoader } = await import( "../static/dotbim/loader/module/BIMLoader.min.js" );

              const bim_loader = new BIMLoader( manager );

              bim_loader.load( url, function( bim_meshes ) {
                loaded_model = bim_meshes;

                loaded_model.traverse( ( child ) => {
                  if (child.isMesh) {
                    vertex_colors = (child.geometry.hasAttribute( 'color' ) === true);

                    if (Array.isArray( child.material )) {
                      child.material.forEach( mtl => {
                        set_texture_colorSpace( mtl );
                        mtl.vertexColors = vertex_colors;
                        mtl.side = THREE.DoubleSide;
                        mtl.flatShading = true;

                        mtl.needsUpdate = true;
                      });
                    } else {
                      set_texture_colorSpace( child.material );
                      child.material.vertexColors = vertex_colors;
                      child.material.side = THREE.DoubleSide;
                      child.material.flatShading = true;

                      child.material.needsUpdate = true;
                    }
                  }
                });

                resolve( scene.add( loaded_model ) );
              }, function ( xhr ) { // onProgress
              }, function ( error ) { handle_error( error ); }); // onError

              break;

            case '.DAE':
              const { ColladaLoader } = await import( "../static/jsm/loaders/ColladaLoader.min.js" );

              const dae_loader = new ColladaLoader( manager );

              dae_loader.load( url, async function( collada ) {
                loaded_model = collada.scene;

                animations = collada.scene.animations;

                if (animations && animations.length > 0) {
                  animation_mixer = new THREE.AnimationMixer( collada.scene );
                  animations.forEach( clip => { animation_mixer.clipAction( clip ).loop = THREE.LoopRepeat; } );
                  animation_mixer.clipAction( animations[ 0 ] ).play();
                }

                loaded_model.traverse( ( child ) => {
                  if (child.isMesh || child.isPoints) {
                    vertex_colors = (child.geometry.hasAttribute( 'color' ) === true);
                    let point_size = isMobile === true ? 0.7 : 1.25;

                    if (Array.isArray( child.material )) {
                      child.material.forEach( mtl => {
                        set_texture_colorSpace( mtl );
                        if (child.isPoints) mtl.size = point_size;
                        mtl.vertexColors = vertex_colors;
                        mtl.side = THREE.DoubleSide;
                        mtl.flatShading = false;

                        mtl.needsUpdate = true;
                      });
                    } else {
                      set_texture_colorSpace( child.material );
                      if (child.isPoints) child.material.size = point_size;
                      child.material.vertexColors = vertex_colors;
                      child.material.side = THREE.DoubleSide;
                      child.material.flatShading = false;

                      child.material.needsUpdate = true;
                    }
                  }
                });

                kinematics = collada.kinematics;

                if (!(animations && animations.length > 0) && Object.keys( kinematics ).length !== 0) {
                  if (!tween) {
                    const { Easing, Tween, update } = await import( '@tweenjs' );

                    tween_update = update;
                    easing = Easing;
                    tween = Tween;

                    duration = THREE.MathUtils.randInt( 2500, 5000 );
                  }

                  setupTween();
                }

                resolve( scene.add( loaded_model ) );
              }, function ( xhr ) { // onProgress
              }, function ( error ) { handle_error( error ); }); // onError

              break;

            case '.FBX':
              const { DDSLoader } = await import( "three/addons/loaders/DDSLoader.min.js" );
              const { TGALoader } = await import( "three/addons/loaders/TGALoader.min.js" );
              const { FBXLoader } = await import( "../static/jsm/loaders/FBXLoader.min.js" );

              const fbx_loader = new FBXLoader( manager );

              const dds_loader = new DDSLoader( manager );
              manager.addHandler( /\.dds$/i, dds_loader );

              const tga_loader = new TGALoader( manager );
              manager.addHandler( /\.tga$/i, dds_loader );

              fbx_loader.load( url, function( fbx_scene ) {
                loaded_model = fbx_scene;

                animations = fbx_scene.animations;

                if (animations && animations.length > 0) {
                  animation_mixer = new THREE.AnimationMixer( fbx_scene );
                  animations.forEach( clip => { animation_mixer.clipAction( clip ).loop = THREE.LoopRepeat; } );
                  animation_mixer.clipAction( animations[ 0 ] ).play();
                }

                loaded_model.traverse( ( child ) => {
                  if (child.isMesh || child.isPoints) {
                    vertex_colors = (child.geometry.hasAttribute( 'color' ) === true);
                    let point_size = isMobile === true ? 1.0 : 1.5;

                    if (Array.isArray( child.material )) {
                      child.material.forEach( mtl => {
                        set_texture_colorSpace( mtl );
                        if (child.isPoints) mtl.size = point_size;
                        mtl.vertexColors = vertex_colors;
                        mtl.side = THREE.DoubleSide;

                        mtl.needsUpdate = true;
                      });
                    } else {
                      set_texture_colorSpace( child.material );
                      if (child.isPoints) child.material.size = point_size;
                      child.material.vertexColors = vertex_colors;
                      child.material.side = THREE.DoubleSide;

                      child.material.needsUpdate = true;
                    }
                  }
                });

                resolve( scene.add( loaded_model ) );
              }, function ( xhr ) { // onProgress
              }, function ( error ) { handle_error( error ); }); // onError

              break;

            case '.GLB':
            case '.GLTF':
              const { MeshoptDecoder } = await import( "meshoptimizer_decoder" );
              const { KTX2Loader } = await import( "three/addons/loaders/KTX2Loader.min.js" );
              const { DRACOLoader } = await import( "three/addons/loaders/DRACOLoader.min.js" );
              const { GLTFLoader } = await import( "../static/jsm/loaders/GLTFLoader.min.js" );

              const gltf_loader = new GLTFLoader( manager );

              const draco_loader = new DRACOLoader( manager );
              draco_loader.setDecoderPath( "https://cdn.jsdelivr.net/npm/three@0.178.0/examples/jsm/libs/draco/" );
              draco_loader.setDecoderConfig( { type: 'js' } );
              draco_loader.preload();

              const ktx2_loader = new KTX2Loader( manager );
              ktx2_loader.setTranscoderPath( "https://cdn.jsdelivr.net/npm/three@0.178.0/examples/jsm/libs/basis/" );
              ktx2_loader.detectSupport( renderer );
              manager.addHandler( /\.ktx2$/i, ktx2_loader );

              gltf_loader.setKTX2Loader( ktx2_loader );
              gltf_loader.setDRACOLoader( draco_loader );
              gltf_loader.setMeshoptDecoder( MeshoptDecoder );

              gltf_loader.load( url, function( gltf ) {
                loaded_model = gltf.scene;

                animations = gltf.animations;

                if (animations && animations.length > 0) {
                  animation_mixer = new THREE.AnimationMixer( gltf.scene );
                  animations.forEach( clip => { animation_mixer.clipAction( clip ).loop = THREE.LoopRepeat; } );
                  animation_mixer.clipAction( animations[ 0 ] ).play();
                }

                let point_size = isMobile === true ? 1.0 : 1.5;

                loaded_model.traverse( ( child ) => {
                  if (child.isPoints) {
                    child.material.size = point_size;
                  }
                });

                resolve( scene.add( loaded_model ) );

                gltf_loader.dracoLoader.dispose();
                gltf_loader.ktx2Loader.dispose();
              }, function ( xhr ) { // onProgress
              }, function ( error ) { handle_error( error ); }); // onError

              break;

            case '.PLY':
              const { PLYLoader } = await import( "three/addons/loaders/PLYLoader.min.js" );

              const ply_loader = new PLYLoader( manager );

              ply_loader.load( url, function( geometry ) {
                vertex_colors = (geometry.hasAttribute( 'color' ) === true);

                if ( geometry.index !== null ) {
                  geometry.deleteAttribute('normal');
                  geometry = merge_vertices( geometry, 1e-6 );
                  geometry.computeVertexNormals();
                  geometry.normalizeNormals();
                  geometry.center();

                  material.vertexColors = vertex_colors;

                  loaded_model = new THREE.Mesh( geometry, material );
                } else {
                  let point_size = isMobile === true ? 0.1 : 0.2;
                  let points_material = new THREE.PointsMaterial( { size: point_size, transparent: true, blending: THREE.AdditiveBlending } );

                  points_material.vertexColors = vertex_colors;

                  loaded_model = new THREE.Points( geometry, points_material );
                }

                resolve( scene.add( loaded_model ) );
              }, function ( xhr ) { // onProgress
              }, function ( error ) { handle_error( error ); }); // onError

              break;

            case '.USDZ':
              const { USDZLoader } = await import( "../static/jsm/loaders/USDZLoader.min.js" );

              const usdz_loader = new USDZLoader( manager );

              usdz_loader.load( url, function( usd ) {
                loaded_model = usd;

                loaded_model.traverse( ( child ) => {
                  if (child.isMesh) {
                    if (Array.isArray( child.material )) {
                      child.material.forEach( mtl => {
                        set_texture_colorSpace( mtl );
                        mtl.side = THREE.DoubleSide;
                        mtl.flatShading = false;

                        mtl.needsUpdate = true;
                      });
                    } else {
                      set_texture_colorSpace( child.material );
                      child.material.side = THREE.DoubleSide;
                      child.material.flatShading = false;

                      child.material.needsUpdate = true;
                    }
                  }
                });

                resolve( scene.add( loaded_model ) );
              }, function ( xhr ) { // onProgress
              }, function ( error ) { handle_error( error ); }); // onError

              break;

            default:
              break;

          }
        });

        finish_loading();
      }

      async function init() {
        if (url_loading === false && document.getElementById('file_input').files.length === 0) return;

        if (rotation_enabled === true) set_rotation();

        if (manager === undefined) manager = new THREE.LoadingManager();

        if (clock === undefined) clock = new THREE.Clock();

        if (scene === undefined) {
          scene = new THREE.Scene();
          scene.background = new THREE.Color();
        }

        if (loaded_model === undefined) loaded_model = new THREE.Object3D();

        if (camera === undefined) {
          camera = new THREE.PerspectiveCamera( 45, ww / wh, 0.5, 10000 );
          camera.position.set( 0, 0, 0 );
          scene.add( camera );
        }

        // Add AmbientLight to the scene
        if (ambientLight === undefined) {
          ambientLight = new THREE.AmbientLight( 0xFFFFFF, 1.0 );
          ambientLight.position.set( 0, 0, -250 );
          scene.add( ambientLight );
        }

        // Add DirectionalLight to the camera
        if (directionalLight === undefined) {
          directionalLight = new THREE.DirectionalLight( 0xFFFFFF, 3 );
          directionalLight.position.set( 0, 150, 250 );
          directionalLight.lookAt( new THREE.Vector3( 0, 0, 0 ) );
          camera.add( directionalLight );
        }

        if (bounding_box === undefined) bounding_box = new THREE.Box3();

        if (renderer === undefined) {
          renderer = new THREE.WebGLRenderer( { antialias: true, alpha: false } );
          renderer.setPixelRatio( window.devicePixelRatio );
          renderer.toneMapping = THREE.NeutralToneMapping;
          renderer.toneMappingExposure = 1.5;
          renderer.setSize( ww, wh );
          renderer.shadowMap.enabled = true;
          renderer.shadowMap.type = THREE.PCFSoftShadowMap;
          renderer.autoClear = false;

          document.body.appendChild( renderer.domElement );

          if (vr_button === undefined) {
            const { VRButton } = await import( "three/addons/webxr/VRButton.min.js" );

            vr_button = await VRButton.createButton( renderer, { requiredFeatures: [ 'local-floor' ] } );
            vr_button.style.color = 'red';
            if (isMobile === true) vr_button.style.marginBottom = '50px';

            document.body.appendChild( vr_button );
          }

          ar_selected = false;
          ar_activated = false;
          vr_selected = false;
          vr_activated = false;

          if ('xr' in navigator) {
            ar = await navigator.xr.isSessionSupported( 'immersive-ar' );
            vr = await navigator.xr.isSessionSupported( 'immersive-vr' );
          }

          // Logic to prefer VR over AR if both are available

          if (vr === true || (vr === false && ar === false)) {
            if (vr === true) vr_selected = true;

            if (vr_button === undefined) {
              const { VRButton } = await import( "three/addons/webxr/VRButton.min.js" );

              vr_button = await VRButton.createButton( renderer, {
                optionalFeatures: [
                  'hand-tracking',
                  'depth-sensing',
                  'dom-overlay',
                  'hit-test',
                  'local',
                ]
              });

              vr_button.onclick = async function() {
                if (vr === true) {
                  if (device_controls.enabled === false) {
                    device_controls.connect();
                  } else {
                    device_controls.disconnect();
                    await set_initial_scale();
                    resize();
                  }
                }
              }

              if (isMobile === true) vr_button.style.marginBottom = '50px';
              vr_button.style.color = 'red';

              document.body.appendChild( vr_button );
            }
          } else if (ar === true && ar_button === undefined) {
            ar_selected = true;

            const { ARButton } = await import( "three/addons/webxr/ARButton.min.js" );

            ar_button = await ARButton.createButton( renderer, {
              optionalFeatures: [
                'hand-tracking',
                'depth-sensing',
                'dom-overlay',
                'hit-test',
                'local',
              ]
            });

            ar_button.onclick = async function() {
              if (device_controls.enabled === false) {
                device_controls.connect();
              } else {
                device_controls.disconnect();
                await set_initial_scale();
                resize();
              }
            }

            if (isMobile === true) ar_button.style.marginBottom = '50px';
            ar_button.style.color = 'red';

            document.body.appendChild( ar_button );
          }

          if (ar === true || vr === true) {
            renderer.xr.enabled = true;

            if (controller === undefined) {
              const { XRControllerModelFactory } = await import( "three/addons/webxr/XRControllerModelFactory.min.js" );

              // The XRControllerModelFactory will automatically fetch controller models
              // that match what the user is holding as closely as possible. The models
              // should be attached to the object returned from getControllerGrip in
              // order to match the orientation of the held device.

              controller = new XRControllerModelFactory();

              controllerGrip1 = renderer.xr.getControllerGrip( 0 );

              if (controllerGrip1) {
                controllerGrip1.add( controller.createControllerModel( controllerGrip1 ) );
                scene.add( controllerGrip1 );
              }

              controllerGrip2 = renderer.xr.getControllerGrip( 1 );

              if (controllerGrip2) {
                controllerGrip2.add( controller.createControllerModel( controllerGrip2 ) );
                scene.add( controllerGrip2 );
              }
            }
          }

          if (controls === undefined) {
            const { OrbitControls } = await import( "three/addons/controls/OrbitControls.min.js" );

            controls = new OrbitControls( camera, renderer.domElement );
            controls.zoomToCursor = true;
            controls.zoomSpeed = 0.5;
            controls.rotateSpeed = 0.5;
            controls.keyPanSpeed = 0.5; 
            controls.panSpeed = 0.5;
            controls.enableDamping = true;
            //controls.dampingFactor = 0.05;
            //controls.enableKeys = false;
            //controls.enableZoom = true;
            //controls.maxPolarAngle = 2.2;
            //controls.minPolarAngle = 1.1;
            //controls.minDistance = 2;
            //controls.maxDistance = 500;
          }

          if (!events_initialized) { initialize_event_listeners(); events_initialized = true; }
        }

        if (material === undefined) {
          material = new THREE.MeshStandardMaterial( {
            side: THREE.DoubleSide,
            vertexColors: false,
            flatShading: true,
            metalness: 0.6,
            roughness: 0.4,
            opacity: 1,
            fog: true
          });
        }

        if (merge_vertices === undefined) {
          const { mergeVertices } = await import( "three/addons/utils/BufferGeometryUtils.min.js" );
          merge_vertices = mergeVertices;
        }

        rotation_enabled = false;
        kinematics_running = false;

        await reset_all( true );

        document.getElementById('div_loading').style.display = 'block';
        document.getElementById('div_loading').innerHTML = 'Load & Visualize';

        enable_disable( true );

        const model_extensions = [ '.3MF', '.BIM', '.DAE', '.FBX', '.GLB', '.GLTF', '.PLY', '.USDZ' ];

        if (url_loading === false) {
          // Load local model file
          let fi = document.getElementById('file_input');

          console.time( 'Loading Time' );

          let fn_uc = fi.files[ 0 ].name.toUpperCase();
          extension = fn_uc.substring( fn_uc.lastIndexOf( '.' ) );
          current_up = (extension === '.3MF') ? 'z' : 'y';

          if ( model_extensions.some( ext => fn_uc.endsWith( ext ) ) ) {
            let url = URL.createObjectURL( fi.files[ 0 ] );
            await load_model( url, extension );
            URL.revokeObjectURL( fi.files[ 0 ] );
          } else {
            console.log( 'No valid model file selected!' );
            document.getElementById('div_loading').style.display = 'none';
            document.getElementById('div_error').style.display = 'block';
            return;
          }

          selected_url_file = '';
        } else {
          // Reset the file input
          document.getElementById('file_input').value = '';
          url_loading = false;

          if (selected_url_file.indexOf( ',' ) > -1 || selected_url_file.indexOf( ';' ) > -1) {
            handle_error( 'Only a single URL is allowed!' );
            return;
          }

          if (selected_url_file.startsWith('https://github.com') === true) {
            selected_url_file = ( selected_url_file.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
          }

          let url_uc = selected_url_file.toUpperCase();
          extension = url_uc.substring( url_uc.lastIndexOf( '.' ) );

          if ( model_extensions.some( ext => url_uc.endsWith( ext ) ) ) {
            console.time( 'Loading Time' );
            await load_model( selected_url_file, extension );
          } else {
            console.log( 'Not a valid URL for supported models!' );
            document.getElementById('div_loading').style.display = 'none';
            document.getElementById('div_error').style.display = 'block';
            return;
          }
        }
      }

      function set_texture_colorSpace( material ) {
        if (material.map && (!material.map.colorSpace || material.map.colorSpace === 'NoColorSpace')) {
          material.map.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.aoMap && (!material.aoMap.colorSpace || material.aoMap.colorSpace === 'NoColorSpace')) {
          material.aoMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.alphaMap && (!material.alphaMap.colorSpace || material.alphaMap.colorSpace !== 'NoColorSpace')) {
          material.alphaMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.bumpMap && (!material.bumpMap.colorSpace || material.bumpMap.colorSpace === 'NoColorSpace')) {
          material.bumpMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.lightMap && (!material.lightMap.colorSpace || material.lightMap.colorSpace === 'NoColorSpace')) {
          material.lightMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.emissiveMap && (!material.emissiveMap.colorSpace || material.emissiveMap.colorSpace === 'NoColorSpace')) {
          material.emissiveMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.normalMap && (!material.normalMap.colorSpace || material.normalMap.colorSpace !== 'NoColorSpace')) {
          material.normalMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.specularMap && (!material.specularMap.colorSpace || material.specularMap.colorSpace === 'NoColorSpace')) {
          material.specularMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.metalnessMap && (!material.metalnessMap.colorSpace || material.metalnessMap.colorSpace !== 'NoColorSpace')) {
          material.metalnessMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.roughnessMap && (!material.roughnessMap.colorSpace || material.roughnessMap.colorSpace !== 'NoColorSpace')) {
          material.roughnessMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.anisotropyMap && (!material.anisotropyMap.colorSpace || material.anisotropyMap.colorSpace !== 'NoColorSpace')) {
          material.anisotropyMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.clearcoatMap && (!material.clearcoatMap.colorSpace || material.clearcoatMap.colorSpace === 'NoColorSpace')) {
          material.clearcoatMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.clearcoatNormalMap && (!material.clearcoatNormalMap.colorSpace || material.clearcoatNormalMap.colorSpace !== 'NoColorSpace')) {
          material.clearcoatNormalMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.clearcoatRoughnessMap && (!material.clearcoatRoughnessMap.colorSpace || material.clearcoatRoughnessMap.colorSpace !== 'NoColorSpace')) {
          material.clearcoatRoughnessMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.iridescenceMap && (!material.iridescenceMap.colorSpace || material.iridescenceMap.colorSpace !== 'NoColorSpace')) {
          material.iridescenceMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.iridescenceThicknessMap && (!material.iridescenceThicknessMap.colorSpace || material.iridescenceThicknessMap.colorSpace !== 'NoColorSpace')) {
          material.iridescenceThicknessMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.sheenColorMap && (!material.sheenColorMap.colorSpace || material.sheenColorMap.colorSpace === 'NoColorSpace')) {
          material.sheenColorMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.sheenRoughnessMap && (!material.sheenRoughnessMap.colorSpace || material.sheenRoughnessMap.colorSpace !== 'NoColorSpace')) {
          material.sheenRoughnessMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.specularColorMap && (!material.specularColorMap.colorSpace || material.specularColorMap.colorSpace === 'NoColorSpace')) {
          material.specularColorMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.specularIntensityMap && (!material.specularIntensityMap.colorSpace || material.specularIntensityMap.colorSpace !== 'NoColorSpace')) {
          material.specularIntensityMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.thicknessMap && (!material.thicknessMap.colorSpace || material.thicknessMap.colorSpace !== 'NoColorSpace')) {
          material.thicknessMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.transmissionMap && (!material.transmissionMap.colorSpace || material.transmissionMap.colorSpace !== 'NoColorSpace')) {
          material.transmissionMap.colorSpace = THREE.NoColorSpace;
        }
      }

      async function finish_loading() {
        loaded_model.name = 'loaded_model';

        loaded_model.traverse( ( child ) => {
          if (child.isMesh || child.isPoints) {
            if (!child.geometry.attributes.normal) child.geometry.computeVertexNormals();
            child.geometry.normalizeNormals();
            child.geometry.computeBoundingBox();
            child.geometry.computeBoundingSphere();

            if (child.isSkinnedMesh) child.frustumCulled = false;

            if (child.isPoints) {
              child.sizeAttenuation = true;
              child.sortPoints = true;
            }
          }
        });

        await set_initial_scale();
        resize();

        if (ar === true || vr === true) {
          if (device_controls === undefined) {
            const { DeviceOrientationControls } = await import( "../static/jsm/controls/DeviceOrientationControls.min.js" );
            do_controls = DeviceOrientationControls;
          } else {
            device_controls.disconnect();
          }

          device_controls = new do_controls( loaded_model );
        }

        renderer.setAnimationLoop( render );

        console.timeEnd( 'Loading Time' );
        enable_disable( false );
        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').style.display = 'none';
      }

      function handle_error( error ) {
        console.timeEnd( 'Loading Time' );
        console.log( 'Error loading model!' );
        console.log( error );

        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').style.display = 'block';
      }

      function reset_all( no_reload = false ) {
        if (no_reload === false) {
          document.getElementById('file_input').value = '';
          document.getElementById('url_entry').value = '';
          selected_url_file = '';
        }

        document.getElementById('div_loading').innerHTML = '';
        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').innerHTML = '';
        document.getElementById('div_error').style.display = 'none';
        vertex_colors = false;
        extension = '';

        if (scene !== undefined) {
          if (loaded_model && loaded_model.name === 'loaded_model') {
            scene.remove( loaded_model );

            if (kinematics_running === true && kinematicsTween) kinematicsTween.stop();

            if (animation_mixer) {
              animation_mixer.stopAllAction();

              for ( let i = 0; i < animations.length; i++ ) {
                animation_mixer.uncacheAction( animations[ i ] );
                animation_mixer.uncacheClip( animations[ i ] );
              }

              animation_mixer.uncacheRoot( animation_mixer.getRoot() );

              animations = [];
              animation_mixer = null;
            }

            if (loaded_model.skeleton && loaded_model.skeleton.boneTexture)
              loaded_model.skeleton.boneTexture.dispose();

            loaded_model.traverse( ( child ) => {
              if (child.isMesh || child.isPoints || child.isLineSegments) {
                if (child.skeleton && child.skeleton.boneTexture)
                  child.skeleton.boneTexture.dispose();

                if (child.material) {
                  if (Array.isArray( child.material )) {
                    child.material.forEach( mtl => {
                      if (mtl.uniforms) {
                        Object.keys( mtl.uniforms ).forEach( ( key ) => {
                          if (mtl.uniforms[ key ].value) {
                            if (Array.isArray( mtl.uniforms[ key ].value ) && mtl.uniforms[ key ].value.length > 0) {
                              mtl.uniforms[ key ].value.forEach( val => {
                                if (val.type && val.type === 1009)
                                  val.dispose();
                              });
                            } else {
                              if (mtl.uniforms[ key ].value.type && mtl.uniforms[ key ].value.type === 1009)
                                mtl.uniforms[ key ].value.dispose();
                            }
                          }
                        });
                      } else {
                        for (const prop in mtl) {
                          texture_maps.forEach( tex_map => {
                            if (prop === tex_map) {
                              if (mtl[ prop ]) mtl[ prop ].dispose();
                            }
                          });
                        };
                      }

                      mtl.dispose();
                    });
                  } else {
                    if (child.material.uniforms) {
                      Object.keys( child.material.uniforms ).forEach( ( key ) => {
                        if (child.material.uniforms[ key ].value) {
                          if (Array.isArray( child.material.uniforms[ key ].value ) && child.material.uniforms[ key ].value.length > 0) {
                            child.material.uniforms[ key ].value.forEach( val => {
                              if (val.type && val.type === 1009)
                                val.dispose();
                            });
                          } else {
                            if (child.material.uniforms[ key ].value.type && child.material.uniforms[ key ].value.type === 1009)
                              child.material.uniforms[ key ].value.dispose();
                          }
                        }
                      });
                    } else {
                      for (const prop in child.material) {
                        texture_maps.forEach( tex_map => {
                          if (prop === tex_map) {
                            if (child.material[ prop ]) child.material[ prop ].dispose();
                          }
                        });
                      };
                    }

                    child.material.dispose();
                  }
                }

                child.geometry.dispose();
              }
            });

            document.getElementById('directional_light_intensity').value = 3;
            set_directional_light_intensity();
          }
        }
      }

      function enable_disable( disable = false ) {
        document.getElementById('directional_light_intensity').disabled = disable;
        document.getElementById('model_scale').disabled = disable;
        document.getElementById('btn_quick_x').disabled = disable;
        document.getElementById('btn_rotate').disabled = disable;
        document.getElementById('btn_equi').disabled = disable;
        disabled_changed();
      }

      function render() {
        if (loaded_model) {
          if (animation_mixer) animation_mixer.update( clock.getDelta() );
          if (kinematics_running === true && kinematicsTween) tween_update();

          if (rotation_enabled === true) {
            switch ( current_up ) {
              case '-y':
                loaded_model.rotation.y -= 0.001;
                break;

              case 'y':
                loaded_model.rotation.y += 0.001;
                break;

              case '-z':
                loaded_model.rotation.z -= 0.001;
                break;

              case 'z':
                loaded_model.rotation.z += 0.001;
                break;

              default:
                break;
            }
          }

          if (controls) controls.update();
          if (device_controls && device_controls.enabled === true) device_controls.update();

          renderer.clear();
          renderer.render( scene, camera );
        }
      }
    </script>

    <script>
      function document_ready() {
        isMobile = (/iPad|iPhone|iPod/.test( navigator.platform )) ||
          (/Android|webOS|iPhone|iPad|iPod|CriOS|BlackBerry|IEMobile|Opera Mini/i.test( navigator.userAgent )) ||
          (navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));

        texture_maps = [ 'map', 'aoMap', 'alphaMap', 'bumpMap', 'displacementMap', 'envMap', 'lightMap', 'emissiveMap', 'normalMap',
          'metalnessMap', 'roughnessMap', 'anisotropyMap', 'clearcoatMap', 'clearcoatNormalMap', 'clearcoatRoughnessMap',
          'iridescenceMap', 'iridescenceThicknessMap', 'sheenColorMap', 'sheenRoughnessMap', 'specularMap',
          'specularColorMap', 'specularIntensityMap', 'thicknessMap', 'transmissionMap'
        ];

        $('#model_scale').keypress( function( event ) { if (event.key === 'Enter') $(this).children(':selected').click(); });

        if (navigator.userAgent.indexOf('Chrome') > -1 || navigator.userAgent.indexOf('Safari') > -1 || isMobile === true) {
          $('#model_scale').change( function() { $(this).children(':selected').click(); });
        }

        if (isMobile === false) $('#btn_full_screen')[ 0 ].style.display = '';
      }

      function disabled_changed() {
        $('button').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }
        });

        $('select').each( function() {
          if (this.disabled === false) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }
        });
      }
    </script>
  </body>
</html>
