<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="encoding" content="utf-8" charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Celestial Bodies with three.js - Astronomically Inaccurate">
		<link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon"/>

		<script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.8.3/dist/es-module-shims.min.js"></script>

		<script type="importmap">
			{
				"imports": {
					"three": "https://cdn.jsdelivr.net/npm/three@0.169.0/build/three.module.min.js",
					"three/addons/": "https://cdn.jsdelivr.net/npm/three@0.169.0/examples/jsm/"
				}
			}
		</script>

		<style>
			body{
				overflow: hidden;
				margin: 0;
			}
		</style>

		<title>Celestial Bodies</title>
	</head>

	<body>
		<!-- Reference: https://discourse.threejs.org/t/sphere-not-rendering-in-my-threejs/72442 -->

		<script type="module">
			import * as THREE from "three";
			import { OrbitControls } from "three/addons/controls/OrbitControls.js";

			// Function to create planets and celestial bodies
			function createCelestialBody( name = '', size, textureUrl, position ) {
				const geometry = new THREE.SphereGeometry( size, 64, 32 );

				const bump_url = 'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/planets/earth_bump_roughness_clouds_4096.jpg';
				const normal_url = 'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/planets/earth_normal_2048.jpg';

				const map = new THREE.TextureLoader().load( textureUrl );

				const material = new THREE.MeshStandardMaterial({
					map: map,
					bumpMap: name === 'Earth' ? new THREE.TextureLoader().load( bump_url ) : null,
					roughnessMap: name === 'Earth' ? new THREE.TextureLoader().load( bump_url ) : map,
					normalMap: name === 'Earth' ? new THREE.TextureLoader().load( normal_url ) : null,
					side: THREE.DoubleSide,
					metalness: 0.25,
					roughness: name === 'Earth' ? 0.5 : 0.25
				});

				const body = new THREE.Mesh( geometry, material );
				body.position.set( position.x, position.y, position.z );
				scene.add( body );
				return body;
			}

			let scene = new THREE.Scene();

			let camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 1, 10000 );
			camera.position.set( 0, 0, 12 );
			scene.add( camera );

			let renderer = new THREE.WebGLRenderer( { antialias: true } );
			renderer.setPixelRatio( window.devicePixelRatio );
			renderer.toneMapping = THREE.NeutralToneMapping;
			renderer.toneMappingExposure = 1.0;
			renderer.setSize( innerWidth, innerHeight );
			document.body.appendChild( renderer.domElement );

			const earth = createCelestialBody(
				'Earth',
				3,
				'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/planets/earth_atmos_4096.jpg', 
				{ x: -4, y: 3, z: 0 }
			);

			const moon = createCelestialBody(
				'Moon',
				0.7,
				'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/planets/moon_1024.jpg', 
				{ x: 4, y: 3, z: 0 }
			);

			window.addEventListener("resize", (event) => {
				camera.aspect = innerWidth / innerHeight;
				camera.updateProjectionMatrix();
				renderer.setSize( innerWidth, innerHeight );
			});

			let controls = new OrbitControls( camera, renderer.domElement );
			controls.target.set( 0, 3, 0 );
			controls.enableDamping = true;
			controls.zoomSpeed = 0.6;
			controls.rotateSpeed = 0.6;
			controls.keyPanSpeed = 0.6;
			controls.panSpeed = 0.6;

			let light = new THREE.DirectionalLight( 0xffffff, 6 );
			light.position.set(10, 8, 15);
			let ambient_light = new THREE.AmbientLight(0xffffff, 0.1);
			ambient_light.position.set( -3, 3, -8 );
			scene.add( light, ambient_light );

			let tex = new THREE.CubeTextureLoader().load([
				'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/cube/MilkyWay/dark-s_px.jpg',
				'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/cube/MilkyWay/dark-s_nx.jpg',
				'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/cube/MilkyWay/dark-s_py.jpg',
				'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/cube/MilkyWay/dark-s_ny.jpg',
				'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/cube/MilkyWay/dark-s_pz.jpg',
				'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/cube/MilkyWay/dark-s_nz.jpg',
			], () => {
				scene.background = tex.clone();
				scene.environment = tex.clone();
				scene.environmentIntensity = 0.25;
				tex.dispose();
			}, () => { console.log( 'Textures loaded' ) }, () => { console.log( 'Error loading textures' ) });

			renderer.setAnimationLoop(() => {
				controls.update();

				scene.rotation.y -= 0.00005; // Scene rotation
				earth.rotation.y += 0.0005; // Earth rotation
				moon.rotation.y -= 0.001; // Moon rotation

				renderer.render(scene, camera);
			});
		</script>
	</body>
</html>
