<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="encoding" content="utf-8" charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Celestial Bodies with three.js - Astronomically Inaccurate">
		<link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon"/>

		<script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.10.0/dist/es-module-shims.min.js"></script>

		<script type="importmap">
			{
				"imports": {
					"three": "https://cdn.jsdelivr.net/npm/three@0.183.1/build/three.webgpu.min.js",
					"three/webgpu": "https://cdn.jsdelivr.net/npm/three@0.183.1/build/three.webgpu.min.js",
					"three/tsl": "https://cdn.jsdelivr.net/npm/three@0.183.1/build/three.tsl.min.js",
					"three/addons/": "https://cdn.jsdelivr.net/npm/three@0.183.1/examples/jsm/",
					"three/examples/jsm/": "https://cdn.jsdelivr.net/npm/three@0.183.1/examples/jsm/"
				}
			}
		</script>

		<style>
			body {
				background-color: black;
				overflow: hidden;
				margin: 0;
			}

			div {
				background-color: transparent;
				text-align: center;
				color: blue;
			}

			label {
				background-color: transparent;
				color: blue;
			}
		</style>

		<title>Celestial Bodies (r183)</title>
	</head>

	<body>
		<!-- Reference: https://discourse.threejs.org/t/sphere-not-rendering-in-my-threejs/72442 -->

		<div>
			<label for="rotate" title="Set Cube Rotation" id="lbl_rotate" style="float: left; display: none;">
				<input type="checkbox" id="rotate" style="padding: 5px; margin: 5px;" />
				Rotate
			</label>
		</div>
		<div id="div_loading" style="font-size: x-large;">Fetching images ... please wait</div>

		<script type="module">
			import * as THREE from 'three';
			import WebGL from 'three/addons/capabilities/WebGL.min.js';
			import WebGPU from 'three/addons/capabilities/WebGPU.min.js';

			let gpu = WebGPU.isAvailable();
			let gl2 = WebGL.isWebGL2Available();

			if ( gpu === true ) {
				console.log( 'WebGPU support detected' );
			} else if ( gl2 === true ) {
				console.log( 'WebGL2 support detected' );
			} else {
				document.getElementById('div_loading').style.display = 'none';
				document.body.appendChild( WebGPU.getErrorMessage() );
				console.log( 'No WebGPU or WebGL2 support detected' );
				throw new Error();
			}

			const { pass, mrt, output, emissive } = await import( 'three/tsl' );
			const { bloom } = await import( 'three/addons/tsl/display/BloomNode.js' );
			const { OrbitControls } = await import( 'three/addons/controls/OrbitControls.js' );

			const isNewiPad = (/iPad/.test( navigator.platform ) && (/Mac OS X/i.test( navigator.userAgent ))) ||
				(navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));

			const isMobile = (isNewiPad === false) && ((/iPhone|iPad|iPod/.test( navigator.platform )) ||
				(/Android|webOS|iPhone|iPad|iPod|BlackBerry|CriOS|IEMobile|Opera Mini/i.test( navigator.userAgent )));

			const texture_loader = new THREE.TextureLoader()
			.setPath('https://raw.githubusercontent.com/GitHubDragonFly/three.js/dev/examples/textures/planets/');

			const bump_map = await texture_loader.loadAsync( 'earth_bump_roughness_clouds_4096.avif' );
			const normal_map = await texture_loader.loadAsync( 'earth_normal_2048.avif' );

			let scene = new THREE.Scene();

			let earth, moon, earth_loaded = false, moon_loaded = false;
			let mouse_down = false, mouse_wheel = false;
			let postProcessing, render_requested = false, count = 0;

			// Create sun independently since it is not using textures

			let geometry = new THREE.SphereGeometry( 5, 64, 32 );

			let sun = new THREE.Mesh( geometry, new THREE.MeshStandardNodeMaterial({
				emissive: new THREE.Color( 1, 1, 1 ),
				side: THREE.DoubleSide,
				metalness: 0,
				roughness: 0
			}));

			sun.position.set( 50, 3, 15 );
			sun.name = 'Sun';
			scene.add( sun );

			sun.material.dispose();
			sun.geometry.dispose();
			geometry.dispose();

			// Function to create planets and celestial bodies
			async function createCelestialBody( name = '', size, textureUrl, position ) {
				await texture_loader.load( textureUrl, function( tex ) {
					let body_geometry = new THREE.SphereGeometry( size, 64, 32 );
					let body_material = new THREE.MeshStandardNodeMaterial({
						map: tex,
						bumpMap: name === 'Earth' ? bump_map : tex,
						roughnessMap: name === 'Earth' ? bump_map : tex,
						normalMap: name === 'Earth' ? normal_map : null,
						side: THREE.DoubleSide,
						metalness: 0.25,
						roughness: 0.5
					});

					let body = new THREE.Mesh( body_geometry, body_material );
					body.position.set( position.x, position.y, position.z );
					body.name = name;
					scene.add( body );

					body_material.dispose();
					body_geometry.dispose();
					tex.dispose();

					if ( name === 'Earth' ) { body.receiveShadow = true; earth_loaded = true; }
					if ( name === 'Moon' ) { body.castShadow = true; moon_loaded = true; }

					if ( earth_loaded === true && moon_loaded === true ) {
						earth = scene.getObjectByName( 'Earth' );
						moon = scene.getObjectByName( 'Moon' );
						earth.add( moon );
						earth.rotation.y -= Math.PI / 3.0;

						bump_map.dispose();
						normal_map.dispose();

						document.getElementById( 'rotate' ).checked = true;
						document.getElementById('lbl_rotate').style.display = '';
						document.getElementById('div_loading').style.display = 'none';

						// Emissive bloom post processing
						// Ref: https://threejs.org/examples/?q=bloom#webgpu_postprocessing_bloom_emissive

						let scenePass = pass( scene, camera );
						scenePass.setMRT( mrt( { output, emissive } ) );

						let outputPass = scenePass.getTextureNode();
						let emissivePass = scenePass.getTextureNode( 'emissive' );
						let bloomPass = bloom( emissivePass, 2.5, 0.35 );

						postProcessing = new THREE.RenderPipeline( renderer );
						postProcessing.outputNode = outputPass.add( bloomPass );

						render_requested = true;
						mouse_wheel = true;
						render();
					}
				});
			}

			let camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 1, 1e9 );
			isMobile === true ? camera.position.set( 0, 0, 40 ) : camera.position.set( 0, 0, 12 );
			scene.add( camera );

			let renderer;

			try {
				renderer = new THREE.WebGPURenderer( { antialias: true, alpha: true } );
				await renderer.init();
			} catch ( error ) {
				throw new Error( error.message );
			}

			renderer.setPixelRatio( window.devicePixelRatio < 1.5 ? window.devicePixelRatio : 2.0 );
			renderer.toneMapping = THREE.NeutralToneMapping;
			renderer.toneMappingExposure = 1.1;
			renderer.setSize( innerWidth, innerHeight );
			renderer.shadowMap.enabled = true;
			renderer.shadowMap.type = THREE.PCFSoftShadowMap;

			document.body.appendChild( renderer.domElement );

			let controls = new OrbitControls( camera, renderer.domElement );
			controls.target.set( 0, 4, 0 );
			controls.enableDamping = true;
			controls.autoRotateSpeed = -0.05;
			controls.zoomSpeed = 0.6;
			controls.rotateSpeed = 0.6;
			controls.keyPanSpeed = 0.6;
			controls.panSpeed = 0.6;

			let light = new THREE.DirectionalLight( 0xffffff, 5 );
			light.position.set( 50, 3, 15 );
			light.castShadow = true;
			light.shadow.mapSize.width = 2048;
			light.shadow.mapSize.height = 2048;

			let ambient_light = new THREE.AmbientLight( 0xffffff, 0.09 );
			ambient_light.position.set( -3, 3, -25 );

			scene.add( light, ambient_light );

			await new THREE.CubeTextureLoader()
			.setPath( 'https://raw.githubusercontent.com/GitHubDragonFly/three.js/dev/examples/textures/cube/MilkyWay/' )
			.load([
				'dark-s_px.jpg',
				'dark-s_nx.jpg',
				'dark-s_py.jpg',
				'dark-s_ny.jpg',
				'dark-s_pz.jpg',
				'dark-s_nz.jpg',
			], async ( texture ) => {
				scene.background = texture;
				scene.environment = texture;
				scene.environmentIntensity = 0.25;
				texture.dispose();

				await createCelestialBody(
					'Moon',
					0.5,
					'moon_1024.avif', 
					{ x: 5, y: 1, z: 1.35 }
				);

				await createCelestialBody(
					'Earth',
					2.25,
					'earth_atmos_4096.jpg', 
					{ x: -4, y: 3, z: -0.25 }
				);
			}, undefined, () => { console.log( 'Error loading textures' ) });

			const rotation = document.getElementById( 'rotate' );

			function render() {
				if ( mouse_down || mouse_wheel || rotation.checked ) {
					if ( rotation.checked ) {
						controls.autoRotate = true;

						earth.rotation.y += 0.0005; // Earth + Moon rotation
						moon.rotation.y -= 0.0015; // Moon rotation
					} else {
						controls.autoRotate = false;
					}

					controls.update();
					postProcessing.render();

					if ( mouse_wheel ) {
						if ( count > 5 ) {
							mouse_wheel = false;
							count = 0;
						} else {
							count ++;
						}
					}

				}

				if ( render_requested ) requestAnimationFrame( render );
			}

			const arrow_keys = [ 'ArrowUp', 'ArrowDown', 'ArrowRight', 'ArrowLeft' ];
			const activeKeys = new Set();

			window.addEventListener( 'resize', ( event ) => {
				renderer.setSize( innerWidth, innerHeight );
				camera.aspect = innerWidth / innerHeight;
				camera.updateProjectionMatrix();
				mouse_wheel = true;
			});

			window.addEventListener( 'pointerdown', ( event ) => {
				mouse_down = true;
			}, false);

			window.addEventListener( 'pointerup', ( event ) => {
				mouse_down = false;
				mouse_wheel = false;
			}, false);

			window.addEventListener( 'pointercancel', ( event ) => {
				mouse_down = false;
				mouse_wheel = false;
			}, false);

			window.addEventListener( 'wheel', ( event ) => {
				mouse_wheel = true;
			}, false);

			window.addEventListener( 'keydown', ( event ) => {
				if ( controls && arrow_keys.some( k => k === event.key ) || event.ctrlKey || event.metaKey || event.shiftKey ) {
					controls.listenToKeyEvents( window );
					activeKeys.add( event.key ); // Track this key
					mouse_wheel = true;
				}
			}, false);

			window.addEventListener( 'keyup', ( event ) => {
				activeKeys.delete( event.key ); // Remove this key

				if ( controls && activeKeys.size === 0 ) {
					controls.stopListenToKeyEvents();
					mouse_wheel = false;
				}
			}, false);
		</script>
	</body>
</html>
