<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="encoding" content="utf-8" charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Celestial Bodies with three.js - Astronomically Inaccurate">
		<link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon"/>

		<script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.8.3/dist/es-module-shims.min.js"></script>

		<script type="importmap">
			{
				"imports": {
					"three": "https://cdn.jsdelivr.net/npm/three@0.169.0/build/three.webgpu.min.js",
					"three/tsl": "https://cdn.jsdelivr.net/npm/three@0.169.0/build/three.webgpu.min.js",
					"three/addons/": "https://cdn.jsdelivr.net/npm/three@0.169.0/examples/jsm/"
				}
			}
		</script>

		<style>
			body{
				background-color: black;
				overflow: hidden;
				margin: 0;
			}
		</style>

		<title>Celestial Bodies (r169)</title>
	</head>

	<body onload="document_ready();">
		<!-- Reference: https://discourse.threejs.org/t/sphere-not-rendering-in-my-threejs/72442 -->

		<div id="div_loading" style="text-align: center; color: blue; margin-top: 15px;">Fetching images ... please wait</div>

		<script type="module">
			import * as THREE from "three";
			import WebGL from "three/addons/capabilities/WebGL.min.js";
			import WebGPU from "three/addons/capabilities/WebGPU.min.js";
			import { OrbitControls } from "three/addons/controls/OrbitControls.js";

			let gpu = WebGPU.isAvailable();
			let gl2 = WebGL.isWebGL2Available();

			if ( gpu === true ) {
				console.log( 'WebGPU support detected' );
			} else if ( gl2 === true ) {
				console.log( 'WebGL2 support detected' );
			} else {
				document.body.appendChild( WebGPU.getErrorMessage() );
				throw new Error( 'No WebGPU or WebGL2 support detected' );
			}

			const isMobile = (/iPad|iPhone|iPod/.test( navigator.platform )) ||
				(/Android|webOS|iPhone|iPad|iPod|CriOS|BlackBerry|IEMobile|Opera Mini/i.test( navigator.userAgent )) ||
				(navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));

			const bump_url = 'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/planets/earth_bump_roughness_clouds_4096.jpg';
			const normal_url = 'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/planets/earth_normal_2048.jpg';

			const texture_loader = new THREE.TextureLoader();

			const bump_map = await texture_loader.loadAsync( bump_url );
			const normal_map = await texture_loader.loadAsync( normal_url );

			let earth_loaded = false, moon_loaded = false, sun_loaded = false;

			// Function to create planets and celestial bodies
			async function createCelestialBody( name = '', size, textureUrl, position ) {
				let geometry = new THREE.SphereGeometry( size, 64, 32 );

				let map = textureUrl !== '' ? texture_loader.load( textureUrl ) : normal_map;

				let material = new THREE.MeshStandardNodeMaterial({
					map: name === 'Sun' ? null : map,
					bumpMap: name === 'Earth' ? bump_map : null,
					emissive: name === 'Sun' ? new THREE.Color( 1, 1, 1 ) : new THREE.Color( 0, 0, 0 ),
					emissiveMap: name === 'Sun' ? map : null,
					roughnessMap: name === 'Earth' ? bump_map : name === 'Moon' ? map : null,
					normalMap: name === 'Earth' ? normal_map : null,
					side: THREE.DoubleSide,
					metalness: name === 'Sun' ? 0 : 0.25,
					roughness: name === 'Earth' ? 0.5 : name === 'Moon' ? 0.25 : 0
				});

				map.dispose();

				let body = new THREE.Mesh( geometry, material );
				body.position.set( position.x, position.y, position.z );
				body.name = name;
				scene.add( body );

				if (name === 'Earth') earth_loaded = true;
				if (name === 'Moon') moon_loaded = true;
				if (name === 'Sun') sun_loaded = true;

				if (earth_loaded && moon_loaded && sun_loaded) {
					bump_map.dispose();
					normal_map.dispose();
					document.getElementById('div_loading').style.display = 'none';
				}
			}

			let scene = new THREE.Scene();

			await new THREE.CubeTextureLoader().load([
				'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/cube/MilkyWay/dark-s_px.jpg',
				'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/cube/MilkyWay/dark-s_nx.jpg',
				'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/cube/MilkyWay/dark-s_py.jpg',
				'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/cube/MilkyWay/dark-s_ny.jpg',
				'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/cube/MilkyWay/dark-s_pz.jpg',
				'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/cube/MilkyWay/dark-s_nz.jpg',
			], ( texture ) => {
				scene.background = texture.clone();
				scene.environment = texture.clone();
				scene.environmentIntensity = 0.25;
				texture.dispose();
			}, undefined, () => { console.log( 'Error loading textures' ) });

			let camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 1, 10000 );
			isMobile === true ? camera.position.set( 0, 0, 50 ) : camera.position.set( 0, 0, 12 );
			scene.add( camera );

			let renderer;

			try {
				renderer = new THREE.WebGPURenderer( { antialias: true, alpha: true } );
				await renderer.init();
			} catch ( error ) {
				throw new Error( error.message );
			}

			renderer.setPixelRatio( window.devicePixelRatio < 1.5 ? window.devicePixelRatio : 2.0 );
			renderer.toneMapping = THREE.NeutralToneMapping;
			renderer.toneMappingExposure = 1.0;
			renderer.setSize( innerWidth, innerHeight );
			renderer.shadowMap.enabled = true;
			renderer.shadowMap.type = THREE.PCFSoftShadowMap;

			document.body.appendChild( renderer.domElement );

			let controls = new OrbitControls( camera, renderer.domElement );
			controls.target.set( 0, 3, 0 );
			controls.enableDamping = true;
			controls.zoomSpeed = 0.6;
			controls.rotateSpeed = 0.6;
			controls.keyPanSpeed = 0.6;
			controls.panSpeed = 0.6;

			let light = new THREE.DirectionalLight( 0xffffff, 5 );
			light.position.set( 25, 5, 50 );
			let ambient_light = new THREE.AmbientLight( 0xffffff, 0.075 );
			ambient_light.position.set( -3, 3, -25 );
			scene.add( light, ambient_light );

			// Emissive bloom post processing
			// Ref: https://threejs.org/examples/?q=bloom#webgpu_postprocessing_bloom_emissive

			const { pass, mrt, output, bloom, emissive } = await import( 'three/tsl' );

			let scenePass = pass( scene, camera );
			scenePass.setMRT( mrt( { output, emissive } ) );

			let outputPass = scenePass.getTextureNode();
			let emissivePass = scenePass.getTextureNode( 'emissive' );
			let bloomPass = bloom( emissivePass, 1.5, 0.35 );

			let postProcessing = new THREE.PostProcessing( renderer );
			postProcessing.outputNode = outputPass.add( bloomPass );

			renderer.setAnimationLoop(() => {
				controls.update();

				scene.rotation.y -= 0.00005; // Scene rotation
				scene.getObjectByName( 'Earth' ).rotation.y += 0.0005; // Earth rotation
				scene.getObjectByName( 'Moon' ).rotation.y -= 0.001; // Moon rotation

				postProcessing.render();
			});

			await createCelestialBody(
				'Sun',
				5,
				'', 
				{ x: 25, y: 5, z: 50 }
			);

			await createCelestialBody(
				'Moon',
				0.5,
				'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/planets/moon_1024.jpg', 
				{ x: 2.5, y: 3, z: 0 }
			);

			await createCelestialBody(
				'Earth',
				2.25,
				'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/planets/earth_atmos_4096.jpg', 
				{ x: -4, y: 3, z: 0 }
			);

			window.addEventListener("resize", (event) => {
				camera.aspect = innerWidth / innerHeight;
				camera.updateProjectionMatrix();
				renderer.setSize( innerWidth, innerHeight );
			});
		</script>
	</body>
</html>
