<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Simple Cube Shading Example">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon"/>

    <script src="https://cdn.jsdelivr.net/npm/three@0.147.0/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.147.0/examples/js/controls/OrbitControls.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three.proton.js@0.2.3/build/three.proton.min.js"></script>

    <script id="vertexShader" type="x-shader/x-vertex">
      varying vec2 vUv;

      void main() {
        vUv = uv;
        gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
      }
    </script>

    <!-- Use different functions to manipulate each of the RGBA components -->

    <script id="fragmentShader" type="x-shader/x-fragment">
      varying vec2 vUv;
      uniform sampler2D map;
      uniform float u_time;

      void main() {
        vec4 mapTexel = texture2D( map, vUv.xy );
        gl_FragColor = mapTexel + vec4( tan(cos(u_time) + 0.5), tan(sin(u_time) + 0.5), cos(atan(u_time)), sin(u_time) - 0.5 );
      }
    </script>

    <style>
      body, html {
        background-color: #000080;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
      }
    </style>

    <!-- Ref: https://thebookofshaders.com/04/ -->

    <title>Cube Shading (r147)</title>

  <body onload="document_ready();" onresize="resize();">
    <div>
      <label for="sprites" title="Set Mouse Sprites" id="lbl_sprites" style="display: none; color: yellow;">
        <input type="checkbox" id="sprites" style="padding: 5px; margin: 5px;" onclick="set_mouse_sprites();" checked />
        Mouse Sprites
      </label>
    </div>
    <div>
      <label for="rotation" title="Set Cube Rotation" id="lbl_rotation" style="color: yellow;">
        <input type="checkbox" id="rotation" style="padding: 5px; margin: 5px;" onclick="set_rotation();" checked />
        Rotate
      </label>
    </div>

    <script>
      var mesh, camera, scene, controls, renderer, clock;
      var ww = window.innerWidth, wh = window.innerHeight;
      var proton, emitter, uniforms, rotate, sprites, isMobile;

      function resize( event ) {
        ww = window.innerWidth;
        wh = window.innerHeight;

        renderer.setSize( ww, wh );

        camera.aspect = ww / wh;
        camera.updateProjectionMatrix();
      }

      function set_mouse_sprites() {
        let s = document.getElementById( 'sprites' );
        sprites === true ? s.checked = false : s.checked = true;
        sprites = s.checked;
      }

      function set_rotation() {
        let r = document.getElementById( 'rotation' );
        rotate === true ? r.checked = false : r.checked = true;
        rotate = r.checked;
      }

      function init() {
        renderer = new THREE.WebGLRenderer();
        renderer.setPixelRatio( window.devicePixelRatio );
        renderer.toneMapping = THREE.ACESFilmicToneMapping;
        renderer.toneMappingExposure = 1.5;
        renderer.setClearColor( 0xFFFFFF, 0 );
        renderer.setSize( ww, wh );
        renderer.autoClear = false;

        document.body.appendChild( renderer.domElement );

        camera = new THREE.PerspectiveCamera( 45, ww / wh, 0.5, 10000 );
        camera.position.z = isMobile === true ? 5.0 : 2.5;

        scene = new THREE.Scene();
        clock = new THREE.Clock();

        // Add canvas with a text as a texture map

        let canvas = document.createElement('canvas');
        let context = canvas.getContext("2d");
        canvas.width = ww;
        canvas.height = wh;

        context.font = ww / 16.0 + "px Arial";
        context.fillStyle = "purple";
        context.fillText( 'Cube Shading', ww / 2.0 - (3 * ww / 16), wh / 2.0 );

        let texture = new THREE.Texture( canvas );
        texture.needsUpdate = true;

        uniforms = {
          u_time: { type: 'f', value: 0.0 },
          map: { type: 't', value: texture.clone() }
        };

        var material = new THREE.ShaderMaterial({
          uniforms: uniforms,
          vertexShader: document.getElementById( 'vertexShader' ).textContent,
          fragmentShader: document.getElementById( 'fragmentShader' ).textContent,
          side: THREE.DoubleSide
        });

        texture.dispose();

        let geometry = new THREE.BoxGeometry( 1.0, 1.0, 1.0 );

        // Add cube edges

        let edges_material = new THREE.LineBasicMaterial( { color: 0x000040 } );
        let edges = new THREE.LineSegments( new THREE.EdgesGeometry( geometry, 30 ), edges_material );

        mesh = new THREE.Mesh( geometry, material );
        mesh.add( edges );

        scene.add( mesh );

        controls = new THREE.OrbitControls( camera, renderer.domElement );

        window.addEventListener( "resize", resize, false );

        // Add Proton mouse effects on desktops - Ref: https://github.com/drawcall/threejs-mesh-modifiers

        if (isMobile === false) {
          let tex = "https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/sprites/disc.png";

          function createSprite( texture ) {
            const map = new THREE.TextureLoader().load( texture );
            const material = new THREE.SpriteMaterial({
              map: map,
              color: 0xff0000,
              blending: THREE.AdditiveBlending,
              fog: true
            });

            return new THREE.Sprite( material );
          }

          proton = new Proton();
          emitter = new Proton.FollowEmitter();

          emitter.ease = 1;
          emitter.rate = new Proton.Rate(
            new Proton.Span(4, 5),
            new Proton.Span(0.01, 0.02)
          );

          emitter.addInitialize( new Proton.Mass( 0.25 ) );
          emitter.addInitialize( new Proton.Life( 0.25 ) );
          emitter.addInitialize( new Proton.Body( createSprite( tex ) ) );
          emitter.addInitialize( new Proton.Radius( 0.1 ) );
          emitter.addInitialize( new Proton.V( 2, new Proton.Vector3D( 0, 0, -1 ), 5 ) );

          emitter.addBehaviour( new Proton.Alpha( 0.8, 0 ) );
          emitter.addBehaviour( new Proton.Color( "#4F1500", "#0029FF" ) );
          emitter.addBehaviour( new Proton.Scale( 0.5, 0.5 ) );

          emitter.setCameraAndRenderer( camera, renderer );

          emitter.emit();

          proton.addEmitter( emitter );
          proton.addRender( new Proton.SpriteRender( scene ) );
        }
      }

      function animate() {
        requestAnimationFrame( animate );
        render();
      }

      function render() {
        uniforms.u_time.value += clock.getDelta();

        if (rotate === true) mesh.rotateY( 0.004 );

        controls.update();

        renderer.clear();
        renderer.render( scene, camera );

        scene.updateMatrixWorld();
        camera.updateMatrixWorld();

        if (sprites === true) proton.update();
      }
      function document_ready() {
        isMobile = (/iPad|iPhone|iPod/.test( navigator.platform ))
         || (/Android|webOS|iPhone|iPad|iPod|CriOS|BlackBerry|IEMobile|Opera Mini/i.test( navigator.userAgent ))
          || (navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));

        if (isMobile === true) {
          sprites = false;
          document.getElementById( 'sprites' ).checked = false;
        } else {
          sprites = true;
          document.getElementById( 'sprites' ).checked = true;
          document.getElementById( 'lbl_sprites' ).style.display = 'block';
        }

        rotate = true;
        document.getElementById( 'rotation' ).checked = true;

        init();
        animate();
      }
    </script>
  </body>
</html>
