<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EPT (Point Cloud) Streaming Viewer supporting LAS/LAZ/BIN Tiles">
    <link rel="stylesheet" href="../static/css/mobile-viewers.css">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon"/>

    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.10.0/dist/es-module-shims.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.178.0/build/three.module.min.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.178.0/examples/jsm/",
          "loaders-core": "https://esm.sh/@loaders.gl/core@4.3.4",
          "loaders-las": "https://esm.sh/@loaders.gl/las@4.3.4"
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>

    <script>
      var THREE, manager, ept_loader, isMobile, count = 0;
      var renderer, scene, camera, controls, render_requested;
      var mouse_down, mouse_wheel, reset_rotation, events_initialized;
      var ww = window.innerWidth, wh = window.innerHeight;
      var ept_obj, selected_ept_file, selected_url_file = '';
      var ept_displayed = false, warning_displayed = false;
      var url_displayed = false, url_loading = false;
      var filesMap, local_files, bounding_box;
      var classification_present, classification_enabled;
      var elevationColors, elevation, original_vertex_color_array;
    </script>

    <script type="module">
      import * as three_js from "three";
      import { EPTStreamLoader } from "../static/jsm/loaders/EPTStreamLoader.min.js";

      THREE = three_js;

      manager = new THREE.LoadingManager();
      manager.onLoad = function() { mouse_wheel = true; }

      ept_loader = new EPTStreamLoader( manager );
    </script>

    <!-- Original OBJ source code that inspired this: https://codepen.io/Mamboleoo/pen/PqjGdN -->
    <!-- Using three.js library: https://github.com/mrdoob/three.js -->
    <!-- Using loaders.gl library: https://github.com/visgl/loaders.gl -->

    <!-- mouse_wheel variable is used throughout as a trigger for rendering -->

    <title>EPT Viewer (r178)</title>
  </head>
  <body onload="reset_all(); document_ready(); disabled_changed();" onresize="resize();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm">
        <button title="Set Level of Detail for Displaying EPT Models" id="btn_lod" onclick="show_ept();" style="min-width: 34px;">LOD</button>
        <label for="btn_lod" title="Set Level of Detail for Displaying EPT Models"></label>
        <button title="Get remote model via URL" id="btn_url" onclick="show_url()" style="min-width: 38px;">URL</button>
        <label for="btn_url" title="Get remote model via URL"></label>
        <button title="Browse Local Files" id="btn_file_input" style="min-width: 54px;" onclick="document.getElementById('file_input').click();">Browse</button>
        <label for="btn_file_input" title="Browse Local Files"></label>
        <input type="file" id="file_input" style="display: none;" onchange="init();" accept=".bin, .json, .las, .laz" multiple />
        <label for="back_color" title="Background Color">B</label>
        <input type="color" title="Background Color" id="back_color" onchange="set_back_color();" disabled />
        <label for="points_color" title="Points Color">C</label>
        <input type="color" title="Points Color" id="points_color" name="points_color" onchange="set_points_color();" disabled />
        <button title="Increase Points Size" id="btn_plus" onclick="increase_points_size();" style="color: red;" disabled>+</button>
        <label for="btn_plus" title="Increase Points Size"></label>
        <button title="Decrease Points Size" id="btn_minus" onclick="decrease_points_size();" style="color: red;" disabled>-</button>
        <label for="btn_minus" title="Decrease Points Size"></label>
        <button title="Toggle Elevation Colors" id="btn_elevation_colors" onclick="set_elevation_colors();" style="min-width: 28px;" disabled>EC</button>
        <label for="btn_elevation_colors" title="Toggle Elevation Colors"></label>
        <button title="Toggle Classification Colors" id="btn_classification_colors" onclick="set_classification_colors();" style="display: none; min-width: 28px;">CC</button>
        <label for="btn_classification_colors" title="Toggle Classification Colors"></label>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry" title="Remote URL"></label>
        <input type="text" id="url_entry" value="" style="width: calc(75% - 12px);" />
        <button title="Load" id="btn_load" onclick="load_url_file();" style="min-width: 8.5%;">Load</button>
        <label for="btn_load" title="Load"></label>
        <button title="Clear" id="btn_clear" onclick="clear_url();" style="min-width: 8.5%;">Clear</button>
        <label for="btn_clear" title="Clear"></label>
      </div>
      <div class="fm" id="ept" style="display: none;">
        <label>LOD</label>&nbsp;
        <select id="detail_level" title="Set EPT points density" style="min-width: 80px;">
          <option value="" disabled selected>Density</option>
          <option value="1" onclick="set_ept_density( 1 );">100%</option>
          <option value="2" onclick="set_ept_density( 2 );">50%</option>
          <option value="3" onclick="set_ept_density( 3 );">33%</option>
          <option value="4" onclick="set_ept_density( 4 );">25%</option>
          <option value="10" onclick="set_ept_density( 10 );">10%</option>
          <option value="20" onclick="set_ept_density( 20 );">5%</option>
          <option value="100" onclick="set_ept_density( 100 );">1%</option>
        </select>
        <select id="tile_level" title="Set depth level - number of loaded tiles for EPT datasets" style="min-width: 100px;">
          <option value="" disabled selected>Depth</option>
          <option value="0" onclick="set_ept_details( 0 );">0 - root</option>
          <option value="1" onclick="set_ept_details( 1 );">1 - low</option>
          <option value="2" onclick="set_ept_details( 2 );">2 - medium</option>
          <option value="3" onclick="set_ept_details( 3 );">3 - high</option>
          <option value="4" onclick="set_ept_details( 4 );">4 - xtreme</option>
          <option value="5" onclick="set_ept_details( 5 );">5 - xtreme</option>
          <option value="6" onclick="set_ept_details( 6 );">6 - xtreme</option>
          <option value="7" onclick="set_ept_details( 7 );">7 - xtreme</option>
          <option value="8" onclick="set_ept_details( 8 );">8 - xtreme</option>
        </select>
        <select id="gamma_level" title="Adjust color contrast (BIN) or intensity gamma (LAS/LAZ)" style="min-width: 80px;">
          <option value="" disabled selected>Gamma</option>
          <option value="0.1" onclick="set_ept_gamma( 0.1 );">0.1</option>
          <option value="0.3" onclick="set_ept_gamma( 0.3 );">0.3</option>
          <option value="0.5" onclick="set_ept_gamma( 0.5 );">0.5</option>
          <option value="0.7" onclick="set_ept_gamma( 0.7 );">0.7</option>
          <option value="0.9" onclick="set_ept_gamma( 0.9 );">0.9</option>
          <option value="1.1" onclick="set_ept_gamma( 1.1 );">1.1</option>
          <option value="1.3" onclick="set_ept_gamma( 1.3 );">1.3</option>
          <option value="1.5" onclick="set_ept_gamma( 1.5 );">1.5</option>
          <option value="1.7" onclick="set_ept_gamma( 1.7 );">1.7</option>
          <option value="1.9" onclick="set_ept_gamma( 1.9 );">1.9</option>
        </select>
      </div>
    </div>

    <div id="div_error" class="error_msg">E R R O R !</div>
    <div id="div_loading" class="loading_msg">EPT Streaming Viewer</div>

    <script>
      function return_false() { return false; }

      function show_ept() {
        if (ept_displayed === true) {
          document.getElementById('ept').style.display = 'none';
          document.getElementById('btn_lod').style.backgroundColor = 'transparent';
          ept_displayed = false;
        } else {
          document.getElementById('ept').style.display = 'block';
          document.getElementById('btn_lod').style.backgroundColor = 'lightgreen';
          ept_displayed = true;

          if (!warning_displayed) {
            alert('EPT datasets use lot of memory.\nGamma adjusts intensity gamma (LAS/LAZ) or color contrast (BIN).\nDepth levels > 0 increase network traffic and memory usage.\nMake sure to set proper Level Of Detail before loading the model.\nChanging LOD will not be updating already‑loaded point clouds.');
            warning_displayed = true;
          }
        }

        resize();

        mouse_wheel = true;
      }

      function set_ept_density( skip_points = 1 )  {
        ept_loader.setSkipPoints( skip_points );
      }

      function set_ept_gamma( gamma = 1.0 ) {
        ept_loader.setIntensityGammaFactor( gamma );
      }

      function set_ept_details( depth = 0 )  {
        ept_loader.setTileDepthLimit( depth );
      }

      function show_url() {
        if (url_displayed === true) {
          url_displayed = false;
          document.getElementById('url').style.display = 'none';
          document.getElementById('btn_url').style.backgroundColor = 'transparent';
        } else {
          document.getElementById('btn_url').style.backgroundColor = 'lightgreen';
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url !== '') { selected_url_file = url; url_loading = true; init(); }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function initialize_event_listeners() {
        const arrow_keys = [ 'ArrowUp', 'ArrowDown', 'ArrowRight', 'ArrowLeft' ];

        window.addEventListener( 'pointerdown', (event) => { mouse_down = true; }, false);
        window.addEventListener( 'pointerup', (event) => { mouse_down = false; mouse_wheel = true; }, false);
        window.addEventListener( 'wheel', ( event ) => { mouse_wheel = true; }, false);
        window.addEventListener( 'keydown', ( event ) => {
          if (arrow_keys.some( k => k === event.key ) || event.ctrlKey || event.metaKey || event.shiftKey) {
            controls.listenToKeyEvents( window );
            mouse_wheel = true;
          }
        }, false);
        window.addEventListener( 'keyup', ( event ) => {
          if (arrow_keys.some( k => k === event.key )) {
            controls.stopListenToKeyEvents();
            mouse_wheel = false;
          }
        }, false);
      }

      function resize() {
        if (scene !== undefined) {
          mouse_wheel = true;

          ww = window.innerWidth;
          wh = window.innerHeight;

          renderer.setSize( ww, wh );

          camera.aspect = ww / wh;
          camera.updateProjectionMatrix();

          mouse_wheel = true;
        }
      }
    </script>

    <script>
      function set_back_color() {
        scene.background = null;
        document.body.style.backgroundColor = document.getElementById('back_color').value;
        mouse_wheel = true;
      }

      function set_points_color() {
        let pts_color = document.getElementById('points_color').value; // hex format '#rrggbb'

        ept_obj.traverse( ( child ) => {
          if (child.isPoints) {
            if (pts_color === '#000000') child.material.color.setRGB( 1, 1, 1 );
            else child.material.color.setRGB( parseInt( pts_color.substring( 1, 3 ), 16 ) / 255.0, parseInt( pts_color.substring( 3, 5 ), 16 ) / 255.0, parseInt( pts_color.substring( 5 ), 16 ) / 255.0);

            child.material.needsUpdate = true;
            mouse_wheel = true;
          }
        });
      }

      function increase_points_size() {
        ept_obj.traverse( ( child ) => {
          if (child.isPoints) {
            child.material.size *= 1.15;
            mouse_wheel = true;
          }
        });

        mouse_wheel = true;
      }

      function decrease_points_size() {
        ept_obj.traverse( ( child ) => {
          if (child.isPoints) {
            child.material.size /= 1.15;
            mouse_wheel = true;
          }
        });

        mouse_wheel = true;
      }

      function set_camera() {
        bounding_box.setFromObject( ept_obj );
        const center = bounding_box.getCenter( new THREE.Vector3() ).multiplyScalar( -1 );

        // Set camera
        const sphere = new THREE.Sphere();
        bounding_box.getBoundingSphere( sphere );

        // Move camera back by radius * some factor
        camera.position.set( 0, 0, sphere.radius * 2.5 );
        camera.lookAt( 0, 0, 0 );
        camera.updateProjectionMatrix();

        mouse_wheel = true;
      }

      async function init() {
        if (url_loading === false && document.getElementById('file_input').files.length === 0) return;

        if (scene) {
          mouse_wheel = true;

          if (ept_obj) await scene_cleanup();

          await reset_all( true );
        }

        enable_disable( true );

        selected_ept_file = null;
        mouse_down = false;
        mouse_wheel = true;
        local_files = null;
        filesMap = {};
        count = 0;
        elevation = false;
        elevationColors = {};
        render_requested = false;
        classification_enabled = false;
        classification_present = false;
        bounding_box = new THREE.Box3();
        original_vertex_color_array = {};

        console.time( 'Loading Time' );
        document.body.style.backgroundImage = 'none';
        document.getElementById('div_error').style.display = 'none';
        document.getElementById('div_loading').style.display = 'block';
        document.getElementById('div_loading').innerHTML = 'Load & Visualize';

        manager.setURLModifier( function( url ) {
          const file = filesMap[ url ];
          if ( file ) return file;
          return url;
        });

        if (url_loading === false) {
          // Loaded file
          local_files = document.getElementById('file_input').files;

          for (let i = 0; i < local_files.length; i++) {
            let fn_uc = local_files[ i ].name.toUpperCase();

            if (fn_uc === 'EPT.JSON') {
              selected_ept_file = local_files[ i ];
            } else {
              let url = URL.createObjectURL( local_files[ i ] );
              URL.revokeObjectURL( local_files[ i ] );

              filesMap[ local_files[ i ].name ] = url;
            }
          }

          if (selected_ept_file === null) {
            handle_error( 'No valid EPT JSON file selected!' );
            return;
          }

          ept_loader.setLocalBlobMap( filesMap );

          selected_url_file = '';
        } else {
          // Reset the file input
          document.getElementById('file_input').value = '';
          url_loading = false;
        }

        if (renderer === undefined) {
          renderer = new THREE.WebGLRenderer( { antialias: true, alpha: true } );
          renderer.setPixelRatio( window.devicePixelRatio );
          renderer.toneMapping = THREE.NeutralToneMapping;
          renderer.toneMappingExposure = 1.5;
          renderer.setSize( ww, wh );
          renderer.shadowMap.enabled = true;
          renderer.shadowMap.type = THREE.PCFSoftShadowMap;
          renderer.setClearColor( 0xFFFFFF, 0 ); // Allow setting the background color
          renderer.autoClear = false;

          document.body.appendChild( renderer.domElement );
        }

        if (scene === undefined) scene = new THREE.Scene();
        if (ept_obj === undefined) ept_obj = new THREE.Object3D();

        scene.add( ept_obj );

        if (!events_initialized) { initialize_event_listeners(); events_initialized = true; }

        if (camera === undefined) {
          camera = new THREE.PerspectiveCamera( 45, ww / wh, 0.1, 10000 );
          camera.position.set( 0, 0, 5000 );
          scene.add( camera );
        }

        camera.lookAt( 0, 0, 0 );

        //const axesHelper = new THREE.AxesHelper( 500 );
        //scene.add(axesHelper);

        if (controls === undefined) {
          const { OrbitControls } = await import( "three/addons/controls/OrbitControls.min.js" );

          controls = new OrbitControls( camera, renderer.domElement );
          controls.zoomToCursor = true;
          controls.zoomSpeed = 0.5;
          controls.rotateSpeed = 0.5;
          controls.keyPanSpeed = 0.5; 
          controls.panSpeed = 0.5;
          //controls.enableDamping = true;
          //controls.dampingFactor = 0.3;
          //controls.enableKeys = false;
          //controls.enableZoom = true;
          //controls.maxPolarAngle = 2.2;
          //controls.minPolarAngle = 1.1;
          //controls.minDistance = 2;
          //controls.maxDistance = 500;
        }

        // Load EPT files
        selected_ept_file !== null ? loadFile() : loadURLFile();
      }

      const CLASS_COLORS = {
        0: [0.6, 0.6, 0.6],   // Created, never classified
        1: [1.0, 1.0, 1.0],   // Unclassified
        2: [0.5, 0.3, 0.1],   // Ground
        3: [0.0, 0.6, 0.0],   // Low vegetation
        4: [0.0, 0.8, 0.0],   // Medium vegetation
        5: [0.0, 1.0, 0.0],   // High vegetation
        6: [0.6, 0.6, 0.6],   // Building
        7: [0.3, 0.3, 0.3],   // Low point / noise
        9: [0.0, 0.4, 1.0],   // Water
        17: [1.0, 0.0, 1.0],  // Bridge deck
      };

      function getClassColor( c ) {
        return CLASS_COLORS[ c ] || [ 1.0, 0.0, 0.0 ]; // red for unknown
      }

      function colormap( t ) {
        if (t < 0.2) { // blue → cyan
          const k = t / 0.2;
          return [ 0, k, 1 ];
        }

        if (t < 0.4) { // cyan → green
          const k = (t - 0.2) / 0.2;
          return [ 0, 1, 1 - k ];
        }

        if (t < 0.6) { // green → yellow
          const k = (t - 0.4) / 0.2;
          return [ k, 1, 0 ];
        }

        if (t < 0.8) { // yellow → orange
          const k = (t - 0.6) / 0.2;
          return [ 1, 1 - k * 0.5, 0 ];
        }

        // orange → red
        const k = (t - 0.8) / 0.2;
        return [ 1, 0.5 - k * 0.5, 0 ];
      }

      function get_elevation_colors( points_cloud, pc_name ) {
        points_cloud.computeBoundingBox();
        points_cloud.computeBoundingSphere();

        const intensity = points_cloud.attributes.intensity?.array;
        const pos = points_cloud.attributes.position.array;
        const pos_count = pos.length / 3.0;

        const minZ = points_cloud.boundingBox.min.z;
        const maxZ = points_cloud.boundingBox.max.z;

        const rangeZ = (maxZ - minZ) || 1;

        elevationColors[ pc_name ] = new Float32Array( pos.length );

        for (let i = 0; i < pos_count; i++) {
          const z = pos[ i * 3 + 2 ];
          const t = (z - minZ) / rangeZ; // normalized 0–1

          // Gradient: blue → cyan → green → yellow → red

          let tSmooth = t * t * (3 - 2 * t);  // smoothstep

          const [ r, g, b ] = colormap( tSmooth );

          if (intensity) {
            elevationColors[ pc_name ][ i * 3 + 0 ] = r * (intensity[ i ] || 1.0);
            elevationColors[ pc_name ][ i * 3 + 1 ] = g * (intensity[ i ] || 1.0);
            elevationColors[ pc_name ][ i * 3 + 2 ] = b * (intensity[ i ] || 1.0);
          } else {
            elevationColors[ pc_name ][ i * 3 + 0 ] = r;
            elevationColors[ pc_name ][ i * 3 + 1 ] = g;
            elevationColors[ pc_name ][ i * 3 + 2 ] = b;
          }
        }
      }

      function loadFile() {
        let tile_count = 0;

        ept_loader.load( URL.createObjectURL( selected_ept_file ), function( points, total_tiles, current_tile ) {
          URL.revokeObjectURL( selected_ept_file );

          // points were returned as tile geometry

          const points_name = 'ept_points_' + current_tile;

          get_elevation_colors( points.clone(), points_name );

          let material = new THREE.PointsMaterial( {
            size: (isMobile === true ? 0.2 : 0.1),
            transparent: true,
            vertexColors: points.hasAttribute( 'color' )
          } );

          const ept_points = new THREE.Points( points, material );
          ept_points.name = points_name;

          original_vertex_color_array[ points_name ] = ept_points.geometry.getAttribute( 'color' );

          if (!ept_points.geometry.getAttribute( 'intensity' )) {
            const points_count = ept_points.geometry.getAttribute( 'position' ).count;
            const ones = new Float32Array( points_count ).fill( 1.0 );
            ept_points.geometry.setAttribute( 'intensity', new THREE.BufferAttribute( ones, 1 ) );
          }

          if (ept_points.geometry.hasAttribute( 'classification' )) classification_present = true;

          ept_points.sizeAttenuation = true;
          ept_points.sortPoints = true;

          ept_obj.add( ept_points );

          if (tile_count === 0) {
            const box = new THREE.Box3().setFromObject( ept_obj );
            const center = box.getCenter( new THREE.Vector3() ); camera.lookAt( center );
            const size = box.getSize( new THREE.Vector3() );

            // Center root
            ept_obj.position.sub( center );

            // Frame camera to root
            const maxDim = Math.max( size.x, size.y, size.z );
            const fov = THREE.MathUtils.degToRad( camera.fov );
            const dist = maxDim / ( 2 * Math.tan( fov / 2.0 ) );
            camera.position.set( 0, 0, dist * 1.5 );
            camera.lookAt( 0, 0, 0 );

            // Start rendering
            document.getElementById('div_loading').style.display = 'none';
            render_requested = true;
            mouse_wheel = true;
            count = 0;
            render();
          }

          if (tile_count === total_tiles - 1) {
            finish_loading();
          } else {
            mouse_wheel = true;
            tile_count ++;
            count = 0;
          }
        }, function ( xhr ) { // onProgress
        }, function ( error ) { // onError
          handle_error( error );
          URL.revokeObjectURL( selected_ept_file );
        });
      }

      function loadURLFile() {
        if (selected_url_file !== '') {
          if (selected_url_file.startsWith('https://www.dropbox.com') === true) {
            selected_url_file = selected_url_file.replace('www.dropbox.com', 'dl.dropbox.com');
          } else if (selected_url_file.startsWith('https://github.com') === true) {
            selected_url_file = ( selected_url_file.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
          }

          // No extension checking for URL so it has to point to EPT JSON file

          let high_version = false, git_lfs = false, tile_count = 0;

          ept_loader.load( selected_url_file, function( points, total_tiles, current_tile ) {
            // points were returned as tile geometry

            const points_name = 'ept_points_' + current_tile;

            get_elevation_colors( points.clone(), points_name );

            let material = new THREE.PointsMaterial( {
              size: (isMobile === true) ? 0.2 : 0.1,
              transparent: true,
              vertexColors: points.hasAttribute( 'color' )
            } );

            let ept_points = new THREE.Points( points, material );
            ept_points.name = points_name;

            original_vertex_color_array[ ept_points.name ] = ept_points.geometry.getAttribute( 'color' );

            if (!ept_points.geometry.getAttribute( 'intensity' )) {
              const points_count = ept_points.geometry.getAttribute( 'position' ).count;
              const ones = new Float32Array( points_count ).fill( 1.0 );
              ept_points.geometry.setAttribute( 'intensity', new THREE.BufferAttribute( ones, 1 ) );
            }

            if (ept_points.geometry.hasAttribute( 'classification' )) classification_present = true;

            ept_points.sizeAttenuation = true;
            ept_points.sortPoints = true;

            ept_obj.add( ept_points );

            if (tile_count === 0) {
              const box = new THREE.Box3().setFromObject( ept_obj );
              const center = box.getCenter( new THREE.Vector3() ); camera.lookAt( center );
              const size = box.getSize( new THREE.Vector3() );

              // Center root
              ept_obj.position.sub( center );

              // Frame camera to root
              const maxDim = Math.max( size.x, size.y, size.z );
              const fov = THREE.MathUtils.degToRad( camera.fov );
              const dist = maxDim / ( 2 * Math.tan( fov / 2.0 ) );
              camera.position.set( 0, 0, dist * 1.5 );
              camera.lookAt( 0, 0, 0 );

              // Start rendering
              document.getElementById('div_loading').style.display = 'none';
              render_requested = true;
              mouse_wheel = true;
              count = 0;
              render();
            }

            if (tile_count === total_tiles - 1) {
              finish_loading();
            } else {
              mouse_wheel = true;
              tile_count ++;
              count = 0;
            }
          }, function ( xhr ) { // onProgress
          }, function ( error ) { // onError
              console.log( error );
              handle_error( error );
          });
        }
      }

      async function finish_loading() {
        set_camera();

        //const boxHelper = new THREE.Box3Helper( new THREE.Box3().setFromObject( ept_obj ), 0xff0000 );
        //scene.add( boxHelper );

        enable_disable( false );

        if (classification_present) {
          document.getElementById('btn_classification_colors').style.backgroundColor = 'transparent';
          document.getElementById('btn_classification_colors').style.display = '';
        } else {
          document.getElementById('btn_classification_colors').style.backgroundColor = 'transparent';
          document.getElementById('btn_classification_colors').style.display = 'none';
        }

        console.timeEnd( 'Loading Time' );

        if (isMobile === false) await new Promise( resolve => setTimeout( log_info(), 1000 ) );
      }

      function log_info() {
        console.log( 'Memory: ', renderer.info.memory );
        console.log( 'Render: ', renderer.info.render );
      }

      function handle_error( error ) {
        console.timeEnd( 'Loading Time' );
        console.log( 'Error loading model!' );
        console.log( error );
        mouse_wheel = true;
        render_requested = false;
        enable_disable( true );

        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').style.display = 'block';
      }

      function set_classification_colors() {
        if (!ept_obj || !classification_present) return;

        if (classification_enabled) {
          // Turn OFF classification
          document.getElementById('btn_classification_colors').style.backgroundColor = 'transparent';
          document.getElementById('btn_elevation_colors').disabled = false;

          // Restore original colors
          ept_obj.traverse( ( child ) => {
            if (child.isPoints) {
              if (original_vertex_color_array[ child.name ]) {
                child.geometry.setAttribute( 'color', original_vertex_color_array[ child.name ] );
                child.material.vertexColors = true;
              } else {
                child.geometry.deleteAttribute( 'color' );
                child.material.vertexColors = false;
              }

              child.material.needsUpdate = true;
            }
          });

          classification_enabled = false;
        } else {
          // Turn ON classification
          document.getElementById('btn_classification_colors').style.backgroundColor = 'lightgreen';
          document.getElementById('btn_elevation_colors').disabled = true;

          ept_obj.traverse( ( child ) => {
            if (child.isPoints) {
              const cls = child.geometry.attributes.classification.array;
              const classification_count = cls.length;
              const colors = new Float32Array( classification_count * 3 );

              for (let i = 0; i < classification_count; i++) {
                const [ r, g, b ] = getClassColor( cls[ i ] );
                colors[ i * 3 + 0 ] = r;
                colors[ i * 3 + 1 ] = g;
                colors[ i * 3 + 2 ] = b;
              }

              child.geometry.setAttribute( 'color', new THREE.BufferAttribute( colors, 3 ) );
              child.material.vertexColors = true;
              child.material.needsUpdate = true;
            }
          });

          classification_enabled = true;
        }
        disabled_changed();
      }

      function set_elevation_colors() {
        if (ept_obj) {
          if (elevation === true) {
            document.getElementById('btn_elevation_colors').style.backgroundColor = 'transparent';
            if (classification_present) document.getElementById('btn_classification_colors').disabled = false;

            // Restore original colors
            ept_obj.traverse( ( child ) => {
              if (child.isPoints) {
                if (original_vertex_color_array[ child.name ]) {
                  child.geometry.setAttribute( 'color', original_vertex_color_array[ child.name ] );
                  child.material.vertexColors = true;
                } else {
                  child.geometry.deleteAttribute( 'color' );
                  child.material.vertexColors = false;
                }

                child.material.needsUpdate = true;
              }
            });

            elevation = false;
          } else {
            document.getElementById('btn_elevation_colors').style.backgroundColor = 'lightgreen';
            if (classification_present) document.getElementById('btn_classification_colors').disabled = true;

            ept_obj.traverse( ( child ) => {
              if (child.isPoints) {
                child.geometry.setAttribute( 'color', new THREE.BufferAttribute( elevationColors[ child.name ], 3 ) );
                child.material.vertexColors = true;
                child.material.needsUpdate = true;
              }
            });

            elevation = true;
          }

          disabled_changed();
        }
      }

      function render() {
        if (ept_obj) {
          if (mouse_down || mouse_wheel) {
            controls.update();

            renderer.clear();
            renderer.render( scene, camera );

            if (mouse_wheel === true) {
              if (count > 100) {
                mouse_wheel = false;
                count = 0;
              } else {
                count ++;
              }
            }
          }
        }

        if (render_requested === true) requestAnimationFrame( render );
      }

      async function reset_all( reset = false ) {
        document.getElementById('back_color').value = '#000000';
        document.getElementById('points_color').value = '#000000';
        document.getElementById('btn_url').style.backgroundColor = 'transparent';
        document.getElementById('btn_plus').style.backgroundColor = 'transparent';
        document.getElementById('btn_minus').style.backgroundColor = 'transparent';
        document.getElementById('btn_elevation_colors').style.backgroundColor = 'transparent';

        // Reset the view
        if (reset === true) {
          controls.reset();
          set_back_color();
        } else {
          // Page (re)loading
          if (scene) {
            if (ept_obj) await scene_cleanup();

            while (scene.children.length > 0) {
              scene.remove( scene.children[ 0 ] );
            }

            renderer.clear();
            renderer.dispose();
          }

          mouse_wheel = true;

          document.getElementById('file_input').value = '';
          document.getElementById('div_error').style.display = 'none';
          document.getElementById('url_entry').value = '';
          selected_url_file = '';

          enable_disable( true );
        }

        mouse_wheel = true;
      }

      async function scene_cleanup() {
        scene.remove( ept_obj );

        renderer.clear();

        ept_obj.traverse( ( child ) => {
          if (child.isPoints) {
            if (child.material.map) child.material.map.dispose();
            child.material.dispose();
            child.geometry.dispose();
          }
        });

        if (isMobile === false) {
          renderer.info.reset();
          renderer.resetState();
        }
      }

      function enable_disable( disable = false ) {
        document.getElementById('back_color').disabled = disable;
        document.getElementById('points_color').disabled = disable;
        document.getElementById('btn_plus').disabled = disable;
        document.getElementById('btn_minus').disabled = disable;
        document.getElementById('btn_elevation_colors').disabled = disable;
        disabled_changed();

        mouse_wheel = true;
      }
    </script>

    <script>
      function document_ready() {
        if (typeof $ === 'undefined') {
          alert('Limited functionality. Check your internet connection!');
        }

        isMobile = (/iPad|iPhone|iPod/.test( navigator.platform )) ||
          (/Android|webOS|iPhone|iPad|iPod|CriOS|BlackBerry|IEMobile|Opera Mini/i.test( navigator.userAgent )) ||
          (navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));

        if (isMobile) {
          const select = document.getElementById("tile_level");
          select.querySelector( 'option[value="4"]' ).remove();
          select.querySelector( 'option[value="5"]' ).remove();
          select.querySelector( 'option[value="6"]' ).remove();
          select.querySelector( 'option[value="7"]' ).remove();
          select.querySelector( 'option[value="8"]' ).remove();
        }

        if (navigator.userAgent.indexOf('Chrome') > -1 || navigator.userAgent.indexOf('Safari') > -1 || isMobile) {
          $('#detail_level').change( function() { $(this).children(':selected').click(); });
          $('#tile_level').change( function() { $(this).children(':selected').click(); });
          $('#gamma_level').change( function() { $(this).children(':selected').click(); });
        }

        mouse_wheel = true;
      }

      function disabled_changed() {
        $('button').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });

        $('select').each( function() {
          if (this.disabled === false) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });

        $('input[type=color]').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px whitesmoke'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });
      }
    </script>
  </body>
</html>
