<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="GLTF v1.0 (GL Transmission Format) Viewer">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon"/>

    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.10.0/dist/es-module-shims.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.169.0/build/three.module.min.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.169.0/examples/jsm/"
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/jszip@3.10.1/dist/jszip.min.js" defer></script>
    <script src="../static/model-tag/dist/model-gltf.min.js" defer></script>

    <script>
      var bufferGeometry, color, doubleSide, meshPhongMaterial;
      var local_blobs, url_displayed = false, url_loading = false, link;
      var selected_model_file, selected_url_file = '', isMobile, filename, zip;
    </script>

    <script type="module">
      import { BufferGeometry, Color, DoubleSide, MeshPhongMaterial } from "three";

      bufferGeometry = BufferGeometry;
      color = Color;
      doubleSide = DoubleSide;
      meshPhongMaterial = MeshPhongMaterial;
    </script>

    <style>
      body, html {
        position: relative;
        display: block;
        width: 100%;
        min-height: 100vh;
        border: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        background-color: black;
      }

      button {
        background-color: transparent;
        border: 1px solid blue;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        margin: 2px 2px 2px 0;
        min-width: 20px;
        height: 22px;
        padding: 1px;
        vertical-align: middle;
      }

      label {
        vertical-align: middle;
        height: 22px;
        margin: 2px;
      }

      input[type=file] {
        vertical-align: middle;
        margin: 2px 0 2px 0;
        max-width: 160px;
      }

      input[type=number] {
        vertical-align: middle;
        margin: 2px 2px 2px 0;
      }

      input[type=text] {
        vertical-align: middle;
        margin: 2px 2px 2px 0;
      }

      select {
        border: 1px solid blue;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        margin: 3px;
        padding: 2px;
        vertical-align: middle;
        min-width: 70px;
        height: 22px;
        color: blue;
        background: none;
      }

      .error_msg {
        background-color: transparent;
        position: absolute;
        text-align: center;
        font-size: x-large;
        display: none;
        color: red;
        width: 240px;
        height: 240px;
        top: 50%;
        left: 50%;
        margin-left: -127px;
        padding: 10px;
        border: none;
        z-index: 99;
      }

      p.full_screen {
        text-align: center;
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAf0lEQVRIie1VQQ6AMAjb/x9M4IRePICoK7GLB5eQbElpCTAY7j6YRiUPAvvxbNMkN76XIDhSRKCdjhmB494hzzwngcoBIa/eASgisMgTBo4ODqCTAiSFrW6Biv8LfL/I1DbtfDRV9VLgjVFhZp59A4g+7JaM6yULh7IyWUYX2AAPDxz26GjX+gAAAABJRU5ErkJggg==);
        margin: 1px 1px 1px 2px;
        padding: 0;
        width: 15px;
        height: 15px;
      }

      .fm {
        color: navy;
        width: 99%;
        border: 1px solid navy;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        padding: 2px;
        margin: 2px 2px 0 2px;
      }

      .fixed-menu {
        background-color: whitesmoke;
        position: fixed;
        float: left;
        z-index: 99;
        padding: 1px;
        width: 100%;
        margin: 0;
      }
    </style>

    <!-- Using modified version of GLTF model-tag from: https://github.com/mrdoob/model-tag -->
    <!-- GLTF v1.0 example models available at: https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/1.0 -->

    <title>GLTF v1.0 Viewer</title>
  </head>
  <body onload="reset(); document_ready();" onresize="resize();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm">
        <label title="3D Model Formats: GLTF v1.0 only. GLB is not supported." style="color: #553801; margin: 0 3px 0 2px;">3D</label>
        <button title="URL of the remote GLTF v1.0 model" id="btn_url" onclick="show_url();" style="min-width: 34px;">URL</button>
        <input type="file" title="Browse Local Files" id="file_input" onchange="init();" accept=".gltf, .bin, .glsl, image/png, image/jpeg, image/bmp, image/gif, image/svg+xml, image/webp" multiple />
        <select id="export_names" title="Export" disabled>
          <option title="Export Formats" value="export" selected disabled>Export</option>
          <option title="OBJ - Wavefront Technologies 3D Format" value="obj" onclick="export_obj();">OBJ</option>
          <option title="GLB v2.0 - GL Transmission Format binary" value="glb" onclick="export_gltf( true );">GLB</option>
          <option title="GLTF v2.0 - GL Transmission Format ascii" value="gltf" onclick="export_gltf( false );">GLTF</option>
        </select>
        <button title="Rotate Scene" id="btn_rotate" onclick="set_rotation();" disabled>R</button>
        <button title="Full Screen" id="btn_full_screen" onclick="full_screen();" style="min-width: 24px;"><p class="full_screen"></p></button>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry" title="Remote URL"></label>
        <input type="text" id="url_entry" value="" style="width: calc(75% - 12px);" />
        <button title="Load" id="btn_load" onclick="load_url_file();" style="min-width: 8.5%;">Load</button>
        <label for="btn_load" title="Load"></label>
        <button title="Clear" id="btn_clear" onclick="clear_url();" style="min-width: 8.5%;">Clear</button>
        <label for="btn_clear" title="Clear"></label>
      </div>
      <div class="fm">
        <label for="camera_id" title="Camera ID" style="color: #553801;">Cam</label>
        <input type="number" title="Camera ID" id="camera_id" onkeydown="return_false();" onchange="set_camera_id();" min="0" max="0" value="0" step="1" style="width: 38px;" disabled />
        <label title="Camera Position" style="color: #553801;">Pos</label>
        <label for="camera_x" title="X-Axis">X</label>
        <input type="number" title="X-Axis" id="camera_x" onkeydown="return_false();" oninput="set_camera_x();" min="-1000" max="1000" value="0" step="1" style="width: 48px;" disabled />
        <label for="camera_y" title="Y-Axis">Y</label>
        <input type="number" title="Y-Axis" id="camera_y" onkeydown="return_false();" oninput="set_camera_y();" min="-1000" max="1000" value="0" step="1" style="width: 48px;" disabled />
        <label for="camera_z" title="Z-Axis">Z</label>
        <input type="number" title="Z-Axis" id="camera_z" onkeydown="return_false();" oninput="set_camera_z();" min="-1000" max="1000" value="25" step="1" style="width: 48px;" disabled />
      </div>
      <div id="div_model_gltf" style="display: block; z-index: 1; text-align: center; width: 99.75%; height: 100vh; margin-top: 30px;">
        <model-gltf id="model_gltf" src="#" blobs="#" />
      </div>
    </div>

    <div id="div_error" class="error_msg"></div>

    <script>
      function return_false() { return false; }

      function set_rotation() {
        let scene = document.getElementById('model_gltf').scene;

        if (scene.rotate === true) {
          scene.rotate = false;
          document.getElementById('btn_rotate').style.backgroundColor = 'transparent';
        } else {
          scene.rotate = true;
          document.getElementById('btn_rotate').style.backgroundColor = 'lightgreen';
        }
      }

      function set_camera_id() {
        let current_id = document.getElementById('camera_id').value;
        let model_gltf = document.getElementById('model_gltf');

        model_gltf.camera = model_gltf.cameras[ current_id ];
        document.getElementById('camera_x').value = model_gltf.cameras[ current_id ].position.x;
        document.getElementById('camera_y').value = model_gltf.cameras[ current_id ].position.y;
        document.getElementById('camera_z').value = model_gltf.cameras[ current_id ].position.z;
      }

      function set_camera_x() {
        let current_x = document.getElementById('camera_x').value;
        let camera = document.getElementById('model_gltf').camera;

        camera.position.x = current_x;
      }

      function set_camera_y() {
        let current_y = document.getElementById('camera_y').value;
        let camera = document.getElementById('model_gltf').camera;

        camera.position.y = current_y;
      }

      function set_camera_z() {
        let current_z = document.getElementById('camera_z').value;
        let camera = document.getElementById('model_gltf').camera;

        camera.position.z = current_z;
      }

      function show_url() {
        if (url_displayed === true) {
          url_displayed = false;
          document.getElementById('url').style.display = 'none';
          document.getElementById('btn_url').style.backgroundColor = 'transparent';
        } else {
          document.getElementById('btn_url').style.backgroundColor = 'lightgreen';
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url !== '') {
          selected_url_file = url;
          url_loading = true;
          init();
        }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function reset( values_only = false ) {
        document.getElementById('div_error').style.display = 'none';

        document.getElementById('camera_id').value = 0;
        document.getElementById('camera_id').max = 0;
        document.getElementById('camera_x').value = 0;
        document.getElementById('camera_y').value = 0;
        document.getElementById('camera_z').value = 25;
        document.getElementById('btn_rotate').style.backgroundColor = 'transparent';

        if (values_only === false) {
          document.getElementById('file_input').value = '';
          document.getElementById('url_entry').value = '';
        }

        enable_disable( true );
      }

      function enable_disable( disabled = false ) {
        document.getElementById('camera_id').disabled = disabled;
        document.getElementById('camera_x').disabled = disabled;
        document.getElementById('camera_y').disabled = disabled;
        document.getElementById('camera_z').disabled = disabled;
        document.getElementById('btn_rotate').disabled = disabled;
        document.getElementById('export_names').disabled = disabled;

        disabled_changed();
      }

      function resize() {
        if (window.fullScreen || document.fullscreenElement || document.mozFullScreenElement ||
          document.msFullscreenElement || document.webkitFullscreenElement) {

          document.getElementById('btn_full_screen').style.backgroundColor = '#FFFF00';
        } else {
          document.getElementById('btn_full_screen').style.backgroundColor = 'transparent';
        }
      }

      function full_screen() {
        if (document.fullscreenEnabled) {
          document.fullscreenElement ? document.exitFullscreen() : document.body.requestFullscreen();
        } else if (document.mozFullScreenEnabled) {
          document.mozFullScreenElement ? document.mozCancelFullScreen() : document.body.mozRequestFullScreen();
        } else if (document.msFullscreenEnabled) {
          document.msFullscreenElement ? document.msExitFullscreen() : document.body.msRequestFullscreen();
        } else if (document.webkitFullscreenEnabled) {
          document.webkitFullscreenElement ? document.webkitExitFullscreen() : document.body.webkitRequestFullscreen();
        } else if (window.fullScreen) {
          // Do nothing. This fullscreen mode was triggered with F11 key press and requires the same again.
        }
      }
    </script>

    <script>
      function start_export() {
        if (!link) {
          link = document.createElement( 'a' );
          link.style.display = 'none';
          document.body.appendChild( link );
        }

        document.getElementById('export_names').selectedIndex = 0;
        document.getElementById('fixed_menu').disabled = true;
        document.getElementById('div_error').innerHTML = 'Please wait ...';
        document.getElementById('div_error').style.display = 'block';

        set_filename();
      }

      function set_filename() {
        if (selected_model_file !== null) {
          filename = selected_model_file.name.substring( 0, selected_model_file.name.lastIndexOf('.') );
        }

        if (!filename || filename === '') {
          filename = 'Model';
        } else {
          filename = filename.replaceAll( '%20', ' ' );
        }
      }

      function handle_export_error( error ) {
        alert( 'Export error!' );
        console.log( error );

        document.getElementById('div_loading').innerHTML = '';
        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('fixed_menu').style.display = 'block';

        if (gui_set === true && equi_enabled === true) document.getElementById('gui_position').style.display = 'block';

        render_requested = true;
        mouse_wheel = true;
        render();

        if (link) {
          document.body.removeChild( link );
          link = undefined;
        }
      }

      async function process_zip( ext = '' ) {
        await zip.generateAsync( { type: 'blob', compression: "DEFLATE", compressionOptions: { level: 9 } } ).then( function( zipped_file ) {
          link.href = URL.createObjectURL( zipped_file );
          URL.revokeObjectURL( zipped_file );
          link.download = filename + ext + '.zip';
          link.click();

          document.getElementById('div_error').innerHTML = '';
          document.getElementById('div_error').style.display = 'none';
          document.getElementById('fixed_menu').disabled = false;

          zip = new JSZip();

          if (link) {
            document.body.removeChild( link );
            link = undefined;
          }
        });
      }

      async function export_obj() {
        await start_export();

        let mesh = document.getElementById('model_gltf').scene.clone();

        mesh.traverse( ( child ) => {
          if (child.isMesh && child.geometry.isBufferGeometry === true) {
            child.geometry = new bufferGeometry().copy( child.geometry ); // instance of new BufferGeometry for export
            if ( child.geometry.userData === undefined ) child.geometry.userData = {};
            if ( child.geometry.morphTargetsRelative === undefined ) child.geometry.morphTargetsRelative = {};

            let ambient = child.material.uniforms.u_ambient ? child.material.uniforms.u_ambient.value : null;
            let diffuse = child.material.uniforms.u_diffuse ? child.material.uniforms.u_diffuse.value : null;
            let diffuse_color = (diffuse && diffuse.isVector4) ? new color().setRGB( diffuse.x, diffuse.y, diffuse.z ) : null;
            let emissive = child.material.uniforms.u_emissive ? child.material.uniforms.u_emissive.value : null;
            let emissive_color = (emissive && emissive.isVector4) ? new color().setRGB( emissive.x, emissive.y, emissive.z ) : null;
            let specular = child.material.uniforms.u_specular ? child.material.uniforms.u_specular.value : null;
            let specular_color = (specular && specular.isVector4) ? new color().setRGB( specular.x, specular.y, specular.z ) : null;
            let shininess = child.material.uniforms.u_shininess ? child.material.uniforms.u_shininess.value : 0;

            child.material = new meshPhongMaterial({
              side: doubleSide,
              opacity: child.material.opacity || 1,
              shininess: child.material.shininess || shininess,
              vertexColors: child.material.vertexColors || false,
              color: child.material.color ? child.material.color : (diffuse_color ? diffuse_color : child.material.defaultAttributeValues.color),
              map: child.material.map ? child.material.map : (diffuse ? (diffuse.isVector4 ? null : diffuse) : null),
              envMap: child.material.envMap ? child.material.envMap : (ambient ? (ambient.isVector4 ? null : ambient) : null),
              emissive: child.material.emissive ? child.material.emissive : (emissive_color ? emissive_color : new color( 0, 0, 0 )),
              emissiveMap: child.material.emissiveMap ? child.material.emissiveMap : (emissive ? (emissive.isVector4 ? null : emissive) : null),
              specular: child.material.specular ? child.material.specular : (specular_color ? specular_color : new color( 0, 0, 0 )),
              specularMap: child.material.specularMap ? child.material.specularMap : (specular ? (specular.isVector4 ? null : specular) : null)
            });
          }
        });

        const { OBJExporter } = await import( "../static/jsm/exporters/OBJExporter.min.js" );

        let obj_exporter = new OBJExporter();

        let options = { filename: filename, map_flip_required: true };

        await obj_exporter.parse( mesh, async function( exported ) {
          zip.file( filename + '.obj', exported[ 'obj' ] );

          if (exported[ 'mtl' ]) {
            zip.file( filename + '.mtl', exported[ 'mtl' ] );

            if (exported[ 'tex' ] && exported[ 'tex' ].length > 0) {
              let processed_index = 0;

              exported[ 'tex' ].forEach( async tex => {
                let blob = new Blob( [ tex.data ], { type: 'image/png' } );
                zip.file( `${ tex.name }.${ tex.ext }`, blob );

                if (processed_index === exported[ 'tex' ].length - 1) await process_zip( '_OBJ' );

                processed_index += 1;
              });
            } else {
              await process_zip( '_OBJ' );
            }
          } else {
            await process_zip( '_OBJ' );
          }
        }, function( error ) { handle_export_error( error ); }, options );
      }

      async function export_gltf( binary = false ) {
        await start_export();

        let mesh = document.getElementById('model_gltf').scene.clone();

        mesh.traverse( ( child ) => {
          if (child.isMesh && child.geometry.isBufferGeometry === true) {
            child.geometry = new bufferGeometry().copy( child.geometry ); // instance of new BufferGeometry for export
            if ( child.geometry.userData === undefined ) child.geometry.userData = {};
            if ( child.geometry.morphTargetsRelative === undefined ) child.geometry.morphTargetsRelative = {};

            let ambient = child.material.uniforms.u_ambient ? child.material.uniforms.u_ambient.value : null;
            let diffuse = child.material.uniforms.u_diffuse ? child.material.uniforms.u_diffuse.value : null;
            let diffuse_color = (diffuse && diffuse.isVector4) ? new color().setRGB( diffuse.x, diffuse.y, diffuse.z ) : null;
            let emissive = child.material.uniforms.u_emissive ? child.material.uniforms.u_emissive.value : null;
            let emissive_color = (emissive && emissive.isVector4) ? new color().setRGB( emissive.x, emissive.y, emissive.z ) : null;
            let specular = child.material.uniforms.u_specular ? child.material.uniforms.u_specular.value : null;
            let specular_color = (specular && specular.isVector4) ? new color().setRGB( specular.x, specular.y, specular.z ) : null;
            let shininess = child.material.uniforms.u_shininess ? child.material.uniforms.u_shininess.value : 0;

            child.material = new meshPhongMaterial({
              side: doubleSide,
              opacity: child.material.opacity || 1,
              shininess: child.material.shininess || shininess,
              vertexColors: child.material.vertexColors || false,
              color: child.material.color ? child.material.color : (diffuse_color ? diffuse_color : child.material.defaultAttributeValues.color),
              map: child.material.map ? child.material.map : (diffuse ? (diffuse.isVector4 ? null : diffuse) : null),
              envMap: child.material.envMap ? child.material.envMap : (ambient ? (ambient.isVector4 ? null : ambient) : null),
              emissive: child.material.emissive ? child.material.emissive : (emissive_color ? emissive_color : new color( 0, 0, 0 )),
              emissiveMap: child.material.emissiveMap ? child.material.emissiveMap : (emissive ? (emissive.isVector4 ? null : emissive) : null),
              specular: child.material.specular ? child.material.specular : (specular_color ? specular_color : new color( 0, 0, 0 )),
              specularMap: child.material.specularMap ? child.material.specularMap : (specular ? (specular.isVector4 ? null : specular) : null)
            });
          }
        });

        const { GLTFExporter } = await import( "../static/jsm/exporters/GLTFExporter.min.js" );

        let gltf_exporter = new GLTFExporter();

        let options = {	binary: binary, maxTextureSize: 1024 };

        gltf_exporter.parse( mesh, async json => {
          let blob;

          if (binary === true) {
            blob = new Blob( [ json ], { type: 'application/octet-stream' } );
          } else {
            let string = JSON.stringify( json, null, 2 );
            blob = new Blob( [ string ], { type: 'text/plain' } );
          }

          let ext = (binary === true) ? '.glb' : '.gltf';

          zip.file( filename + ext, blob );

          ext = (binary === true) ? '_GLB' : '_GLTF';

          await process_zip( ext );
        }, function( error ) { handle_export_error( error ); }, options);
      }

      function init() {
        if (zip === undefined) zip = new JSZip();
        filename = 'Model';

        reset( true );

        if (url_loading === false) {
          const file_extensions = [ '.BIN', '.GLSL', '.PNG', '.JPG', '.JPEG', '.JFIF', '.PJPEG', '.PJP', '.BMP', '.GIF', '.SVG', '.WEBP' ];
          const model_extensions = [ '.GLTF' ];
          selected_model_file = null;
          selected_url_file = '';
          local_blobs = '';

          // Locally loaded files
          var fi = document.getElementById('file_input');

          for (let i = 0; i < fi.files.length; i++) {
            let ext = fi.files[ i ].name.toUpperCase().substring( fi.files[ i ].name.lastIndexOf( '.' ) );

            if (model_extensions.includes( ext )) {
              selected_model_file = fi.files[ i ];
            } else if (file_extensions.includes( ext )) {
              local_blobs += fi.files[ i ].name + ',' + URL.createObjectURL( fi.files[ i ] ) + ',';
              URL.revokeObjectURL( fi.files[ i ] );
            }
          };

          if (selected_model_file === null) {
            console.log( 'No valid model file selected!' );
            return;
          }

          if (local_blobs.length > 0) local_blobs = local_blobs.slice( 0, - 1 );
        } else {
          selected_model_file = null;
          url_loading = false;

          // Reset the file input
          document.getElementById('file_input').value = '';
        }

        // Load the model
        selected_model_file !== null ? loadFile() : loadURLFile();
      }

      async function loadFile() {
        let div_mdl_gltf = document.getElementById('div_model_gltf');
        let mdl_gltf = document.getElementById('model_gltf');
        mdl_gltf.attributes.src = '#';

        await new Promise( resolve => setTimeout( resolve, 50 ) ); // adjust timing if necessary

        div_mdl_gltf.removeChild( mdl_gltf );

        let src_attr = document.createAttribute('src');
        src_attr.value = URL.createObjectURL( selected_model_file );
        URL.revokeObjectURL( selected_model_file );

        let model_gltf = document.createElement('model-gltf');
        model_gltf.id = 'model_gltf';

        if (local_blobs !== '') {
          let blobs_attr = document.createAttribute('blobs');
          blobs_attr.value = local_blobs;

          model_gltf.attributes.setNamedItem( blobs_attr );
        }

        div_mdl_gltf.appendChild( model_gltf );

        model_gltf.onLoad = function( data ) {
          enable_disable( false );

          if (data.cameras && data.cameras.length > 1) {
            document.getElementById('camera_id').max = data.cameras.length - 1;
            document.getElementById('camera_x').value = data.cameras[ 0 ].position.x;
            document.getElementById('camera_y').value = data.cameras[ 0 ].position.y;
            document.getElementById('camera_z').value = data.cameras[ 0 ].position.z;
          } else {
            document.getElementById('camera_id').disabled = true;
          }
        }

        model_gltf.onError = function( error ) {
          document.getElementById('div_error').style.display = 'block';
          document.getElementById('div_error').innerText = error;
          return;
        }

        model_gltf.attributes.setNamedItem( src_attr );
      }

      async function loadURLFile() {
        if (selected_url_file !== '') {
          if (selected_url_file.startsWith('https://www.dropbox.com') === true) {
            selected_url_file = selected_url_file.replace('www.dropbox.com', 'dl.dropbox.com');
          } else if (selected_url_file.startsWith('https://github.com') === true) {
            selected_url_file = ( selected_url_file.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
          }

          // No extension checking for URL so it has to point to GLTF v1.0 model

          let div_mdl_gltf = document.getElementById('div_model_gltf');
          let mdl_gltf = document.getElementById('model_gltf');
          mdl_gltf.attributes.src = '#';

          await new Promise( resolve => setTimeout( resolve, 50 ) ); // adjust timing if necessary

          div_mdl_gltf.removeChild( mdl_gltf );

          let src_attr = document.createAttribute('src');
          src_attr.value = selected_url_file;

          let model_gltf = document.createElement('model-gltf');
          model_gltf.id = 'model_gltf';

          div_mdl_gltf.appendChild( model_gltf );

          model_gltf.onLoad = function( data ) {
            enable_disable( false );

            if (data.cameras && data.cameras.length > 1) {
              document.getElementById('camera_id').max = data.cameras.length - 1;
              document.getElementById('camera_x').value = data.cameras[ 0 ].position.x;
              document.getElementById('camera_y').value = data.cameras[ 0 ].position.y;
              document.getElementById('camera_z').value = data.cameras[ 0 ].position.z;
            } else {
              document.getElementById('camera_id').disabled = true;
            }
          }

          model_gltf.onError = function( error ) {
            document.getElementById('div_error').style.display = 'block';
            document.getElementById('div_error').innerText = error;
            return;
          }

          model_gltf.attributes.setNamedItem( src_attr );
        }
      }

      function document_ready() {
        isMobile = (/iPad|iPhone|iPod/.test( navigator.platform )) ||
          (/Android|webOS|iPhone|iPad|iPod|CriOS|BlackBerry|IEMobile|Opera Mini/i.test( navigator.userAgent )) ||
          (navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));

        $('#export_names').keypress( function( event ) { if (event.key === 'Enter') $(this).children(':selected').click(); });
        $('#url_entry').keypress( function( event ) { if (event.key === 'Enter') $('#btn_load').click(); });

        if (navigator.userAgent.indexOf('Chrome') > -1 || navigator.userAgent.indexOf('Safari') > -1 || isMobile === true) {
          $('#export_names').change( function() { $(this).children(':selected').click(); });
        }

        document.getElementById('export_names').selectedIndex = 0;
      }

      function disabled_changed() {
        $('button').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });

        $('select').each( function() {
          if (this.disabled === false) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });
      }
    </script>
  </body>
</html>
