<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="description" content="GLTF / GLB Viewer using Google's model-viewer web component">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon"/>

    <script type="module" src="https://cdn.jsdelivr.net/npm/@google/model-viewer@3.3.0/dist/model-viewer.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>

    <script>
      self.ModelViewerElement = self.ModelViewerElement || {};
      self.ModelViewerElement.meshoptDecoderLocation = 'https://cdn.jsdelivr.net/npm/meshoptimizer/meshopt_decoder.js';
      self.ModelViewerElement.lottieLoaderLocation = 'https://cdn.jsdelivr.net/npm/three@0.159.0/examples/jsm/loaders/LottieLoader.js';
    </script>

    <style>
      body, html {
        position: relative;
        display: block;
        width: 100%;
        min-height: 100vh;
        border: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }

      button {
        border: 1px solid blue;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        vertical-align: middle;
        margin: 2px 2px 2px 0;
        min-width: 28px;
        height: 22px;
        padding: 1px;
      }

      label {
        vertical-align: middle;
        height: 22px;
        margin: 2px 0 2px 0;
      }

      input[type=file] {
        vertical-align: middle;
        margin: 2px 0 2px 0;
        max-width: 170px;
      }

      input[type=text] { vertical-align: middle; margin: 2px 5px 2px 0; }

      input[type=color] {
        border: 1px solid whitesmoke;
        margin: 2px 3px 2px -2px;
        vertical-align: middle;
        background: none;
        height: 20px;
        width: 16px;
        padding: 0;
      }

      select {
        border: 1px solid blue;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        margin: 1px 2px 1px 0;
        padding: 1px 0 2px 2px;
        vertical-align: middle;
        width: 70px;
        color: blue;
        background: none;
      }

      .error_msg {
        background-color: transparent;
        position: absolute;
        text-align: center;
        font-size: x-large;
        display: none;
        color: red;
        width: 240px;
        height: 240px;
        top: 50%;
        left: 50%;
        margin-left: -127px;
        padding: 10px;
        border: none;
      }

      p.full_screen {
        text-align: center;
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAf0lEQVRIie1VQQ6AMAjb/x9M4IRePICoK7GLB5eQbElpCTAY7j6YRiUPAvvxbNMkN76XIDhSRKCdjhmB494hzzwngcoBIa/eASgisMgTBo4ODqCTAiSFrW6Biv8LfL/I1DbtfDRV9VLgjVFhZp59A4g+7JaM6yULh7IyWUYX2AAPDxz26GjX+gAAAABJRU5ErkJggg==);
        margin: 1px 1px 1px 2px;
        padding: 0;
        width: 15px;
        height: 15px;
      }

      .fm { color: navy; width: 99%; border: 1px solid navy; -webkit-border-radius: 2px; border-radius: 2px; padding: 4px; margin: 1px; }

      .fixed-menu {
        position: fixed;
        z-index: 1;
        display: inline-block;
        background-color: whitesmoke;
        margin: 0px;
        padding: 1px;
        width: 100%;
      }

      #progress {
        width: 99.5%;
        height: 2px;
        margin-left: 3px;
        margin-right: 3px;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

      .model_viewer {
        background-color: transparent;
        min-height: 100vh;
        width: 99.7%;
        margin: 1px 1px 1px 1px;
        padding: 0;
      }
    </style>

    <!-- Using Google Model Viewer element: https://github.com/google/model-viewer -->

    <title>GM Viewer</title>
  </head>
  <body onload="reset_all(); document_ready();" onresize="resize();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm">
        <label for="file_input" title="GLTF or GLB Format" style="color: #553801;">3D</label>
        <button title="Get file via URL" id="btn_url" onclick="show_url()" style="min-width: 38px;">URL</button>
        <input type="file" id="file_input" name="file" onchange="init()" accept=".glb, .gltf" multiple />
        <label for="back_color" title="Background Color">BG</label>
        <input type="color" title="Background Color" id="back_color" onchange="set_back_color();" disabled />
        <button title="Current Model" id="current_model" onclick="current_model_changed()" disabled>M</button>
        <button title="Animations" id="btn_animate" onclick="animate_gltf()" disabled>A</button>
        <button title="Variants" id="btn_variants" onclick="switch_variant()" disabled>V</button>
        <label title="Equirectangular Background"><input type="checkbox" id="equi" onchange="set_equi();" disabled />Eq</label>
        <label title="Neutral Lighting"><input type="checkbox" id="neutral" onchange="set_neutral_lighting();" disabled />NL</label>
        <label title="Auto Rotate"><input type="checkbox" id="rotate" onchange="set_rotation();" disabled />R</label>
        <select id="export_names" title="Export" style=" margin-left: 3px;" disabled>
          <option value="" selected disabled>Export</option>
          <option value="glb" onclick="export_glb()">GLB</option>
          <option value="gltf" onclick="export_gltf()">GLTF</option>
        </select>
        <button id="btn_full_screen" title="Full Screen" onclick="full_screen()" style="float: inline-end; min-width: 24px;"><p class="full_screen"></p></button>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry">URL</label>
        <input type="text" id="url_entry" value="" style="min-width: 70%; margin-right: 3px;" />
        <button onclick="load_url_file();" style="min-width: 38px; margin-right: 3px;">Load</button>
        <button onclick="clear_url();" style="min-width: 38px; margin-right: 1px;">Clear</button>
      </div>
      <div id="load_progress" style="display: none; background-color: whitesmoke; text-align: center;">
        <progress id="progress" value="0" max="1"></progress>
      </div>
    </div><br />

    <div id="div_error" class="error_msg">E R R O R !</div>

    <model-viewer class="model_viewer" id="mv" loading="eager" min-field-of-view="0deg" max-field-of-view="110deg" environment-image="legacy" camera-controls zoom-sensitivity="0.5" touch-action="none" interpolation-decay="200" autoplay auto-rotate-delay="100" rotation-per-second="30.5deg" ar xr-environment>
      <button slot="ar-button" id="ar-button" style="min-width: 28px; margin: 50px 0 0 5px;">AR</button>
    </model-viewer>

    <script>
      function show_url() {
        if (url_displayed === true) {
          document.getElementById('url').style.display = 'none';
          url_displayed = false;
        } else {
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url !== '') { selected_url_file = url; url_loading = true; init(); }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function set_back_color() {
        document.body.style.backgroundColor = document.getElementById('back_color').value;
      }

      function resize() {
        if (window.fullScreen || document.fullscreenElement || document.mozFullScreenElement || document.msFullscreenElement || document.webkitFullscreenElement) {
          document.getElementById('btn_full_screen').style.backgroundColor = '#FFFF00';
        } else {
          document.getElementById('btn_full_screen').style.backgroundColor = 'transparent';
        }
      }

      function full_screen() {
        if (document.fullscreenEnabled) {
          document.fullscreenElement ? document.exitFullscreen() : document.body.requestFullscreen();
        } else if (document.mozFullScreenEnabled) {
          document.mozFullScreenElement ? document.mozCancelFullScreen() : document.body.mozRequestFullScreen();
        } else if (document.msFullscreenEnabled) {
          document.msFullscreenElement ? document.msExitFullscreen() : document.body.msRequestFullscreen();
        } else if (document.webkitFullscreenEnabled) {
          document.webkitFullscreenElement ? document.webkitExitFullscreen() : document.body.webkitRequestFullscreen();
        } else if (window.fullScreen) {
          // Do nothing. This fullscreen mode was triggered with F11 key press and requires the same again.
        }
      }
    </script>

    <script>
      var filename, filenames, models, current_model = 0;
      var selected_file, selected_url_file = '';
      var url_displayed = false, url_loading = false;
      var ww = window.innerWidth,	wh = window.innerHeight;
      var variants, current_variant = 0, variants_available = false;
      var animations, current_animation = 0, animation_running = false;

      const link = document.createElement( 'a' );
      link.style.display = 'none';
      document.body.appendChild( link );

      async function export_gltf() {
        document.getElementById("export_names").selectedIndex = 0;

        let modelViewer = document.getElementById("mv");
        let options = {	binary: false, maxTextureSize: 1024 || Infinity };

        let glTF = await modelViewer.exportScene( options );

        let file = new File( [glTF], filename + ".gltf" );
        link.download = file.name;
        link.href = URL.createObjectURL( file );
        URL.revokeObjectURL( file );
        link.click();
      }

      async function export_glb() {
        document.getElementById("export_names").selectedIndex = 0;

        let modelViewer = document.getElementById("mv");
        let options = {	binary: true, maxTextureSize: 1024 || Infinity };

        let glTF = await modelViewer.exportScene( options );

        let file = new File( [glTF], filename + ".glb" );
        link.download = file.name;
        link.href = URL.createObjectURL( file );
        URL.revokeObjectURL( file );
        link.click();
      }

      async function init() {
        if (models && models.length > 0) reset_all( false );

        selected_file = null;
        animations = {};
        variants = {};
        filename = null;
        filenames = [];
        models = [];

        enable_disable( true );

        if (url_loading === false) {
          // Locally loaded files
          var fi = document.getElementById('file_input');

          for (let i = 0; i < fi.files.length; i++) {
            let fn_uc = fi.files[ i ].name.toUpperCase();

            if (fn_uc.endsWith('.GLB') || fn_uc.endsWith('.GLTF')) {
              let url = URL.createObjectURL( fi.files[ i ] );

              animations[ i ] = [];
              variants[ i ] = [];

              models.push( url );
              filenames.push( fi.files[ i ].name.substring( 0, fi.files[ i ].name.lastIndexOf('.') ) );
              if (filename === null) filename = filenames[ 0 ];
              if (selected_file === null) selected_file = url;

              URL.revokeObjectURL( fi.files[ i ] );
            }
          };

          if (models.length > 0) {
            document.getElementById('current_model').innerHTML = 'M0';

            if (models.length > 1) {
              document.getElementById('current_model').disabled = false;
              document.getElementById('current_model').style.backgroundColor = 'lightgreen';
            } else {
              document.getElementById('current_model').disabled = true;
              document.getElementById('current_model').style.backgroundColor = 'transparent';
            }

            disabled_changed();
          } else {
            document.getElementById('div_error').style.display = 'block';
            console.log( 'No valid GLTF / GLB file selected!' );
            return;
          }

          selected_url_file = '';
        } else {
          // Reset the file input
          document.getElementById('file_input').value = '';
          url_loading = false;
        }

        selected_file !== null ? loadFile() : loadURLFile();
      }

      function loadFile() {
        document.getElementById('div_error').style.display = 'none';

        let mdl_viewer = document.getElementById('mv');

        document.getElementById('load_progress').style.display = 'block';

        mdl_viewer.onerror = function( event ) {
          document.getElementById('load_progress').style.display = 'none';
          document.getElementById('div_error').style.display = 'block';
          return;
        }

        mdl_viewer.onprogress = function( event ) {
          progress.value = event.detail.totalProgress;
        }

        mdl_viewer.onload = function() {
          document.getElementById('load_progress').style.display = 'none';

          if (document.getElementById('mv').availableAnimations.length > 0) {
            animation_running = true;
            document.getElementById('btn_animate').innerHTML = 'A0';
            document.getElementById('btn_animate').disabled = false;
            document.getElementById('btn_animate').style.backgroundColor = 'lightgreen';
            animations[ 0 ] = document.getElementById('mv').availableAnimations;
          }

          if (document.getElementById('mv').availableVariants.length > 0) {
            variants_available = true;
            document.getElementById('btn_variants').innerHTML = 'V0';
            document.getElementById('btn_variants').disabled = false;
            document.getElementById('btn_variants').style.backgroundColor = 'lightgreen';
            variants[ 0 ] = document.getElementById('mv').availableVariants;
            current_variant = variants[ 0 ].length - 1;
            switch_variant();
          }

          enable_disable( false );
        }

        mdl_viewer.setAttribute( 'src', selected_file );
      }

      async function loadURLFile() {
        if (selected_url_file !== '') {

          document.getElementById('div_error').style.display = 'none';

          let mdl_viewer = document.getElementById('mv');

          // No extension checking so URLs have to point to GLTF or GLB models

          if (selected_url_file.indexOf( ',' ) > -1) {
            let urls = selected_url_file.split( ',' );

            for (let i = 0; i < urls.length; i++) {
              let url = urls[ i ].trim();

              if (url.startsWith('https://www.dropbox.com') === true) {
                url = url.replace('www.dropbox.com', 'dl.dropbox.com');
              } else if (url.startsWith('https://github.com') === true) {
                url = ( url.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
              }

              animations[ i ] = [];
              variants[ i ] = [];

              models.push( url );
              filenames.push( url.substring( url.lastIndexOf('/') + 1, url.lastIndexOf('.') ) );
              if (filename === null) filename = filenames[ 0 ];
              if (selected_file === null) selected_file = url;
            }
          } else {
            if (selected_url_file.startsWith('https://www.dropbox.com') === true) {
              selected_url_file = selected_url_file.replace('www.dropbox.com', 'dl.dropbox.com');
            } else if (selected_url_file.startsWith('https://github.com') === true) {
              selected_url_file = ( selected_url_file.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
            }

            animations[ 0 ] = [];
            variants[ 0 ] = [];

            models.push( selected_url_file );
            filenames.push( selected_url_file.substring( selected_url_file.lastIndexOf('/') + 1, selected_url_file.lastIndexOf('.') ) );
            if (filename === null) filename = filenames[ 0 ];
            if (selected_file === null) selected_file = selected_url_file;
          }

          if (models.length > 0) {
            document.getElementById('current_model').innerHTML = 'M0';

            if (models.length > 1) {
              document.getElementById('current_model').disabled = false;
              document.getElementById('current_model').style.backgroundColor = 'lightgreen';
            } else {
              document.getElementById('current_model').disabled = true;
              document.getElementById('current_model').style.backgroundColor = 'transparent';
            }

            disabled_changed();
          } else {
            document.getElementById('div_error').style.display = 'block';
            console.log( 'Unsupported URL file!' );
            return;
          }

          document.getElementById('load_progress').style.display = 'block';

          mdl_viewer.onerror = function( event ) {
            document.getElementById('load_progress').style.display = 'none';
            document.getElementById('div_error').style.display = 'block';
            return;
          }

          mdl_viewer.onprogress = function( event ) {
            progress.value = event.detail.totalProgress;
          }

          mdl_viewer.onload = function() {
            document.getElementById('load_progress').style.display = 'none';

            if (document.getElementById('mv').availableAnimations.length > 0) {
              animation_running = true;
              document.getElementById('btn_animate').innerHTML = 'A0';
              document.getElementById('btn_animate').disabled = false;
              document.getElementById('btn_animate').style.backgroundColor = 'lightgreen';
              animations[ 0 ] = document.getElementById('mv').availableAnimations;
            }

            if (document.getElementById('mv').availableVariants.length > 0) {
              variants_available = true;
              document.getElementById('btn_variants').innerHTML = 'V0';
              document.getElementById('btn_variants').disabled = false;
              document.getElementById('btn_variants').style.backgroundColor = 'lightgreen';
              variants[ 0 ] = document.getElementById('mv').availableVariants;
              current_variant = variants[ 0 ].length - 1;
              switch_variant();
            }

            enable_disable( false );
          }

          mdl_viewer.setAttribute( 'src', selected_file );
        }
      }

      function current_model_changed() {
        current_model += 1;

        if (current_model === models.length) current_model = 0;

        document.getElementById('current_model').innerHTML = 'M' + current_model;

        let mdl_viewer = document.getElementById('mv');

        if (animation_running === true) {
          mdl_viewer.pause();
          mdl_viewer.currentTime = 0;
        }

        document.getElementById('btn_animate').innerHTML = 'A';
        document.getElementById('btn_animate').disabled = true;
        document.getElementById('btn_animate').style.backgroundColor = 'transparent';

        document.getElementById('btn_variants').innerHTML = 'V';
        document.getElementById('btn_variants').disabled = true;
        document.getElementById('btn_variants').style.backgroundColor = 'transparent';

        disabled_changed();

        mdl_viewer.onload = function() {
          filename = filenames[ current_model ];

          if (mdl_viewer.availableAnimations.length > 0) {
            if (animations[ current_model ].length === 0) animations[ current_model ] = mdl_viewer.availableAnimations;
            current_animation = animations[ current_model ].length - 1;
            mdl_viewer.currentTime = 0;
            document.getElementById('btn_animate').style.backgroundColor = 'lightgreen';
            document.getElementById('btn_animate').innerHTML = 'A0';
            document.getElementById('btn_animate').disabled = false;
            animation_running = false;
            current_animation = 0;
            animate_gltf();
          } else {
            document.getElementById('btn_animate').style.backgroundColor = 'transparent';
            document.getElementById('btn_animate').innerHTML = 'A';
            document.getElementById('btn_animate').disabled = true;
            animation_running = false;
          }

          if (mdl_viewer.availableVariants.length > 0) {
            if (variants[ current_model ].length === 0) variants[ current_model ] = mdl_viewer.availableVariants;
            current_variant = variants[ current_model ].length - 1;
            document.getElementById('btn_variants').style.backgroundColor = 'lightgreen';
            document.getElementById('btn_variants').innerHTML = 'V0';
            document.getElementById('btn_variants').disabled = false;
            variants_available = false;
            current_variant = 0;
            switch_variant();
          } else {
            document.getElementById('btn_variants').style.backgroundColor = 'transparent';
            document.getElementById('btn_variants').innerHTML = 'V';
            document.getElementById('btn_variants').disabled = true;
            variants_available = false;
          }

          disabled_changed();
        }

        mdl_viewer.setAttribute( 'src', models[ current_model ] );
      }

      function animate_gltf() {
        let ani = document.getElementById('btn_animate');
        let mdl_viewer = document.getElementById('mv');

        if (animation_running === true) {
          mdl_viewer.pause();
          mdl_viewer.currentTime = 0;

          if (current_animation === animations[ current_model ].length - 1) {
            mdl_viewer.animationName = '';
            ani.innerHTML = 'A';
            current_animation = 0;
            animation_running = false;
          } else {
            current_animation += 1;
            ani.innerHTML = 'A' + current_animation;
            mdl_viewer.animationName = animations[ current_model ][ current_animation ];
            mdl_viewer.play();
          }
        } else {
          ani.innerHTML = 'A0';
          mdl_viewer.animationName = animations[ current_model ][ 0 ];
          mdl_viewer.play();
          animation_running = true;
        }
      }

      function switch_variant() {
        if (variants_available === true) {
          if (current_variant === variants[ current_model ].length - 1) {
            document.getElementById('mv').variantName = variants[ current_model ][ 0 ];
            document.getElementById('btn_variants').innerHTML = 'V0';
            current_variant = 0;
          } else {
            current_variant += 1;
            document.getElementById('btn_variants').innerHTML = 'V' + current_variant;
            document.getElementById('mv').variantName = variants[ current_model ][ current_variant ];
          }
        } else {
          document.getElementById('mv').variantName = variants[ current_model ][ 0 ];
          document.getElementById('btn_variants').style.backgroundColor = 'lightgreen';
          document.getElementById('btn_variants').innerHTML = 'V0';
          variants_available = true;
        }
      }

      function set_equi() {
        if (document.getElementById('equi').checked === true) {
          document.getElementById('neutral').disabled = true;
          document.getElementById('back_color').disabled = true;
          document.getElementById('mv').skyboxImage = 'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/equirectangular/blouberg_sunrise_2_1k.hdr';
        } else {
          document.getElementById('back_color').disabled = false;
          document.getElementById('neutral').disabled = false;
          document.getElementById('mv').skyboxImage = null;
        }

        disabled_changed();
      }

      function set_rotation() {
        if (document.getElementById('rotate').checked === true) {
          document.getElementById('mv').autoRotate = true;
        } else {
          document.getElementById('mv').autoRotate = false;
          document.getElementById('mv').resetTurntableRotation();
        }
      }

      function set_neutral_lighting() {   
        document.getElementById('mv').environmentImage = document.getElementById('neutral').checked === true ? '' : 'legacy';
      }

      function reset_all( page_loading = true ) {
        current_model = 0;

        document.getElementById('btn_animate').style.backgroundColor = 'transparent';
        document.getElementById('btn_animate').disabled = true;
        document.getElementById('btn_animate').innerHTML = 'A';
        document.getElementById('btn_variants').style.backgroundColor = 'transparent';
        document.getElementById('btn_variants').disabled = true;
        document.getElementById('btn_variants').innerHTML = 'V';

        if (page_loading) {
          // Page (re)loading
          document.getElementById('back_color').value = '#FFFFFF';
          document.getElementById('equi').checked = false;
          document.getElementById('rotate').checked = false;
          document.getElementById('neutral').checked = false;
          document.getElementById('current_model').disabled = true;
          document.getElementById('file_input').value = '';
          document.getElementById('url_entry').value = '';
          selected_url_file = '';
        }

        enable_disable( true );
      }

      async function enable_disable( disable = false ) {
        document.getElementById('equi').disabled = disable;
        document.getElementById('rotate').disabled = disable;
        document.getElementById('export_names').disabled = disable;

        if (document.getElementById('equi').checked === false) {
          document.getElementById('neutral').disabled = disable;
          document.getElementById('back_color').disabled = disable;
        }

        disabled_changed();
      }
    </script>

    <script>
      function document_ready() {
        if(navigator.userAgent.indexOf('Chrome') !== -1) {
          $('#export_names').change( function() { $(this).children(':selected').click(); });
        }
      }
    </script>

    <script>
      function disabled_changed() {
        $('button').each( function() {
          if (this.disabled === false) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px blue'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }
        });

        $('select').each( function() {
          if (this.disabled === false) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px blue'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }
        });

        $('input[type=color]').each( function() {
          if (this.disabled === false) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px whitesmoke'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }
        });
      }
    </script>
  </body>
</html>
