<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Luma SPLAT (3D Gaussian Splatting) Viewer">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon"/>

    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.10.0/dist/es-module-shims.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.178.0/build/three.module.min.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.178.0/examples/jsm/",
          "@lumaai/luma-web": "https://cdn.jsdelivr.net/npm/@lumaai/luma-web@0.2.2/dist/library/luma-web.module.min.js"
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>

    <script>
      var scene, camera, renderer, lst, lss, splats, count = 0;
      var controls, mouse_down, mouse_wheel, render_requested;
      var selected_url_file = '', url_displayed = false, isMobile;
      var ww = window.innerWidth, wh = window.innerHeight;
    </script>

    <script type="module">
      import { NeutralToneMapping, PerspectiveCamera, Scene, WebGLRenderer } from "three";
      import { OrbitControls } from "three/addons/controls/OrbitControls.min.js";

      renderer = new WebGLRenderer( { antialias: false, alpha: true } );
      renderer.setPixelRatio( window.devicePixelRatio );
      renderer.toneMapping = NeutralToneMapping;
      renderer.toneMappingExposure = 1.125;
      renderer.setSize( ww, wh );
      renderer.autoClear = false;

      document.body.appendChild( renderer.domElement );

      scene = new Scene();
      scene.backgroundBlurriness = 0.0;
      scene.backgroundIntensity = 1.0;

      initialize_event_listeners();

      camera = new PerspectiveCamera( 45, ww / wh, 0.1, 10000 );
      camera.position.set( 0, 0, 50 );
      scene.add( camera );

      controls = new OrbitControls( camera, renderer.domElement );
      controls.zoomToCursor = true;
      controls.zoomSpeed = 0.5;
      controls.rotateSpeed = 0.8;
      controls.keyPanSpeed = 0.5; 
      controls.panSpeed = 0.5;
    </script>

    <style>
      body, html {
        backdrop-filter: blur(10px);
        position: relative;
        display: block;
        background-color: #050545;
        width: 100%;
        min-height: 100vh;
        border: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }

      button {
        background-color: transparent;
        border: 1px solid blue;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
        vertical-align: middle;
        margin: 2px 2px 2px 0;
        min-width: 22px;
        height: 22px;
        padding: 1px;
      }

      label {
        vertical-align: middle;
        height: 22px;
        margin: 2px 0 2px 0;
      }

      input[type=file] {
        vertical-align: middle;
        margin: 2px 0 2px 0;
        max-width: 175px;
      }

      input[type=text] {
        vertical-align: middle;
        margin: 2px 2px 2px 0;
      }

      select {
        vertical-align: middle;
        border: 1px solid blue;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background: none;
        min-width: 70px;
        height: 22px;
        padding: 2px;
        margin: 2px;
        color: blue;
      }

      p.full_screen {
        text-align: center;
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAf0lEQVRIie1VQQ6AMAjb/x9M4IRePICoK7GLB5eQbElpCTAY7j6YRiUPAvvxbNMkN76XIDhSRKCdjhmB494hzzwngcoBIa/eASgisMgTBo4ODqCTAiSFrW6Biv8LfL/I1DbtfDRV9VLgjVFhZp59A4g+7JaM6yULh7IyWUYX2AAPDxz26GjX+gAAAABJRU5ErkJggg==);
        margin: 1px 1px 1px 2px;
        padding: 0;
        width: 15px;
        height: 15px;
      }

      .fm {
        color: navy;
        width: calc(100% - 12px);
        border: 1px solid navy;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        padding: 4px;
        margin: 1px;
      }

      .fixed-menu {
        background-color: whitesmoke;
        display: inline-block;
        position: fixed;
        padding: 1px;
        width: 100%;
        z-index: 1;
        margin: 0;
      }
    </style>

    <!-- Using Luma WebGL Library from: https://lumalabs.ai/luma-web-library -->
    <!-- Animated PNG file export support powered by: -->
    <!--   https://github.com/photopea/UPNG.js -->
    <!--   https://github.com/nodeca/pako -->

    <title>Luma Splat Viewer</title>
  </head>
  <body onload="document_ready(); disabled_changed();" onresize="resize();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm">
        <label for="btn_url" title="Luma Splat URL" style="color: #553801; margin-left: 3px;"></label>
        <button title="URL of the remote 3D model" id="btn_url" onclick="show_url();" style="min-width: 34px;">URL</button>
        <select title="Quick XYZ Rotation" id="quick_rotation" disabled>
          <option title="Rotation Options" value="rotate" selected disabled>Rotate</option>
          <option title="Rotate 180x" value="180x" onclick="quick_x_rotation( '1' );">180x</option>
          <option title="Rotate 90x" value="90x" onclick="quick_x_rotation( '0.5' );">90x</option>
          <option title="Rotate -90x" value="-90x" onclick="quick_x_rotation( '-0.5' );">-90x</option>
          <option title="Rotate 180y" value="180y" onclick="quick_y_rotation( '1' );">180y</option>
          <option title="Rotate 90y" value="90y" onclick="quick_y_rotation( '0.5' );">90y</option>
          <option title="Rotate -90y" value="-90y" onclick="quick_y_rotation( '-0.5' );">-90y</option>
          <option title="Rotate 180z" value="180z" onclick="quick_z_rotation( '1' );">180z</option>
          <option title="Rotate 90z" value="90z" onclick="quick_z_rotation( '0.5' );">90z</option>
          <option title="Rotate -90z" value="-90z" onclick="quick_z_rotation( '-0.5' );">-90z</option>
        </select>
        <select title="Scale" id="model_scale" disabled>
          <option title="Scale Options" value="scale" selected disabled>Scale</option>
          <option title="Scale 0.05x" value="0.05x" onclick="set_model_scale( '0.05x' );">0.05x</option>
          <option title="Scale 0.1x" value="0.1x" onclick="set_model_scale( '0.1x' );">0.1x</option>
          <option title="Scale 0.2x" value="0.2x" onclick="set_model_scale( '0.2x' );">0.2x</option>
          <option title="Scale 0.5x" value="0.5x" onclick="set_model_scale( '0.5x' );">0.5x</option>
          <option title="Scale 2x" value="2x" onclick="set_model_scale( '2x' );">2x</option>
          <option title="Scale 5x" value="5x" onclick="set_model_scale( '5x' );">5x</option>
          <option title="Scale 10x" value="10x" onclick="set_model_scale( '10x' );">10x</option>
          <option title="Scale 20x" value="20x" onclick="set_model_scale( '20x' );">20x</option>
        </select>
        <button title="Full Screen" id="btn_full_screen" onclick="full_screen();" style="min-width: 24px;"><p class="full_screen"></p></button>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry" title="Remote URL"></label>
        <input type="text" id="url_entry" value="" style="width: calc(75% - 12px);" />
        <button title="Load" id="btn_load" onclick="load_url_file();" style="min-width: 8.5%;">Load</button>
        <button title="Clear" id="btn_clear" onclick="clear_url();" style="min-width: 8.5%;">Clear</button>
      </div>
    </div>

    <script>
      function show_url() {
        if (url_displayed === true) {
          document.getElementById('url').style.display = 'none';
          url_displayed = false;
        } else {
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url !== '') { selected_url_file = url; init(); }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function initialize_event_listeners() {
        const arrow_keys = [ 'ArrowUp', 'ArrowDown', 'ArrowRight', 'ArrowLeft' ];

        window.addEventListener( 'pointerdown', ( event ) => { mouse_down = true; }, false);
        window.addEventListener( 'pointerup', ( event ) => { mouse_down = false; }, false);
        window.addEventListener( 'wheel', ( event ) => { mouse_wheel = true; }, false);
        window.addEventListener( 'keydown', ( event ) => {
          if (progress.value === 0) {
            if (arrow_keys.some( k => k === event.key ) || event.ctrlKey || event.metaKey || event.shiftKey) {
              controls.listenToKeyEvents( window );
              mouse_wheel = true;
            }
          }
        }, false);
        window.addEventListener( 'keyup', ( event ) => {
          if (progress.value === 0) {
            if (arrow_keys.some( k => k === event.key )) {
              controls.stopListenToKeyEvents();
              mouse_wheel = false;
              count = 0;
            }
          }
        }, false);
      }

      function resize() {
        if (window.fullScreen || document.fullscreenElement || document.mozFullScreenElement ||
          document.msFullscreenElement || document.webkitFullscreenElement) {

          document.getElementById('btn_full_screen').style.backgroundColor = '#FFFF00';
        } else {
          document.getElementById('btn_full_screen').style.backgroundColor = 'transparent';
        }

        if (typeof $ !== 'undefined' && scene !== undefined) {
          mouse_wheel = true;

          ww = window.innerWidth;
          wh = window.innerHeight;

          renderer.setSize( ww, wh );

          camera.aspect = ww / wh;
          camera.updateProjectionMatrix();

          mouse_wheel = true;
        }
      }

      function full_screen() {
        if (document.fullscreenEnabled) {
          document.fullscreenElement ? document.exitFullscreen() : document.body.requestFullscreen();
        } else if (document.mozFullScreenEnabled) {
          document.mozFullScreenElement ? document.mozCancelFullScreen() : document.body.mozRequestFullScreen();
        } else if (document.msFullscreenEnabled) {
          document.msFullscreenElement ? document.msExitFullscreen() : document.body.msRequestFullscreen();
        } else if (document.webkitFullscreenEnabled) {
          document.webkitFullscreenElement ? document.webkitExitFullscreen() : document.body.webkitRequestFullscreen();
        } else if (window.fullScreen) {
          // Do nothing. This fullscreen mode was triggered with F11 key press and requires the same again.
        }
      }
    </script>

    <script>
      function set_filename() {
        filename = (selected_url_file.substring( selected_url_file.lastIndexOf('/') + 1, selected_url_file.lastIndexOf('.') )).trim();
        if (filename === '') filename = 'Model';
      }

      function set_model_scale( scale ) {
        document.getElementById('model_scale').selectedIndex = 0;
        splats.scale.multiplyScalar( parseFloat( scale.slice( 0, -1 ) ) );

        mouse_wheel = true;
      }

      function quick_x_rotation( angle ) {
        document.getElementById('quick_rotation').selectedIndex = 0;
        splats.rotateX( Math.PI * parseFloat( angle ) );

        mouse_wheel = true;
      }

      function quick_y_rotation( angle ) {
        document.getElementById('quick_rotation').selectedIndex = 0;
        splats.rotateY( Math.PI * parseFloat( angle ) );

        mouse_wheel = true;
      }

      function quick_z_rotation( angle ) {
        document.getElementById('quick_rotation').selectedIndex = 0;
        splats.rotateZ( Math.PI * parseFloat( angle ) );

        mouse_wheel = true;
      }

      function init() {
        if (scene) {
          if (splats) {
            scene.remove( splats );

            renderer.clear();

            splats.traverse( ( child ) => {
              if (child.isMesh || child.isPoints) {
                if (child.material) {
                  if (child.material.uniforms) {
                    Object.keys( child.material.uniforms ).forEach( ( key ) => {
                      if (child.material.uniforms[ key ].value && child.material.uniforms[ key ].value.isTexture) {
                        child.material.uniforms[ key ].value.dispose();
                      }
                    });
                  }

                  child.material.dispose();
                }

                if (child.geometry) child.geometry.dispose();
              }
            });
          }
        }

        enable_disable( true );

        splats = null;
        mouse_wheel = true;
        render_requested = false;

        console.time( 'Loading Time' );

        loadURLFile();
      }

      async function loadURLFile() {
        if (selected_url_file !== '') {
          if (selected_url_file.startsWith('https://www.dropbox.com') === true) {
            selected_url_file = selected_url_file.replace('www.dropbox.com', 'dl.dropbox.com');
          } else if (selected_url_file.startsWith('https://github.com') === true) {
            selected_url_file = ( selected_url_file.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
          }

          // URL has to point to Luma Splat capture

          if (lst === undefined) {
            const { LumaSplatsSemantics, LumaSplatsThree } = await import( "@lumaai/luma-web" );

            lst = LumaSplatsThree;
            lss = LumaSplatsSemantics;
          }

          splats = new lst({
            needsSort: true,
            source: selected_url_file,
            particleRevealEnabled: true,
            enableThreeShaderIntegration: false,
            loadingAnimationEnabled: false
          });

          splats.material.transparent = false;

          splats.onLoad = () => {
            // filter splats to only show foreground layers
            // options: FOREGROUND. BACKGROUND, ALL
            splats.semanticsMask = lss.FOREGROUND;

            scene.add( splats );

            splats.scale.multiplyScalar( 5 );

            // Set the camera's z distance

            camera.position.z = splats.boundingSphere.center.z;
            camera.updateProjectionMatrix();

            console.timeEnd( 'Loading Time' );
            enable_disable( false );
            render_requested = true;
            mouse_wheel = true;
            render();
          }

          splats.onError = () => {
            console.timeEnd( 'Loading Time' );
            handle_error( 'Check URL!' );
          }
        }
      }

      function handle_error( error ) {
        console.timeEnd( 'Loading Time' );
        console.log( 'Error loading model!' );
        console.log( error );
        render_requested = false;
        enable_disable( true );
      }

      async function render() {
        if (mouse_down === true || mouse_wheel === true) {
          if (splats) {
            controls.update();

            renderer.clear();
            renderer.render( scene, camera );

            if (mouse_wheel === true) {
              if (count > 5) {
                mouse_wheel = false;
                count = 0;
              } else {
                count ++;
              }
            }
          }
        }

        if (render_requested === true) requestAnimationFrame( render );
      }

      function enable_disable( disable = false ) {
        document.getElementById('quick_rotation').disabled = disable;
        document.getElementById('model_scale').disabled = disable;
        disabled_changed();
      }
    </script>

    <script>
      function document_ready() {
        isMobile = (/iPad|iPhone|iPod/.test( navigator.platform )) ||
          (/Android|webOS|iPhone|iPad|iPod|CriOS|BlackBerry|IEMobile|Opera Mini/i.test( navigator.userAgent )) ||
          (navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));

        $('#model_scale').keypress( function( event ) { if (event.key === 'Enter') $(this).children(':selected').click(); });
        $('#quick_rotation').keypress( function( event ) { if (event.key === 'Enter') $(this).children(':selected').click(); });
        $('#url_entry').keypress( function( event ) { if (event.key === 'Enter') $('#btn_load').click(); });

        if (navigator.userAgent.indexOf('Chrome') !== -1 || navigator.userAgent.indexOf('Safari') !== -1 || isMobile === true) {
          $('#model_scale').change( function() { $(this).children(':selected').click(); });
          $('#quick_rotation').change( function() { $(this).children(':selected').click(); });
        }

        document.getElementById('model_scale').selectedIndex = 0;
        document.getElementById('quick_rotation').selectedIndex = 0;

        document.getElementById('url_entry').value = '';
        selected_url_file = '';

        mouse_wheel = true;
      }

      function disabled_changed() {
        $('button').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });

        $('select').each( function() {
          if (this.disabled === false) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });
      }
    </script>
  </body>
</html>
