<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Luma SPLAT (3D Gaussian Splatting) Viewer">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon"/>

    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.8.2/dist/es-module-shims.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.161.0/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.161.0/examples/jsm/"
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>
    <script src="../static/js/pako/dist/pako.min.js" defer></script>
    <script src="../static/js/upng/UPNG.min.js" defer></script>

    <script type="module">
      import * as THREE from "three";
      import { GUI } from "three/addons/libs/lil-gui.module.min.js";
      import { RGBELoader } from "three/addons/loaders/RGBELoader.js";
      import { OrbitControls } from "three/addons/controls/OrbitControls.js";
      import { VRButton } from "three/addons/webxr/VRButton.js";
      import { XRControllerModelFactory } from 'three/addons/webxr/XRControllerModelFactory.js';
      import { LumaSplatsSemantics, LumaSplatsThree } from "https://cdn.jsdelivr.net/npm/@lumaai/luma-web@0.1.20/dist/library/luma-web.module.js";

      manager = new THREE.LoadingManager();
      manager.onLoad = function() { mouse_wheel = true; }

      rgbe_loader = new RGBELoader( manager );
      rgbe_loader.setDataType( THREE.HalfFloatType );

      texture_loader = new THREE.TextureLoader( manager );

      renderer = new THREE.WebGLRenderer( { antialias: true, alpha: true, logarithmicDepthBuffer: true } );
      renderer.setPixelRatio( window.devicePixelRatio );
      renderer.toneMapping = THREE.ACESFilmicToneMapping;
      renderer.toneMappingExposure = 0.7;
      renderer.setSize( ww, wh );
      renderer.autoClear = false;
      renderer.xr.enabled = true;

      document.body.appendChild( renderer.domElement );

      let vr_Button = VRButton.createButton( renderer );
      document.body.appendChild( vr_Button );

      scene = new THREE.Scene();
      scene.backgroundBlurriness = 1.0;
      scene.backgroundIntensity = 0.5;

      if (!events_initialized) { initialize_event_listeners(); events_initialized = true; }

      // The XRControllerModelFactory will automatically fetch controller models
      // that match what the user is holding as closely as possible. The models
      // should be attached to the object returned from getControllerGrip in
      // order to match the orientation of the held device.

      controller = new XRControllerModelFactory();

      controllerGrip1 = renderer.xr.getControllerGrip( 0 );
      controllerGrip1.add( controller.createControllerModel( controllerGrip1 ) );
      scene.add( controllerGrip1 );

      controllerGrip2 = renderer.xr.getControllerGrip( 1 );
      controllerGrip2.add( controller.createControllerModel( controllerGrip2 ) );
      scene.add( controllerGrip2 );

      camera = new THREE.PerspectiveCamera( 45, ww / wh, 0.5, 5000 );
      camera.position.set( 0, 0, 50 );
      scene.add( camera );

      controls = new OrbitControls( camera, renderer.domElement );
      controls.zoomToCursor = true;
      controls.zoomSpeed = 0.8;
      controls.rotateSpeed = 0.8;
      controls.keyPanSpeed = 0.8; 
      controls.panSpeed = 0.8;
      //controls.enableDamping = true;
      //controls.dampingFactor = 0.3;
      //controls.enableKeys = false;
      //controls.enableZoom = true;
      //controls.maxPolarAngle = 2.2;
      //controls.minPolarAngle = 1.1;
      //controls.rotateSpeed = 0.2;
      //controls.minDistance = 2;
      //controls.maxDistance = 500;

      params = { exposure: 0.7, toneMapping: 'ACESFilmic', blurriness: 1.0, intensity: 0.5 };

      toneMappingOptions = {
        None: THREE.NoToneMapping,
        AgX: THREE.AgXToneMapping,
        Linear: THREE.LinearToneMapping,
        Reinhard: THREE.ReinhardToneMapping,
        Cineon: THREE.CineonToneMapping,
        ACESFilmic: THREE.ACESFilmicToneMapping
      };

      gui = new GUI( { autoPlace: false, container: document.getElementById("gui_position") } );

      if (menu_location_bottom === false) {
        let fixed_menu_bottom = ( parseInt( $("#fixed_menu").outerHeight( true ) ) + 2 ).toString() + "px";
        document.getElementById("gui_position").style.marginTop = fixed_menu_bottom;
      } else {
        document.getElementById("gui_position").style.marginTop = "2px";
      }

      lst = LumaSplatsThree;
      lss = LumaSplatsSemantics;

      bgnd_texture = THREE.Texture;
      bounding_box = new THREE.Box3();
      center_vector = new THREE.Vector3();
      aces_mapping = THREE.ACESFilmicToneMapping;
      equi_mapping = THREE.EquirectangularReflectionMapping;
    </script>

    <style>
      body, html {
        backdrop-filter: blur(10px);
        position: relative;
        display: block;
        background-color: black;
        background-image: url( '../../images/DragonFly.webp' ), url( '../../images/DragonFly.png' );
        background-image: -webkit-image-set( url( '../../images/DragonFly.webp' ), url( '../../images/DragonFly.png' ) );
        background-position: calc(50vw - 115px) calc(50vh - 115px);
        background-repeat: no-repeat;
        width: 100%;
        min-height: 100vh;
        border: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }

      button {
        background-color: #d1cefc;
        border: 1px solid blue;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        text-align: center;
        vertical-align: middle;
        margin: 2px 2px 2px 0;
        min-width: 22px;
        height: 22px;
        padding: 1px;
      }

      label {
        vertical-align: middle;
        height: 22px;
        margin: 2px 0 2px 0;
      }

      input[type=file] {
        vertical-align: middle;
        margin: 2px 0 2px 0;
        max-width: 175px;
      }

      input[type=checkbox] {
        vertical-align: middle;
        margin: 2px 2px 2px 5px;
      }

      input[type=text] {
        vertical-align: middle;
        margin: 2px 2px 2px 0;
      }

      select {
        vertical-align: middle;
        border: 1px solid blue;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: none;
        min-width: 70px;
        height: 22px;
        padding: 2px;
        margin: 2px;
        color: blue;
      }

      .gif_rectangle {
        background-color: transparent;
        border: 1px solid blue;
        left: calc(50% - 252px);
        top: calc(50% - 252px);
        position: absolute;
        display: none;
        height: 500px;
        width: 500px;
        z-index: 1;
      }

      .error_msg {
        background-color: transparent;
        position: absolute;
        text-align: center;
        font-size: x-large;
        display: none;
        color: red;
        width: 240px;
        height: 240px;
        top: 50%;
        left: 50%;
        margin-left: -127px;
        padding: 10px;
        border: none;
      }

      .loading_msg {
        background-color: transparent;
        color: greenyellow;
        position: absolute;
        text-align: center;
        font-size: large;
        display: none;
        height: 240px;
        width: 240px;
        top: 50%;
        left: 50%;
        margin-left: -127px;
        padding: 10px;
        border: none;
      }

      p.full_screen {
        text-align: center;
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAf0lEQVRIie1VQQ6AMAjb/x9M4IRePICoK7GLB5eQbElpCTAY7j6YRiUPAvvxbNMkN76XIDhSRKCdjhmB494hzzwngcoBIa/eASgisMgTBo4ODqCTAiSFrW6Biv8LfL/I1DbtfDRV9VLgjVFhZp59A4g+7JaM6yULh7IyWUYX2AAPDxz26GjX+gAAAABJRU5ErkJggg==);
        margin: 1px 1px 1px 2px;
        padding: 0;
        width: 15px;
        height: 15px;
      }

      .fm { color: navy; width: calc(100% - 4px); border: 1px solid navy; -webkit-border-radius: 2px; border-radius: 2px; padding: 4px; margin: 1px; }
      #gui_position { position: absolute; display: none; min-width: 200px; border: 1px solid navy; -webkit-border-radius: 2px; border-radius: 2px; min-height: 22px; margin-left: 2px; }

      .fixed-menu {
        background-color: whitesmoke;
        display: inline-block;
        position: fixed;
        padding: 1px;
        width: 100%;
        z-index: 1;
        margin: 0;
      }

      #progress {
        width: 99.5%;
        height: 2px;
        margin-left: 3px;
        margin-right: 3px;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    </style>

    <!-- Using Luma WebGL Library from: https://lumalabs.ai/luma-web-library -->
    <!-- Animated PNG file export support powered by: -->
    <!--   https://github.com/photopea/UPNG.js -->
    <!--   https://github.com/nodeca/pako -->

    <!-- mouse_wheel variable is used throughout as a trigger for rendering -->

    <title>Luma Splat Viewer</title>
  </head>
  <body onload="reset_all(); document_ready(); disabled_changed();" onresize="resize();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm">
        <label for="btn_url" title="Luma Splat URL" style="color: #553801; margin-left: 3px;"></label>
        <button title="URL of the remote 3D model" id="btn_url" onclick="show_url();" style="background-color: transparent; min-width: 34px;">URL</button>
        <button title="Gradient Color Background" id="btn_bgnd_linear_gradient" onclick="set_bgnd_linear_gradient();" style="background-color: transparent; color: blue;" disabled>G</button>
        <label title="Equirectangular Background">Eq<input type="checkbox" id="equi" onchange="set_equi();" disabled /></label>
        <button title="Reset" id="reset" onclick="reset_only();" style="background-color: transparent; color: maroon; min-width: 34px;" disabled>RST</button>
        <button title="Full Screen" id="btn_full_screen" onclick="full_screen();" style="background-color: transparent; min-width: 24px;"><p class="full_screen"></p></button>
        <button title="Menu Location" id="btn_menu_location" onclick="change_menu_location();" style="background-color: transparent; min-width: 16px;">&#x2193</button>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry" title="Remote URL"></label>
        <input type="text" id="url_entry" value="" style="width: 70%; margin-right: 3px;" />
        <button title="Load Button" onclick="load_url_file();" style="min-width: 38px; margin-right: 3px;">Load</button>
        <button title="Clear Button" onclick="clear_url();" style="min-width: 38px; margin-right: 1px;">Clear</button>
      </div>
      <div class="fm">
        <select title="Quick XYZ Rotation" id="quick_rotation" disabled>
          <option value="" selected disabled>QRot</option>
          <option title="Rotate 180x" value="180x" onclick="quick_x_rotation( '1' );">180x</option>
          <option title="Rotate 90x" value="90x" onclick="quick_x_rotation( '0.5' );">90x</option>
          <option title="Rotate -90x" value="-90x" onclick="quick_x_rotation( '-0.5' );">-90x</option>
          <option title="Rotate 180y" value="180y" onclick="quick_y_rotation( '1' );">180y</option>
          <option title="Rotate 90y" value="90y" onclick="quick_y_rotation( '0.5' );">90y</option>
          <option title="Rotate -90y" value="-90y" onclick="quick_y_rotation( '-0.5' );">-90y</option>
          <option title="Rotate 180z" value="180z" onclick="quick_z_rotation( '1' );">180z</option>
          <option title="Rotate 90z" value="90z" onclick="quick_z_rotation( '0.5' );">90z</option>
          <option title="Rotate -90z" value="-90z" onclick="quick_z_rotation( '-0.5' );">-90z</option>
        </select>
        <select title="Scale" id="model_scale" disabled>
          <option value="" selected disabled>Scale</option>
          <option title="Scale 0.05x" value="0.05x" onclick="set_model_scale( '0.05x' );">0.05x</option>
          <option title="Scale 0.1x" value="0.1x" onclick="set_model_scale( '0.1x' );">0.1x</option>
          <option title="Scale 0.2x" value="0.2x" onclick="set_model_scale( '0.2x' );">0.2x</option>
          <option title="Scale 0.5x" value="0.5x" onclick="set_model_scale( '0.5x' );">0.5x</option>
          <option title="Scale 2x" value="2x" onclick="set_model_scale( '2x' );">2x</option>
          <option title="Scale 5x" value="5x" onclick="set_model_scale( '5x' );">5x</option>
          <option title="Scale 10x" value="10x" onclick="set_model_scale( '10x' );">10x</option>
          <option title="Scale 20x" value="20x" onclick="set_model_scale( '20x' );">20x</option>
        </select>
        <select title="Export" id="export_names" disabled>
          <option value="" selected disabled>Export</option>
          <option title="APNG - Animated PNG" value="apng" onclick="export_animated_png();">APNG</option>
        </select>
      </div>
    </div>
    <div id="gui_position"></div>
    <div id="animation_progress" style="display: none; background-color: whitesmoke; border: none;">
      <progress id="progress" value="0" max="1"></progress>
    </div>

    <div id="div_error" class="error_msg">E R R O R !</div>
    <div id="div_loading" class="loading_msg">Loading</div>
    <div id="div_gif_rectangle" class="gif_rectangle"></div>

    <script>
      function return_false() { return false; }

      function show_url() {
        if (url_displayed === true) {
          document.getElementById('url').style.display = 'none';
          url_displayed = false;
        } else {
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }

        if (gui && menu_location_bottom === false) {
          let fixed_menu_bottom = ( parseInt( $('#fixed_menu').outerHeight( true ) ) + 2 ).toString() + 'px';
          document.getElementById('gui_position').style.marginTop = fixed_menu_bottom;
        }

        mouse_wheel = true;
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url !== '') { selected_url_file = url; init(); }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function initialize_event_listeners() {
        window.addEventListener( 'pointerdown', ( event ) => { if (progress.value === 0) mouse_down = true; }, false);
        window.addEventListener( 'pointerup', ( event ) => { mouse_down = false; }, false);
        window.addEventListener( 'wheel', ( event ) => { if (progress.value === 0) mouse_wheel = true; }, false);
        window.addEventListener( 'keydown', ( event ) => {
          if (progress.value === 0) {
            if ( event.key === 'ArrowUp' || event.key === 'ArrowDown' || event.key === 'ArrowRight' || event.key === 'ArrowLeft' || event.ctrlKey || event.metaKey || event.shiftKey ) {
              controls.listenToKeyEvents( window );
              mouse_wheel = true;
            }
          }
        }, false);
        window.addEventListener( 'keyup', ( event ) => {
          if (progress.value === 0) {
            if ( event.key === 'ArrowUp' || event.key === 'ArrowDown' || event.key === 'ArrowRight' || event.key === 'ArrowLeft' ) {
              controls.stopListenToKeyEvents();
              mouse_wheel = false;
            }
          }
        }, false);
      }

      function resize() {
        if (window.fullScreen || document.fullscreenElement || document.mozFullScreenElement || document.msFullscreenElement || document.webkitFullscreenElement) {
          document.getElementById('btn_full_screen').style.backgroundColor = '#FFFF00';
        } else {
          document.getElementById('btn_full_screen').style.backgroundColor = 'transparent';
        }

        if (scene) {
          mouse_wheel = true;

          renderer.setSize( window.innerWidth, window.innerHeight );

          camera.aspect = window.innerWidth / window.innerHeight;
          camera.updateProjectionMatrix();

          ww = window.innerWidth;
          wh = window.innerHeight;

          if (gui) {
            if (menu_location_bottom === false) {
              let fixed_menu_bottom = ( parseInt( $('#fixed_menu').outerHeight( true ) ) + 2 ).toString() + 'px';
              document.getElementById('gui_position').style.marginTop = fixed_menu_bottom;
            } else {
              document.getElementById('gui_position').style.marginTop = '2px';
            }
          }

          mouse_wheel = true;
        }
      }

      function full_screen() {
        if (document.fullscreenEnabled) {
          document.fullscreenElement ? document.exitFullscreen() : document.body.requestFullscreen();
        } else if (document.mozFullScreenEnabled) {
          document.mozFullScreenElement ? document.mozCancelFullScreen() : document.body.mozRequestFullScreen();
        } else if (document.msFullscreenEnabled) {
          document.msFullscreenElement ? document.msExitFullscreen() : document.body.msRequestFullscreen();
        } else if (document.webkitFullscreenEnabled) {
          document.webkitFullscreenElement ? document.webkitExitFullscreen() : document.body.webkitRequestFullscreen();
        } else if (window.fullScreen) {
          // Do nothing. This fullscreen mode was triggered with F11 key press and requires the same again.
        }
      }

      function change_menu_location() {
        if (menu_location_bottom === true) {
          menu_location_bottom = false;
          document.getElementById('fixed_menu').style.top = 0;
          document.getElementById('fixed_menu').style.bottom = '';
          document.getElementById('btn_menu_location').innerHTML = '&#x2193';
          document.getElementById('btn_menu_location').style.backgroundColor = 'transparent';

          if (gui) {
            let fixed_menu_bottom = ( parseInt( $('#fixed_menu').outerHeight( true ) ) + 2 ).toString() + 'px';
            document.getElementById('gui_position').style.marginTop = fixed_menu_bottom;
          }
        } else {
          menu_location_bottom = true;
          document.getElementById('fixed_menu').style.top = '';
          document.getElementById('fixed_menu').style.bottom = 0;
          document.getElementById('btn_menu_location').innerHTML = '&#x2191';
          document.getElementById('btn_menu_location').style.backgroundColor = '#FFFF00';

          if (gui) document.getElementById('gui_position').style.marginTop = '2px';
        }

        mouse_wheel = true;
      }
    </script>

    <script>
      var lst, lss, splats, manager, texture_loader, rgbe_loader, center_vector;
      var controls, renderer, scene, camera, render_requested, bgnd_texture, tex;
      var controller, controllerGrip1, controllerGrip2, aces_mapping, equi_mapping;
      var mouse_down, mouse_wheel, reset_rotation, events_initialized;
      var gui, gui_set = false, guiExposure = null, params, toneMappingOptions;
      var ww = window.innerWidth, wh = window.innerHeight;
      var first_run = false, fr_count = 0, gif_export;
      var bounding_box, filename = '', bgnd_linear_gradient;
      var selected_url_file = '', slider_height = 0, count = 0;
      var url_displayed = false, menu_location_bottom = false;

      function set_filename() {
        filename = (selected_url_file.substring( selected_url_file.lastIndexOf('/') + 1, selected_url_file.lastIndexOf('.') )).trim();

        if (filename === '') filename = 'Model';
      }

      async function export_animated_png() {
        document.getElementById('export_names').selectedIndex = 0;

        set_filename();

        // Generate

        let fx = Math.ceil( ( renderer.domElement.width - 500 ) / 2.0 );
        let fy = Math.ceil( ( renderer.domElement.height - 500 ) / 2.0 );

        let frames_count = 126;
        let delay = 75;
        let png_frames = [];

        await generateAPNG( render, frames_count, fx, fy, png_frames, delay );
      }

      function generateAPNG( renderFunction, frames, frame_x, frame_y, png_frames, delay ) {
        let link = document.createElement( 'a' );
        let canvas;

        if (navigator.userAgent.indexOf('Safari') !== -1) {
          canvas = document.createElement( 'canvas' );
          canvas.width = 500;
          canvas.height = 500;
        } else {
          canvas = new OffscreenCanvas( 500, 500 );
        }

        let context = canvas.getContext( '2d', { willReadFrequently: true } );

        let frame_delay = [];
        let before_last = frames - 2;
        let current = 0;

        async function addFrame() {
          if (current <= frames) {
            if (current === 1) {
              // Skip the first frame since it might be all zeros due to rendering
              // Set the progress value and trigger rendering
              progress.value = current / frames;
              renderFunction();

              setTimeout( addFrame, 10 );
            } else if (current > 0) {
              context.clearRect( 0, 0, 500, 500 );

              renderFunction();

              context.drawImage( renderer.domElement, frame_x, frame_y, 500, 500, 0, 0, 500, 500 );
              png_frames.push( context.getImageData( 0, 0, 500, 500 ).data );
              frame_delay.push( delay );

              progress.value = current / frames;

              if (current === before_last) {
                document.getElementById('div_loading').innerHTML = 'Please wait ...';
                document.getElementById('div_loading').style.display = 'block';
              }

              setTimeout( addFrame, 0 );
            } else {
              document.getElementById('fixed_menu').style.display = 'none';
              document.getElementById('animation_progress').style.display = 'block';
              document.getElementById('div_gif_rectangle').style.display = 'block';
              if (gui_set === true && document.getElementById('equi').checked) document.getElementById('gui_position').style.display = 'none';

              setTimeout( addFrame, 100 );
            }
          } else {
            // Download

            // For Lossy PNG consider replacing 0 with 256
            let apng = await UPNG.encode( png_frames, 500, 500, 0, frame_delay );

            document.getElementById('div_loading').innerHTML = '';
            document.getElementById('div_loading').style.display = 'none';

            context = null;
            canvas = null;

            let blob = new Blob( [ new Uint8Array( apng ) ], { type: 'image/png' } );
            link.href = URL.createObjectURL( blob );
            link.download = filename + '.png';
            link.click();

            progress.value = 0;
            document.getElementById('fixed_menu').style.display = 'block';
            document.getElementById('animation_progress').style.display = 'none';
            document.getElementById('div_gif_rectangle').style.display = 'none';
            if (gui_set === true && document.getElementById('equi').checked) document.getElementById('gui_position').style.display = 'block';

            if (render_requested === true) render();

            return;
          }

          current ++;
        }

        addFrame();
      }

      function set_bgnd_linear_gradient() {
        if (bgnd_linear_gradient === true) {
          scene.background = null;
          bgnd_linear_gradient = false;
          document.getElementById('btn_bgnd_linear_gradient').style.backgroundColor = 'transparent';
        } else {
          bgnd_linear_gradient = true;

          let canvas = document.createElement('canvas');
          let context = canvas.getContext("2d");
          canvas.width = ww;
          canvas.height = wh;

          let gradient = context.createLinearGradient( 0, 0, 0, wh );
          let gradient_colors = [ [ 0.9, 0.8, 0.7, 0.6, 0.5, 0.4, 0.3, 0.15 ], [ '#151525', '#252535', '#454555', '#656575', '#787888', '#8A8A9A', '#9A9AAA', '#A5A5B5' ] ];
          let i = gradient_colors[ 0 ].length;
          while( i-- ) { gradient.addColorStop( gradient_colors[ 0 ][ i ], gradient_colors[ 1 ][ i ] ); }
          context.fillStyle = gradient;
          context.fillRect( 0, 0, ww, wh );
          let texture = new bgnd_texture( canvas );
          scene.background = texture;
          texture.needsUpdate = true;

          document.getElementById('btn_bgnd_linear_gradient').style.backgroundColor = 'lightgreen';
        }

        mouse_wheel = true;
      }

      function updateGUI() {
        if ( guiExposure !== null ) {
          guiExposure.destroy();
          guiExposure = null;
        }

        if ( params.toneMapping !== 'None' ) {
          guiExposure = gui.add( params, 'exposure', 0, 2 )
          .onChange( function () {
            renderer.toneMappingExposure = params.exposure;
            mouse_wheel = true;
          });
        }
      }

      async function set_equi() {
        if (document.getElementById('equi').checked) {
          if (gui_set === false) {
            gui.add( params, 'toneMapping', Object.keys( toneMappingOptions ) )
            .onChange( function () {
              updateGUI();
              renderer.toneMapping = toneMappingOptions[ params.toneMapping ];
              mouse_wheel = true;
            });

            gui.add( params, 'blurriness', 0, 1 )
            .onChange( function ( value ) {
              scene.backgroundBlurriness = value;
              mouse_wheel = true;
            });

            gui.add( params, 'intensity', 0, 2 )
            .onChange( function ( value ) {
              scene.backgroundIntensity = value;
              mouse_wheel = true;
            });

            updateGUI();
            gui.open();

            scene.backgroundBlurriness = params.blurriness;
            scene.backgroundIntensity = params.intensity;
            gui_set = true;
          }

          document.getElementById('gui_position').style.display = 'block';

          bgnd_linear_gradient = false;
          document.getElementById('btn_bgnd_linear_gradient').disabled = true;
          document.getElementById('btn_bgnd_linear_gradient').style.backgroundColor = 'transparent';

          scene.background = tex;
          scene.environment = tex;
        } else {
          if (gui) gui_reset();

          scene.background = null;
          scene.environment = null;

          document.getElementById('btn_bgnd_linear_gradient').disabled = false;
        }

        equi_checked_changed();

        mouse_wheel = true;
      }

      function gui_reset() {
        params.toneMapping = 'ACESFilmic';
        renderer.toneMapping = aces_mapping;
        renderer.toneMappingExposure = params.exposure = 0.7;
        params.blurriness = 1.0;
        params.intensity = 0.5;

        mouse_wheel = true;

        gui.reset();

        document.getElementById('gui_position').style.display = 'none';

        mouse_wheel = true;
      }

      function set_center() {
        bounding_box.setFromObject( splats );
        let center = bounding_box.getCenter( center_vector );
        controls.target.set( center.x, center.y, center.z );

        mouse_wheel = true;
      }

      function set_model_scale( scale ) {
        document.getElementById('model_scale').selectedIndex = 0;

        splats.scale.multiplyScalar( parseFloat( scale.slice( 0, -1 ) ) );

        mouse_wheel = true;
      }

      function quick_x_rotation( angle ) {
        document.getElementById('quick_rotation').selectedIndex = 0;

        splats.rotateX( Math.PI * parseFloat( angle ) );

        mouse_wheel = true;
      }

      function quick_y_rotation( angle ) {
        document.getElementById('quick_rotation').selectedIndex = 0;

        splats.rotateY( Math.PI * parseFloat( angle ) );

        mouse_wheel = true;
      }

      function quick_z_rotation( angle ) {
        document.getElementById('quick_rotation').selectedIndex = 0;

        splats.rotateZ( Math.PI * parseFloat( angle ) );

        mouse_wheel = true;
      }

      function init() {
        if (scene) {
          scene.remove( splats );
          reset_all( true );
        }

        enable_disable( true );

        splats = null;
        mouse_down = false;
        mouse_wheel = true;
        bgnd_linear_gradient = false;
        render_requested = false;
        gif_export = false;

        console.time( 'Loading Time' );
        document.body.style.backgroundImage = 'none';
        document.getElementById('div_error').style.display = 'none';
        document.getElementById('div_loading').style.display = 'block';
        document.getElementById('div_loading').innerHTML = 'Load & Visualize';

        loadURLFile();

        // Load equirectangular texture
        if (tex === undefined) {
          rgbe_loader.load( 'https://raw.githubusercontent.com/mrdoob/three.js/master/examples/textures/equirectangular/san_giuseppe_bridge_2k.hdr', function( texture ) {
            texture.mapping = equi_mapping;
            tex = texture;
            texture.dispose();
          });
        }
      }

      function loadURLFile() {
        if (selected_url_file !== '') {
          if (selected_url_file.startsWith('https://www.dropbox.com') === true) {
            selected_url_file = selected_url_file.replace('www.dropbox.com', 'dl.dropbox.com');
          } else if (selected_url_file.startsWith('https://github.com') === true) {
            selected_url_file = ( selected_url_file.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
          }

          // URL has to point to Luma Splat capture

          splats = new lst( { source: selected_url_file, antialias: false, particleRevealEnabled: true, enableThreeShaderIntegration: true, loadingAnimationEnabled: false, } );
          splats.material.transparent = false;

          splats.onLoad = () => {
            scene.add( splats );

            set_center();
            resize();

            // filter splats to only show foreground layers
            // comment the following line out to see the background
            splats.semanticsMask = lss.FOREGROUND;

            console.timeEnd( 'Loading Time' );
            enable_disable( false );
            render_requested = true;
            mouse_wheel = true;
            first_run = true;
            fr_count = 0;
            render();
          }

          splats.onError = () => {
            handle_error( 'Check URL!' );
          }
        }
      }

      function handle_error( error ) {
        console.timeEnd( 'Loading Time' );
        console.log( 'Error loading model!' );
        console.log( error );
        mouse_wheel = true;
        render_requested = false;
        enable_disable( true );

        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').style.display = 'block';
      }

      async function render() {
        if (document.getElementById('animation_progress').style.display === 'none') {
          if (render_requested === true) requestAnimationFrame( render );
        }

        if (first_run || mouse_down || mouse_wheel || reset_rotation || progress.value > 0) {
          if (splats) {
            // Reset splats rotational values
            if (reset_rotation === true) {
              splats.rotation.set( 0, 0, 0 );
              reset_rotation = false;
            }

            // Rotate the splats
            if (mouse_down === false) {
              // Animated GIF / APNG generation
              if (progress.value > 0) {
                splats.rotation.y += 0.05;
              }
            }

            // If it might be slow to render initially
            if (first_run === true) {
              fr_count += 1;
              if (fr_count > 15) {
                first_run = false;
                document.getElementById('div_loading').style.display = 'none';
              }
            } else {
              if (mouse_wheel === true) {
                if (count > 5) {
                  mouse_wheel = false;
                  count = 0;
                } else {
                  count += 1;
                }
              }
            }

            controls.update();

            renderer.clear();
            renderer.render( scene, camera );
          }
        }
      }

      function reset_only() {
        if (scene) {
          scene.remove( splats );
          splats = null;
        }

        if (gui) gui_reset();

        reset_all( true );

        console.time( 'Loading Time' );

        document.getElementById('div_loading').innerHTML = 'Reload';
        document.getElementById('div_loading').style.display = 'block';

        mouse_wheel = true;

        loadURLFile();
      }

      function reset_all( reset = false ) {
        // Reset the equi checkbox
        document.getElementById('equi').checked = false;

        // Reset linear gradient values
        bgnd_linear_gradient = false;
        document.getElementById('btn_bgnd_linear_gradient').disabled = false;
        document.getElementById('btn_bgnd_linear_gradient').style.backgroundColor = 'transparent';

        gif_export = false;
        reset_rotation = true;

        if (gui_set === true) {
          document.getElementById('gui_position').style.display = 'none';

          if (scene) {
            scene.background = null;
            scene.environment = null;
          }
        }

        // Reset the view
        if (reset === true) {
          controls.reset();
          first_run = true;
          fr_count = 0;
        } else {
          // Page (re)loading
          if (scene) {
            if (splats) {
              splats.dispose();
              splats = null;
            }

            while (scene.children.length > 0) {
              scene.remove( scene.children[ 0 ] );
            }
          }

          document.getElementById('div_error').style.display = 'none';
          document.getElementById('url_entry').value = '';
          selected_url_file = '';
          enable_disable( true );
        }

        disabled_changed();

        mouse_wheel = true;
      }

      function enable_disable( disable = false ) {
        document.getElementById('quick_rotation').disabled = disable;
        document.getElementById('equi').disabled = disable;
        document.getElementById('model_scale').disabled = disable;
        document.getElementById('btn_bgnd_linear_gradient').disabled = disable;
        document.getElementById('reset').disabled = disable;
        document.getElementById('export_names').disabled = disable;
        disabled_changed();

        mouse_wheel = true;
      }
    </script>

    <script>
      function document_ready() {
        if (navigator.userAgent.indexOf('Chrome') !== -1 || navigator.userAgent.indexOf('Safari') !== -1) {
          $('#export_names').change( function() { $(this).children(':selected').click(); });
          $('#model_scale').change( function() { $(this).children(':selected').click(); });
          $('#quick_rotation').change( function() { $(this).children(':selected').click(); });
        }

        mouse_wheel = true;
      }

      function disabled_changed() {
        $('button').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px blue'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });

        $('select').each( function() {
          if (this.disabled === false) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px blue'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });
      }

      function equi_checked_changed() {
        if ($('#equi')[ 0 ].checked === true) {
          $('#btn_bgnd_linear_gradient').unbind('mouseenter mouseleave');
        } else {
          $('#btn_bgnd_linear_gradient').hover(
          function() { $(this)[ 0 ].style.border = 'solid 2px blue'; },
          function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
        }

        mouse_wheel = true;
      }
    </script>
  </body>
</html>
