<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="utf-8" charset="utf-8" http-equiv="encoding">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon"/>

    <script src="../static/js/three.js"></script>
    <script src="../static/js/PLYLoader.js"></script>
    <script src="../static/js/STLLoader.js"></script>
    <script src="../static/js/TGALoader.js"></script>
    <script src="../static/js/DDSLoader.js"></script>
    <script src="../static/js/OrbitControls.js"></script>
    <script src="../static/js/OrbitControlsGizmo.js"></script>
    <script src="../static/js/utils/BufferGeometryUtils.js"></script>
    <script src="../static/js/exporters/GLTFExporter.js"></script>

    <style>
      body,html{
        position: relative;
        display: block;
        background-color: black;
        background-image: url('../../images/DragonFly.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 100vh;
        border: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }

      .spinner {
        position: absolute;
        display: block;
        background-color: transparent;
        width: 240px;
        height: 240px;
        top: 50%;
        left: 50%;
        margin-top: -129px;
        margin-left: -129px;
        border: 6px solid blue;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border-top-color: lightblue;
        border-bottom-color: lightblue;
        -webkit-animation: spin 8s ease-in-out infinite;
        animation: spin 8s ease-in-out infinite;
      }

      @-webkit-keyframes spin { to { -webkit-transform: rotate( 360deg ); } }
      @keyframes spin { to { -webkit-transform: rotate( 360deg ); } }

      .error_msg {
        position: absolute;
        display: none;
        background-color: transparent;
        color: red;
        text-align: center;
        font-size: x-large;
        width: 240px;
        height: 40px;
        top: 50%;
        left: 50%;
        margin-left: -127px;
        padding: 10px;
        border: 2px solid maroon;
        -webkit-border-radius: 3%;
        border-radius: 3%;
      }

      p.full_screen {
        text-align: center;
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAf0lEQVRIie1VQQ6AMAjb/x9M4IRePICoK7GLB5eQbElpCTAY7j6YRiUPAvvxbNMkN76XIDhSRKCdjhmB494hzzwngcoBIa/eASgisMgTBo4ODqCTAiSFrW6Biv8LfL/I1DbtfDRV9VLgjVFhZp59A4g+7JaM6yULh7IyWUYX2AAPDxz26GjX+gAAAABJRU5ErkJggg==);
        margin: 1px 1px 1px 2px;
        padding: 0;
        width: 15px;
        height: 15px;
      }

      p.polar {
        text-align: center;
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAv0lEQVRIic2V6wqFIBCEe3PfWhDEjYIDtc7s5VjQDwkvO9/uaLqJyPZmCy0qpQhqywBPKAK6d85uLJCBfhq0Ar0gYxGKnYT0Qs+iqziEZgMQRCfUe5cJcEzUWoUF0k0EidwSRYO6EkvcjbcmtZB1WlgVIYAWZFUhnRDgn7FvAV63aHmTLcgjx5Rl8OiPhjLPXhWttSkGAnTp7MQgK02AlXnkNTOv6zHGWerxRZl4NoUfHMuG7LwLYPZkntQQYKXtSAJKMrYucd0AAAAASUVORK5CYII=);
        margin: 1px 1px 1px 2px;
        padding: 0;
        width: 15px;
        height: 15px;
      }

      div { color: navy; width: 99%; border: 1px solid navy; -webkit-border-radius: 2px; border-radius: 2px; padding: 4px; margin: 1px; }
      #scene { display: block; position: absolute; margin: 0; width: 100%; height: 100%; }

      .fixed-menu {
        position: fixed;
        z-index: 1;
        display: inline-block;
        background-color: whitesmoke;
        margin: 0px;
        padding: 1px;
        width: 100%;
      }
    </style>

    <!-- Original OBJ source code that inspired this: https://codepen.io/Mamboleoo/pen/PqjGdN -->
    <!-- OrbitControlsGizmo from: https://github.com/Fennec-hub/ThreeOrbitControlsGizmo -->
    <!-- PLY Examples from: https://github.com/mrdoob/three.js -->
    <!-- More PLY examples: https://people.math.sc.edu/Burkardt/data/data.html -->
    <title>PLY / STL Viewer</title>
  </head>
  <body onload="reset_all()" onresize="resize()">
    <div class="fixed-menu">
      <div id="axes" style="width: 65px; height: 65px; float: right; background-color: black; margin-right: 3px;"></div>
      <div>
        <label for="file" style="color: #CE8704; margin: 2px 2px 2px 5px;">PLY/STL:</label>
        <button onclick="show_url()" style="margin: 2px 2px 2px 0;">URL</button>
        <input type="file" id="file_input" name="file" onchange="init()" style="margin: 2px 5px 2px 0;" multiple />
        <label for="file_image_input" style="color: #CE8704; margin: 2px 2px 2px 0;">BG Image:</label>
        <input type="file" id="file_image_input" name="file_image_input" accept="image/png, image/jpeg, image/bmp, image/gif, image/svg+xml" onchange="set_scene_image()" style="margin: 2px 5px 2px 0;" disabled />
        <label for="ply_opacity" style="margin: 2px 2px 2px 0;">Opacity:</label>
        <input type="number" id="ply_opacity" name="ply_opacity" min="0" max="1" step="0.05" value="1" onkeydown="return false" onchange="set_ply_opacity()" style="width: 48px; margin: 2px 5px 2px 0;" disabled />
        <label for="ply_scale" style="margin: 2px 2px 2px 0;">Scale:</label>
        <input type="number" id="ply_scale" name="ply_scale" onkeydown="return false" oninput="set_ply_scale()" min="0.25" max="2" value="1" step="0.25" style="margin: 2px 5px 2px 0; width: 48px;" disabled />
        <label style="margin: 2px 10px 2px 0;"><input type="checkbox" id="scale_10x" onchange="scale_10x_set();" disabled />10x</label>
        <button id="btn_edges" onclick="show_edges()" style="background-color: #d1cefc; vertical-align: middle; width: 20px; margin: 2px 2px 2px 2px; padding: 0;" disabled>E</button>
        <button id="btn_flat" onclick="set_flat()" style="background-color: #d1cefc; vertical-align: middle; width: 20px; margin: 2px 2px 2px 2px; padding: 0;" disabled>F</button>
        <button id="reset" onclick="reset_only()" style="vertical-align: middle; color: maroon; width: 55px; margin: 2px 5px 2px 10px;" disabled>Reset</button>
        <button id="btn_full_screen" onclick="full_screen()" style="background-color: #d1cefc; vertical-align: middle; width: 22px; margin: 2px 2px 2px 2px; padding: 0;"><p class="full_screen"></p></button>
      </div>
      <div id="url" style="display: none;">
        <label for="url_entry" style="margin: 2px 2px 2px 5px;">URL:</label>
        <input type="text" id="url_entry" name="url_entry" size="90" value="" style="margin: 2px 5px 2px 0;" />
        <button onclick="load_url_file()" style="-webkit-border-radius: 2px; border-radius: 2px; width: 50px; margin: 2px 5px 2px 0; padding: 2px;">Load</button>
        <button onclick="clear_url()" style="-webkit-border-radius: 2px; border-radius: 2px; width: 50px; margin: 2px 2px 2px 0; padding: 2px;">Clear</button>
      </div>
      <div>
        <label style="color: blue; margin: 2px 0 2px 0;"><input type="radio" id="hlight" name="mode" value="HL" onchange="radio_changed()" disabled />HL</label>
        <label style="color: blue; margin: 2px 0 2px 0;"><input type="radio" id="slight" name="mode" value="SL" onchange="radio_changed()" disabled />SL</label>
        <label style="color: blue; margin: 2px 0 2px 0;"><input type="radio" id="dlight" name="mode" value="DL" onchange="radio_changed()" disabled />DL</label>
        <label style="color: blue; margin: 2px 0 2px 0;"><input type="radio" id="rotate" name="mode" value="Rotate" onchange="radio_changed()" checked disabled />Rotate :</label>
        <label for="rotation_x" style="color: blue;">X</label>
        <input type="number" id="rotation_x" onchange="rot_x_changed()" min="-50" max="50" value="0" step="1" style="width: 50px; margin: 2px 0 2px 0;" disabled />&nbsp;
        <label for="rotation_y" style="color: blue;">Y</label>
        <input type="number" id="rotation_y" onchange="rot_y_changed()" min="-50" max="50" value="0" step="1" style="width: 50px; margin: 2px 0 2px 0;" disabled />&nbsp;
        <label for="rotation_z" style="color: blue;">Z</label>
        <input type="number" id="rotation_z" onchange="rot_z_changed()" min="-50" max="50" value="0" step="1" style="width: 50px; margin: 2px 0 2px 0;" disabled />&nbsp; &nbsp;
        <label style="margin: 2px 5px 2px 0;"><input type="checkbox" id="wireframe" name="wireframe" onchange="show_wireframe()" disabled />Wire</label>
        <label style="margin: 2px 5px 2px 0;"><input type="checkbox" id="shadow" name="shadow" onchange="show_shadow()" disabled />Shadow</label>
        <label for="directional_light_intensity" style="margin: 2px 2px 2px 0;">DLi:</label>
        <input type="number" id="directional_light_intensity" name="directional_light_intensity" min="0" max="2" step="0.05" value="1" onkeydown="return false" onchange="set_directional_light_intensity()" style="width: 50px; margin: 2px 5px 2px 0;" disabled />
        <label for="spot_light_intensity" style="margin: 2px 2px 2px 0;">SLi:</label>
        <input type="number" id="spot_light_intensity" name="spot_light_intensity" min="0" max="2" step="0.05" value="0" onkeydown="return false" onchange="set_spot_light_intensity()" style="width: 50px; margin: 2px 5px 2px 0;" disabled />
        <label for="spot_light_color" style="margin: 2px 0 2px 0;">SL:</label>
        <input type="color" id="spot_light_color" name="spot_light_color" onchange="set_spot_light_color()" style="vertical-align: middle; background: none; padding: 0; width: 23px; margin: 0 5px 0 0;" disabled />
        <label for="hemisphere_light_color" style="margin: 2px 0 2px 0;">HL:</label>
        <input type="color" id="hemisphere_light_color" name="hemisphere_light_color" onchange="set_hemisphere_light_color()" style="vertical-align: middle; background: none; padding: 0; width: 23px; margin: 0 5px 0 0;" disabled />
        <label for="ambient_light_color" style="margin: 2px 0 2px 0;">AL:</label>
        <input type="color" id="ambient_light_color" name="ambient_light_color" onchange="set_ambient_light_color()" style="vertical-align: middle; background: none; padding: 0; width: 23px; margin: 0 5px 0 0;" disabled />
        <label for="back_color" style="margin: 2px 0 2px 0;">BG:</label>
        <input type="color" id="back_color" name="back_color" onchange="set_back_color()" style="vertical-align: middle; background: none; padding: 0; width: 23px; margin: 0 5px 0 0;" disabled />
        <button id="btn_grid" onclick="show_grid()" style="background-color: #d1cefc; vertical-align: middle; width: 22px; margin: 2px 2px 2px 5px; padding: 0;" disabled>#</button>
        <button id="btn_polar_grid" onclick="show_polar_grid()" style="font-size: 18px; background-color: #d1cefc; vertical-align: middle; width: 24px; margin: 2px 2px 2px 5px; padding: 0;" disabled><p class="polar"></p></button>
        <button id="btn_gltf_export" onclick="export_gltf()" style="background-color: #d1cefc; vertical-align: middle; width: 44px; margin: 2px 2px 2px 5px; padding: 0;" disabled>GLTF</button>
        <button id="btn_glb_export" onclick="export_glb()" style="background-color: #d1cefc; vertical-align: middle; width: 34px; margin: 2px 2px 2px 5px; padding: 0;" disabled>GLB</button>
      </div>
    </div><br />

    <div id="div_spinner" class="spinner"></div>
    <div id="div_error" class="error_msg">E R R O R !</div>

    <div style="border: 0; margin: 0; padding: 0;">
      <canvas id="scene">
        Your browser does not support HTML5 canvas tag
      </canvas>
    </div>

    <script>
      function show_url() {
        if (url_displayed) {
          document.getElementById('url').style.display = 'none';
          url_displayed = false;
        } else {
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url != '') { selected_url_file = url; url_loading = true; init(); }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function initialize_event_listeners() {
        var cnvs = document.getElementById('scene');

        cnvs.addEventListener( 'mousedown', (event) => { mouse_rotation = true; }, false);
        cnvs.addEventListener( 'mouseup', (event) => { mouse_rotation = false; }, false);
      }

      function resize() {
        if (camera) {
          renderer.setSize( window.innerWidth, window.innerHeight );

          camera.aspect = window.innerWidth / window.innerHeight;
          camera.updateProjectionMatrix();

          ww = window.innerWidth;
          wh = window.innerHeight;
        }
      }

      function full_screen() {
        if (document.requestFullscreen) {
          document.requestFullscreen = false;
          document.exitFullscreen();
          document.getElementById('btn_full_screen').style.backgroundColor = '#d1cefc'
        } else {
          document.requestFullscreen = true;
          document.body.requestFullscreen();
          document.getElementById('btn_full_screen').style.backgroundColor = '#ffff00'
        }
      }
    </script>

    <script>
      var renderer, scene, camera, mesh, edges, edges_visible, render_requested;
      var controls, gizmo, grid, polar_grid, grid_visible, polar_grid_visible;
      var ambientLight, hemisphereLight, spotLight, directionalLight;
      var material, texture, shadowMesh, shadowMaterial;
      var ww = window.innerWidth,	wh = window.innerHeight;
      var mouse_rotation, reset_rotation, events_initialized;
      var rot_x = 0, rot_y = 0, rot_z = 0;
      var previous_ply_scale = '1', bounding_box = new THREE.Box3();
      var selected_ply_file, selected_stl_file, selected_url_file = '', url_displayed, url_loading;
      var texture_files_png, texture_files_jpg, texture_files_bmp, texture_files_gif;
      var texture_files_dds, texture_files_tga, url_tga_loaded;

      // Manager from ThreeJs to track a loader and its status
      var manager = new THREE.LoadingManager();

      // Loader for selected file from Three.js
      const ply_loader = new THREE.PLYLoader( manager );
      const stl_loader = new THREE.STLLoader( manager );

      const texture_loader = new THREE.TextureLoader();

      const tga_loader = new THREE.TGALoader( manager );
      manager.addHandler( /\.tga$/i, tga_loader );

      const dds_loader = new THREE.DDSLoader( manager );
      manager.addHandler( /\.dds$/i, dds_loader );

      const gltf_exporter = new THREE.GLTFExporter( manager );

      const link = document.createElement( 'a' );
      link.style.display = 'none';
      document.body.appendChild( link );

      function export_gltf() {
        if (mesh) {
          let gltf_mesh = mesh.clone();
          let filename;

          gltf_mesh.traverse( function( child ) {
      	    if (child instanceof THREE.Mesh) {
              child.material.opacity = 1;
              child.material.transparent = false;
    		    }
    	    });

          if (!(gltf_mesh.geometry instanceof THREE.BufferGeometry)) {
            gltf_mesh.geometry = new THREE.BufferGeometry().fromGeometry( gltf_mesh.geometry );
          }

          if (selected_ply_file) {
            filename = selected_ply_file.name.substring(0, selected_ply_file.name.lastIndexOf('.') + 1);
          } else if (selected_stl_file) {
            filename = selected_stl_file.name.substring(0, selected_stl_file.name.lastIndexOf('.') + 1);
          } else {
            filename = selected_url_file.substring(selected_url_file.lastIndexOf('/') + 1, selected_url_file.lastIndexOf('.') + 1);
          }

          const options = {	binary: false, maxTextureSize: 4096 || Infinity };

          gltf_exporter.parse( gltf_mesh, ( json ) => {
            let string = JSON.stringify( json, null, 2 );
            let blob = new Blob( [ string ], { type:'text/plain' } );
            link.href = URL.createObjectURL( blob );
            link.download = filename + 'gltf';
            link.click();
          }, options );

          if (gltf_mesh.material) gltf_mesh.material.dispose();
  				if (gltf_mesh.material && gltf_mesh.material.map) gltf_mesh.material.map.dispose();
	  			if (gltf_mesh.geometry) gltf_mesh.geometry.dispose();
        }
      }

      function export_glb() {
        if (mesh) {
          let gltf_mesh = mesh.clone();
          let filename;

          gltf_mesh.traverse( function( child ) {
      	    if (child instanceof THREE.Mesh) {
              child.material.opacity = 1;
              child.material.transparent = false;
    		    }
    	    });

          if (!(gltf_mesh.geometry instanceof THREE.BufferGeometry)) {
            gltf_mesh.geometry = new THREE.BufferGeometry().fromGeometry( gltf_mesh.geometry );
          }

          if (selected_ply_file) {
            filename = selected_ply_file.name.substring(0, selected_ply_file.name.lastIndexOf('.') + 1);
          } else if (selected_stl_file) {
            filename = selected_stl_file.name.substring(0, selected_stl_file.name.lastIndexOf('.') + 1);
          } else {
            filename = selected_url_file.substring(selected_url_file.lastIndexOf('/') + 1, selected_url_file.lastIndexOf('.') + 1);
          }

          const options = {	binary: true, maxTextureSize: 4096 || Infinity };

          gltf_exporter.parse( gltf_mesh, ( json ) => {
            let blob = new Blob( [ json ], { type:'application/octet-stream' } );
            link.href = URL.createObjectURL( blob );
            link.download = filename + 'glb';
            link.click();
          }, options );

          if (gltf_mesh.material) gltf_mesh.material.dispose();
  				if (gltf_mesh.material && gltf_mesh.material.map) gltf_mesh.material.map.dispose();
	  			if (gltf_mesh.geometry) gltf_mesh.geometry.dispose();
        }
      }

      function set_back_color() {
        scene.background = null;
        document.getElementById('file_image_input').value = "";
        document.body.style.backgroundColor = document.getElementById('back_color').value;
      }

      function set_ply_opacity() {
        if (material) {
          material.opacity = document.getElementById('ply_opacity').value;
          if (document.getElementById('shadow').checked) {
            shadowMaterial.opacity = material.opacity * document.getElementById('spot_light_intensity').value;
          }
        }
      }

      function set_scene_image() {
        fii = document.getElementById('file_image_input');

        if (fii.files[0]) {
          document.getElementById('back_color').value = "0x000000";
          document.body.style.backgroundColor = document.getElementById('back_color').value;

          if (fii.files[0].type.startsWith('image/')) {
            texture_loader.load( URL.createObjectURL( fii.files[0] ) , function(texture) {
              scene.background = texture;
            });
          } else {
            fii.value = "";
            scene.background = null;
          }
        } else {
          scene.background = null;
        }
      }

      function set_ambient_light_color() {
        let colors = document.getElementById('ambient_light_color').value; // hex format '#rrggbb'
        ambientLight.color = {
          'r': parseInt(colors.substring(1, 3), 16) / 10,
          'g': parseInt(colors.substring(3, 5), 16) / 10,
          'b': parseInt(colors.substring(5), 16) / 10
        };
      }

      function set_hemisphere_light_color() {
        let hl_colors = document.getElementById('hemisphere_light_color').value; // hex format '#rrggbb'

        hemisphereLight.color = {
          'r': parseInt(hl_colors.substring(1, 3), 16) / 10,
          'g': parseInt(hl_colors.substring(3, 5), 16) / 10,
          'b': parseInt(hl_colors.substring(5), 16) / 10
        };

        if (hl_colors == '#000000') {
          hemisphereLight.groundColor = { 'r': 0, 'g': 0, 'b': 0 }}
        else {
          hemisphereLight.groundColor = { 'r': 9.2, 'g': 9.2, 'b': 9.2 }}
      }

      function set_spot_light_color() {
        let sl_colors = document.getElementById('spot_light_color').value; // hex format '#rrggbb'

        if (sl_colors == '#000000') { spotLight.color = { 'r': 1, 'g': 1, 'b': 1 }; }
        else {
          spotLight.color = {
            'r': parseInt(sl_colors.substring(1, 3), 16) / 250,
            'g': parseInt(sl_colors.substring(3, 5), 16) / 250,
            'b': parseInt(sl_colors.substring(5), 16) / 250
          };
        }
      }

      function set_spot_light_intensity() {
        spotLight.intensity = parseFloat( document.getElementById('spot_light_intensity').value );
        if (document.getElementById('shadow').checked) { shadowMaterial.opacity = spotLight.intensity * document.getElementById('ply_opacity').value; }
      }

      function set_directional_light_intensity() {
        directionalLight.intensity = parseFloat( document.getElementById('directional_light_intensity').value );
      }

      function set_initial_scale() {
        // Set the initial scale of the object so it comes to view
        bounding_box.setFromObject( mesh );
        let y;

        if (bounding_box.max.y < 0) {
          y = (Math.abs(bounding_box.min.y) - Math.abs(bounding_box.max.y));
        } else if (bounding_box.max.y >= 0 && bounding_box.min.y <= 0) {
          y = (Math.abs(bounding_box.max.y) + Math.abs(bounding_box.min.y));
        } else {
          y = (Math.abs(bounding_box.max.y) - Math.abs(bounding_box.min.y));
        }

        mesh.scale.multiplyScalar( 50 / y );
      }

      function set_ply_scale() {
        let current_ply_scale = document.getElementById('ply_scale').value;

        switch (previous_ply_scale) {
          case '0.25':
            mesh.scale.multiplyScalar( 2 );
            break;
          case '0.5':
            mesh.scale.multiplyScalar( (current_ply_scale == '0.75') ? 3/2 : 1/2 );
            break;
          case '0.75':
            mesh.scale.multiplyScalar( (current_ply_scale == '1') ? 4/3 : 2/3 );
            break;
          case '1':
            mesh.scale.multiplyScalar( (current_ply_scale == '1.25') ? 5/4 : 3/4 );
            break;
          case '1.25':
            mesh.scale.multiplyScalar( (current_ply_scale == '1.5') ? 6/5 : 4/5 );
            break;
          case '1.5':
            mesh.scale.multiplyScalar( (current_ply_scale == '1.75') ? 7/6 : 5/6 );
            break;
          case '1.75':
            mesh.scale.multiplyScalar( (current_ply_scale == '2') ? 8/7 : 6/7 );
            break;
          default:
            mesh.scale.multiplyScalar( 7/8 );
            break;
        }

        previous_ply_scale = current_ply_scale;
        set_polar_grid_y();
        set_grid_y();
      }

      function scale_10x_set() {
        if (document.getElementById('scale_10x').checked) {
          mesh.scale.multiplyScalar( 10 );
        } else {
          mesh.scale.multiplyScalar( 0.1 );

          set_polar_grid_y();
          set_grid_y();
        }
      }

      function radio_changed() {
        if (document.getElementById('dlight').checked) {
          document.getElementById('rotation_x').value = directionalLight.position.x;
          document.getElementById('rotation_y').value = directionalLight.position.y;
          document.getElementById('rotation_z').value = directionalLight.position.z;
          document.getElementById('rotation_x').min = document.getElementById('rotation_y').min = document.getElementById('rotation_z').min = -500;
          document.getElementById('rotation_x').max = document.getElementById('rotation_y').max = document.getElementById('rotation_z').max = 500;
          document.getElementById('rotation_x').step = document.getElementById('rotation_y').step = document.getElementById('rotation_z').step = 10;
        } else if (document.getElementById('slight').checked) {
          document.getElementById('rotation_x').value = spotLight.position.x;
          document.getElementById('rotation_y').value = spotLight.position.y;
          document.getElementById('rotation_z').value = spotLight.position.z;
          document.getElementById('rotation_x').min = document.getElementById('rotation_y').min = document.getElementById('rotation_z').min = -500;
          document.getElementById('rotation_x').max = document.getElementById('rotation_y').max = document.getElementById('rotation_z').max = 500;
          document.getElementById('rotation_x').step = document.getElementById('rotation_y').step = document.getElementById('rotation_z').step = 10;
        } else if (document.getElementById('hlight').checked) {
          document.getElementById('rotation_x').value = hemisphereLight.position.x;
          document.getElementById('rotation_y').value = hemisphereLight.position.y;
          document.getElementById('rotation_z').value = hemisphereLight.position.z;
          document.getElementById('rotation_x').min = document.getElementById('rotation_y').min = document.getElementById('rotation_z').min = -100;
          document.getElementById('rotation_x').max = document.getElementById('rotation_y').max = document.getElementById('rotation_z').max = 100;
          document.getElementById('rotation_x').step = document.getElementById('rotation_y').step = document.getElementById('rotation_z').step = 5;
        } else {
          document.getElementById('rotation_x').value = parseInt(rot_x * 1000);
          document.getElementById('rotation_y').value = parseInt(rot_y * 1000);
          document.getElementById('rotation_z').value = parseInt(rot_z * 1000);
          document.getElementById('rotation_x').min = document.getElementById('rotation_y').min = document.getElementById('rotation_z').min = -50;
          document.getElementById('rotation_x').max = document.getElementById('rotation_y').max = document.getElementById('rotation_z').max = 50;
          document.getElementById('rotation_x').step = document.getElementById('rotation_y').step = document.getElementById('rotation_z').step = 1;
        }
      }

      function rot_x_changed() {
        let x = parseFloat(document.getElementById('rotation_x').value);

        if (document.getElementById('dlight').checked) {
          directionalLight.position.x = x;
        } else if (document.getElementById('slight').checked) {
          spotLight.position.x = x;
        } else if (document.getElementById('hlight').checked) {
          hemisphereLight.position.x = x;
        } else {
          rot_x = x / 1000;
        }
      }

      function rot_y_changed() {
        let y = parseFloat(document.getElementById('rotation_y').value);

        if (document.getElementById('dlight').checked) {
          directionalLight.position.y = y;
        } else if (document.getElementById('slight').checked) {
          spotLight.position.y = y;
        } else if (document.getElementById('hlight').checked) {
          hemisphereLight.position.y = y;
        } else {
          rot_y = y / 1000;
        }
      }

      function rot_z_changed() {
        let z = parseFloat(document.getElementById('rotation_z').value);

        if (document.getElementById('dlight').checked) {
          directionalLight.position.z = z;
        } else if (document.getElementById('slight').checked) {
          spotLight.position.z = z;
        } else if (document.getElementById('hlight').checked) {
          hemisphereLight.position.z = z;
        } else {
          rot_z = z / 1000;
        }
      }

      function init(){
        if (scene != null) {
          if (mesh.material) mesh.material.dispose();
					if (mesh.material && mesh.material.map) mesh.material.map.dispose();
					if (mesh.geometry) mesh.geometry.dispose();
          if (texture) { texture.dispose(); }
          if (gizmo) { gizmo.dispose(); }

          scene.remove.apply( scene, scene.children );

          if (shadowMesh) { shadowMesh = null; }

          // Reset all values
          reset_all( true );
        }

        enable_disable( true );

        selected_ply_file = null;
        selected_stl_file = null;
        texture_files_png = [];
        texture_files_jpg = [];
        texture_files_bmp = [];
        texture_files_gif = [];
        texture_files_dds = [];
        texture_files_tga = [];
        url_tga_loaded = false;
        edges = null;
        edges_visible = false;
        grid_visible = false;
        polar_grid_visible = false;
        render_requested = false;
        document.getElementById('btn_flat').style.backgroundColor = '#d1cefc';
        document.getElementById('btn_grid').style.backgroundColor = '#d1cefc';
        document.getElementById('btn_polar_grid').style.backgroundColor = '#d1cefc';

        if (!url_loading) {
          // Loaded file
          var fi = document.getElementById('file_input');

          // Include check for JPG/PNG/BMP/GIF, TGA and DDS (DirectDraw Surface container file format)
          for (let i = 0; i < fi.files.length; i++) {
            if (fi.files[i].name.toUpperCase().endsWith('.PLY')) { selected_ply_file = fi.files[i]; }
            else if (fi.files[i].name.toUpperCase().endsWith('.STL')) { selected_stl_file = fi.files[i]; }
            else if (fi.files[i].name.toUpperCase().endsWith('.PNG')) { texture_files_png.push( fi.files[i] ); }
            else if (fi.files[i].name.toUpperCase().endsWith('.JPG')) { texture_files_jpg.push( fi.files[i] ); }
            else if (fi.files[i].name.toUpperCase().endsWith('.BMP')) { texture_files_bmp.push( fi.files[i] ); }
            else if (fi.files[i].name.toUpperCase().endsWith('.GIF')) { texture_files_gif.push( fi.files[i] ); }
            else if (fi.files[i].name.toUpperCase().endsWith('.TGA')) { texture_files_tga.push( fi.files[i] ); }
            else if (fi.files[i].name.toUpperCase().endsWith('.DDS')) { texture_files_dds.push( fi.files[i] ); }
          };

          if (!selected_ply_file && !selected_stl_file) {
            console.log( 'No valid PLY/STL file selected!' );
            document.body.style.backgroundImage = "none";
            document.getElementById('div_spinner').style.display = "none";
            document.getElementById('div_error').style.display = "block";
            return;
          }

          selected_url_file = '';
        } else {
          // Reset the file input
          document.getElementById('file_input').value = '';
          url_loading = false;
        }

        document.body.style.backgroundImage = "none";
        document.getElementById('div_spinner').style.display = "none";
        document.getElementById('div_error').style.display = "none";
        enable_disable( false );

        if (renderer == undefined) {
          renderer = new THREE.WebGLRenderer({ canvas : document.getElementById('scene'), antialias: true, alpha: true });
          renderer.setPixelRatio( window.devicePixelRatio );
          renderer.setSize( ww, wh );
          renderer.shadowMap.enabled = true;
          renderer.shadowMap.type = THREE.PCFSoftShadowMap;
          renderer.setClearColor( 0xFFFFFF, 0); // Allow setting the background color
          renderer.autoClear = false;
        }

        // The following can be used instead of the canvas but the window mouse
        // events might be tricky to set due to the presence of the fixed menu.
        // Possibly use Orbit Controls instead.
        //document.body.appendChild( renderer.domElement );

        if (scene == undefined) { scene = new THREE.Scene(); }

        if (!events_initialized) { initialize_event_listeners(); events_initialized = true; }

        // Create a grid helper for use with Orbit Controls
        if (polar_grid == undefined) { polar_grid = new THREE.PolarGridHelper( 40, 10 ); }
        if (grid == undefined) { grid = new THREE.GridHelper( 200, 200, "yellow" ); }

        camera = new THREE.PerspectiveCamera( 45, ww/wh, 0.1, 2000 );
        camera.position.set( 0, 0, 250 );
        scene.add( camera );

        // Add AmbientLight to the scene
        ambientLight = new THREE.AmbientLight(0x000000, 0.05);
        ambientLight.position.set( 0, 0, 250 );
        scene.add( ambientLight );

        // Add HemisphereLight to the scene
        hemisphereLight = new THREE.HemisphereLight( 0x000000, 0x000000, 0.05 );
        hemisphereLight.position.set( 0, 10, 0 );
        scene.add( hemisphereLight );

        // The following provides a plane that can receive a shadow but is also a sort of
        // "liquid background" that an object will go through at a certain distance.
        // This plane is set in the background.
        shadowMaterial = new THREE.ShadowMaterial();
        shadowMaterial.opacity = 0.1;
        shadowMesh = new THREE.Mesh( new THREE.PlaneGeometry( ww, wh ), shadowMaterial );
        shadowMesh.position.set( 0, 0, -1500 );
        shadowMesh.scale.set( 2.5, 2.5, 1 );
        shadowMesh.receiveShadow = true;

        // Add SpotLight to the scene
        spotLight = new THREE.SpotLight( 0xFFFFFF, 0, 0, Math.PI/4 );
        spotLight.position.set( 150, -50, 350 );
        spotLight.target.position.set( 0, 0, -1500 );
        spotLight.castShadow = true;

        spotLight.shadow.mapSize.width = 1024;
        spotLight.shadow.mapSize.height = 1024;

        spotLight.shadow.camera.near = 10;
        spotLight.shadow.camera.far = 2000;
        spotLight.shadow.camera.fov = 10;

        scene.add( spotLight );
        scene.add( spotLight.target );

        // Add DirectionalLight to the camera (add it to the scene instead if not using Orbit Controls)
        directionalLight = new THREE.DirectionalLight( 0xFFFFFF, 1 );
        directionalLight.position.set( 0, 0, 250 );
        directionalLight.lookAt(new THREE.Vector3( 0, 0, 0 ));
        camera.add( directionalLight );

        controls = new THREE.OrbitControls(camera, renderer.domElement);
        controls.enableDamping = true;
        //controls.enableKeys = false;
        //controls.enableZoom = true;
        //controls.maxPolarAngle = 2.2;
        //controls.minPolarAngle = 1.1;
        //controls.dampingFactor = 0.1;
        //controls.rotateSpeed = 0.2;
        //controls.minDistance = 2;
        //controls.maxDistance = 500;

        gizmo = new OrbitControlsGizmo( controls, {
          size: 65,
          padding: 4,
          bubbleSizePrimary: 7,
          bubbleSizeSecondary: 3,
          lineWidth: 1,
          fontSize: "8px",
          fontColor: "black",
          fontWeight: "bold"
        });

        document.getElementById('axes').appendChild( gizmo.domElement );

        render_requested = true;
        render();

        // Load the ply file
        loadFile();
      }

      function loadFile(){
        // Launch loading of the selected file, addFileInScene is the callback when it's ready
        if (selected_ply_file) {
          ply_loader.load( URL.createObjectURL( selected_ply_file ), addFileInScene, function( xhr ) {
            let today = new Date();
            let time = today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds() + '.' + today.getMilliseconds();

            if (xhr.loaded == 0 && xhr.total == 0) {
              console.log( 'PLY 0% loaded - ' + time );
            } else {
              console.log( 'PLY ' + parseInt(( xhr.loaded / xhr.total * 100 )) + '% loaded - ' + time );
            }
          }, function ( error ) {
            console.log( 'Error loading PLY!' );
            console.log( error );
            render_requested = false;
            enable_disable( true );
            if (gizmo) { gizmo.dispose(); }
            document.getElementById('div_error').style.display = "block";
          });
        } else if (selected_stl_file) {
          stl_loader.load( URL.createObjectURL( selected_stl_file ), addFileInScene, function( xhr ) {
            let today = new Date();
            let time = today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds() + '.' + today.getMilliseconds();

            if (xhr.loaded == 0 && xhr.total == 0) {
              console.log( 'STL 0% loaded - ' + time );
            } else {
              console.log( 'STL ' + parseInt(( xhr.loaded / xhr.total * 100 )) + '% loaded - ' + time );
            }
          }, function ( error ) {
            console.log( 'Error loading STL!' );
            console.log( error );
            render_requested = false;
            enable_disable( true );
            if (gizmo) { gizmo.dispose(); }
            document.getElementById('div_error').style.display = "block";
          });
        } else {
          loadURLFile();
        }
      }

      function addFileInScene( object ) {
        let smooth = object.clone();

        if (selected_ply_file) {
          URL.revokeObjectURL( selected_ply_file );

          smooth.mergeVertices();
          smooth.computeVertexNormals();

          if (texture_files_jpg.length > 0) {
            texture = texture_loader.load( URL.createObjectURL( texture_files_jpg[0] ));
            URL.revokeObjectURL( texture_files_jpg[0] );

            material = new THREE.MeshPhongMaterial( {
              side: THREE.DoubleSide,
              map: texture,
              fog: false,
              shininess: 100,
              opacity: 1,
              transparent: true,
              skinning: true,
              vertexColors: THREE.VertexColors
            });
          } else if (texture_files_png.length > 0) {
            texture = texture_loader.load( URL.createObjectURL( texture_files_png[0] ));
            URL.revokeObjectURL( texture_files_png[0] );

            material = new THREE.MeshPhongMaterial( {
              side: THREE.DoubleSide,
              map: texture,
              fog: false,
              shininess: 100,
              opacity: 1,
              transparent: true,
              skinning: true,
              vertexColors: THREE.VertexColors
            });
          } else if (texture_files_bmp.length > 0) {
            texture = texture_loader.load( URL.createObjectURL( texture_files_bmp[0] ));
            URL.revokeObjectURL( texture_files_bmp[0] );

            material = new THREE.MeshPhongMaterial( {
              side: THREE.DoubleSide,
              map: texture,
              fog: false,
              shininess: 100,
              opacity: 1,
              transparent: true,
              skinning: true,
              vertexColors: THREE.VertexColors
            });
          } else if (texture_files_gif.length > 0) {
            texture = texture_loader.load( URL.createObjectURL( texture_files_gif[0] ));
            URL.revokeObjectURL( texture_files_gif[0] );

            material = new THREE.MeshPhongMaterial( {
              side: THREE.DoubleSide,
              map: texture,
              fog: false,
              shininess: 100,
              opacity: 1,
              transparent: true,
              skinning: true,
              vertexColors: THREE.VertexColors
            });
          } else if (texture_files_tga.length > 0) {
            texture = tga_loader.load( URL.createObjectURL( texture_files_tga[0] ));
            URL.revokeObjectURL( texture_files_tga[0] );

            material = new THREE.MeshPhongMaterial( {
              side: THREE.DoubleSide,
              map: texture,
              fog: false,
              shininess: 100,
              opacity: 1,
              transparent: true,
              skinning: true,
              vertexColors: THREE.VertexColors
            });

            material.map.generateMipmaps = true;
            material.map.flipY = true;
          } else if (texture_files_dds.length > 0) {
            texture = dds_loader.load( URL.createObjectURL( texture_files_dds[0] ));
            URL.revokeObjectURL( texture_files_dds[0] );

            material = new THREE.MeshStandardMaterial( {
              side: THREE.DoubleSide,
              map: texture,
              fog: false,
              opacity: 1,
              transparent: true,
              skinning: true,
              vertexColors: THREE.VertexColors
            });
          } else {
            material = new THREE.MeshPhongMaterial( {
              side: THREE.DoubleSide,
              polygonOffset: true,
              polygonOffsetFactor: 1,
              polygonOffsetUnits: 1,
              color: 0xFFFFFF,
              specular: 0x111111,
              shininess: 100,
              opacity: 1,
              transparent: true,
              skinning: true,
              vertexColors: THREE.VertexColors
            });
          }
        } else {
          URL.revokeObjectURL( selected_stl_file );

          smooth.deleteAttribute('normal');
          smooth.deleteAttribute('uv');
          smooth = THREE.BufferGeometryUtils.mergeVertices( smooth );
          smooth.computeVertexNormals();

          if (object.hasColors) {
            material = new THREE.MeshPhongMaterial( {
              side: THREE.DoubleSide,
              polygonOffset: true,
              polygonOffsetFactor: 1,
              polygonOffsetUnits: 1,
              color: 0xFFFFFF,
              specular: 0x111111,
              shininess: 100,
              opacity: 1,
              transparent: true,
              skinning: true,
              vertexColors: THREE.VertexColors
            });
          } else {
            material = new THREE.MeshPhongMaterial( {
              side: THREE.DoubleSide,
              color: 0xFFFFFF,
              shininess: 100,
              opacity: 1,
              transparent: true,
              skinning: true,
            });

            document.getElementById('directional_light_intensity').value = 0.75;
            set_directional_light_intensity();
          }
        }

        mesh = new THREE.Mesh( smooth, material );
        mesh.castShadow = true;
        mesh.receiveShadow = false;

        edges = new THREE.LineSegments( new THREE.EdgesGeometry( mesh.geometry, 30 ), new THREE.LineBasicMaterial( { color: 0xA52A2A } ) );

        // Add mesh to the scene
        scene.add( mesh );
        camera.lookAt( mesh.position );

        set_initial_scale();
        resize();
      }

      function loadURLFile() {
        if (selected_url_file != '') {
          // Launch loading of the selected file, addURLFileInScene is the callback when it's ready
          if (selected_url_file.toUpperCase().endsWith('.PLY')) {
            ply_loader.load( selected_url_file, addURLFileInScene, function( xhr ) {
              let today = new Date();
              let time = today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds() + '.' + today.getMilliseconds();

              if (xhr.loaded == 0 && xhr.total == 0) {
                console.log( 'URL PLY 0% loaded - ' + time );
              } else {
                console.log( 'URL PLY ' + parseInt(( xhr.loaded / xhr.total * 100 )) + '% loaded - ' + time );
              }
            }, function ( error ) {
              console.log( 'Error loading URL PLY!' );
              console.log( error );
              render_requested = false;
              enable_disable( true );
              if (gizmo) { gizmo.dispose(); }
              document.getElementById('div_error').style.display = "block";
            });
          } else if (selected_url_file.toUpperCase().endsWith('.STL')) {
            stl_loader.load( selected_url_file, addURLFileInScene, function( xhr ) {
              let today = new Date();
              let time = today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds() + '.' + today.getMilliseconds();

              if (xhr.loaded == 0 && xhr.total == 0) {
                console.log( 'URL STL 0% loaded - ' + time );
              } else {
                console.log( 'URL STL ' + parseInt(( xhr.loaded / xhr.total * 100 )) + '% loaded - ' + time );
              }
            }, function ( error ) {
              console.log( 'Error loading URL STL!' );
              console.log( error );
              render_requested = false;
              enable_disable( true );
              if (gizmo) { gizmo.dispose(); }
              document.getElementById('div_error').style.display = "block";
            });
          } else {
            console.log('Unsupported URL file!');
            render_requested = false;
            enable_disable( true );
            if (gizmo) { gizmo.dispose(); }
            document.getElementById('div_error').style.display = "block";
          }
        }
      }

      function addURLFileInScene( object ){
        let smooth = object.clone();

        if (selected_url_file.toUpperCase().endsWith('.PLY')) {
          smooth.mergeVertices();
          smooth.computeVertexNormals();

          material = new THREE.MeshPhongMaterial( {
            side: THREE.DoubleSide,
            polygonOffset: true,
            polygonOffsetFactor: 1,
            polygonOffsetUnits: 1,
            color: 0xFFFFFF,
            specular: 0x111111,
            shininess: 100,
            opacity: 1,
            transparent: true,
            skinning: true,
            vertexColors: THREE.VertexColors,
          });
        } else {
          smooth.deleteAttribute('normal');
          smooth.deleteAttribute('uv');
          smooth = THREE.BufferGeometryUtils.mergeVertices( smooth );
          smooth.computeVertexNormals();

          if (object.hasColors) {
            material = new THREE.MeshPhongMaterial( {
              side: THREE.DoubleSide,
              polygonOffset: true,
              polygonOffsetFactor: 1,
              polygonOffsetUnits: 1,
              color: 0xFFFFFF,
              specular: 0x111111,
              shininess: 100,
              opacity: 1,
              transparent: true,
              skinning: true,
              vertexColors: THREE.VertexColors,
            });
          } else {
            material = new THREE.MeshPhongMaterial( {
              side: THREE.DoubleSide,
              color: 0xFFFFFF,
              shininess: 100,
              opacity: 1,
              transparent: true,
              skinning: true,
            });

            document.getElementById('directional_light_intensity').value = 0.75;
            set_directional_light_intensity();
          }
        }

        mesh = new THREE.Mesh( smooth, material );
        mesh.castShadow = true;
        mesh.receiveShadow = false;

        edges = new THREE.LineSegments( new THREE.EdgesGeometry( mesh.geometry, 30 ), new THREE.LineBasicMaterial( { color: 0xA52A2A } ) );

        // Add mesh to the scene
        scene.add( mesh );
        camera.lookAt( mesh.position );

        set_initial_scale();
        resize();
      }

      function show_polar_grid() {
        if (polar_grid_visible) {
          scene.remove( polar_grid );
          polar_grid_visible = false;
          document.getElementById('btn_polar_grid').style.backgroundColor = '#d1cefc';
          document.getElementById('btn_grid').disabled = false;
        } else {
          set_polar_grid_y();
          scene.add( polar_grid );
          polar_grid_visible = true;
          document.getElementById('btn_polar_grid').style.backgroundColor = 'lightgreen';
          document.getElementById('btn_grid').disabled = true;
        }
      }

      function show_grid() {
        if (grid_visible) {
          scene.remove( grid );
          grid_visible = false;
          document.getElementById('btn_grid').style.backgroundColor = '#d1cefc';
          document.getElementById('btn_polar_grid').disabled = false;
        } else {
          set_grid_y();
          scene.add( grid );
          grid_visible = true;
          document.getElementById('btn_grid').style.backgroundColor = 'lightgreen';
          document.getElementById('btn_polar_grid').disabled = true;
        }
      }

      function set_polar_grid_y() {
        bounding_box.setFromObject( mesh );
        polar_grid.position.y = bounding_box.min.y;
      }

      function set_grid_y() {
        bounding_box.setFromObject( mesh );
        grid.position.y = bounding_box.min.y;
      }

      function show_edges() {
        if (edges_visible) {
          mesh.remove( edges );
          edges_visible = false;
          document.getElementById('btn_edges').style.backgroundColor = '#d1cefc';
        } else {
          mesh.add( edges );
          edges_visible = true;
          document.getElementById('btn_edges').style.backgroundColor = 'lightgreen';
        }
      }

      function show_wireframe() {
        // Go through all children of the loaded object and search for a Mesh
        mesh.traverse( function ( child ) {
          // This allow us to check if the children is an instance of the Mesh constructor
    	    if(child instanceof THREE.Mesh){
            child.material.wireframe = document.getElementById('wireframe').checked;
    		  }
    	  });
      }

      function show_shadow() {
        if (document.getElementById('shadow').checked) {
          scene.add( shadowMesh );
          shadowMaterial.opacity = document.getElementById('ply_opacity').value * document.getElementById('spot_light_intensity').value;
        } else {
          scene.remove( shadowMesh );
        }
      }

      function set_flat() {
        // Go through all children of the loaded object and search for a Mesh
        mesh.traverse( function( child ) {
          // This will allow us to check if the child is an instance of the Mesh constructor
    	    if (child instanceof THREE.Mesh) {
            child.material.flatShading = !child.material.flatShading;
            child.material.needsUpdate = true;
            if (child.material.flatShading) {
              document.getElementById('btn_flat').style.backgroundColor = 'lightgreen';
            } else {
              document.getElementById('btn_flat').style.backgroundColor = '#d1cefc';
            }
    		  }
    	  });
      }

      function render() {
        if (render_requested) { requestAnimationFrame( render ); }

        if (mesh) {
          // Reset mesh rotational values
          if (reset_rotation) {
            mesh.rotation.set( 0, 0, 0 );
            reset_rotation = false;
          }

          // Rotate the mesh
          if (!mouse_rotation && (rot_x != 0 || rot_y != 0 || rot_z != 0)) {
            mesh.rotation.x += rot_x;
            mesh.rotation.y += rot_y;
            mesh.rotation.z += rot_z;

            if (Math.abs(mesh.rotation.x) > 2 * Math.PI ) { mesh.rotation.x = 0; }
            if (Math.abs(mesh.rotation.y) > 2 * Math.PI ) { mesh.rotation.y = 0; }
            if (Math.abs(mesh.rotation.z) > 2 * Math.PI ) { mesh.rotation.z = 0; }
          }

          controls.update();
          if (gizmo) { gizmo.update(); }

          renderer.clear();
        	renderer.render( scene, camera );
        }
      }

      function reset_only() {
        if (polar_grid_visible) {show_polar_grid(); }
        if (grid_visible) { show_grid(); }

        if (mesh.material) mesh.material.dispose();
				if (mesh.material && mesh.material.map) mesh.material.map.dispose();
				if (mesh.geometry) mesh.geometry.dispose();

        scene.remove( mesh );

        reset_all( true );

        loadFile();
      }

      function reset_all( reset = false ) {
        // Reset all current rotational values
        document.getElementById('rotation_x').value = 0;
        document.getElementById('rotation_y').value = 0;
        document.getElementById('rotation_z').value = 0;
        rot_x = 0;
        rot_y = 0;
        rot_z = 0;

        // Reset the background and related values
        document.getElementById('file_image_input').value = "";
        document.getElementById('back_color').value = "0x000000";
        document.getElementById('ambient_light_color').value = "0x000000";
        document.getElementById('hemisphere_light_color').value = "0x000000";
        document.getElementById('spot_light_color').value = "0x000000";
        document.getElementById('spot_light_intensity').value = 0;
        document.getElementById('directional_light_intensity').value = 1;

        // Reset the radio inputs
        document.getElementById('rotate').checked = true;
        document.getElementById('dlight').checked = false;
        document.getElementById('slight').checked = false;
        document.getElementById('hlight').checked = false;
        radio_changed();

        // Reset the ply opacity and scale values
        document.getElementById('ply_opacity').value = 1;
        document.getElementById('ply_scale').value = 1;
        previous_ply_scale = '1';

        // Reset the wireframe, shadow and scale_10x checkboxes
        document.getElementById('wireframe').checked = false;
        document.getElementById('shadow').checked = false;
        document.getElementById('scale_10x').checked = false;

        // Reset flat and edges related values
        document.getElementById('btn_flat').style.backgroundColor = '#d1cefc';
        edges_visible = false;
        document.getElementById('btn_edges').style.backgroundColor = '#d1cefc';

        reset_rotation = true;

        // Reset the view
        if (reset) {
          controls.reset();
          if (mesh) mesh.position.set( 0, 0, 0 );
          hemisphereLight.position.set( 0, 10, 0 );
          spotLight.position.set( 150, -50, 350 );
          directionalLight.position.set( 0, 0, 250 );
          set_scene_image();
          show_wireframe();
          show_shadow();
          set_back_color();
          set_ambient_light_color();
          set_hemisphere_light_color();
          set_spot_light_color();
          set_spot_light_intensity();
          set_directional_light_intensity();
        }

        if (!reset) {
          // Page (re)loading so reset the file input, spinner, error, URL entry and disable controls
          document.getElementById('file_input').value = "";
          document.getElementById('div_spinner').style.display = "block";
          document.getElementById('div_error').style.display = "none";
          document.getElementById('url_entry').value = '';
          selected_url_file = '';
          enable_disable( true );
        }
      }

      function enable_disable( disable = false ) {
        document.getElementById('file_image_input').disabled = disable;
        document.getElementById('hlight').disabled = disable;
        document.getElementById('slight').disabled = disable;
        document.getElementById('dlight').disabled = disable;
        document.getElementById('rotate').disabled = disable;
        document.getElementById('rotation_x').disabled = disable;
        document.getElementById('rotation_y').disabled = disable;
        document.getElementById('rotation_z').disabled = disable;
        document.getElementById('wireframe').disabled = disable;
        document.getElementById('shadow').disabled = disable;
        document.getElementById('scale_10x').disabled = disable;
        document.getElementById('ply_scale').disabled = disable;
        document.getElementById('ply_opacity').disabled = disable;
        document.getElementById('ambient_light_color').disabled = disable;
        document.getElementById('hemisphere_light_color').disabled = disable;
        document.getElementById('spot_light_color').disabled = disable;
        document.getElementById('spot_light_intensity').disabled = disable;
        document.getElementById('directional_light_intensity').disabled = disable;
        document.getElementById('back_color').disabled = disable;
        document.getElementById('btn_edges').disabled = disable;
        document.getElementById('btn_flat').disabled = disable;
        document.getElementById('btn_polar_grid').disabled = disable;
        document.getElementById('btn_grid').disabled = disable;
        document.getElementById('btn_gltf_export').disabled = disable;
        document.getElementById('btn_glb_export').disabled = disable;
        document.getElementById('reset').disabled = disable;
      }
    </script>
  </body>
</html>