<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SPLAT (3D Gaussian Splatting) Viewer">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon"/>

    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.10.0/dist/es-module-shims.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.178.0/build/three.module.min.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.178.0/examples/jsm/",
          "three/examples/jsm/postprocessing/Pass": "https://cdn.jsdelivr.net/npm/three@0.178.0/examples/jsm/postprocessing/Pass.min.js",
          "three/examples/jsm/utils/BufferGeometryUtils": "https://cdn.jsdelivr.net/npm/three@0.178.0/examples/jsm/utils/BufferGeometryUtils.min.js",
          "@monogrid/gainmap-js/decode": "https://cdn.jsdelivr.net/npm/@monogrid/gainmap-js@3.0.6/dist/decode.min.js",
          "@lumaai/luma-web": "https://cdn.jsdelivr.net/npm/@lumaai/luma-web@0.2.2/dist/library/luma-web.module.min.js"
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>
    <script src="../static/js/pako/dist/pako.min.js" defer></script>
    <script src="../static/js/upng/UPNG.min.js" defer></script>

    <script>
      var splat_loader, splat, splats, manager, texture_loader, hdrJPGLoader, tex;
      var THREE, controls, orb_controls, renderer, scene, camera, render_requested;
      var xr_controller, controller, controllerGrip1, controllerGrip2, vr_button;
      var mouse_down, mouse_wheel, events_initialized, isMobile, isNewiPad;
      var gui, gui_set = false, guiExposure, params, toneMappingOptions;
      var ww = window.innerWidth, wh = window.innerHeight, slider_height = 0;
      var bounding_box, filename = '', gif_export, bgnd_linear_gradient;
      var selected_local_file, selected_url_file = '', reset_rotation;
      var first_run = false, fr_count = 0, count = 0, equi_enabled;
      var url_displayed = false, url_loading = false, menu_location_bottom = false;

      const pw = "<span style='color:red'>" + "Please Wait" + "</span>";
    </script>

    <script type="module">
      import * as three_js from "three";
      import { GUI } from "three/addons/libs/lil-gui.module.min.js";
      import { OrbitControls } from "three/addons/controls/OrbitControls.min.js";
      import { VRButton } from "three/addons/webxr/VRButton.min.js";
      import { XRControllerModelFactory } from 'three/addons/webxr/XRControllerModelFactory.min.js';
      import { Splat, SplatLoader } from "https://cdn.jsdelivr.net/npm/@pmndrs/vanilla@1.21.0/core/Splat.min.js";

      THREE = three_js;
      vr_button = VRButton;
      xr_controller = XRControllerModelFactory;

      manager = new THREE.LoadingManager();
      manager.onLoad = function() { mouse_wheel = true; }

      texture_loader = new THREE.TextureLoader( manager );

      gui = new GUI( { autoPlace: false, container: document.getElementById("gui_position") } );
      set_gui_position();

      orb_controls = OrbitControls;
      splat_loader = SplatLoader;
      splat = Splat;
    </script>

    <style>
      body, html {
        backdrop-filter: blur(10px);
        position: relative;
        display: block;
        background-color: black;
        background-image: url( '../../images/DragonFly.webp' ), url( '../../images/DragonFly.png' );
        background-image: -webkit-image-set( url( '../../images/DragonFly.webp' ), url( '../../images/DragonFly.png' ) );
        background-position: calc(50vw - 115px) calc(50vh - 115px);
        background-repeat: no-repeat;
        width: 100%;
        min-height: 100vh;
        border: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }

      button {
        background-color: transparent;
        border: 1px solid blue;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
        vertical-align: middle;
        margin: 2px 2px 2px 0;
        min-width: 22px;
        height: 22px;
        padding: 1px;
      }

      label {
        vertical-align: middle;
        height: 22px;
        margin: 2px 0 2px 0;
      }

      input[type=file] {
        vertical-align: middle;
        margin: 2px 0 2px 0;
        max-width: 160px;
      }

      input[type=text] {
        vertical-align: middle;
        margin: 2px 2px 2px 0;
      }

      select {
        vertical-align: middle;
        border: 1px solid blue;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background: none;
        min-width: 72px;
        height: 22px;
        color: blue;
      }

      .gif_rectangle {
        background-color: transparent;
        border: 1px solid blue;
        left: calc(50% - 252px);
        top: calc(50% - 252px);
        position: absolute;
        display: none;
        height: 500px;
        width: 500px;
        z-index: 1;
      }

      .spinner {
        background-color: transparent;
        position: absolute;
        display: block;
        width: 240px;
        height: 240px;
        padding: 4px;
        top: calc(50% - 130px);
        left: calc(50% - 130px);
        border: 6px solid blue;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border-top-color: lightblue;
        border-bottom-color: lightblue;
        -webkit-animation: spin 8s ease-in-out infinite;
        animation: spin 8s ease-in-out infinite;
      }

      @-webkit-keyframes spin { to { -webkit-transform: rotate( 360deg ); } }
      @keyframes spin { to { transform: rotate( 360deg ); } }

      .error_msg {
        background-color: transparent;
        position: absolute;
        text-align: center;
        font-size: x-large;
        display: none;
        color: red;
        width: 50vw;
        height: 50vh;
        top: 50vh;
        left: 25vw;
        padding: 10px;
        border: none;
      }

      .loading_msg {
        background-color: transparent;
        color: greenyellow;
        position: absolute;
        text-align: center;
        font-size: x-large;
        display: none;
        width: 50vw;
        height: 50vh;
        top: 50vh;
        left: 25vw;
        padding: 10px;
        border: none;
      }

      p.full_screen {
        text-align: center;
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAf0lEQVRIie1VQQ6AMAjb/x9M4IRePICoK7GLB5eQbElpCTAY7j6YRiUPAvvxbNMkN76XIDhSRKCdjhmB494hzzwngcoBIa/eASgisMgTBo4ODqCTAiSFrW6Biv8LfL/I1DbtfDRV9VLgjVFhZp59A4g+7JaM6yULh7IyWUYX2AAPDxz26GjX+gAAAABJRU5ErkJggg==);
        margin: 1px 1px 1px 2px;
        padding: 0;
        width: 15px;
        height: 15px;
      }

      #gui_position {
        position: absolute;
        display: none;
        min-width: 200px;
        border: 1px solid navy;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        min-height: 22px;
        margin-left: 2px;
      }

      .fm {
        color: navy;
        width: calc(100% - 12px);
        border: 1px solid navy;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        padding: 4px;
        margin: 1px;
      }

      .fixed-menu {
        background-color: whitesmoke;
        display: inline-block;
        position: fixed;
        padding: 1px;
        width: 100%;
        z-index: 1;
        margin: 0;
      }

      #progress {
        width: 99.5%;
        height: 2px;
        margin-left: 3px;
        margin-right: 3px;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    </style>

    <!-- Using three.js library: https://github.com/mrdoob/three.js -->
    <!-- Using @pmndrs/drei-vanilla Library from: https://github.com/pmndrs/drei-vanilla#splat -->
    <!-- A declarative abstraction around antimatter15/splat from: https://github.com/antimatter15/splat -->
    <!-- Using Luma WebGL Library from: https://lumalabs.ai/luma-web-library -->
    <!-- Animated PNG file export support powered by: -->
    <!--   https://github.com/photopea/UPNG.js -->
    <!--   https://github.com/nodeca/pako -->

    <!-- mouse_wheel variable is used throughout as a trigger for rendering -->

    <title>SPLAT Viewer (r178)</title>
  </head>
  <body onload="reset_all(); document_ready(); disabled_changed();" onresize="resize();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm">
        <button title="URL of the remote splat" id="btn_url" onclick="show_url();" style="min-width: 34px;">URL</button>
        <input type="file" title="Browse Local Files" id="file_input" onchange="init();" accept=".splat" />
        <button title="Reset" id="reset" onclick="reset_only();" style="color: maroon; min-width: 34px;" disabled>RST</button>
        <button title="Toggle Full Screen" id="btn_full_screen" onclick="full_screen();" style="min-width: 24px;"><p class="full_screen"></p></button>
        <button title="Switch Menu Location" id="btn_menu_location" onclick="change_menu_location();" style="min-width: 16px;">&#x2193</button>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry" title="Remote URL"></label>
        <input type="text" id="url_entry" value="" style="width: calc(75% - 12px);" />
        <button title="Load" id="btn_load" onclick="load_url_file();" style="min-width: 8.5%;">Load</button>
        <button title="Clear" id="btn_clear" onclick="clear_url();" style="min-width: 8.5%;">Clear</button>
      </div>
      <div class="fm">
        <button title="Toggle Equirectangular Background" id="btn_equi" onclick="set_equi();" style="background-color: transparent; color: blue; min-width: 25px;" disabled>Eq</button>
        <button title="Toggle Gradient Color Background" id="btn_bgnd_linear_gradient" onclick="set_bgnd_linear_gradient();" style="color: blue;" disabled>G</button>
        <select title="Quick XYZ Rotation" id="quick_rotation" disabled>
          <option title="Quick XYZ Rotation" value="" selected disabled>Rotate</option>
          <option title="Rotate 180x" value="180x" onclick="quick_x_rotation( '1' );">180x</option>
          <option title="Rotate 90x" value="90x" onclick="quick_x_rotation( '0.5' );">90x</option>
          <option title="Rotate -90x" value="-90x" onclick="quick_x_rotation( '-0.5' );">-90x</option>
          <option title="Rotate 180y" value="180y" onclick="quick_y_rotation( '1' );">180y</option>
          <option title="Rotate 90y" value="90y" onclick="quick_y_rotation( '0.5' );">90y</option>
          <option title="Rotate -90y" value="-90y" onclick="quick_y_rotation( '-0.5' );">-90y</option>
          <option title="Rotate 180z" value="180z" onclick="quick_z_rotation( '1' );">180z</option>
          <option title="Rotate 90z" value="90z" onclick="quick_z_rotation( '0.5' );">90z</option>
          <option title="Rotate -90z" value="-90z" onclick="quick_z_rotation( '-0.5' );">-90z</option>
        </select>
        <select title="Scale" id="model_scale" disabled>
          <option title="Model Scale" value="model_scale" selected disabled>Scale</option>
          <option title="Scale 0.05x" value="0.05x" onclick="set_model_scale( '0.05x' );">0.05x</option>
          <option title="Scale 0.1x" value="0.1x" onclick="set_model_scale( '0.1x' );">0.1x</option>
          <option title="Scale 0.2x" value="0.2x" onclick="set_model_scale( '0.2x' );">0.2x</option>
          <option title="Scale 0.5x" value="0.5x" onclick="set_model_scale( '0.5x' );">0.5x</option>
          <option title="Scale 2x" value="2x" onclick="set_model_scale( '2x' );">2x</option>
          <option title="Scale 5x" value="5x" onclick="set_model_scale( '5x' );">5x</option>
          <option title="Scale 10x" value="10x" onclick="set_model_scale( '10x' );">10x</option>
          <option title="Scale 20x" value="20x" onclick="set_model_scale( '20x' );">20x</option>
        </select>
        <select title="Export" id="export_names" disabled>
          <option value="" selected disabled>Export</option>
          <option title="APNG - Animated PNG" value="apng" onclick="export_animated_png();">APNG</option>
        </select>
      </div>
    </div>
    <div id="gui_position"></div>
    <div id="animation_progress" style="display: none; background-color: whitesmoke; border: none;">
      <progress id="progress" value="0" max="1"></progress>
    </div>

    <div id="div_spinner" class="spinner"></div>
    <div id="div_error" class="error_msg">E R R O R !</div>
    <div id="div_loading" class="loading_msg">Loading</div>
    <div id="div_gif_rectangle" class="gif_rectangle"></div>

    <script>
      function return_false() { return false; }

      function set_gui_position() {
        if (menu_location_bottom === false) {
          let fixed_menu_bottom = ( parseInt( $('#fixed_menu').outerHeight( true ) ) + 2 ).toString() + 'px';
          document.getElementById('gui_position').style.marginTop = fixed_menu_bottom;
        } else {
          document.getElementById('gui_position').style.marginTop = '2px';
        }

        mouse_wheel = true;
      }

      function show_url() {
        if (url_displayed === true) {
          document.getElementById('url').style.display = 'none';
          document.getElementById('btn_url').style.backgroundColor = 'transparent';
          url_displayed = false;
        } else {
          document.getElementById('url').style.display = 'block';
          document.getElementById('btn_url').style.backgroundColor = 'lightgreen';
          url_displayed = true;
        }

        if (gui) set_gui_position();

        mouse_wheel = true;
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url !== '') { selected_url_file = url; url_loading = true; init(); }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function initialize_event_listeners() {
        const arrow_keys = [ 'ArrowUp', 'ArrowDown', 'ArrowRight', 'ArrowLeft' ];

        window.addEventListener( 'pointerdown', ( event ) => { if (progress.value === 0) mouse_down = true; }, false);
        window.addEventListener( 'pointerup', ( event ) => { mouse_down = false; }, false);
        window.addEventListener( 'wheel', ( event ) => { if (progress.value === 0) mouse_wheel = true; }, false);
        window.addEventListener( 'keydown', ( event ) => {
          if (progress.value === 0) {
            if (arrow_keys.some( k => k === event.key ) || event.ctrlKey || event.metaKey || event.shiftKey) {
              controls.listenToKeyEvents( window );
              mouse_wheel = true;
            }
          }
        }, false);
        window.addEventListener( 'keyup', ( event ) => {
          if (progress.value === 0) {
            if (arrow_keys.some( k => k === event.key )) {
              controls.stopListenToKeyEvents();
              mouse_wheel = false;
            }
          }
        }, false);
      }

      function resize() {
        if (window.fullScreen || document.fullscreenElement || document.mozFullScreenElement ||
          document.msFullscreenElement || document.webkitFullscreenElement) {

          document.getElementById('btn_full_screen').style.backgroundColor = '#FFFF00';
        } else {
          document.getElementById('btn_full_screen').style.backgroundColor = 'transparent';
        }

        if (scene !== undefined) {
          mouse_wheel = true;

          renderer.setSize( window.innerWidth, window.innerHeight );

          camera.aspect = window.innerWidth / window.innerHeight;
          camera.updateProjectionMatrix();

          ww = window.innerWidth;
          wh = window.innerHeight;

          if (gui) set_gui_position();

          mouse_wheel = true;
        }
      }

      function full_screen() {
        if (document.fullscreenEnabled) {
          document.fullscreenElement ? document.exitFullscreen() : document.body.requestFullscreen();
        } else if (document.mozFullScreenEnabled) {
          document.mozFullScreenElement ? document.mozCancelFullScreen() : document.body.mozRequestFullScreen();
        } else if (document.msFullscreenEnabled) {
          document.msFullscreenElement ? document.msExitFullscreen() : document.body.msRequestFullscreen();
        } else if (document.webkitFullscreenEnabled) {
          document.webkitFullscreenElement ? document.webkitExitFullscreen() : document.body.webkitRequestFullscreen();
        } else if (window.fullScreen) {
          // Do nothing. This fullscreen mode was triggered with F11 key press and requires the same again.
        }
      }

      function change_menu_location() {
        if (menu_location_bottom === true) {
          menu_location_bottom = false;
          document.getElementById('fixed_menu').style.top = 0;
          document.getElementById('fixed_menu').style.bottom = '';
          document.getElementById('btn_menu_location').innerHTML = '&#x2193';
          document.getElementById('btn_menu_location').style.backgroundColor = 'transparent';
        } else {
          menu_location_bottom = true;
          document.getElementById('fixed_menu').style.top = '';
          document.getElementById('fixed_menu').style.bottom = 0;
          document.getElementById('btn_menu_location').innerHTML = '&#x2191';
          document.getElementById('btn_menu_location').style.backgroundColor = '#FFFF00';
        }

        if (gui) set_gui_position();

        mouse_wheel = true;
      }
    </script>

    <script>
      function set_filename() {
        if (selected_local_file !== null) {
          let slf_name = selected_local_file.name;
          filename = (slf_name.substring( slf_name.lastIndexOf('/') + 1, slf_name.lastIndexOf('.') )).trim();
        } else {
          filename = (selected_url_file.substring( selected_url_file.lastIndexOf('/') + 1, selected_url_file.lastIndexOf('.') )).trim();
        }

        if (!filename || filename === '') {
          filename = 'Model';
        } else {
          filename = filename.replaceAll( '%20', ' ' );
        }
      }

      async function export_animated_png() {
        document.getElementById('export_names').selectedIndex = 0;

        set_filename();

        // Generate

        let fx = Math.ceil( ( renderer.domElement.width - 500 ) / 2.0 );
        let fy = Math.ceil( ( renderer.domElement.height - 500 ) / 2.0 );

        let frames_count = 126;
        let delay = 75;
        let png_frames = [];

        await generateAPNG( render, frames_count, fx, fy, png_frames, delay );
      }

      function generateAPNG( renderFunction, frames, frame_x, frame_y, png_frames, delay ) {
        let link = document.createElement( 'a' );
        let canvas;

        if (navigator.userAgent.indexOf('Safari') !== -1) {
          canvas = document.createElement( 'canvas' );
          canvas.width = 500;
          canvas.height = 500;
        } else {
          canvas = new OffscreenCanvas( 500, 500 );
        }

        let context = canvas.getContext( '2d', { willReadFrequently: true } );

        let frame_delay = [];
        let before_last = frames - 2;
        let current = 0;

        async function addFrame() {
          if (current <= frames) {
            if (current === 1) {
              // Skip the first frame since it might be all zeros due to rendering
              // Set the progress value and trigger rendering
              progress.value = current / frames;
              renderFunction();

              setTimeout( addFrame, 10 );
            } else if (current > 0) {
              context.clearRect( 0, 0, 500, 500 );

              renderFunction();

              context.drawImage( renderer.domElement, frame_x, frame_y, 500, 500, 0, 0, 500, 500 );
              png_frames.push( context.getImageData( 0, 0, 500, 500 ).data );
              frame_delay.push( delay );

              progress.value = current / frames;

              if (current === before_last) {
                document.getElementById('div_loading').innerHTML = pw;
                document.getElementById('div_loading').style.display = 'block';
              }

              setTimeout( addFrame, 0 );
            } else {
              document.getElementById('fixed_menu').style.display = 'none';
              document.getElementById('animation_progress').style.display = 'block';
              document.getElementById('div_gif_rectangle').style.display = 'block';

              if (gui_set === true && equi_enabled === true) document.getElementById('gui_position').style.display = 'none';

              setTimeout( addFrame, 100 );
            }
          } else {
            // Download

            // For Lossy PNG consider replacing 0 with 256
            let apng = await UPNG.encode( png_frames, 500, 500, 0, frame_delay );

            document.getElementById('div_loading').innerHTML = '';
            document.getElementById('div_loading').style.display = 'none';

            context = null;
            canvas = null;

            let blob = new Blob( [ new Uint8Array( apng ) ], { type: 'image/png' } );
            link.href = URL.createObjectURL( blob );
            link.download = filename + '.png';
            link.click();

            progress.value = 0;
            document.getElementById('fixed_menu').style.display = 'block';
            document.getElementById('animation_progress').style.display = 'none';
            document.getElementById('div_gif_rectangle').style.display = 'none';

            if (gui_set === true && equi_enabled === true) document.getElementById('gui_position').style.display = 'block';

            if (render_requested === true) render();

            return;
          }

          current ++;
        }

        addFrame();
      }

      function reset_scene_params() {
        if (scene) {
          if (scene.environment) {
            scene.environment.dispose();
            scene.environment = null;
          }

          if (scene.background) {
            scene.background.dispose();
            scene.background = null;
          }

          if (bgnd_linear_gradient === true) {
            bgnd_linear_gradient = false;
            document.getElementById('btn_bgnd_linear_gradient').style.backgroundColor = 'transparent';
          }

          mouse_wheel = true;
        }
      }

      async function set_bgnd_linear_gradient() {
        let lg = bgnd_linear_gradient;

        await reset_scene_params();

        if (lg === false) {
          bgnd_linear_gradient = true;

          let canvas = document.createElement('canvas');
          canvas.width = ww;
          canvas.height = wh;

          let context = canvas.getContext( '2d', { willReadFrequently: true } );

          let gradient = context.createLinearGradient( 0, 0, 0, wh );
          let gradient_colors = [
            [ 0.9, 0.8, 0.7, 0.6, 0.5, 0.4, 0.3, 0.2, 0.15 ],
            [ '#151525', '#252535', '#353545', '#454555', '#656575', '#787888', '#8A8A9A', '#9A9AAA', '#A5A5B5' ]
          ];

          let i = gradient_colors[ 0 ].length;
          while( i-- ) { gradient.addColorStop( gradient_colors[ 0 ][ i ], gradient_colors[ 1 ][ i ] ); }

          context.fillStyle = gradient;
          context.fillRect( 0, 0, ww, wh );

          let lg_texture = new THREE.CanvasTexture( canvas );
          lg_texture.mapping = THREE.EquirectangularReflectionMapping;
          lg_texture.needsUpdate = true;

          scene.background = lg_texture;

          lg_texture.dispose();

          document.getElementById('btn_bgnd_linear_gradient').style.backgroundColor = 'lightgreen';
        }

        mouse_wheel = true;
      }

      function updateGUI() {
        if ( guiExposure !== null ) {
          guiExposure.destroy();
          guiExposure = null;
        }

        if ( params.toneMapping !== 'None' ) {
          guiExposure = gui.add( params, 'exposure', 0, 5 )
          .onChange( function ( value ) {
            renderer.toneMappingExposure = value;
            mouse_wheel = true;
          });
        }
      }

      async function set_equi() {
        await reset_scene_params();

        if (equi_enabled === false) {
          if (gui_set === false) {
            gui.add( params, 'toneMapping', Object.keys( toneMappingOptions ) )
            .onChange( function () {
              updateGUI();
              renderer.toneMapping = toneMappingOptions[ params.toneMapping ];
              mouse_wheel = true;
            });

            gui.add( params, 'backBlurriness', 0, 1 )
            .onChange( function ( value ) {
              scene.backgroundBlurriness = value;
              mouse_wheel = true;
            });

            gui.add( params, 'backIntensity', 0, 5 )
            .onChange( function ( value ) {
              scene.backgroundIntensity = value;
              mouse_wheel = true;
            });

            updateGUI();
            gui.open();
            gui_set = true;
          }

          document.getElementById('gui_position').style.display = 'block';
          set_gui_position();

          document.getElementById('btn_bgnd_linear_gradient').disabled = true;

          scene.background = tex;
          scene.environment = tex;

          scene.backgroundBlurriness = params.backBlurriness;
          scene.backgroundIntensity = params.backIntensity;

          equi_enabled = true;
          document.getElementById('btn_equi').style.backgroundColor = 'lightgreen';
        } else {
          gui_reset();

          document.getElementById('btn_bgnd_linear_gradient').disabled = false;

          equi_enabled = false;
          document.getElementById('btn_equi').style.backgroundColor = 'transparent';
        }

        equi_changed();

        mouse_wheel = true;
      }

      function gui_reset() {
        scene.backgroundBlurriness = 0.0;
        scene.backgroundIntensity = 1.0;

        params.toneMapping = 'Neutral';
        renderer.toneMapping = THREE.NeutralToneMapping;
        renderer.toneMappingExposure = 1.0;
        params.backBlurriness = 0.0;
        params.backIntensity = 1.0;
        params.exposure = 1.0;

        if (guiExposure) { guiExposure.destroy(); guiExposure = null; }

        gui.reset();

        document.getElementById('gui_position').style.display = 'none';

        mouse_wheel = true;
      }

      function set_model_scale( scale ) {
        document.getElementById('model_scale').selectedIndex = 0;

        splats.scale.multiplyScalar( parseFloat( scale.slice( 0, -1 ) ) );

        mouse_wheel = true;
      }

      function quick_x_rotation( angle ) {
        document.getElementById('quick_rotation').selectedIndex = 0;

        splats.rotateX( Math.PI * parseFloat( angle ) );

        mouse_wheel = true;
      }

      function quick_y_rotation( angle ) {
        document.getElementById('quick_rotation').selectedIndex = 0;

        splats.rotateY( Math.PI * parseFloat( angle ) );

        mouse_wheel = true;
      }

      function quick_z_rotation( angle ) {
        document.getElementById('quick_rotation').selectedIndex = 0;

        splats.rotateZ( Math.PI * parseFloat( angle ) );

        mouse_wheel = true;
      }

      async function init() {
        if (url_loading === false && document.getElementById('file_input').files.length === 0) return;

        if (scene) {
          if (splats) {
            scene.remove( splats );

            splats.traverse( ( child ) => {
              if (child.isMesh || child.isPoints) {
                if (child.material) {
                  if (child.material.uniforms) {
                    Object.keys( child.material.uniforms ).forEach( ( key ) => {
                      if (child.material.uniforms[ key ].value && child.material.uniforms[ key ].value.isTexture) {
                        child.material.uniforms[ key ].value.dispose();
                      }
                    });
                  }

                  child.material.dispose();
                }

                if (child.geometry) child.geometry.dispose();
              }
            });
          }

          if (isMobile === false) {
            renderer.info.reset();
            renderer.resetState();
          }

          reset_all( true );
        }

        enable_disable( true );

        if (params === undefined) {
          params = {
            toneMapping: 'Neutral',
            backBlurriness: 0.0,
            backIntensity: 1.0,
            exposure: 1.0
          };
        }

        if (toneMappingOptions === undefined) {
          toneMappingOptions = {
            None: THREE.NoToneMapping,
            AgX: THREE.AgXToneMapping,
            Cineon: THREE.CineonToneMapping,
            Linear: THREE.LinearToneMapping,
            Neutral: THREE.NeutralToneMapping,
            Reinhard: THREE.ReinhardToneMapping,
            ACESFilmic: THREE.ACESFilmicToneMapping
          };
        }

        splats = null;
        selected_local_file = null;
        mouse_down = false;
        mouse_wheel = true;
        guiExposure = null;
        bgnd_linear_gradient = false;
        render_requested = false;
        equi_enabled = false;
        gif_export = false;
        bounding_box = new THREE.Box3();

        console.time( 'Loading Time' );
        document.body.style.backgroundImage = 'none';
        document.getElementById('div_spinner').style.display = 'none';
        document.getElementById('div_error').style.display = 'none';
        document.getElementById('div_loading').style.display = 'block';
        document.getElementById('div_loading').innerHTML = 'Load & Visualize';

        if (url_loading === false) {
          // Loaded splat file
          let fi = document.getElementById('file_input');
          let fn_uc = fi.files[ 0 ].name.toUpperCase();

          if (fn_uc.endsWith('.SPLAT')) selected_local_file = fi.files[ 0 ];

          if (selected_local_file === null) {
            handle_error( 'No valid SPLAT file selected!' );
            return;
          }

          selected_url_file = '';
        } else {
          // Reset the file input
          document.getElementById('file_input').value = '';
          url_loading = false;
        }

        if (renderer === undefined) {
          renderer = new THREE.WebGLRenderer( { antialias: false, alpha: true } );
          renderer.setPixelRatio( window.devicePixelRatio );
          renderer.toneMapping = THREE.NeutralToneMapping;
          renderer.toneMappingExposure = 1.0;
          renderer.info.autoReset = false;
          renderer.setSize( ww, wh );
          renderer.autoClear = false;
          renderer.xr.enabled = true;

          document.body.appendChild( renderer.domElement );
          document.body.appendChild( vr_button.createButton( renderer ) );
        }

        if (hdrJPGLoader === undefined) {
          const { HDRJPGLoader } = await import( "@monogrid/gainmap-js/decode" );
          hdrJPGLoader = new HDRJPGLoader( renderer );
        }


        if (scene === undefined) {
          scene = new THREE.Scene();
          scene.backgroundRotation = new THREE.Euler( 0, Math.PI / 2.0, 0, 'XYZ' );
          scene.environmentRotation = new THREE.Euler( 0, Math.PI / 2.0, 0, 'XYZ' );
        }

        scene.backgroundBlurriness = 0;
        scene.backgroundIntensity = 1.0;

        if (!events_initialized) { initialize_event_listeners(); events_initialized = true; }

        // The XRControllerModelFactory will automatically fetch controller models
        // that match what the user is holding as closely as possible. The models
        // should be attached to the object returned from getControllerGrip in
        // order to match the orientation of the held device.

        if (controller === undefined) {
          controller = new xr_controller();

          controllerGrip1 = renderer.xr.getControllerGrip( 0 );
          controllerGrip1.add( controller.createControllerModel( controllerGrip1 ) );
          scene.add( controllerGrip1 );

          controllerGrip2 = renderer.xr.getControllerGrip( 1 );
          controllerGrip2.add( controller.createControllerModel( controllerGrip2 ) );
          scene.add( controllerGrip2 );
        }

        if (camera === undefined) {
          camera = new THREE.PerspectiveCamera( 60, ww / wh, 0.1, 5000 );
          camera.position.set( 0, 0, 30 );
          scene.add( camera );
        }

        if (controls === undefined) {
          controls = new orb_controls( camera, renderer.domElement );
          controls.zoomToCursor = true;
          controls.zoomSpeed = 0.5;
          controls.rotateSpeed = 0.8;
          controls.keyPanSpeed = 0.5; 
          controls.panSpeed = 0.5;
          //controls.enableDamping = true;
          //controls.dampingFactor = 0.3;
          //controls.enableKeys = false;
          //controls.enableZoom = true;
          //controls.maxPolarAngle = 2.2;
          //controls.minPolarAngle = 1.1;
          //controls.minDistance = 2;
          //controls.maxDistance = 500;
        }

        (selected_local_file !== null) ? loadFile() : loadURLFile();

        // Load equirectangular texture
        if (tex === undefined) {
            // Regardless of its name, this is actually 2048 x 1024 image
            let url = 'https://raw.githubusercontent.com/GitHubDragonFly/three.js/dev/examples/textures/planets/earth_atmos_4096.avif';

          hdrJPGLoader.load( url, async function( texture ) {
            tex = await texture.toDataTexture();

            tex.mapping = THREE.EquirectangularReflectionMapping;
            tex.needsUpdate = true;

            texture.renderTarget.texture.dispose();
            texture.renderTarget.dispose();
            texture.dispose();
          });
        }
      }

      async function loadFile() {
        await new splat_loader( renderer ).loadAsync( URL.createObjectURL( selected_local_file ),
        function( xhr ) { },
        function( error ) {
          URL.revokeObjectURL( selected_local_file );
          handle_error( error );
        }).then( loaded_splat => {
          URL.revokeObjectURL( selected_local_file );

          loaded_splat.toneMapped = true;

          splats = new splat( loaded_splat, camera );

          scene.add( splats );

          finish_loading();
        });
      }

      async function loadURLFile() {
        if (selected_url_file !== '') {
          if (selected_url_file.startsWith('https://www.dropbox.com') === true) {
            selected_url_file = selected_url_file.replace('www.dropbox.com', 'dl.dropbox.com');
          } else if (selected_url_file.startsWith('https://github.com') === true) {
            selected_url_file = ( selected_url_file.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
          }

          // No extension checking for URL so it has to point to either a Splat or Luma Splat model

          console.log( 'Trying drei-vanilla splat loader...' );

          await new splat_loader( renderer ).loadAsync( selected_url_file,
          function( xhr ) { },
          async function( error ) {
            console.log( 'Not a regular splat!' );
            console.log( 'Trying luma splat loader...' );

            const { LumaSplatsThree, LumaSplatsSemantics } = await import( "@lumaai/luma-web" );

            splats = new LumaSplatsThree({
              needsSort: true,
              source: selected_url_file,
              particleRevealEnabled: true,
              enableThreeShaderIntegration: false,
              loadingAnimationEnabled: false
            });

            splats.material.transparent = false;

            splats.onLoad = () => {
              // filter splats to only show foreground layers
              // options: FOREGROUND. BACKGROUND, ALL
              splats.semanticsMask = LumaSplatsSemantics.FOREGROUND;

              scene.add( splats );

              splats.scale.multiplyScalar( 5 );

              resize();

              finish_loading();
            }

            splats.onError = () => {
              handle_error( 'Check URL!' );
            }
          }).then( loaded_splat => {
            loaded_splat.toneMapped = true;

            splats = new splat( loaded_splat, camera );

            scene.add( splats );

            finish_loading();
          });
        }
      }

      async function finish_loading() {
        console.timeEnd( 'Loading Time' );
        document.body.style.backgroundImage = 'none';
        enable_disable( false );
        render_requested = true;
        mouse_wheel = true;
        first_run = true;
        fr_count = 0;
        render();

        if (isMobile === false) await new Promise( resolve => setTimeout( log_info(), 250 ) );
      }

      function log_info() {
        console.log( 'Memory: ', renderer.info.memory );
        console.log( 'Render: ', renderer.info.render );
      }

      function handle_error( error ) {
        console.timeEnd( 'Loading Time' );
        console.log( 'Error loading model!' );
        console.log( error );
        mouse_wheel = true;
        render_requested = false;
        enable_disable( true );

        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').style.display = 'block';
      }

      async function render() {
        if (document.getElementById('animation_progress').style.display === 'none') {
          if (render_requested === true) requestAnimationFrame( render );
        }

        if (splats) {
          if (first_run === true || mouse_down === true || mouse_wheel === true ||
            reset_rotation === true || progress.value > 0) {

            // Reset splats rotational values
            if (reset_rotation === true) {
              splats.rotation.set( 0, 0, 0 );
              reset_rotation = false;
            }

            // Rotate the splats
            if (mouse_down === false) {
              // Animated GIF / APNG generation
              if (progress.value > 0) {
                splats.rotation.y += 0.05;
              }
            }

            // If it might be slow to render initially
            if (first_run === true) {
              fr_count ++;
              if (fr_count > 25) {
                count = 0;
                fr_count = 0;
                first_run = false;
                mouse_wheel = true;
                document.getElementById('div_loading').style.display = 'none';
              }
            } else {
              if (mouse_wheel === true) {
                if (count > 30) {
                  mouse_wheel = false;
                  count = 0;
                } else {
                  count ++;
                }
              }
            }

            controls.update();

            renderer.clear();
            renderer.render( scene, camera );
          }
        }
      }

      function reset_only() {
        if (scene) {
          scene.remove( splats );

          splats.traverse( ( child ) => {
            if (child.isMesh || child.isPoints) {
              if (child.material) {
                if (child.material.uniforms) {
                  Object.keys( child.material.uniforms ).forEach( ( key ) => {
                    if (child.material.uniforms[ key ].value && child.material.uniforms[ key ].value.isTexture) {
                      child.material.uniforms[ key ].value.dispose();
                    }
                  });
                }

                child.material.dispose();
              }

              if (child.geometry) child.geometry.dispose();
            }
          });

          splats = null;
        }

        if (isMobile === false) {
          renderer.info.reset();
          renderer.resetState();
        }

        if (gui) gui_reset();

        reset_all( true );

        console.time( 'Loading Time' );

        document.getElementById('div_loading').innerText = 'Reload';
        document.getElementById('div_loading').style.display = 'block';

        mouse_wheel = true;

        (selected_local_file !== null) ? loadFile() : loadURLFile();
      }

      async function reset_all( reset = false ) {
        // Reset linear gradient values
        bgnd_linear_gradient = false;
        document.getElementById('btn_bgnd_linear_gradient').disabled = false;
        document.getElementById('btn_bgnd_linear_gradient').style.backgroundColor = 'transparent';

        // Reset equi values
        equi_enabled = false;
        document.getElementById('btn_equi').style.backgroundColor = 'transparent';

        if (scene) {
          if (scene.environment) {
            scene.environment.dispose();
            scene.environment = null;
          }

          if (scene.background) {
            scene.background.dispose();
            scene.background = null;
          }
        }

        if (gui_set === true) {
          document.getElementById('gui_position').style.display = 'none';
        }

        gif_export = false;
        reset_rotation = true;

        // Reset the view
        if (reset === true) {
          controls.reset();
          first_run = true;
          fr_count = 0;
          await render();
        } else {
          // Page (re)loading
          if (scene) {
            if (splats) {
              scene.remove( splats );

              splats.traverse( ( child ) => {
                if (child.isMesh || child.isPoints) {
                  if (child.material) {
                    if (child.material.uniforms) {
                      Object.keys( child.material.uniforms ).forEach( ( key ) => {
                        if (child.material.uniforms[ key ].value && child.material.uniforms[ key ].value.isTexture) {
                          child.material.uniforms[ key ].value.dispose();
                        }
                      });
                    }

                    child.material.dispose();
                  }

                  if (child.geometry) child.geometry.dispose();
                }
              });
            }

            while (scene.children.length > 0) {
              scene.remove( scene.children[ 0 ] );
            }

            renderer.clear();
            renderer.dispose();
          }

          document.getElementById('file_input').value = '';
          document.getElementById('div_error').style.display = 'none';
          document.getElementById('div_spinner').style.display = 'block';
          document.getElementById('url_entry').value = '';
          selected_url_file = '';
          enable_disable( true );
        }

        disabled_changed();

        mouse_wheel = true;
      }

      function enable_disable( disable = false ) {
        document.getElementById('quick_rotation').disabled = disable;
        document.getElementById('btn_equi').disabled = disable;
        document.getElementById('model_scale').disabled = disable;
        document.getElementById('btn_bgnd_linear_gradient').disabled = disable;
        document.getElementById('reset').disabled = disable;
        document.getElementById('export_names').disabled = disable;
        disabled_changed();

        mouse_wheel = true;
      }
    </script>

    <script>
      function document_ready() {
        isNewiPad = (/iPad/.test( navigator.platform ) && (/Mac OS X/i.test( navigator.userAgent ))) ||
          (navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));

        isMobile = (isNewiPad === false) && ((/iPhone|iPad|iPod/.test( navigator.platform )) ||
          (/Android|webOS|iPhone|iPad|iPod|BlackBerry|CriOS|IEMobile|Opera Mini/i.test( navigator.userAgent )));

        $('#export_names').keypress( function( event ) { if (event.key === 'Enter') $(this).children(':selected').click(); });
        $('#model_scale').keypress( function( event ) { if (event.key === 'Enter') $(this).children(':selected').click(); });
        $('#quick_rotation').keypress( function( event ) { if (event.key === 'Enter') $(this).children(':selected').click(); });

        if (navigator.userAgent.indexOf('Chrome') > -1 || navigator.userAgent.indexOf('Safari') > -1 || isMobile === true) {
          $('#export_names').change( function() { $(this).children(':selected').click(); });
          $('#model_scale').change( function() { $(this).children(':selected').click(); });
          $('#quick_rotation').change( function() { $(this).children(':selected').click(); });
        }
      }

      function disabled_changed() {
        $('button').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });

        $('select').each( function() {
          if (this.disabled === false) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });
      }

      function equi_changed() {
        if (equi_enabled === true) {
          $('#btn_bgnd_linear_gradient').unbind('mouseenter mouseleave');
        } else {
          $('#btn_bgnd_linear_gradient').hover(
          function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
          function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
        }

        mouse_wheel = true;
      }
    </script>
  </body>
</html>
