<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="3DM (Rhino3D) Viewer">
    <link rel="stylesheet" href="../../static/css/mobile-viewers.css">
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>

    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.10.0/dist/es-module-shims.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.178.0/build/three.module.min.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.178.0/examples/jsm/"
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>

    <script>
      var THREE, manager, rhino_loader, rhino_obj, obj_is_mesh, gui, lil_gui;
      var renderer, scene, camera, render_requested, bounding_box, count = 0;
      var controls, mouse_down, mouse_wheel, events_initialized;
      var ambientLight, directionalLight, wireframe_enabled;
      var ww = window.innerWidth, wh = window.innerHeight;
      var first_run = false, fr_count = 0, flat_shading_enabled;
      var selected_rhino_file, selected_url_file = '', isMobile;
      var url_displayed = false, url_loading = false, texture_maps;
    </script>

    <script type="module">
      import * as three_js from "three";
      import { GUI } from 'three/addons/libs/lil-gui.module.min.js';
      import { Rhino3dmLoader } from "../../static/jsm/loaders/3DMLoader.min.js";

      THREE = three_js;

      manager = new THREE.LoadingManager();
      manager.onLoad = function() { mouse_wheel = true };

      rhino_loader = new Rhino3dmLoader( manager );
      rhino_loader.setLibraryPath( 'https://cdn.jsdelivr.net/npm/rhino3dm@8.17.0/' );

      manager.addHandler(/\.3dm$/i, rhino_loader);

      lil_gui = GUI;
    </script>

    <!-- Original OBJ source code that inspired this: https://codepen.io/Mamboleoo/pen/PqjGdN -->
    <!-- Using three.js library: https://github.com/mrdoob/three.js -->
    <!-- Using Rhino3dm library: https://github.com/mcneel/rhino3dm -->
    <!-- Using jQuery: https://github.com/jquery/jquery -->

    <!-- mouse_wheel variable is used throughout as a trigger for rendering -->

    <title>3DM Viewer (r178)</title>
  </head>
  <body onload="reset_all(); document_ready(); disabled_changed();" onresize="resize();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm">
        <button id="btn_desktop" title="Open Desktop Version" onclick="switch_to_desktop();">D</button>
        <label for="btn_desktop" title="Open Desktop Version"></label>
        <button title="Get remote model via URL" id="btn_url" onclick="show_url()" style="min-width: 38px;">URL</button>
        <label for="btn_url" title="Get remote model via URL"></label>
        <button title="Browse Local Files" id="btn_file_input" style="min-width: 54px;" onclick="document.getElementById('file_input').click();">Browse</button>
        <label for="btn_file_input" title="Browse Local Files"></label>
        <input type="file" id="file_input" style="display: none;" onchange="init();" accept=".3dm" />
        <label for="back_color" title="Background Color">B</label>
        <input type="color" title="Background Color" id="back_color" onchange="set_back_color();" disabled />
        <button title="Directional Light Intensity" id="btn_dc_dli" class="dropdown" style="text-align: center; border: 1px solid blue; -webkit-border-radius: 3px; border-radius: 3px;" onclick="show_hide_dropdown_dli();">DLi
          <div id="dc_dli" class="dropdown-content" style="display: none;" onfocusout="hide_dropdown_dli();">
            <input type="range" orient="vertical" id="directional_light_intensity" min="0" max="30" step="0.05" value="3" onkeydown="return_false();" oninput="set_directional_light_intensity();" disabled />
            <span id="dli_val">3</span>
          </div>
        </button>
        <label for="btn_dc_dli" title="Directional Light Intensity"></label>
        <button title="Flat Shading" id="btn_flat" onclick="set_flat();" disabled>F</button>
        <label for="btn_flat" title="Flat Shading"></label>
        <button title="Wireframe" id="btn_wireframe" onclick="show_wireframe();" disabled >W</button>
        <label for="btn_wireframe" title="Wireframe"></label>
        <button title="Quick -90 degree X-Axis Rotation" id="btn_quick_x" onclick="quick_x_rotation( '-0.5' );" style="min-width: 15px;" disabled>&#x2191</button>
        <label for="btn_quick_x" title="Quick -90 degree X-Axis Rotation"></label>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry" title="Remote URL"></label>
        <input type="text" id="url_entry" value="" style="width: calc(75% - 12px);" />
        <button title="Load" id="btn_load" onclick="load_url_file();" style="min-width: 8.5%;">Load</button>
        <label for="btn_load" title="Load"></label>
        <button title="Clear" id="btn_clear" onclick="clear_url();" style="min-width: 8.5%;">Clear</button>
        <label for="btn_clear" title="Clear"></label>
      </div>
    </div>
    <div id="gui_position"></div>

    <div id="div_error" class="error_msg">E R R O R !</div>
    <div id="div_loading" class="loading_msg">3DM Viewer</div>

    <script>
      function hide_dropdown_dli() { $('#dc_dli').fadeOut(); mouse_wheel = true; }

      function show_hide_dropdown_dli() {
        if ($('#dc_dli')[ 0 ].style.display === 'none') {
          $('#dc_dli').fadeIn();

          $('#dc_dli')[ 0 ].style.marginTop = '2px';

          $('#directional_light_intensity').focus();
        } else {
          $('#dc_dli').fadeOut();
        }

        mouse_wheel = true;
      }

      function return_false() { return false; }

      function switch_to_desktop() {
        let link = document.createElement( 'a' );
        link.style.display = 'none';
        link.href = "../3DM Viewer.html";
        link.click();
      }

      function show_url() {
        if (url_displayed === true) {
          url_displayed = false;
          document.getElementById('url').style.display = 'none';
          document.getElementById('btn_url').style.backgroundColor = 'transparent';
        } else {
          document.getElementById('btn_url').style.backgroundColor = 'lightgreen';
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }

        if (gui) {
          let fixed_menu_bottom = ( parseInt( $('#fixed_menu').outerHeight( true ) ) + 2 ).toString() + 'px';
          document.getElementById('gui_position').style.marginTop = fixed_menu_bottom;
        }

        mouse_wheel = true;
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url !== '') { selected_url_file = url; url_loading = true; init(); }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function initialize_event_listeners() {
        const arrow_keys = [ 'ArrowUp', 'ArrowDown', 'ArrowRight', 'ArrowLeft' ];

        window.addEventListener( 'pointerdown', (event) => { mouse_down = true; }, false);
        window.addEventListener( 'pointerup', (event) => { mouse_down = false; mouse_wheel = true; }, false);
        window.addEventListener( 'wheel', ( event ) => { mouse_wheel = true; }, false);
        window.addEventListener( 'keydown', ( event ) => {
          if (arrow_keys.some( k => k === event.key ) || event.ctrlKey || event.metaKey || event.shiftKey) {
            controls.listenToKeyEvents( window );
            mouse_wheel = true;
          }
        }, false);
        window.addEventListener( 'keyup', ( event ) => {
          if (arrow_keys.some( k => k === event.key )) {
            controls.stopListenToKeyEvents();
            mouse_wheel = false;
          }
        }, false);
      }

      function resize() {
        if (scene !== undefined) {
          mouse_wheel = true;

          ww = window.innerWidth;
          wh = window.innerHeight;

          renderer.setSize( ww, wh );

          camera.aspect = ww / wh;
          camera.updateProjectionMatrix();

          if (gui) {
            let fixed_menu_bottom = ( parseInt( $('#fixed_menu').outerHeight( true ) ) + 2 ).toString() + 'px';
            document.getElementById('gui_position').style.marginTop = fixed_menu_bottom;
          }

          mouse_wheel = true;
        }
      }
    </script>

    <script>
      function set_back_color() {
        scene.background = null;
        document.body.style.backgroundColor = document.getElementById('back_color').value;
        mouse_wheel = true;
      }

      function set_directional_light_intensity() {
        let dli_value = document.getElementById('directional_light_intensity').value;
        document.getElementById('dli_val').innerText = dli_value;
        directionalLight.intensity = parseFloat( dli_value );

        mouse_wheel = true;
      }

      function set_initial_scale() {
        // Set the initial scale of the object so it comes to view

        bounding_box.setFromObject( rhino_obj );
        let size = bounding_box.getSize( new THREE.Vector3() );

        if ( size.y > 1 ) {
          rhino_obj.scale.multiplyScalar( 50 / size.y );
        } else if ( size.y > 0.02 ) {
          rhino_obj.scale.multiplyScalar( 25 / size.y );
        } else if ( size.y > 0.01 ) {
          rhino_obj.scale.multiplyScalar( 10 / size.y );
        } else {
          rhino_obj.scale.multiplyScalar( 1 / size.y )
        }

        camera.position.z = bounding_box.max.z + 250;
        camera.updateProjectionMatrix();

        mouse_wheel = true;
      }

      async function init() {
        if (url_loading === false && document.getElementById('file_input').files.length === 0) return;

        if (scene) {
          mouse_wheel = true;

          if (rhino_obj) await scene_cleanup();

          if (gui) gui_reset();

          await reset_all( true );
        }

        enable_disable( true );

        if (gui === undefined) {
          let gui_container = document.getElementById('gui_position');
          gui = new lil_gui( { autoPlace: false, container: gui_container, width: 150 } );
        }

        selected_rhino_file = null;
        obj_is_mesh = false;
        mouse_down = false;
        mouse_wheel = true;
        render_requested = false;
        wireframe_enabled = false;
        flat_shading_enabled = false;
        bounding_box = new THREE.Box3();

        console.time( 'Loading Time' );
        document.body.style.backgroundImage = 'none';
        document.getElementById('div_error').style.display = 'none';
        document.getElementById('div_loading').style.display = 'block';
        document.getElementById('div_loading').innerHTML = 'Load & Visualize';

        if (url_loading === false) {
          // Loaded file
          var fi = document.getElementById('file_input');

          for (let i = 0; i < fi.files.length; i++) {
            if (fi.files[ i ].name.toUpperCase().endsWith('.3DM')) selected_rhino_file = fi.files[ i ];
          };

          if (selected_rhino_file === null) {
            handle_error( 'No valid 3DM file selected!' );
            return;
          }

          selected_url_file = '';
        } else {
          // Reset the file input
          document.getElementById('file_input').value = '';
          url_loading = false;
        }

        if (renderer === undefined) {
          renderer = new THREE.WebGLRenderer( { antialias: true, alpha: true } );
          renderer.setPixelRatio( window.devicePixelRatio );
          renderer.toneMapping = THREE.NeutralToneMapping;
          renderer.toneMappingExposure = 1.25;
          renderer.setSize( ww, wh );
          renderer.info.autoReset = false;
          renderer.shadowMap.enabled = true;
          renderer.shadowMap.type = THREE.PCFSoftShadowMap;
          renderer.setClearColor( 0xFFFFFF, 0 ); // Allow setting the background color
          renderer.autoClear = false;

          document.body.appendChild( renderer.domElement );
        }

        if (scene === undefined) scene = new THREE.Scene();
        if (rhino_obj === undefined) rhino_obj = new THREE.Object3D();

        if (!events_initialized) { initialize_event_listeners(); events_initialized = true; }

        if (camera === undefined) {
          camera = new THREE.PerspectiveCamera( 45, ww / wh, 0.1, 10000 );
          camera.position.set( 0, 0, 250 );
          scene.add( camera );
        }

        // Add AmbientLight to the scene
        if (ambientLight === undefined) {
          ambientLight = new THREE.AmbientLight( 0xFFFFFF, 0.5 );
          ambientLight.position.set( 0, 0, - 250 );
          camera.add( ambientLight );
        }

        // Add DirectionalLight to the camera (add it to the scene instead if not using Orbit Controls)
        if (directionalLight === undefined) {
          directionalLight = new THREE.DirectionalLight( 0xFFFFFF, 3 );
          directionalLight.position.set( 0, 0, 250 );
          directionalLight.lookAt( new THREE.Vector3( 0, 0, 0 ) );
          camera.add( directionalLight );
        }

        if (controls === undefined) {
          const { OrbitControls } = await import( "three/addons/controls/OrbitControls.min.js" );

          controls = new OrbitControls( camera, renderer.domElement );
          controls.zoomToCursor = true;
          controls.zoomSpeed = 0.5;
          controls.rotateSpeed = 0.5;
          controls.keyPanSpeed = 0.5; 
          controls.panSpeed = 0.5;
          //controls.enableDamping = true;
          //controls.dampingFactor = 0.3;
          //controls.enableKeys = false;
          //controls.enableZoom = true;
          //controls.maxPolarAngle = 2.2;
          //controls.minPolarAngle = 1.1;
          //controls.minDistance = 2;
          //controls.maxDistance = 500;
        }

        if (scene.environment === null) {
          let url = 'https://raw.githubusercontent.com/GitHubDragonFly/three.js/dev/examples/textures/water.avif';

          new THREE.TextureLoader().load( url, async function( texture ) {
            texture.mapping = THREE.EquirectangularReflectionMapping;
            texture.needsUpdate = true;

            scene.environment = texture.clone();
            scene.environmentIntensity = 0.15;

            mouse_wheel = true;

            texture.dispose();
          }, function ( xhr ) {
          }, function ( error ) {
            console.log( 'Error Loading Scene Environment Image File!' );
            console.log( error );
          });
        }

        // Load 3DM file
        selected_rhino_file !== null ? loadFile() : loadURLFile();
      }

      function loadFile() {
        rhino_loader.load( URL.createObjectURL( selected_rhino_file ), async function( object ) {
          URL.revokeObjectURL( selected_rhino_file );

          rhino_obj = object.clone();

          rhino_obj.traverse( function( child ) {
            if (child.type === 'Mesh' || child.isMesh || child.type === 'Points' || child.isPoints ||
              child.type === 'LineSegments' || child.isLine) {

              // Some models might have both meshes and points so favor mesh controls
              if (child.type === 'Mesh' || child.isMesh) {
                obj_is_mesh = true;
                if (child.isSkinnedMesh) child.frustumCulled = false;
              } else {
                child.sizeAttenuation = true;
                child.sortPoints = true;
              }

              disabled_changed();

              if (!child.geometry.attributes.normal) child.geometry.computeVertexNormals();
              child.geometry.normalizeNormals();

              child.geometry.computeBoundingBox();
              child.geometry.computeBoundingSphere();

              if (Array.isArray( child.material )) {
                child.material.forEach( mtl => {
                  set_texture_colorSpace( mtl );
                  if (child.type === 'Points' || child.isPoints) mtl.size = (isMobile === true) ? 0.8 : 1.5;
                });
              } else {
                set_texture_colorSpace( child.material );
                if (child.type === 'Points' || child.isPoints) child.material.size = (isMobile === true) ? 0.8 : 1.5;
              }
            }
          });

          if (obj_is_mesh === true) rhino_obj.rotation.x -= Math.PI / 2;

          if (rhino_obj.userData.layers.length > 1) await start_gui();

          // Add rhino_obj to the scene
          scene.add( rhino_obj );
          camera.lookAt( rhino_obj.position );

          finish_loading();
        }, function ( xhr ) { // onProgress
        }, function ( error ) { // onError
          handle_error( error );
          URL.revokeObjectURL( selected_rhino_file );
        });

        mouse_wheel = true;
      }

      function loadURLFile() {
        if (selected_url_file !== '') {
          if (selected_url_file.startsWith('https://www.dropbox.com') === true) {
            selected_url_file = selected_url_file.replace('www.dropbox.com', 'dl.dropbox.com');
          } else if (selected_url_file.startsWith('https://github.com') === true) {
            selected_url_file = ( selected_url_file.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
          }

          if (gui) gui_reset();

          // No extension checking for URL so it has to point to 3DM model

          rhino_loader.load( selected_url_file, function( object ) {
            rhino_obj = object.clone();

            rhino_obj.traverse( function( child ) {
              if (child.type === 'Mesh' || child.isMesh || child.type === 'Points' || child.isPoints ||
                child.type === 'LineSegments' || child.isLine) {

                // Some models might have both meshes and points so favor mesh controls
                if (child.type === 'Mesh' || child.isMesh) {
                  obj_is_mesh = true;
                  if (child.isSkinnedMesh) child.frustumCulled = false;
                } else if (child.type === 'Points' || child.isPoints) {
                  child.sizeAttenuation = true;
                  child.sortPoints = true;
                }

                disabled_changed();

                if (!child.geometry.attributes.normal) child.geometry.computeVertexNormals();
                child.geometry.normalizeNormals();

                child.geometry.computeBoundingBox();
                child.geometry.computeBoundingSphere();

                if (Array.isArray( child.material )) {
                  child.material.forEach( mtl => {
                    set_texture_colorSpace( mtl );
                    if (child.type === 'Points' || child.isPoints) mtl.size = (isMobile === true) ? 0.8 : 1.5;
                  });
                } else {
                  set_texture_colorSpace( child.material );
                  if (child.type === 'Points' || child.isPoints) child.material.size = (isMobile === true) ? 0.8 : 1.5;
                }
              }
            });

            if (obj_is_mesh) rhino_obj.rotation.x -= Math.PI / 2;

            if (rhino_obj.userData.layers.length > 1) start_gui();

            // Add rhino_obj to the scene
            scene.add( rhino_obj );
            camera.lookAt( rhino_obj.position );

            finish_loading();
          }, function ( xhr ) { // onProgress
          }, function ( error ) { handle_error( error ); }); // onError

          mouse_wheel = true;
        }
      }

      function set_texture_colorSpace( material ) {
        if (material.map && (!material.map.colorSpace || material.map.colorSpace === 'NoColorSpace')) {
          material.map.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.aoMap && (!material.aoMap.colorSpace || material.aoMap.colorSpace !== 'NoColorSpace')) {
          material.aoMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.alphaMap && (!material.alphaMap.colorSpace || material.alphaMap.colorSpace !== 'NoColorSpace')) {
          material.alphaMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.bumpMap && (!material.bumpMap.colorSpace || material.bumpMap.colorSpace === 'NoColorSpace')) {
          material.bumpMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.lightMap && (!material.lightMap.colorSpace || material.lightMap.colorSpace !== 'NoColorSpace')) {
          material.lightMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.emissiveMap && (!material.emissiveMap.colorSpace || material.emissiveMap.colorSpace === 'NoColorSpace')) {
          material.emissiveMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.normalMap && (!material.normalMap.colorSpace || material.normalMap.colorSpace !== 'NoColorSpace')) {
          material.normalMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.specularMap && (!material.specularMap.colorSpace || material.specularMap.colorSpace === 'NoColorSpace')) {
          material.specularMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.metalnessMap && (!material.metalnessMap.colorSpace || material.metalnessMap.colorSpace !== 'NoColorSpace')) {
          material.metalnessMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.roughnessMap && (!material.roughnessMap.colorSpace || material.roughnessMap.colorSpace !== 'NoColorSpace')) {
          material.roughnessMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.anisotropyMap && (!material.anisotropyMap.colorSpace || material.anisotropyMap.colorSpace !== 'NoColorSpace')) {
          material.anisotropyMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.clearcoatMap && (!material.clearcoatMap.colorSpace || material.clearcoatMap.colorSpace === 'NoColorSpace')) {
          material.clearcoatMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.clearcoatNormalMap && (!material.clearcoatNormalMap.colorSpace || material.clearcoatNormalMap.colorSpace !== 'NoColorSpace')) {
          material.clearcoatNormalMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.clearcoatRoughnessMap && (!material.clearcoatRoughnessMap.colorSpace || material.clearcoatRoughnessMap.colorSpace !== 'NoColorSpace')) {
          material.clearcoatRoughnessMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.iridescenceMap && (!material.iridescenceMap.colorSpace || material.iridescenceMap.colorSpace === 'NoColorSpace')) {
          material.iridescenceMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.iridescenceThicknessMap && (!material.iridescenceThicknessMap.colorSpace || material.iridescenceThicknessMap.colorSpace !== 'NoColorSpace')) {
          material.iridescenceThicknessMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.sheenColorMap && (!material.sheenColorMap.colorSpace || material.sheenColorMap.colorSpace === 'NoColorSpace')) {
          material.sheenColorMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.sheenRoughnessMap && (!material.sheenRoughnessMap.colorSpace || material.sheenRoughnessMap.colorSpace !== 'NoColorSpace')) {
          material.sheenRoughnessMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.specularColorMap && (!material.specularColorMap.colorSpace || material.specularColorMap.colorSpace === 'NoColorSpace')) {
          material.specularColorMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.specularIntensityMap && (!material.specularIntensityMap.colorSpace || material.specularIntensityMap.colorSpace !== 'NoColorSpace')) {
          material.specularIntensityMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.thicknessMap && (!material.thicknessMap.colorSpace || material.thicknessMap.colorSpace !== 'NoColorSpace')) {
          material.thicknessMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.transmissionMap && (!material.transmissionMap.colorSpace || material.transmissionMap.colorSpace !== 'NoColorSpace')) {
          material.transmissionMap.colorSpace = THREE.NoColorSpace;
        }
      }

      function finish_loading() {
        set_initial_scale();
        resize();

        render_requested = true;
        mouse_wheel = false;
        first_run = true;
        fr_count = 0;
        render();
      }

      async function enable_controls() {
        enable_disable( false );

        rhino_obj.traverse( function( child ) {
          if (child.type === 'Points' || child.isPoints || child.type === 'LineSegments' || child.isLine) {
            if (obj_is_mesh === false) {
              document.getElementById('btn_wireframe').disabled = true;
              document.getElementById('btn_flat').disabled = true;
              disabled_changed();
            }
          }
        });

        console.timeEnd( 'Loading Time' );
        document.getElementById('div_loading').style.display = 'none';

        if (isMobile === false) await new Promise( resolve => setTimeout( log_info(), 100 ) );
      }

      function log_info() {
        console.log( 'Memory: ', renderer.info.memory );
        console.log( 'Render: ', renderer.info.render );
      }

      function start_gui() {
        if (rhino_obj.userData.layers) {
          const layersControl = gui.addFolder( 'layers' );
          layersControl.open();

          let layers = rhino_obj.userData.layers;

          for ( let i = 0; i < layers.length; i ++ ) {
            layersControl.add( layers[ i ], 'visible' ).name( layers[ i ].name ).onChange( function( val ) {
              scene.traverse( function( child ) {
                if ( child.userData.hasOwnProperty( 'attributes' ) ) {
                  if ( 'layerIndex' in child.userData.attributes ) {
                    const layerName = layers[ child.userData.attributes.layerIndex ].name;

                    if ( layerName === layers[ i ].name ) {
                      child.visible = val;
                      layers[ i ].visible = val;
                    }
                  }
                }
              });

              mouse_wheel = true;
            });
          }

          gui.open();

          document.getElementById('gui_position').style.display = 'block';
        }
      }

      function gui_reset() {
        gui.reset();
        gui.destroy();
        gui = new lil_gui( { autoPlace: false, container: document.getElementById('gui_position'), width: 150 } );
        document.getElementById('gui_position').style.display = 'none';
        mouse_wheel = true;
      }

      function handle_error( error ) {
        console.timeEnd( 'Loading Time' );
        console.log( 'Error loading model!' );
        console.log( error );
        render_requested = false;
        enable_disable( true );

        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').style.display = 'block';
      }

      function quick_x_rotation( angle ) {
        rhino_obj.rotateX( Math.PI * parseFloat( angle ) );

        mouse_wheel = true;
      }

      function set_flat() {
        if (flat_shading_enabled === true) {
          flat_shading_enabled = false;
          document.getElementById('btn_flat').style.backgroundColor = 'transparent';
        } else {
          flat_shading_enabled = true;
          document.getElementById('btn_flat').style.backgroundColor = 'lightgreen';
        }

        rhino_obj.traverse( function( child ) {
          if (child.type === 'Mesh' || child.isMesh) {
            if (Array.isArray( child.material )) {
              child.material.forEach( mtl => {
                mtl.flatShading = flat_shading_enabled;
                mtl.needsUpdate = true;
              });
            } else {
              child.material.flatShading = flat_shading_enabled;
              child.material.needsUpdate = true;
            }

            mouse_wheel = true;
          }
        });
      }

      function show_wireframe() {
        if (rhino_obj) {
          if (wireframe_enabled === true) {
            wireframe_enabled = false;
            document.getElementById('btn_wireframe').style.backgroundColor = 'transparent';
          } else {
            wireframe_enabled = true;
            document.getElementById('btn_wireframe').style.backgroundColor = 'lightgreen';
          }

          rhino_obj.traverse( function( child ) {
            if (child.type === 'Mesh' || child.isMesh) {
              if (Array.isArray( child.material )) {
                child.material.forEach( mtl => {
                  mtl.wireframe = wireframe_enabled;
                });
              } else {
                child.material.wireframe = wireframe_enabled;
              }

              mouse_wheel = true;
            }
          });
        }
      }

      async function render() {
        if (rhino_obj) {
          if (first_run === true || mouse_down === true || mouse_wheel === true) {
            controls.update();

            renderer.clear();
            renderer.render( scene, camera );

            // If it might be slow to render initially
            if (first_run === true) {
              fr_count ++;
              if (fr_count > 30) {
                mouse_wheel = true;
                first_run = false;
                fr_count = 0;
                count = 0;

                enable_controls();
              }
            } else {
              if (mouse_wheel === true) {
                if (count > 15) {
                  mouse_wheel = false;
                  count = 0;
                } else {
                  count ++;
                }
              }
            }
          }
        }

        if (render_requested === true) requestAnimationFrame( render );
      }

      async function reset_all( reset = false ) {
        document.getElementById('back_color').value = '#000000';
        document.getElementById('dli_val').innerText = 3;
        document.getElementById('directional_light_intensity').value = 3;
        document.getElementById('btn_url').style.backgroundColor = 'transparent';
        document.getElementById('btn_flat').style.backgroundColor = 'transparent';
        document.getElementById('btn_wireframe').style.backgroundColor = 'transparent';

        if (scene) {
          if (directionalLight) {
            set_directional_light_intensity();
          }
        }

        // Reset the view
        if (reset === true) {
          controls.reset();
          set_back_color();
        } else {
          // Page (re)loading
          if (scene) {
            if (scene.environment) {
              scene.environment.dispose();
              scene.environment = null;
            }

            if (rhino_obj) await scene_cleanup();

            while (scene.children.length > 0) {
              scene.remove( scene.children[ 0 ] );
            }

            renderer.clear();
            renderer.dispose();
          }

          mouse_wheel = true;

          document.getElementById('file_input').value = '';
          document.getElementById('div_error').style.display = 'none';
          document.getElementById('url_entry').value = '';
          selected_url_file = '';
          enable_disable( true );
        }

        mouse_wheel = true;
      }

      async function scene_cleanup() {
        scene.remove( rhino_obj );

        renderer.clear();

        if (wireframe_enabled === true) await show_wireframe();
        if (flat_shading_enabled === true) await set_flat();

        rhino_obj.traverse( ( child ) => {
          if (child.type === 'Mesh' || child.isMesh || child.type === 'Points' || child.isPoints ||
            child.type === 'LineSegments' || child.isLine) {

            if (child.material) {
              if (Array.isArray( child.material )) {
                child.material.forEach( mtl => {
                  for (const prop in mtl) {
                    texture_maps.forEach( tex_map => {
                      if (prop === tex_map) {
                        if (mtl[ prop ]) mtl[ prop ].dispose();
                      }
                    });
                  };

                  mtl.dispose();
                });
              } else {
                for (const prop in child.material) {
                  texture_maps.forEach( tex_map => {
                    if (prop === tex_map) {
                      if (child.material[ prop ]) child.material[ prop ].dispose();
                    }
                  });
                };

                child.material.dispose();
              }
            }

            child.geometry.dispose();
          }
        });

        if (isMobile === false) {
          renderer.info.reset();
          renderer.resetState();
        }
      }

      function enable_disable( disable = false ) {
        document.getElementById('directional_light_intensity').disabled = disable;
        document.getElementById('btn_dc_dli').disabled = disable;
        document.getElementById('back_color').disabled = disable;
        document.getElementById('btn_flat').disabled = disable;
        document.getElementById('btn_quick_x').disabled = disable;
        document.getElementById('btn_wireframe').disabled = disable;
        disabled_changed();

        mouse_wheel = true;
      }
    </script>

    <script>
      function document_ready() {
        isMobile = (/iPad|iPhone|iPod/.test( navigator.platform )) ||
          (/Android|webOS|iPhone|iPad|iPod|CriOS|BlackBerry|IEMobile|Opera Mini/i.test( navigator.userAgent )) ||
          (navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));

        texture_maps = [ 'map', 'aoMap', 'alphaMap', 'bumpMap', 'displacementMap', 'envMap', 'lightMap', 'emissiveMap', 'normalMap',
          'metalnessMap', 'roughnessMap', 'anisotropyMap', 'clearcoatMap', 'clearcoatNormalMap', 'clearcoatRoughnessMap',
          'iridescenceMap', 'iridescenceThicknessMap', 'sheenColorMap', 'sheenRoughnessMap', 'specularMap',
          'specularColorMap', 'specularIntensityMap', 'thicknessMap', 'transmissionMap'
        ];

        mouse_wheel = true;
      }

      function disabled_changed() {
        $('button').each( function() {
          if (this.disabled === false) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });

        $('input[type=color]').each( function() {
          if (this.disabled === false) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px whitesmoke'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });
      }
    </script>
  </body>
</html>
