<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Collada DAE (Digital Asset Exchange) Viewer">
    <link rel="stylesheet" href="../../static/css/mobile-viewers.css">
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>

    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.10.0/dist/es-module-shims.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.182.0/build/three.module.min.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.182.0/examples/jsm/",
          "@tweenjs": "https://esm.sh/@tweenjs/tween.js@23.1.2"
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>

    <script>
      var THREE, manager, ktx2_loader, texture_loader, dae_loader, basis_loader, tga_loader, dds_loader;
      var renderer, render_requested, scene, camera, dae_obj, clock, duration;
      var animations, animation_mixer, animation_running, current_animation, count = 0;
      var controls, mouse_down, mouse_wheel, events_initialized;
      var ambientLight, directionalLight, wireframe_enabled;
      var ww = window.innerWidth, wh = window.innerHeight;
      var tex, extra, technique, bounding_box, isMobile, texture_maps;
      var url_displayed = false, url_loading = false, vertex_colors_enabled;
      var selected_dae_file, selected_url_file = '', local_files, local_files_indexes;
      var kinematics, kinematics_running, kinematicsTween, tween, tween_update, easing;

      const target = {};
      const tweenParameters = {};
    </script>

    <script type="module">
      import * as three_js from "three";
      import { KTX2Loader } from "three/addons/loaders/KTX2Loader.min.js";
      import { ColladaLoader } from "../../static/jsm/loaders/ColladaLoader.min.js";
      import { BasisTextureLoader } from "../../static/jsm/loaders/BasisTextureLoader.min.js";

      THREE = three_js;

      manager = new THREE.LoadingManager();
      manager.onLoad = function() { mouse_wheel = true; }

      ktx2_loader = new KTX2Loader( manager );
      ktx2_loader.setTranscoderPath( "https://cdn.jsdelivr.net/npm/three@0.182.0/examples/jsm/libs/basis/" );

      manager.addHandler( /\.ktx2$/i, ktx2_loader );

      dae_loader = new ColladaLoader( manager );

      basis_loader = new BasisTextureLoader( manager );
      basis_loader.setTranscoderPath( 'https://cdn.jsdelivr.net/npm/three@0.182.0/examples/jsm/libs/basis/' );

      manager.addHandler( /\.basis$/i, basis_loader );

      texture_loader = new THREE.TextureLoader( manager );
    </script>

    <!-- Original OBJ source code that inspired this: https://codepen.io/Mamboleoo/pen/PqjGdN -->
    <!-- Using three.js library: https://github.com/mrdoob/three.js -->
    <!-- Using jQuery: https://github.com/jquery/jquery -->

    <!-- mouse_wheel variable is used throughout as a trigger for rendering -->

    <title>Collada DAE Viewer (r182)</title>
  </head>
  <body onload="reset_all(); document_ready(); disabled_changed();" onresize="resize();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm">
        <button id="btn_desktop" title="Open Desktop Version" onclick="switch_to_desktop();">D</button>
        <label for="btn_desktop" title="Open Desktop Version"></label>
        <button title="Get remote model via URL" id="btn_url" onclick="show_url()" style="min-width: 38px;">URL</button>
        <label for="btn_url" title="Get remote model via URL"></label>
        <button title="Browse Local Files" id="btn_file_input" style="min-width: 54px;" onclick="document.getElementById('file_input').click();">Browse</button>
        <label for="btn_file_input" title="Browse Local Files"></label>
        <input type="file" id="file_input" style="display: none;" onchange="init();" accept=".dae, .dib, .dds, .ktx2, .tga, image/png, image/jpeg, image/bmp, image/gif, image/svg+xml, image/webp" multiple />
        <label for="back_color" title="Background Color">B</label>
        <input type="color" title="Background Color" id="back_color" onchange="set_back_color();" disabled />
        <button title="Directional Light Intensity" id="btn_dc_dli" class="dropdown" style="text-align: center; border: 1px solid blue; -webkit-border-radius: 3px; border-radius: 3px;" onclick="show_hide_dropdown_dli();">DLi
          <div id="dc_dli" class="dropdown-content" style="display: none;" onfocusout="hide_dropdown_dli();">
            <input type="range" orient="vertical" id="directional_light_intensity" min="0" max="30" step="0.05" value="5" onkeydown="return_false();" oninput="set_directional_light_intensity();" disabled />
            <span id="dli_val">5</span>
          </div>
        </button>
        <label for="btn_dc_dli" title="Directional Light Intensity"></label>
        <button title="Switch Animation" id="btn_animate" onclick="dae_animations();" disabled>A</button>
        <label for="btn_animate" title="Switch Animation"></label>
        <button title="Kinematics" id="btn_kinematics" onclick="dae_kinematics();" disabled>K</button>
        <label for="btn_kinematics" title="Kinematics"></label>
        <button title="Wireframe" id="btn_wireframe" onclick="show_wireframe();" disabled >W</button>
        <label for="btn_wireframe" title="Wireframe"></label>
        <button title="Quick -90 degree X-Axis Rotation" id="btn_quick_x" onclick="quick_x_rotation( '-0.5' );" style="min-width: 15px;" disabled>&#x2191</button>
        <label for="btn_quick_x" title="Quick -90 degree X-Axis Rotation"></label>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry" title="Remote URL"></label>
        <input type="text" id="url_entry" value="" style="width: calc(75% - 12px);" />
        <button title="Load" id="btn_load" onclick="load_url_file();" style="min-width: 8.5%;">Load</button>
        <label for="btn_load" title="Load"></label>
        <button title="Clear" id="btn_clear" onclick="clear_url();" style="min-width: 8.5%;">Clear</button>
        <label for="btn_clear" title="Clear"></label>
      </div>
    </div>

    <div id="div_error" class="error_msg">E R R O R !</div>
    <div id="div_loading" class="loading_msg">DAE Viewer</div>

    <script>
      function hide_dropdown_dli() { $('#dc_dli').fadeOut(); mouse_wheel = true; }

      function show_hide_dropdown_dli() {
        if ($('#dc_dli')[ 0 ].style.display === 'none') {
          $('#dc_dli').fadeIn();

          $('#dc_dli')[ 0 ].style.marginTop = '2px';

          $('#directional_light_intensity').focus();
        } else {
          $('#dc_dli').fadeOut();
        }

        mouse_wheel = true;
      }

      function return_false() { return false; }

      function switch_to_desktop() {
        let link = document.createElement( 'a' );
        link.style.display = 'none';
        link.href = "../DAE Viewer.html";
        link.click();
      }

      function show_url() {
        if (url_displayed === true) {
          url_displayed = false;
          document.getElementById('url').style.display = 'none';
          document.getElementById('btn_url').style.backgroundColor = 'transparent';
        } else {
          document.getElementById('btn_url').style.backgroundColor = 'lightgreen';
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url !== '') { selected_url_file = url; url_loading = true; init(); }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function initialize_event_listeners() {
        const arrow_keys = [ 'ArrowUp', 'ArrowDown', 'ArrowRight', 'ArrowLeft' ];

        window.addEventListener( 'pointerdown', (event) => { mouse_down = true; }, false);
        window.addEventListener( 'pointerup', (event) => { mouse_down = false; mouse_wheel = true; }, false);
        window.addEventListener( 'wheel', ( event ) => { mouse_wheel = true; }, false);
        window.addEventListener( 'keydown', ( event ) => {
          if (arrow_keys.some( k => k === event.key ) || event.ctrlKey || event.metaKey || event.shiftKey) {
            controls.listenToKeyEvents( window );
            mouse_wheel = true;
          }
        }, false);
        window.addEventListener( 'keyup', ( event ) => {
          if (arrow_keys.some( k => k === event.key )) {
            controls.stopListenToKeyEvents();
            mouse_wheel = false;
          }
        }, false);
      }

      function resize() {
        if (scene !== undefined) {
          mouse_wheel = true;

          ww = window.innerWidth;
          wh = window.innerHeight;

          renderer.setSize( ww, wh );

          camera.aspect = ww / wh;
          camera.updateProjectionMatrix();

          mouse_wheel = true;
        }
      }
    </script>

    <script>
      function set_back_color() {
        scene.background = null;
        document.body.style.backgroundColor = document.getElementById('back_color').value;
        mouse_wheel = true;
      }

      function set_directional_light_intensity() {
        let dli_value = document.getElementById('directional_light_intensity').value;
        document.getElementById('dli_val').innerText = dli_value;
        directionalLight.intensity = parseFloat( dli_value );

        mouse_wheel = true;
      }

      function set_initial_scale() {
        // Set the initial scale of the object so it hopefully comes to view

        bounding_box.setFromObject( dae_obj );
        let size = bounding_box.getSize( new THREE.Vector3() );

        if ( size.y > 1 ) {
          dae_obj.scale.multiplyScalar( 50 / size.y );
        } else if ( size.y > 0.02 ) {
          dae_obj.scale.multiplyScalar( 25 / size.y );
        } else if ( size.y > 0.01 ) {
          dae_obj.scale.multiplyScalar( 10 / size.y );
        } else {
          dae_obj.scale.multiplyScalar( 1 / size.y )
        }

        bounding_box.setFromObject( dae_obj );
        let center = bounding_box.getCenter( new THREE.Vector3() );
        controls.target.set( center.x, center.y, center.z );

        mouse_wheel = true;
      }

      function dae_animations() {
        if (animation_running === true) {
          animation_mixer.clipAction( animations[ current_animation ] ).stop();
          animation_mixer.clipAction( animations[ current_animation ] ).reset();

          if (current_animation === animations.length - 1) {
            document.getElementById('btn_animate').style.backgroundColor = 'transparent';
            current_animation = 0;
            animation_running = false;
          } else {
            current_animation += 1;
            animation_mixer.clipAction( animations[ current_animation ] ).play();
          }
        } else {
          animation_mixer.clipAction( animations[ current_animation ] ).play();
          document.getElementById('btn_animate').style.backgroundColor = 'lightgreen';
          animation_running = true;
        }

        mouse_wheel = true;
      }

      async function init() {
        if (url_loading === false && document.getElementById('file_input').files.length === 0) return;

        if (scene) {
          mouse_wheel = true;

          if (dae_obj) await scene_cleanup();

          await reset_all( true );
        }

        enable_disable( true );

        if (tga_loader === undefined) {
          const { TGALoader } = await import( "three/addons/loaders/TGALoader.min.js" );
          tga_loader = new TGALoader( manager );
          manager.addHandler( /\.tga$/i, tga_loader );
        }

        if (dds_loader === undefined) {
          const { DDSLoader } = await import( "three/addons/loaders/DDSLoader.min.js" );
          dds_loader = new DDSLoader( manager );
          manager.addHandler( /\.dds$/i, dds_loader );
        }

        if (tween === undefined) {
          const { Easing, Tween, update } = await import( '@tweenjs' );
          tween_update = update;
          easing = Easing;
          tween = Tween;
        }

        if (duration === undefined) duration = THREE.MathUtils.randInt( 1000, 5000 );

        selected_dae_file = null;
        mouse_down = false;
        mouse_wheel = true;
        local_files = null;
        local_files_indexes = [];
        animations = [];
        animation_mixer = null;
        animation_running = false;
        wireframe_enabled = false;
        kinematics_running = false;
        vertex_colors_enabled = false;
        render_requested = false;
        bounding_box = new THREE.Box3();

        document.getElementById('btn_animate').disabled = true;
        document.getElementById('btn_kinematics').disabled = true;

        console.time( 'Loading Time' );
        document.body.style.backgroundImage = 'none';
        document.getElementById('div_error').style.display = 'none';
        document.getElementById('div_loading').style.display = 'block';
        document.getElementById('div_loading').innerHTML = 'Load & Visualize';

        if (url_loading === false) {
          let image_extensions = [ '.BMP', '.DDS', '.DIB', '.GIF', '.JPG', '.JPEG', '.JFIF', '.KTX2',
            '.PJPEG', '.PJP', '.PNG', '.SVG', '.TGA', '.WEBP' ];

          // Loaded file(s)
          local_files = document.getElementById('file_input').files;

          for (let i = 0; i < local_files.length; i++) {
            let fn_uc = local_files[ i ].name.toUpperCase();

            if (fn_uc.endsWith('.DAE')) { selected_dae_file = i; }
            else if (image_extensions.some( ext => fn_uc.endsWith( ext ) )) { local_files_indexes.push( i ); }
          };

          if (selected_dae_file === null) {
            handle_error( 'No valid DAE (Collada) file selected!' );
            return;
          }

          selected_url_file = '';
        } else {
          // Reset the file input
          document.getElementById('file_input').value = '';
          local_files_indexes.length = 0;
          url_loading = false;
        }

        if (renderer === undefined) {
          renderer = new THREE.WebGLRenderer( { antialias: true, alpha: true } );
          renderer.setPixelRatio( window.devicePixelRatio );
          renderer.toneMapping = THREE.NeutralToneMapping;
          renderer.toneMappingExposure = 1.5;
          renderer.setSize( ww, wh );
          renderer.info.autoReset = false;
          renderer.shadowMap.enabled = true;
          renderer.shadowMap.type = THREE.PCFSoftShadowMap;
          renderer.setClearColor( 0xFFFFFF, 0 ); // Allow setting the background color
          renderer.autoClear = false;

          document.body.appendChild( renderer.domElement );

          if (ktx2_loader !== undefined) ktx2_loader.detectSupport( renderer );
        }

        if (clock === undefined) clock = new THREE.Clock();

        if (scene === undefined) scene = new THREE.Scene();
        if (dae_obj === undefined) dae_obj = new THREE.Object3D();

        if (!events_initialized) { initialize_event_listeners(); events_initialized = true; }

        if (camera === undefined) {
          camera = new THREE.PerspectiveCamera( 45, ww / wh, 0.1, 10000 );
          camera.position.set( 0, 0, 250 );
          scene.add( camera );
        }

        // Add AmbientLight to the scene
        if (ambientLight === undefined) {
          ambientLight = new THREE.AmbientLight( 0xFFFFFF, 1.0 );
          ambientLight.position.set( 0, 0, - 250 );
          scene.add( ambientLight );
        }

        // Add DirectionalLight to the camera (add it to the scene instead if not using Orbit Controls)
        if (directionalLight === undefined) {
          directionalLight = new THREE.DirectionalLight( 0xAFAFAF, 5 );
          directionalLight.position.set( 0, 1850, 1000 );
          directionalLight.lookAt( new THREE.Vector3( 0, 0, 0 ) );
          camera.add( directionalLight );
        }

        if (controls === undefined) {
          const { OrbitControls } = await import( "three/addons/controls/OrbitControls.min.js" );

          controls = new OrbitControls( camera, renderer.domElement );
          controls.zoomToCursor = true;
          controls.zoomSpeed = 0.5;
          controls.rotateSpeed = 0.5;
          controls.keyPanSpeed = 0.5; 
          controls.panSpeed = 0.5;
          //controls.enableDamping = true;
          //controls.dampingFactor = 0.3;
          //controls.enableKeys = false;
          //controls.enableZoom = true;
          //controls.maxPolarAngle = 2.2;
          //controls.minPolarAngle = 1.1;
          //controls.minDistance = 2;
          //controls.maxDistance = 500;
        }

        if (scene.environment === null) {
          let url = 'https://raw.githubusercontent.com/GitHubDragonFly/three.js/dev/examples/textures/water.avif';

          texture_loader.load( url, async function( texture ) {
            texture.mapping = THREE.EquirectangularReflectionMapping;
            texture.needsUpdate = true;

            scene.environment = texture.clone();
            scene.environmentIntensity = 0.15;

            mouse_wheel = true;

            texture.dispose();
          }, function ( xhr ) {
          }, function ( error ) {
            console.log( 'Error Loading Scene Environment Image File!' );
            console.log( error );
          });
        }

        // Load the dae file
        selected_dae_file !== null ? loadFile() : loadURLFile();
      }

      function loadFile(){
        // Launch loading of the selected file
        dae_loader.load( URL.createObjectURL( local_files[ selected_dae_file ] ), async function( collada ) {
          URL.revokeObjectURL( local_files[ selected_dae_file ] );

          if (Object.keys( collada.library.materials ).length !== 0) {
            for (const [ key, value ] of Object.entries( collada.library.materials )) {
              for (const [ key1, value1 ] of Object.entries( collada.library.effects )) {
                if (key1 === value.url) {
                  for (const [ key2, value2 ] of Object.entries( value1.profile.surfaces )) {
                    tex = null;

                    if (local_files_indexes.length > 0) {
                      await new Promise( resolve => {
                        local_files_indexes.forEach( file_index => {
                          if (collada.library.images[ value2.init_from ] &&
                            collada.library.images[ value2.init_from ].init_from === local_files[ file_index ].name) {

                            let loader;

                            let uc_name = local_files[ file_index ].name.toUpperCase();
                            let ext = uc_name.substring( uc_name.lastIndexOf( '.' ) + 1 );

                            switch ( ext ) {
                              case 'DDS':
                                loader = dds_loader;
                                break;

                              case 'TGA':
                                loader = tga_loader;
                                break;

                              case 'KTX2':
                                loader = ktx2_loader;
                                break;

                              default:
                                loader = texture_loader;
                                break;
                            }

                            loader.load( URL.createObjectURL( local_files[ file_index ] ), function( texture ) {
                              URL.revokeObjectURL( local_files[ file_index ] );

                              extra = value1.profile.technique.extra;

                              if (extra !== undefined && extra.technique !== undefined && isEmpty( extra.technique ) === false) {
                                technique = extra.technique;

                                texture.wrapS = technique.wrapU ? THREE.RepeatWrapping : THREE.ClampToEdgeWrapping;
                                texture.wrapT = technique.wrapV ? THREE.RepeatWrapping : THREE.ClampToEdgeWrapping;
                                texture.offset.set( technique.offsetU || 0, technique.offsetV || 0 );
                                texture.repeat.set( technique.repeatU || 1, technique.repeatV || 1 );
                              } else {
                                texture.wrapS = THREE.RepeatWrapping;
                                texture.wrapT = THREE.RepeatWrapping;
                              }

                              tex = texture;

                              if (ext === 'DDS') tex.repeat.y = - 1;

                              texture.dispose();

                              resolve( value1.profile.surfaces[ key2 ].init_from = tex );
                            });
                          }
                        });
                      });
                    }

                    if (tex === null) continue;

                    let key2_string = key2.substring( 0, key2.indexOf( '-' ) );

                    if (value1.profile.technique && value1.profile.technique.parameters) {
                      let params = value1.profile.technique.parameters;

                      if (key2_string === 'ambient' ||
                        (params.ambient && params.ambient.texture && params.ambient.texture.id.startsWith(key2_string))) {

                        tex.colorSpace = THREE.SRGBColorSpace;
                        collada.library.materials[ key ].build.lightMap = tex;
                      }

                      if (key2_string === 'bump' ||
                        (params.bump && params.bump.texture && params.bump.texture.id.startsWith(key2_string))) {

                        tex.colorSpace = THREE.LinearSRGBColorSpace;
                        collada.library.materials[ key ].build.normalMap = tex;
                      }

                      if (key2_string === 'emissive' ||
                        (params.emission && params.emission.texture && params.emission.texture.id.startsWith(key2_string))) {

                        tex.colorSpace = THREE.SRGBColorSpace;
                        collada.library.materials[ key ].build.emissiveMap = tex;
                      }

                      if (key2_string === 'specular' ||
                        (params.specular && params.specular.texture && params.specular.texture.id.startsWith(key2_string))) {

                        tex.colorSpace = THREE.SRGBColorSpace;
                        collada.library.materials[ key ].build.specularMap = tex;
                      }

                      if (params.diffuse && params.diffuse.texture && params.diffuse.texture.id.startsWith(key2_string)) {
                        tex.colorSpace = THREE.SRGBColorSpace;
                        collada.library.materials[ key ].build.map = tex;
                      }
                    } else {
                      switch ( key2_string ) {
                        case 'ambient':
                          tex.colorSpace = THREE.LinearSRGBColorSpace;
                          collada.library.materials[ key ].build.lightMap = tex;
                          break;

                        case 'bump':
                          tex.colorSpace = THREE.LinearSRGBColorSpace;
                          collada.library.materials[ key ].build.normalMap = tex;
                          break;

                        case 'emissive':
                          tex.colorSpace = THREE.SRGBColorSpace;
                          collada.library.materials[ key ].build.emissiveMap = tex;
                          break;

                        case 'specular':
                          tex.colorSpace = THREE.SRGBColorSpace;
                          collada.library.materials[ key ].build.specularMap = tex;
                          break;

                        default:
                          tex.colorSpace = THREE.SRGBColorSpace;
                          collada.library.materials[ key ].build.map = tex;
                          break;
                      }
                    }

                    if (tex !== null) tex.dispose();
                  }
                }
              }
            }
          }

          collada.scene.traverse( function( child ) {
            if ((child.isMesh || child.isPoints) && child.geometry.attributes.position) {
              if (!child.geometry.attributes.normal) child.geometry.computeVertexNormals();
              child.geometry.normalizeNormals();

              child.geometry.computeBoundingBox();
              child.geometry.computeBoundingSphere();

              if (child.isSkinnedMesh) child.frustumCulled = false;

              if (child.geometry.attributes.color && child.geometry.attributes.color.array.length > 0) {
                vertex_colors_enabled = true;
              }

              if (Array.isArray( child.material )) {
                child.material.forEach( mtl => {
                  if (child.isPoints) {
                    (isMobile === true) ? mtl.size = 0.8 : mtl.size = 0.3;
                    child.sizeAttenuation = true;
                    child.sortPoints = true;
                  }

                  mtl.vertexColors = vertex_colors_enabled;
                  mtl.side = THREE.DoubleSide;
                  mtl.flatShading = false;
                  mtl.skinning = true;
                });
              } else {
                if (child.isPoints) {
                  (isMobile === true) ? child.material.size = 0.8 : child.material.size = 0.3;
                  child.sizeAttenuation = true;
                  child.sortPoints = true;
                }

                child.material.vertexColors = vertex_colors_enabled;
                child.material.side = THREE.DoubleSide;
                child.material.flatShading = false;
                child.material.skinning = true;
              }

              if (Object.keys( collada.library.images ).length === 0) {
                // Use as a texture the first loaded image if any

                if (local_files_indexes.length > 0) {
                  let loader;

                  let uc_name = local_files[ local_files_indexes[ 0 ] ].name.toUpperCase();
                  let ext = uc_name.substring( uc_name.lastIndexOf( '.' ) + 1 );

                  switch ( ext ) {
                    case 'DDS':
                      loader = dds_loader;
                      break;

                    case 'TGA':
                      loader = tga_loader;
                      break;

                    case 'KTX2':
                      loader = ktx2_loader;
                      break;

                    default:
                      loader = texture_loader;
                      break;
                  }

                  loader.load( URL.createObjectURL( local_files[ local_files_indexes[ 0 ] ] ), function( texture ) {
                    URL.revokeObjectURL( local_files[ local_files_indexes[ 0 ] ] );

                    texture.colorSpace = THREE.SRGBColorSpace;
                    texture.wrapS = THREE.RepeatWrapping;
                    texture.wrapT = THREE.RepeatWrapping;

                    // Apply texture
                    child.material.map = texture;
                    if (ext === 'DDS') child.material.map.repeat.y = - 1;
                    child.material.needsUpdate = true;

                    texture.dispose();
                  });
                }
              }
            }
          });

          dae_obj = collada.scene;
          dae_obj.name = 'local_model';

          kinematics = collada.kinematics;
          if (Object.keys( kinematics ).length !== 0 && tween) document.getElementById('btn_kinematics').disabled = false;

          animations = collada.scene.animations;
          if (animations.length > 0) animation_mixer = new THREE.AnimationMixer( collada.scene );

          // Add dae model to scene
          scene.add( dae_obj );
          dae_obj.position.set( 0, 0, 0 );
          camera.lookAt( dae_obj.position );

          finish_loading();
        }, function ( xhr ) { // onProgress
        }, function ( error ) { // onError
          handle_error( error );
          URL.revokeObjectURL( selected_dae_file );
        });

        mouse_wheel = true;
      }

      function log_info() {
        console.log( 'Memory: ', renderer.info.memory );
        console.log( 'Render: ', renderer.info.render );
      }

      function loadURLFile() {
        if (selected_url_file !== '') {
          if (selected_url_file.startsWith('https://www.dropbox.com') === true) {
            selected_url_file = selected_url_file.replace('www.dropbox.com', 'dl.dropbox.com');
          } else if (selected_url_file.startsWith('https://github.com') === true) {
            selected_url_file = ( selected_url_file.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
          }

          // No extension checking for URL so it has to point to DAE model

          dae_loader.load( selected_url_file, function( collada ) {
            collada.scene.traverse( function( child ) {
              if ((child.isMesh || child.isPoints) && child.geometry.attributes.position) {
                if (!child.geometry.attributes.normal) child.geometry.computeVertexNormals();
                child.geometry.normalizeNormals();

                child.geometry.computeBoundingBox();
                child.geometry.computeBoundingSphere();

                if (child.isSkinnedMesh) child.frustumCulled = false;

                if (child.geometry.attributes.color && child.geometry.attributes.color.array.length > 0) {
                  vertex_colors_enabled = true;
                }

                if (Array.isArray( child.material )) {
                  child.material.forEach( mtl => {
                    if (child.isPoints) {
                      (isMobile === true) ? mtl.size = 0.8 : mtl.size = 0.3;
                      child.sizeAttenuation = true;
                      child.sortPoints = true;
                    }

                    mtl.vertexColors = vertex_colors_enabled;
                    mtl.side = THREE.DoubleSide;
                    mtl.flatShading = false;
                    mtl.skinning = true;
                  });
                } else {
                  if (child.isPoints) {
                    (isMobile === true) ? child.material.size = 0.8 : child.material.size = 0.3;
                    child.sizeAttenuation = true;
                    child.sortPoints = true;
                  }

                  child.material.vertexColors = vertex_colors_enabled;
                  child.material.side = THREE.DoubleSide;
                  child.material.flatShading = false;
                  child.material.skinning = true;
                }
              }
            });

            dae_obj = collada.scene;
            dae_obj.name = 'url_model';

            kinematics = collada.kinematics;
            if (Object.keys( kinematics ).length !== 0 && tween) document.getElementById('btn_kinematics').disabled = false;

            animations = collada.scene.animations;
            if (animations.length > 0) animation_mixer = new THREE.AnimationMixer( collada.scene );

            // Add dae model to scene
            scene.add( dae_obj );
            dae_obj.position.set( 0, 0, 0 );
            camera.lookAt( dae_obj.position );

            finish_loading();
          }, function ( xhr ) { // onProgress
          }, function ( error ) { // onError
            handle_error( error );
          });
        }
      }

      async function finish_loading() {
        enable_disable( false );

        set_initial_scale();
        resize();

        let object_is_mesh = false;

        dae_obj.traverse( function( child ) {
          if (child.isMesh) object_is_mesh = true;
        });

        if (object_is_mesh === false) {
          document.getElementById('btn_wireframe').disabled = true;
          disabled_changed();
        }

        if (animations.length > 0) {
          current_animation = 0;
          animations.forEach( clip => { animation_mixer.clipAction( clip ).loop = THREE.LoopRepeat; } );
          animation_mixer.clipAction( animations[ 0 ] ).play();
          document.getElementById('btn_animate').disabled = false;
          document.getElementById('btn_animate').style.backgroundColor = 'lightgreen';
          animation_running = true;
          disabled_changed();
        }

        console.timeEnd( 'Loading Time' );
        document.getElementById('div_loading').style.display = 'none';

        render_requested = true;
        mouse_wheel = true;
        render();

        if (isMobile === false) await new Promise( resolve => setTimeout( log_info(), 250 ) );
      }

      function handle_error( error ) {
        console.timeEnd( 'Loading Time' );
        console.log( 'Error loading model!' );
        console.log( error );
        mouse_wheel = true;
        render_requested = false;
        enable_disable( true );

        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').style.display = 'block';
      }

      function dae_kinematics() {
        if (kinematics_running === true) {
          document.getElementById('btn_kinematics').style.backgroundColor = 'transparent';
          kinematics_running = false;
          kinematicsTween.stop();
        } else {
          document.getElementById('btn_kinematics').style.backgroundColor = 'lightgreen';
          kinematics_running = true;
          setupTween();
        }
      }

			function setupTween() {
        for ( const prop in kinematics.joints ) {
          if ( kinematics.joints.hasOwnProperty( prop ) ) {
            if ( ! kinematics.joints[ prop ].static ) {
              const joint = kinematics.joints[ prop ];
              const old = tweenParameters[ prop ];
              const position = old ? old : joint.zeroPosition;

              tweenParameters[ prop ] = position;

              target[ prop ] = THREE.MathUtils.randInt( joint.limits.min, joint.limits.max );
            }
          }
        }

        kinematicsTween = new tween( tweenParameters ).to( target, duration ).easing( easing.Quadratic.Out );

        kinematicsTween.onUpdate( function( object ) {
          for ( const prop in kinematics.joints ) {
            if ( kinematics.joints.hasOwnProperty( prop ) ) {
              if ( ! kinematics.joints[ prop ].static ) {
                kinematics.setJointValue( prop, object[ prop ] );
              }
            }
          }
        });

        if (kinematics_running === true) {
          kinematicsTween.start();
          setTimeout( setupTween, duration );
        }
      }

      function quick_x_rotation( angle ) {
        dae_obj.rotateX( Math.PI * parseFloat( angle ) );

        bounding_box.setFromObject( dae_obj );
        let center = bounding_box.getCenter( new THREE.Vector3() );

        controls.target.set( center.x, center.y, center.z );

        mouse_wheel = true;
      }

      function show_wireframe() {
        if (dae_obj) {
          if (wireframe_enabled === true) {
            wireframe_enabled = false;
            document.getElementById('btn_wireframe').style.backgroundColor = 'transparent';
          } else {
            wireframe_enabled = true;
            document.getElementById('btn_wireframe').style.backgroundColor = 'lightgreen';
          }

          dae_obj.traverse( function( child ) {
      	    if (child.isMesh) {
              if (Array.isArray( child.material )) {
                child.material.forEach( mtl => {
                  mtl.wireframe = wireframe_enabled;
                });
              } else {
                child.material.wireframe = wireframe_enabled;
              }
            }

            mouse_wheel = true;
      	  });
        }
      }

      async function render() {
        if (dae_obj) {
          if (animation_running === true || kinematics_running === true || mouse_down === true || mouse_wheel === true) {
            if (animation_running === true) animation_mixer.update( clock.getDelta() );
            if (kinematics_running === true && kinematicsTween) tween_update();

            controls.update();

            renderer.clear();
            renderer.render( scene, camera );

            if (mouse_wheel === true) {
              if (count > 5) {
                mouse_wheel = false;
                count = 0;
              } else {
                count ++;
              }
            }
          }
        }

        if (render_requested === true) requestAnimationFrame( render );
      }

      async function reset_all( reset = false ) {
        document.getElementById('dli_val').innerText = 5;
        document.getElementById('directional_light_intensity').value = 5;
        document.getElementById('back_color').value = '#000000';
        document.getElementById('btn_url').style.backgroundColor = 'transparent';
        document.getElementById('btn_animate').style.backgroundColor = 'transparent';
        document.getElementById('btn_kinematics').style.backgroundColor = 'transparent';
        document.getElementById('btn_wireframe').style.backgroundColor = 'transparent';

        if (scene) {
          if (directionalLight) {
            set_directional_light_intensity();
          }
        }

        // Reset the view
        if (reset === true) {
          controls.reset();
          set_back_color();
        } else {
          // Page (re)loading
          if (scene) {
            if (scene.environment) {
              scene.environment.dispose();
              scene.environment = null;
            }

            if (dae_obj) await scene_cleanup();

            while (scene.children.length > 0) {
              scene.remove( scene.children[ 0 ] );
            }

            renderer.clear();
            renderer.dispose();
          }

          mouse_wheel = true;

          document.getElementById('file_input').value = '';
          document.getElementById('div_error').style.display = 'none';
          document.getElementById('btn_animate').disabled = true;
          document.getElementById('btn_kinematics').disabled = true;
          document.getElementById('url_entry').value = '';
          selected_url_file = '';
          enable_disable( true );
        }

        mouse_wheel = true;
      }

      async function scene_cleanup() {
        scene.remove( dae_obj );

        renderer.clear();

        if (animation_mixer) {
          animation_mixer.stopAllAction();

          for ( let i = 0; i < animations.length; i++ ) {
            animation_mixer.uncacheAction( animations[ i ] );
            animation_mixer.uncacheClip( animations[ i ] );
          }

          animation_mixer.uncacheRoot( animation_mixer.getRoot() );
        }

        if (wireframe_enabled === true) await show_wireframe();

        if (dae_obj.skeleton && dae_obj.skeleton.boneTexture)
          dae_obj.skeleton.boneTexture.dispose();

        dae_obj.traverse( ( child ) => {
          if (child.isMesh || child.isPoints) {
            if (child.skeleton && child.skeleton.boneTexture)
              child.skeleton.boneTexture.dispose();

            if (child.material) {
              if (Array.isArray( child.material )) {
                child.material.forEach( mtl => {
                  for (const prop in mtl) {
                    texture_maps.forEach( tex_map => {
                      if (prop === tex_map) {
                        if (mtl[ prop ]) mtl[ prop ].dispose();
                      }
                    });
                  };

                  mtl.dispose();
                });
              } else {
                for (const prop in child.material) {
                  texture_maps.forEach( tex_map => {
                    if (prop === tex_map) {
                      if (child.material[ prop ]) child.material[ prop ].dispose();
                    }
                  });
                };

                child.material.dispose();
              }
            }

            child.geometry.dispose();
          }
        });

        if (isMobile === false) {
          renderer.info.reset();
          renderer.resetState();
        }
      }

      function enable_disable( disable = false ) {
        document.getElementById('directional_light_intensity').disabled = disable;
        document.getElementById('btn_wireframe').disabled = disable;
        document.getElementById('btn_dc_dli').disabled = disable;
        document.getElementById('back_color').disabled = disable;
        document.getElementById('btn_quick_x').disabled = disable;
        disabled_changed();

        mouse_wheel = true;
      }
    </script>

    <script>
      function document_ready() {
        isMobile = (/iPad|iPhone|iPod/.test( navigator.platform )) ||
          (/Android|webOS|iPhone|iPad|iPod|CriOS|BlackBerry|IEMobile|Opera Mini/i.test( navigator.userAgent )) ||
          (navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));

        texture_maps = [
          'map', 'aoMap', 'alphaMap', 'bumpMap', 'displacementMap', 'envMap', 'lightMap', 'emissiveMap', 'normalMap',
          'metalnessMap', 'roughnessMap', 'anisotropyMap', 'clearcoatMap', 'clearcoatNormalMap', 'clearcoatRoughnessMap',
          'iridescenceMap', 'iridescenceThicknessMap', 'sheenColorMap', 'sheenRoughnessMap', 'specularMap',
          'specularColorMap', 'specularIntensityMap', 'thicknessMap', 'transmissionMap'
        ];

        $('#url_entry').keypress( function( event ) { if (event.key === 'Enter') $('#btn_load').click(); });
      }

      function disabled_changed() {
        $('button').each( function() {
          mouse_wheel = true;

          if (this.disabled === false) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });

        $('input[type=color]').each( function() {
          if (this.disabled === false) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px whitesmoke'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });
      }
    </script>
  </body>
</html>
