<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DST Embroidery Viewer">
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>

    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.10.0/dist/es-module-shims.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.178.0/build/three.module.min.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.178.0/examples/jsm/"
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/jszip@3.10.1/dist/jszip.min.js" defer></script>

    <script>
      var THREE, manager, texture_loader, dst_loader;
      var renderer, scene, camera, render_requested;
      var gui, embroidery, guiColors, isMobile;
      var controls, mouse_down, mouse_wheel;
      var bgnd_linear_gradient, texture_maps;
      var events_initialized, zip, count = 0;
      var ambientLight, directionalLight, bounding_box;
      var ww = window.innerWidth, wh = window.innerHeight;
      var selected_dst_file, selected_url_file = '', normalMap;
      var url_displayed = false, url_loading = false, diffuseMap;
    </script>

    <script type="module">
      import * as three_js from "three";
      import { GUI } from "three/addons/libs/lil-gui.module.min.js";
      import { DSTLoader } from "../../static/jsm/loaders/DSTLoader.min.js";

      THREE = three_js;

      manager = new THREE.LoadingManager();
      manager.onLoad = function() { mouse_wheel = true; }

      dst_loader = new DSTLoader( manager );

      texture_loader = new THREE.TextureLoader( manager );

      gui = new GUI( { autoPlace: false, container: document.getElementById("gui_position"), width: 200 } );
      set_gui_position();
    </script>

    <style>
      body, html {
        position: relative;
        display: block;
        background-color: black;
        width: 100%;
        min-height: 100vh;
        border: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }

      button {
        background-color: transparent;
        border: 1px solid blue;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        vertical-align: middle;
        margin: 2px 2px 2px 0;
        min-width: 19px;
        height: 22px;
        padding: 1px;
      }

      label {
        vertical-align: middle;
        height: 22px;
        margin: 2px 0 2px 0;
      }

      input[type=color] {
        border: 1px solid whitesmoke;
        margin: 2px 3px 2px -2px;
        vertical-align: middle;
        background: none;
        height: 20px;
        width: 16px;
        padding: 0;
      }

      input[type=file] {
        vertical-align: middle;
        margin: 2px 0 2px 0;
        max-width: 160px;
      }

      input[type=range] {
        vertical-align: middle;
        margin: 2px 0 2px 0;
        min-width: 30px;
      }

      input[type=text] {
        vertical-align: middle;
        margin: 2px 2px 2px 0;
      }

      .dropdown {
        background-color: transparent;
        vertical-align: middle;
        display: inline-block;
        position: relative;
        min-width: 40px;
        font-size: 85%;
        color: blue;
        border: none;
        padding: 1px;
      }

      .dropdown-content {
        background-color: #FFFAD5;
        border: 1px solid #DEAF64;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        position: absolute;
        margin-top: 2px;
        z-index: 10;
      }

      .error_msg {
        background-color: transparent;
        position: absolute;
        text-align: center;
        font-size: x-large;
        display: none;
        color: red;
        width: 240px;
        height: 240px;
        top: 50%;
        left: 50%;
        margin-left: -127px;
        padding: 10px;
        border: none;
      }

      .loading_msg {
        background-color: transparent;
        color: greenyellow;
        position: absolute;
        text-align: center;
        font-size: large;
        height: 240px;
        width: 240px;
        top: 50%;
        left: 50%;
        margin-left: -127px;
        padding: 10px;
        border: none;
      }

      #gui_position {
        position: absolute;
        display: none;
        min-width: 200px;
        border: 1px solid navy;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        min-height: 22px;
        margin-left: 2px;
      }

      .fm {
        color: navy;
        width: 99.1%;
        border: 1px solid navy;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        padding: 4px;
        margin: 1px;
      }

      .fixed-menu {
        background-color: whitesmoke;
        display: inline-block;
        position: fixed;
        padding: 1px;
        width: 100%;
        margin: 0px;
        z-index: 1;
      }
    </style>

    <!-- Original OBJ source code that inspired this: https://codepen.io/Mamboleoo/pen/PqjGdN -->
    <!-- Using three.js library: https://github.com/mrdoob/three.js -->
    <!-- Using customized DST Embroidery File Loader by thrax: https://github.com/manthrax/dst-format -->
    <!-- Using threadNormal & threadTexture images from: https://github.com/manthrax/dst-format -->
    <!-- Using jQuery: https://github.com/jquery/jquery -->

    <!-- mouse_wheel variable is used throughout as a trigger for rendering -->

    <title>DST Viewer (r178)</title>
  </head>
  <body onload="reset_all(); document_ready(); disabled_changed();" onresize="resize();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm" id="fm1">
        <button id="btn_desktop" title="Open Desktop Version" onclick="switch_to_desktop();">D</button>
        <label for="btn_desktop" title="Open Desktop Version"></label>
        <button title="Get remote model via URL" id="btn_url" onclick="show_url()" style="min-width: 38px;">URL</button>
        <label for="btn_url" title="Get remote model via URL"></label>
        <button title="Browse Local Files" id="btn_file_input" style="min-width: 54px;" onclick="document.getElementById('file_input').click();">Browse</button>
        <label for="btn_file_input" title="Browse Local Files"></label>
        <input type="file" id="file_input" style="display: none;" onchange="init();" accept=".dst" />
        <label for="back_color" title="Background Color">B</label>
        <input type="color" title="Background Color" id="back_color" onchange="set_back_color();" disabled />
        <button title="Directional Light Intensity" id="btn_dc_dli" class="dropdown" style="text-align: center; border: 1px solid blue; -webkit-border-radius: 3px; border-radius: 3px;" onclick="show_hide_dropdown_dli();">DLi
          <div id="dc_dli" class="dropdown-content" style="display: none;" onfocusout="hide_dropdown_dli();">
            <input type="range" orient="vertical" id="directional_light_intensity" min="0" max="30" step="0.05" value="3" onkeydown="return_false();" oninput="set_directional_light_intensity();" disabled />
            <span id="dli_val">3</span>
          </div>
        </button>
        <label for="btn_dc_dli" title="Directional Light Intensity"></label>
        <button title="Gradient Color Background" id="btn_bgnd_linear_gradient" onclick="set_bgnd_linear_gradient();" disabled>G</button>
        <label for="btn_bgnd_linear_gradient" title="Gradient Color Background"></label>
        <button title="Export as PNG Texture" id="btn_png_export" onclick="export_png();" style="min-width: 34px;" disabled>PNG</button>
        <label for="btn_png_export" title="Export as PNG Texture"></label>
        <button title="Quick -90 degree X-Axis Rotation" id="btn_quick_x" onclick="quick_x_rotation( '-0.5' );" style="min-width: 14px;" disabled>&#x2191</button>
        <label for="btn_quick_x" title="Quick -90 degree X-Axis Rotation"></label>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry" title="Remote URL"></label>
        <input type="text" id="url_entry" value="" style="width: calc(75% - 12px);" />
        <button title="Load" id="btn_load" onclick="load_url_file();" style="min-width: 8.5%;">Load</button>
        <label for="btn_load" title="Load"></label>
        <button title="Clear" id="btn_clear" onclick="clear_url();" style="min-width: 8.5%;">Clear</button>
        <label for="btn_clear" title="Clear"></label>
      </div>
      <div class="fm" title="PNG Export Download Link" id="div_download" style="display: none;">
        <a id="link" href="#" target="_blank" onclick="hide_link();">Download Exported PNG</a>
        <button title="Cancel Download" id="btn_cancel" onclick="cancel_download();" style="min-width: 50px; margin: 2px 0 2px 15px;">Cancel</button>
        <label for="btn_cancel" title="Cancel Download"></label>
      </div>
    </div>
    <div id="gui_position"></div>

    <div id="div_error" class="error_msg">E R R O R !</div>
    <div id="div_loading" class="loading_msg">DST Viewer</div>

    <script>
      function hide_dropdown_dli() { $('#dc_dli').fadeOut(); mouse_wheel = true; }

      function show_hide_dropdown_dli() {
        if ($('#dc_dli')[ 0 ].style.display === 'none') {
          $('#dc_dli').fadeIn();

          $('#dc_dli')[ 0 ].style.marginTop = '2px';

          $('#directional_light_intensity').focus();
        } else {
          $('#dc_dli').fadeOut();
        }

        mouse_wheel = true;
      }

      function return_false() { return false; }

      function switch_to_desktop() {
        let link = document.createElement( 'a' );
        link.style.display = 'none';
        link.href = "../DST Viewer.html";
        link.click();
      }

      function set_gui_position() {
        let fixed_menu_bottom = ( parseInt( $('#fixed_menu').outerHeight( true ) ) + 2 ).toString() + 'px';
        document.getElementById('gui_position').style.marginTop = fixed_menu_bottom;
      }

      function show_url() {
        if (url_displayed === true) {
          url_displayed = false;
          document.getElementById('url').style.display = 'none';
          document.getElementById('btn_url').style.backgroundColor = 'transparent';
        } else {
          document.getElementById('btn_url').style.backgroundColor = 'lightgreen';
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }

        if (gui) set_gui_position();

        mouse_wheel = true;
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url !== '') { selected_url_file = url; url_loading = true; init(); }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function initialize_event_listeners() {
        const arrow_keys = [ 'ArrowUp', 'ArrowDown', 'ArrowRight', 'ArrowLeft' ];

        window.addEventListener( 'pointerdown', ( event ) => { mouse_down = true; }, false);
        window.addEventListener( 'pointerup', ( event ) => { mouse_down = false; mouse_wheel = true; }, false);
        window.addEventListener( 'wheel', ( event ) => { mouse_wheel = true; }, false);
        window.addEventListener( 'keydown', ( event ) => {
          if (arrow_keys.some( k => k === event.key ) || event.ctrlKey || event.metaKey || event.shiftKey) {
            controls.listenToKeyEvents( window );
            mouse_wheel = true;
          }
        }, false);
        window.addEventListener( 'keyup', ( event ) => {
          if (arrow_keys.some( k => k === event.key )) {
            controls.stopListenToKeyEvents();
            mouse_wheel = false;
          }
        }, false);
      }

      function resize() {
        if (scene !== undefined) {
          mouse_wheel = true;

          ww = window.innerWidth;
          wh = window.innerHeight;

          renderer.setSize( ww, wh );

          camera.aspect = ww / wh;
          camera.updateProjectionMatrix();

          if (gui) set_gui_position();

          mouse_wheel = true;
        }
      }
    </script>

    <script>
      function start_export() {
        document.getElementById('fixed_menu').style.display = 'none';
        document.getElementById('div_loading').innerHTML = 'Please wait ...';
        document.getElementById('div_loading').style.display = 'block';
        document.getElementById('gui_position').style.display = 'none';
        if (document.getElementById('div_download').style.display !== 'none') cancel_download();

        set_filename();
      }

      function set_filename() {
        if (selected_dst_file !== null) {
          filename = selected_dst_file.name.substring( 0, selected_dst_file.name.lastIndexOf('.') );
        } else {
          filename = selected_url_file.substring( selected_url_file.lastIndexOf('/') + 1, selected_url_file.lastIndexOf('.') );
        }

        if (!filename || filename === '') {
          filename = 'Model';
        } else {
          filename = filename.replaceAll( '%20', ' ' );
        }
      }

      async function process_zip( ext = '' ) {
        await zip.generateAsync( { type: 'blob', compression: "DEFLATE", compressionOptions: { level: 9 } } ).then( function( zipped_file ) {
          let link = document.getElementById('link');
          link.href = URL.createObjectURL( zipped_file );
          URL.revokeObjectURL( zipped_file );
          link.download = filename + ext + '.zip';

          document.getElementById('div_loading').innerHTML = '';
          document.getElementById('div_loading').style.display = 'none';
          document.getElementById('fixed_menu').style.display = 'block';
          document.getElementById('div_download').style.display = 'block';
          document.getElementById('gui_position').style.display = 'block';
          set_gui_position();

          zip = new JSZip();
        });
      }

      function hide_link() {
        document.getElementById('div_download').style.display = 'none';
        set_gui_position();
      }

      function cancel_download() {
        document.getElementById('div_download').style.display = 'none';
        set_gui_position();

        document.getElementById('link').download = '';
        document.getElementById('link').href = '#';
      }

      async function export_png() {
        if (embroidery.mesh) {
          await start_export();

          let data = await embroidery.toTexture( renderer, scene, camera );

          let blob = new Blob( [ data ], { type: 'image/png' } );

          zip.file( filename + '.png', blob );

          await process_zip( '_PNG' );
        }
      }

      function set_back_color() {
        if (scene.background) {
          scene.background.dispose();
          scene.background = null;
        }

        bgnd_linear_gradient = false;
        document.body.style.backgroundImage = 'none';
        document.body.style.backgroundColor = document.getElementById('back_color').value;
        document.getElementById('btn_bgnd_linear_gradient').style.backgroundColor = 'transparent';
        mouse_wheel = true;
      }

      function set_directional_light_intensity() {
        let dli_value = document.getElementById('directional_light_intensity').value;
        document.getElementById('dli_val').innerText = dli_value;
        directionalLight.intensity = parseFloat( dli_value );

        mouse_wheel = true;
      }

      async function gui_reset() {
        await new Promise( resolve => {
          if (Object.entries( guiColors ).length > 0) {
            Object.keys( guiColors ).forEach( key => {
              guiColors[ key ].destroy();
              delete guiColors[ key ];
            });

            guiColors = {};
          }

          resolve( gui.reset() );

          mouse_wheel = true;
        });
      }

      function set_bgnd_linear_gradient() {
        if (scene.background) {
          scene.background.dispose();
          scene.background = null;
        }

        if (bgnd_linear_gradient === true) {
          bgnd_linear_gradient = false;
          document.getElementById('btn_bgnd_linear_gradient').style.backgroundColor = 'transparent';
        } else {
          bgnd_linear_gradient = true;

          let canvas = document.createElement('canvas');
          let context = canvas.getContext("2d");
          canvas.width = ww;
          canvas.height = wh;

          let gradient = context.createLinearGradient( 0, 0, 0, wh );
          let gradient_colors = [ [ 0.9, 0.8, 0.7, 0.6, 0.5, 0.4, 0.3, 0.15 ],
            [ '#151525', '#252535', '#454555', '#656575', '#787888', '#8A8A9A', '#9A9AAA', '#A5A5B5' ] ];
          let i = gradient_colors[ 0 ].length;
          while( i-- ) { gradient.addColorStop( gradient_colors[ 0 ][ i ], gradient_colors[ 1 ][ i ] ); }
          context.fillStyle = gradient;
          context.fillRect( 0, 0, ww, wh );
          let texture = new THREE.Texture( canvas );
          texture.mapping = THREE.EquirectangularReflectionMapping;
          texture.needsUpdate = true;
          scene.background = texture.clone();
          texture.dispose();

          document.body.style.backgroundColor = '#000000';
          document.getElementById('back_color').value = '#000000';
          document.getElementById('btn_bgnd_linear_gradient').style.backgroundColor = 'lightgreen';
        }

        mouse_wheel = true;
      }

      function set_initial_scale() {
        // Set the initial scale of the object so it hopefully comes to view

        bounding_box.setFromObject( embroidery.mesh );
        let size = bounding_box.getSize( new THREE.Vector3() );
        let center = bounding_box.getCenter( new THREE.Vector3() );

        // Move to the center

        if (center.x !== 0) embroidery.mesh.translateX( center.x * ( - 1 ) );
        if (center.y !== 0) embroidery.mesh.translateY( center.y * ( - 1 ) );
        if (center.z !== 0) embroidery.mesh.translateZ( center.z * ( - 1 ) );

        // Scale according to window width / height, whichever is greater

        if (ww > wh) {
          embroidery.mesh.scale.multiplyScalar( ( wh / size.y ) * 0.2 );
        } else {
          embroidery.mesh.scale.multiplyScalar( ( ww / size.x ) * 0.2 );
        }

        // Get center coordinates and move to the center again

        bounding_box.setFromObject( embroidery.mesh );
        size = bounding_box.getSize( new THREE.Vector3() );
        center = bounding_box.getCenter( new THREE.Vector3() );

        if (center.x !== 0) embroidery.mesh.translateX( center.x * ( - 1 ) );
        if (center.y !== 0) embroidery.mesh.translateY( center.y * ( - 1 ) );
        if (center.z !== 0) embroidery.mesh.translateZ( center.z * ( - 1 ) );

        // Scale again and re-center if the model's width / height is greater than the screen's width / height

        if ( (ww > wh && size.x > ww) || (wh > ww && size.y > wh) ) {
          embroidery.mesh.scale.multiplyScalar( ww / (ww > wh ? size.x : size.y) );

          bounding_box.setFromObject( embroidery.mesh );
          size = bounding_box.getSize( new THREE.Vector3() );
          center = bounding_box.getCenter( new THREE.Vector3() );

          if (center.x !== 0) embroidery.mesh.translateX( center.x * ( - 1 ) );
          if (center.y !== 0) embroidery.mesh.translateY( center.y * ( - 1 ) );
          if (center.z !== 0) embroidery.mesh.translateZ( center.z * ( - 1 ) );
        }

        // Set the camera's z distance

        camera.position.z = bounding_box.max.z + 250;
        camera.updateProjectionMatrix();

        mouse_wheel = true;
      }

      function quick_x_rotation( angle ) {
        embroidery.mesh.rotateX( Math.PI * parseFloat( angle ) );

        mouse_wheel = true;
      }

      async function init() {
        if (url_loading === false && document.getElementById('file_input').files.length === 0) return;

        if (scene) {
          embroidery.resetInProgress = true;

          await gui_reset();

          mouse_wheel = true;

          await scene_cleanup();

          await reset_all( true );
        }

        enable_disable( true );

        if (zip === undefined) zip = new JSZip();

        selected_dst_file = null;
        mouse_down = false;
        mouse_wheel = true;
        bgnd_linear_gradient = false;
        render_requested = false;
        bounding_box = new THREE.Box3();
        guiColors = {};

        console.time( 'Loading Time' );
        document.body.style.backgroundImage = 'none';
        document.getElementById('div_error').style.display = 'none';
        document.getElementById('div_loading').style.display = 'block';
        document.getElementById('div_loading').innerHTML = 'Load & Visualize';

        if (url_loading === false) {
          // Loaded file
          var fi = document.getElementById('file_input');

          if (fi.files[ 0 ].name.toUpperCase().endsWith('.DST')) selected_dst_file = fi.files[ 0 ];

          if (selected_dst_file === null) {
            handle_error( 'No valid DST file selected!' );
            return;
          }

          selected_url_file = '';
        } else {
          // Reset the file input
          document.getElementById('file_input').value = '';
          url_loading = false;
        }

        if (renderer === undefined) {
          renderer = new THREE.WebGLRenderer( { antialias: true, alpha: true } );
          renderer.setPixelRatio( window.devicePixelRatio );
          renderer.toneMapping = THREE.NeutralToneMapping;
          renderer.toneMappingExposure = 0.8;
          renderer.setSize( ww, wh );
          renderer.info.autoReset = false;
          renderer.shadowMap.enabled = true;
          renderer.shadowMap.type = THREE.PCFSoftShadowMap;
          renderer.setClearColor( 0xFFFFFF, 0 ); // Allow setting the background color
          renderer.autoClear = false;

          document.body.appendChild( renderer.domElement );
        }

        if (scene === undefined) scene = new THREE.Scene();

        scene.backgroundBlurriness = 0;
        scene.backgroundIntensity = 1.0;

        if (!events_initialized) { initialize_event_listeners(); events_initialized = true; }

        if (camera === undefined) {
          camera = new THREE.PerspectiveCamera( 45, ww / wh, 0.1, 10000 );
          camera.position.set( 0, 0, 250 );
          scene.add( camera );
        }

        // Add AmbientLight to the scene
        if (ambientLight === undefined) {
          ambientLight = new THREE.AmbientLight( 0xFFFFFF, 0.25 );
          ambientLight.position.set( 0, 0, - 250 );
          camera.add( ambientLight );
        }

        // Add DirectionalLight to the camera (add it to the scene instead if not using Orbit Controls)
        if (directionalLight === undefined) {
          directionalLight = new THREE.DirectionalLight( 0xFFFFFF, 3 );
          directionalLight.position.set( 0, 0, 250 );
          directionalLight.lookAt( new THREE.Vector3( 0, 0, 0 ) );
          camera.add( directionalLight );
        }

        if (controls === undefined) {
          const { OrbitControls } = await import( "three/addons/controls/OrbitControls.min.js" );

          controls = new OrbitControls( camera, renderer.domElement );
          controls.zoomToCursor = true;
          controls.zoomSpeed = 0.5;
          controls.rotateSpeed = 0.5;
          controls.keyPanSpeed = 0.5; 
          controls.panSpeed = 0.5;
          //controls.enableDamping = true;
          //controls.dampingFactor = 0.3;
          //controls.enableKeys = false;
          //controls.enableZoom = true;
          //controls.maxPolarAngle = 2.2;
          //controls.minPolarAngle = 1.1;
          //controls.minDistance = 2;
          //controls.maxDistance = 500;
        }

        if (normalMap === undefined) {
          normalMap = await texture_loader.load( '../../../images/threadNormal.png' );
        }

        if (diffuseMap === undefined) {
          diffuseMap = await texture_loader.load( '../../../images/threadTexture.jpg' );
        }

        // Load DST file
        selected_dst_file ? loadFile() : loadURLFile();
      }

      function loadFile(){
        dst_loader.load( URL.createObjectURL( selected_dst_file ), addFileInScene,
        function ( xhr ) { }, // onProgress
        function ( error ) { // onError
          handle( error );
          URL.revokeObjectURL( selected_dst_file );
        });
      }

      async function addFileInScene( object ) {
        if (selected_dst_file) URL.revokeObjectURL( selected_dst_file );

        if (embroidery !== undefined) {
          embroidery.mesh.material.normalMap.dispose();
          embroidery.mesh.material.map.dispose();
          embroidery.mesh.geometry.dispose();
        }

        mouse_wheel = true;

        embroidery = object;

        let pal = embroidery.palette;

        pal.forEach( ( c, i ) => {
          let p = {};

          p[ 'color' + i ] = new THREE.Color( c );

          guiColors[ i ] = gui.addColor( p, 'color' + i ).onChange( ( v ) => {
            pal[ i ] = "#" + v.getHexString();
            embroidery.palette = pal;
            mouse_wheel = true;
          });
        });

        let pplane;

        mouse_wheel = true;

        let child_count = 1;

        embroidery.mesh.traverse( function( child ) {
          if (child.isMesh || child.isLine) {
            if (child.name === '') {
              child.name = 'child_' + child_count;
              child_count += 1;
            }

            if (!child.geometry.attributes.normal) child.geometry.computeVertexNormals();
            child.geometry.normalizeNormals();

            child.material.side = THREE.DoubleSide;
            child.material.normalMap = normalMap;
            child.material.map = diffuseMap;
          }
        });

        // Add embroidery.mesh to the scene
        scene.add( embroidery.mesh );
        camera.lookAt( embroidery.mesh.position );

        finish_loading();
      }

      function loadURLFile() {
        if (selected_url_file !== '') {
          if (selected_url_file.startsWith('https://www.dropbox.com') === true) {
            selected_url_file = selected_url_file.replace('www.dropbox.com', 'dl.dropbox.com');
          } else if (selected_url_file.startsWith('https://github.com') === true) {
            selected_url_file = ( selected_url_file.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
          }

          // No extension checking for URL so it has to point to DST model

          dst_loader.load( selected_url_file, addFileInScene,
          function ( xhr ) { // onProgress
          }, function ( error ) { handle_error( error ); }); // onError
        }
      }

      async function finish_loading() {
        set_initial_scale();
        resize();

        embroidery.resetInProgress = false;

        gui.open();
        document.getElementById('gui_position').style.display = 'block';
        set_gui_position();

        enable_disable( false );

        console.timeEnd( 'Loading Time' );
        document.getElementById('div_loading').style.display = 'none';

        render_requested = true;
        mouse_wheel = true;
        render();

        if (isMobile === false) await new Promise( resolve => setTimeout( log_info(), 250 ) );
      }

      function log_info() {
        console.log( 'Memory: ', renderer.info.memory );
        console.log( 'Render: ', renderer.info.render );
      }

      function handle_error( error ) {
        console.timeEnd( 'Loading Time' );
        console.log( 'Error loading model!' );
        console.log( error );
        mouse_wheel = true;
        render_requested = false;
        enable_disable( true );

        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').style.display = 'block';
      }

      async function render() {
        if (embroidery.mesh) {
          if (mouse_down === true || mouse_wheel === true) {
            controls.update();

            renderer.clear();
            renderer.render( scene, camera );

            if (mouse_wheel === true) {
              if (count > 15) {
                mouse_wheel = false;
                count = 0;
              } else {
                count ++;
              }
            }
          }
        }

        if (render_requested === true) requestAnimationFrame( render );
      }

      async function reset_all( reset = false ) {
        document.getElementById('back_color').value = '#000000';
        document.getElementById('dli_val').innerText = 3;
        document.getElementById('directional_light_intensity').value = 3;
        document.getElementById('btn_url').style.backgroundColor = 'transparent';
        document.getElementById('btn_bgnd_linear_gradient').style.backgroundColor = 'transparent';

        if (scene) {
          if (directionalLight) {
            set_directional_light_intensity();
          }
        }

        // Reset the view
        if (reset === true) {
          controls.reset();
          set_back_color();
        } else {
          // Page (re)loading
          if (scene) {
            if (scene.environment) {
              scene.environment.dispose();
              scene.environment = null;
            }

            if (scene.background) {
              scene.background.dispose();
              scene.background = null;
            }

            if (embroidery.mesh) await scene_cleanup();

            while (scene.children.length > 0) {
              scene.remove( scene.children[ 0 ] );
            }

            renderer.clear();
            renderer.dispose();
         }

          document.getElementById('file_input').value = '';
          document.getElementById('div_error').style.display = 'none';
          document.getElementById('url_entry').value = '';
          selected_url_file = '';
          enable_disable( true );
        }

        disabled_changed();

        mouse_wheel = true;
      }

      async function scene_cleanup() {
        scene.remove( embroidery.mesh );

        renderer.clear();

        embroidery.mesh.traverse( ( child ) => {
          if (child.isMesh || child.isLine) {
            if (child.material) {
              for (const prop in child.material) {
                texture_maps.forEach( tex_map => {
                  if (prop === tex_map) {
                    if (child.material[ prop ]) child.material[ prop ].dispose();
                  }
                });
              };

              child.material.dispose();
            }

            child.geometry.dispose();
          }
        });

        if (isMobile === false) {
          renderer.info.reset();
          renderer.resetState();
        }
      }

      function enable_disable( disable = false ) {
        document.getElementById('directional_light_intensity').disabled = disable;
        document.getElementById('btn_dc_dli').disabled = disable;
        document.getElementById('back_color').disabled = disable;
        document.getElementById('btn_quick_x').disabled = disable;
        document.getElementById('btn_png_export').disabled = disable;
        document.getElementById('btn_bgnd_linear_gradient').disabled = disable;
        disabled_changed();

        mouse_wheel = true;
      }
    </script>

    <script>
      function document_ready() {
        isMobile = (/iPad|iPhone|iPod/.test( navigator.platform )) ||
          (/Android|webOS|iPhone|iPad|iPod|CriOS|BlackBerry|IEMobile|Opera Mini/i.test( navigator.userAgent )) ||
          (navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));

        texture_maps = [ 'map', 'normalMap' ];

        mouse_wheel = true;
      }

      function disabled_changed() {
        $('button').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });

        $('input[type=color]').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px whitesmoke'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });
      }
    </script>
  </body>
</html>
