<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="GCODE (3D-printing) Viewer">
    <link rel="stylesheet" href="../../static/css/mobile-viewers.css">
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>

    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.10.0/dist/es-module-shims.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.178.0/build/three.module.min.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.178.0/examples/jsm/"
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>

    <script>
      var THREE, manager, renderer, scene, gcode_loader, gcode_obj;
      var camera, controls, path, path_visible, render_requested;
      var mouse_down, mouse_wheel, events_initialized, isMobile;
      var ww = window.innerWidth, wh = window.innerHeight;
      var url_displayed = false, url_loading = false, count = 0;
      var selected_gcode_file, selected_url_file = '', bounding_box;
    </script>

    <script type="module">
      import * as three_js from "three";
      import { GCodeLoader } from "../../static/jsm/loaders/GCodeLoader.min.js";

      THREE = three_js;

      manager = new THREE.LoadingManager();
      manager.onLoad = function() { mouse_wheel = true; }

      gcode_loader = new GCodeLoader( manager );
    </script>

    <!-- Original OBJ source code that inspired this: https://codepen.io/Mamboleoo/pen/PqjGdN -->
    <!-- Using three.js library: https://github.com/mrdoob/three.js -->
    <!-- Using updated GCODE Loader from: https://github.com/emplast/Threejs-GcodeLoaderNGCfile -->
    <!-- Using jQuery: https://github.com/jquery/jquery -->

    <!-- mouse_wheel variable is used throughout as a trigger for rendering -->

    <title>GCODE Viewer (r178)</title>
  </head>
  <body onload="reset_all(); document_ready(); disabled_changed();" onresize="resize();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm">
        <button id="btn_desktop" title="Open Desktop Version" onclick="switch_to_desktop();">D</button>
        <label for="btn_desktop" title="Open Desktop Version"></label>
        <button title="Get remote model via URL" id="btn_url" onclick="show_url()" style="min-width: 38px;">URL</button>
        <label for="btn_url" title="Get remote model via URL"></label>
        <button title="Browse Local Files" id="btn_file_input" style="min-width: 54px;" onclick="document.getElementById('file_input').click();">Browse</button>
        <label for="btn_file_input" title="Browse Local Files"></label>
        <input type="file" id="file_input" style="display: none;" onchange="init();" accept=".gcode, .ncc, .ngc" />
        <label for="back_color" title="Background Color">BG</label>
        <input type="color" title="Background Color" id="back_color" onchange="set_back_color();" disabled />
        <button title="Path" id="btn_path" onclick="show_path()" style="min-width: 40px;" disabled>path</button>
        <label for="btn_path" title="Path"></label>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry" title="Remote URL"></label>
        <input type="text" id="url_entry" value="" style="width: calc(75% - 12px);" />
        <button title="Load" id="btn_load" onclick="load_url_file();" style="min-width: 8.5%;">Load</button>
        <label for="btn_load" title="Load"></label>
        <button title="Clear" id="btn_clear" onclick="clear_url();" style="min-width: 8.5%;">Clear</button>
        <label for="btn_clear" title="Clear"></label>
      </div>
    </div>

    <div id="div_error" class="error_msg">E R R O R !</div>
    <div id="div_loading" class="loading_msg">GCODE Viewer</div>

    <script>
      function switch_to_desktop() {
        let link = document.createElement( 'a' );
        link.style.display = 'none';
        link.href = "../GCODE Viewer.html";
        link.click();
      }

      function show_url() {
        if (url_displayed === true) {
          url_displayed = false;
          document.getElementById('url').style.display = 'none';
          document.getElementById('btn_url').style.backgroundColor = 'transparent';
        } else {
          document.getElementById('btn_url').style.backgroundColor = 'lightgreen';
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url !== '') { selected_url_file = url; url_loading = true; init(); }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function initialize_event_listeners() {
        const arrow_keys = [ 'ArrowUp', 'ArrowDown', 'ArrowRight', 'ArrowLeft' ];

        window.addEventListener( 'pointerdown', (event) => { mouse_down = true; }, false);
        window.addEventListener( 'pointerup', (event) => { mouse_down = false; mouse_wheel = true; }, false);
        window.addEventListener( 'wheel', ( event ) => { mouse_wheel = true; }, false);
        window.addEventListener( 'keydown', ( event ) => {
          if (arrow_keys.some( k => k === event.key ) || event.ctrlKey || event.metaKey || event.shiftKey) {
            controls.listenToKeyEvents( window );
            mouse_wheel = true;
          }
        }, false);
        window.addEventListener( 'keyup', ( event ) => {
          if (arrow_keys.some( k => k === event.key )) {
            controls.stopListenToKeyEvents();
            mouse_wheel = false;
          }
        }, false);
      }

      function resize() {
        if (scene !== undefined) {
          mouse_wheel = true;

          ww = window.innerWidth;
          wh = window.innerHeight;

          renderer.setSize( ww, wh );

          camera.aspect = ww / wh;
          camera.updateProjectionMatrix();

          mouse_wheel = true;
        }
      }
    </script>

    <script>
      function set_back_color() {
        scene.background = null;
        document.body.style.backgroundColor = document.getElementById('back_color').value;
        mouse_wheel = true;
      }

      function set_initial_scale() {
        // Set the initial scale of the object so it comes to view

        bounding_box.setFromObject( gcode_obj );
        let size = bounding_box.getSize(new THREE.Vector3());

        if ( size.y > 1 ) {
          gcode_obj.scale.multiplyScalar( 50 / size.y );
        } else if ( size.y > 0.02 ) {
          gcode_obj.scale.multiplyScalar( 25 / size.y );
        } else if ( size.y > 0.01 ) {
          gcode_obj.scale.multiplyScalar( 10 / size.y );
        } else {
          gcode_obj.scale.multiplyScalar( 1 / size.y )
        }

        bounding_box.setFromObject( gcode_obj );
        let center = bounding_box.getCenter(new THREE.Vector3());

        controls.target.set( center.x, center.y, center.z );

        mouse_wheel = true;
      }

      async function init() {
        if (url_loading === false && document.getElementById('file_input').files.length === 0) return;

        if (scene) {
          mouse_wheel = true;

          if (gcode_obj) await scene_cleanup();

          await reset_all( true );
        }

        enable_disable( true );

        path = null;
        path_visible = false;
        selected_gcode_file = null;
        mouse_down = false;
        mouse_wheel = false;
        render_requested = false;
        bounding_box = new THREE.Box3();

        console.time( 'Loading Time' );
        document.body.style.backgroundImage = 'none';
        document.getElementById('div_error').style.display = 'none';
        document.getElementById('div_loading').style.display = 'block';
        document.getElementById('div_loading').innerHTML = 'Load & Visualize';

        if (url_loading === false) {
          // Loaded file
          let fi = document.getElementById('file_input');
          let fn_uc = fi.files[ 0 ].name.toUpperCase();

          if (fn_uc.endsWith('.GCODE') || fn_uc.endsWith('.NCC') || fn_uc.endsWith('.NGC')) selected_gcode_file = fi.files[ 0 ];

          if (selected_gcode_file === null) {
            handle_error( 'No valid GCODE file selected!' );
            return;
          }

          selected_url_file = '';
        } else {
          // Reset the file input
          document.getElementById('file_input').value = '';
          url_loading = false;
        }

        if (renderer === undefined) {
          renderer = new THREE.WebGLRenderer( { antialias: true, alpha: true } );
          renderer.setPixelRatio( window.devicePixelRatio );
          renderer.toneMapping = THREE.NeutralToneMapping;
          renderer.toneMappingExposure = 1.7;
          renderer.setSize( ww, wh );
          renderer.info.autoReset = false;
          renderer.shadowMap.enabled = true;
          renderer.shadowMap.type = THREE.PCFSoftShadowMap;
          renderer.setClearColor( 0xFFFFFF, 0 ); // Allow setting the background color
          renderer.autoClear = false;

          document.body.appendChild( renderer.domElement );
        }

        if (scene === undefined) scene = new THREE.Scene();
        if (gcode_obj === undefined) gcode_obj = new THREE.Object3D();

        if (!events_initialized) { initialize_event_listeners(); events_initialized = true; }

        if (camera === undefined) {
          camera = new THREE.PerspectiveCamera( 45, ww / wh, 0.1, 10000 );
          camera.position.set( 0, 0, 250 );
          scene.add( camera );
        }

        if (controls === undefined) {
          const { OrbitControls } = await import( "three/addons/controls/OrbitControls.min.js" );

          controls = new OrbitControls( camera, renderer.domElement );
          controls.zoomToCursor = true;
          controls.zoomSpeed = 0.5;
          controls.rotateSpeed = 0.5;
          controls.keyPanSpeed = 0.5; 
          controls.panSpeed = 0.5;
          //controls.enableDamping = true;
          //controls.dampingFactor = 0.3;
          //controls.enableKeys = false;
          //controls.enableZoom = true;
          //controls.maxPolarAngle = 2.2;
          //controls.minPolarAngle = 1.1;
          //controls.minDistance = 2;
          //controls.maxDistance = 500;
        }

        // Load GCODE file
        selected_gcode_file !== null ? loadFile() : loadURLFile();
      }

      function loadFile(){
        gcode_loader.load( URL.createObjectURL( selected_gcode_file ), function( object ) {
          URL.revokeObjectURL( selected_gcode_file );

          object.children[ 0 ].name += '_extruded';
          object.children[ 1 ].name += '_path';

          path = object.children[ 1 ];
          gcode_obj = object.children[ 0 ];

          // Add gcode_obj to the scene
          scene.add( gcode_obj );
          camera.lookAt( gcode_obj.position );

          finish_loading();
        }, function ( xhr ) { // onProgress
        }, function ( error ) { // onError
          handle_error( error );
          URL.revokeObjectURL( selected_gcode_file );
        });
      }

      function loadURLFile() {
        if (selected_url_file !== '') {
          if (selected_url_file.startsWith('https://www.dropbox.com') === true) {
            selected_url_file = selected_url_file.replace('www.dropbox.com', 'dl.dropbox.com');
          } else if (selected_url_file.startsWith('https://github.com') === true) {
            selected_url_file = ( selected_url_file.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
          }

          // No extension checking for URL so it has to point to GCODE / NCC / NGC model

          gcode_loader.load( selected_url_file, function( object ) {
            object.children[ 0 ].name += '_extruded';
            object.children[ 1 ].name += '_path';

            path = object.children[ 1 ];
            gcode_obj = object.children[ 0 ];

            // Add gcode_obj to the scene
            scene.add( gcode_obj );
            camera.lookAt( gcode_obj.position );

            finish_loading();
          }, function ( xhr ) { // onProgress
          }, function ( error ) { // onError
            handle_error( error );
          });
        }
      }

      async function finish_loading() {
        set_initial_scale();
        resize();

        enable_disable( false );

        console.timeEnd( 'Loading Time' );
        document.getElementById('div_loading').style.display = 'none';

        render_requested = true;
        mouse_wheel = true;
        render();

        gcode_obj.rotation.x -= Math.PI / 2;

        if (isMobile === false) await new Promise( resolve => setTimeout( log_info(), 100 ) );
      }

      function log_info() {
        console.log( 'Memory: ', renderer.info.memory );
        console.log( 'Render: ', renderer.info.render );
      }

      function handle_error( error ) {
        console.timeEnd( 'Loading Time' );
        console.log( 'Error loading model!' );
        console.log( error );
        mouse_wheel = true;
        render_requested = false;
        enable_disable( true );

        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').style.display = 'block';
      }

      function show_path() {
        if (path_visible === true) {
          path_visible = false;
          gcode_obj.remove( path );
          document.getElementById('btn_path').style.backgroundColor = 'transparent';
        } else {
          path_visible = true;
          gcode_obj.add( path );
          document.getElementById('btn_path').style.backgroundColor = 'lightgreen';
        }

        mouse_wheel = true;
      }

      async function render() {
        if (gcode_obj) {
          if (mouse_down === true || mouse_wheel === true) {
            controls.update();

            renderer.clear();
            renderer.render( scene, camera );

            if (mouse_wheel === true) {
              if (count > 15) {
                mouse_wheel = false;
                count = 0;
              } else {
                count ++;
              }
            }
          }
        }

        if (render_requested === true) requestAnimationFrame( render );
      }

      async function reset_all( reset = false ) {
        document.getElementById('back_color').value = '#000000';
        document.getElementById('btn_url').style.backgroundColor = 'transparent';
        document.getElementById('btn_path').style.backgroundColor = 'transparent';

        // Reset the view
        if (reset === true) {
          controls.reset();
          set_back_color();
        } else {
          // Page (re)loading
          if (scene) {
            if (gcode_obj) await scene_cleanup();

            while (scene.children.length > 0) {
              scene.remove( scene.children[ 0 ] );
            }

            renderer.clear();
            renderer.dispose();
          }

          mouse_wheel = true;

          document.getElementById('file_input').value = '';
          document.getElementById('div_error').style.display = 'none';
          document.getElementById('url_entry').value = '';
          selected_url_file = '';
          enable_disable( true );
        }

        mouse_wheel = true;
      }

      async function scene_cleanup() {
        scene.remove( gcode_obj );

        renderer.clear();

        if (path_visible === true) await show_path();

        gcode_obj.traverse( ( child ) => {
          if (child.isLine) {
            child.material.dispose();
            child.geometry.dispose();
          }
        });

        path.traverse( ( child ) => {
          if (child.isLine) {
            child.material.dispose();
            child.geometry.dispose();
          }
        });

        if (isMobile === false) {
          renderer.info.reset();
          renderer.resetState();
        }
      }

      function enable_disable( disable = false ) {
        document.getElementById('back_color').disabled = disable;
        document.getElementById('btn_path').disabled = disable;
        disabled_changed();

        mouse_wheel = true;
      }
    </script>

    <script>
      function document_ready() {
        isMobile = (/iPad|iPhone|iPod/.test( navigator.platform )) ||
          (/Android|webOS|iPhone|iPad|iPod|CriOS|BlackBerry|IEMobile|Opera Mini/i.test( navigator.userAgent )) ||
          (navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));
      }

      function disabled_changed() {
        $('button').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });

        $('input[type=color]').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px whitesmoke'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });
      }
    </script>
  </body>
</html>
