<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Viewer for three.js formats: JS, JSON">
    <link rel="stylesheet" href="../../static/css/mobile-viewers.css">
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>

    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.10.0/dist/es-module-shims.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.182.0/build/three.module.min.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.182.0/examples/jsm/"
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>

    <script>
      var THREE, manager, file_loader, texture_loader, json_loader, bg_loader;
      var renderer, scene, camera, mesh, render_requested, wireframe_enabled;
      var animations, animation_mixer, animation_running, current_animation;
      var controls, mouse_down, mouse_wheel, events_initialized;
      var merge_vertices, ambientLight, directionalLight;
      var ww = window.innerWidth, wh = window.innerHeight, count = 0;
      var loader, fd, material, textures, buffer_geometry, bounding_box, isMobile;
      var selected_json_file, selected_url_file = '', flat_shading_enabled, texture_maps;
      var url_displayed = false, url_loading = false, vertex_colors_enabled, object_is_mesh, clock;
      var bones, bones_exist, skeleton_helper, skeleton_visible, skeleton_demo, skeleton_demo_running, sk_count;
    </script>

    <script type="module">
      import * as three_js from "three";

      THREE = three_js;

      manager = new THREE.LoadingManager();
      manager.onLoad = function() { mouse_wheel = true; }

      file_loader = new THREE.FileLoader( manager );
      file_loader.setMimeType( 'application/json' );
      file_loader.setResponseType( 'json' );

      texture_loader = new THREE.TextureLoader( manager );
      json_loader = new THREE.ObjectLoader( manager );
      bg_loader = new THREE.BufferGeometryLoader( manager );
    </script>

    <!-- Original OBJ source code that inspired this: https://codepen.io/Mamboleoo/pen/PqjGdN -->
    <!-- Using three.js library: https://github.com/mrdoob/three.js -->
    <!-- Using jQuery: https://github.com/jquery/jquery -->

    <!-- mouse_wheel variable is used throughout as a trigger for rendering -->

    <title>JSON Viewer (r182)</title>
  </head>
  <body onload="reset_all(); document_ready(); disabled_changed();" onresize="resize();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm">
        <button id="btn_desktop" title="Open Desktop Version" onclick="switch_to_desktop();">D</button>
        <label for="btn_desktop" title="Open Desktop Version"></label>
        <button title="Get remote model via URL" id="btn_url" onclick="show_url()" style="min-width: 38px;">URL</button>
        <label for="btn_url" title="Get remote model via URL"></label>
        <button title="Browse Local Files" id="btn_file_input" style="min-width: 54px;" onclick="document.getElementById('file_input').click();">Browse</button>
        <label for="btn_file_input" title="Browse Local Files"></label>
        <input type="file" id="file_input" style="display: none;" onchange="init();" accept=".js, .json, image/png, image/jpeg, image/bmp, image/gif, image/svg+xml, image/webp" multiple />
        <label for="back_color" title="Background Color">B</label>
        <input type="color" title="Background Color" id="back_color" onchange="set_back_color();" disabled />
        <button title="Directional Light Intensity" id="btn_dc_dli" class="dropdown" style="text-align: center; border: 1px solid blue; -webkit-border-radius: 3px; border-radius: 3px;" onclick="show_hide_dropdown_dli();">DLi
          <div id="dc_dli" class="dropdown-content" style="display: none;" onfocusout="hide_dropdown_dli();">
            <input type="range" orient="vertical" id="directional_light_intensity" min="0" max="30" step="0.05" value="2.5" onkeydown="return_false();" oninput="set_directional_light_intensity();" disabled />
            <span id="dli_val">2.5</span>
          </div>
        </button>
        <label for="btn_dc_dli" title="Directional Light Intensity"></label>
        <button title="Switch Animation" id="btn_animate" onclick="json_animation();" disabled>A</button>
        <label for="btn_animate" title="Switch Animation"></label>
        <button title="Flat Shading" id="btn_flat" onclick="set_flat();" disabled>F</button>
        <label for="btn_flat" title="Flat Shading"></label>
        <button title="Skeleton" id="btn_skeleton" onclick="show_skeleton();" disabled>S</button>
        <label for="btn_skeleton" title="Skeleton"></label>
        <button title="Wireframe" id="btn_wireframe" onclick="show_wireframe();" disabled >W</button>
        <label for="btn_wireframe" title="Wireframe"></label>
        <button title="Quick -90 degree X-Axis Rotation" id="btn_quick_x" onclick="quick_x_rotation( '-0.5' );" style="min-width: 15px;" disabled>&#x2191</button>
        <label for="btn_quick_x" title="Quick -90 degree X-Axis Rotation"></label>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry" title="Remote URL"></label>
        <input type="text" id="url_entry" value="" style="width: calc(75% - 12px);" />
        <button title="Load" id="btn_load" onclick="load_url_file();" style="min-width: 8.5%;">Load</button>
        <label for="btn_load" title="Load"></label>
        <button title="Clear" id="btn_clear" onclick="clear_url();" style="min-width: 8.5%;">Clear</button>
        <label for="btn_clear" title="Clear"></label>
      </div>
    </div>

    <div id="div_error" class="error_msg">E R R O R !</div>
    <div id="div_loading" class="loading_msg">JSON Viewer</div>

    <script>
      function hide_dropdown_dli() { $('#dc_dli').fadeOut(); mouse_wheel = true; }

      function show_hide_dropdown_dli() {
        if ($('#dc_dli')[ 0 ].style.display === 'none') {
          $('#dc_dli').fadeIn();

          $('#dc_dli')[ 0 ].style.marginTop = '2px';

          $('#directional_light_intensity').focus();
        } else {
          $('#dc_dli').fadeOut();
        }

        mouse_wheel = true;
      }

      function return_false() { return false; }

      function switch_to_desktop() {
        let link = document.createElement( 'a' );
        link.style.display = 'none';
        link.href = "../JSON Viewer.html";
        link.click();
      }

      function show_url() {
        if (url_displayed === true) {
          url_displayed = false;
          document.getElementById('url').style.display = 'none';
          document.getElementById('btn_url').style.backgroundColor = 'transparent';
        } else {
          document.getElementById('btn_url').style.backgroundColor = 'lightgreen';
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url !== '') { selected_url_file = url; url_loading = true; init(); }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function initialize_event_listeners() {
        const arrow_keys = [ 'ArrowUp', 'ArrowDown', 'ArrowRight', 'ArrowLeft' ];

        window.addEventListener( 'pointerdown', (event) => { mouse_down = true; }, false);
        window.addEventListener( 'pointerup', (event) => { mouse_down = false; mouse_wheel = true; }, false);
        window.addEventListener( 'wheel', ( event ) => { mouse_wheel = true; }, false);
        window.addEventListener( 'keydown', ( event ) => {
          if (arrow_keys.some( k => k === event.key ) || event.ctrlKey || event.metaKey || event.shiftKey) {
            controls.listenToKeyEvents( window );
            mouse_wheel = true;
          }
        }, false);
        window.addEventListener( 'keyup', ( event ) => {
          if (arrow_keys.some( k => k === event.key )) {
            controls.stopListenToKeyEvents();
            mouse_wheel = false;
          }
        }, false);
      }

      function resize() {
        if (scene !== undefined) {
          mouse_wheel = true;

          ww = window.innerWidth;
          wh = window.innerHeight;

          renderer.setSize( ww, wh );

          camera.aspect = ww / wh;
          camera.updateProjectionMatrix();

          mouse_wheel = true;
        }
      }
    </script>

    <script>
      function set_back_color() {
        scene.background = null;
        document.body.style.backgroundColor = document.getElementById('back_color').value;
        mouse_wheel = true;
      }

      function set_directional_light_intensity() {
        let dli_value = document.getElementById('directional_light_intensity').value;
        document.getElementById('dli_val').innerText = dli_value;
        directionalLight.intensity = parseFloat( dli_value );

        mouse_wheel = true;
      }

      function set_initial_scale() {
        // Set the initial scale of the object so it hopefully comes to view

        bounding_box.setFromObject( mesh );
        let size = bounding_box.getSize( new THREE.Vector3() );
        let center = bounding_box.getCenter( new THREE.Vector3() );

        // Move to the center

        if (center.x !== 0) mesh.translateX( center.x * ( - 1 ) );
        if (center.y !== 0) mesh.translateY( center.y * ( - 1 ) );
        if (center.z !== 0) mesh.translateZ( center.z * ( - 1 ) );

        // Scale according to window width / height, whichever is greater

        if (ww > wh) {
          mesh.scale.multiplyScalar( ( wh / size.y ) * 0.175 );
        } else {
          mesh.scale.multiplyScalar( ( ww / size.x ) * 0.175 );
        }

        // Get center coordinates and move to the center again

        bounding_box.setFromObject( mesh );
        size = bounding_box.getSize( new THREE.Vector3() );
        center = bounding_box.getCenter( new THREE.Vector3() );

        if (center.x !== 0) mesh.translateX( center.x * ( - 1 ) );
        if (center.y !== 0) mesh.translateY( center.y * ( - 1 ) );
        if (center.z !== 0) mesh.translateZ( center.z * ( - 1 ) );

        // Scale again and re-center if the model's width / height is greater than the screen's width / height

        if ( (ww > wh && size.x > ww) || (wh > ww && size.y > wh) ) {
          mesh.scale.multiplyScalar( ( ww / (ww > wh ? size.x : size.y) ) );

          bounding_box.setFromObject( mesh );
          size = bounding_box.getSize( new THREE.Vector3() );
          center = bounding_box.getCenter( new THREE.Vector3() );

          if (center.x !== 0) mesh.translateX( center.x * ( - 1 ) );
          if (center.y !== 0) mesh.translateY( center.y * ( - 1 ) );
          if (center.z !== 0) mesh.translateZ( center.z * ( - 1 ) );
        }

        // Set the camera's z distance

        camera.position.z = bounding_box.max.z + 175;
        camera.updateProjectionMatrix();

        bounding_box.setFromObject( mesh );
        center = bounding_box.getCenter( new THREE.Vector3() );

        controls.target.set( center.x, center.y, center.z );

        mouse_wheel = true;
      }

      function json_animation() {
        if (animation_running === true) {
          animation_mixer.clipAction( animations[ current_animation ] ).stop();
          animation_mixer.clipAction( animations[ current_animation ] ).reset();

          if (current_animation === animations.length - 1) {
            document.getElementById('btn_animate').style.backgroundColor = 'transparent';
            current_animation = 0;
            animation_running = false;
            skeleton_demo = true;
          } else {
            current_animation += 1;
            animation_mixer.clipAction( animations[ current_animation ] ).play();
          }
        } else {
          skeleton_demo = false;
          animation_mixer.clipAction( animations[ current_animation ] ).play();
          document.getElementById('btn_animate').style.backgroundColor = 'lightgreen';
          animation_running = true;
        }

        mouse_wheel = true;
      }

      async function init() {
        if (url_loading === false && document.getElementById('file_input').files.length === 0) return;

        if (scene) {
          mouse_wheel = true;

          if (mesh) await scene_cleanup();

          await reset_all( true );
        }

        enable_disable( true );

        if (merge_vertices === undefined) {
          const { mergeVertices } = await import( "three/addons/utils/BufferGeometryUtils.min.js" );
          merge_vertices = mergeVertices;
        }

        selected_json_file = null;
        object_is_mesh = false;
        mouse_down = false;
        mouse_wheel = true;
        buffer_geometry = false;
        skeleton_demo = false;
        skeleton_helper = null;
        skeleton_visible = false;
        skeleton_demo_running = false;
        bones_exist = false;
        sk_count = 0;
        bones = [];
        loader = null;
        fd = null;
        animations = [];
        animation_mixer = null;
        animation_running = false;
        render_requested = false;
        wireframe_enabled = false;
        flat_shading_enabled = false;
        vertex_colors_enabled = false;
        textures = {};
        bounding_box = new THREE.Box3();

        document.getElementById('btn_animate').disabled = true;
        document.getElementById('btn_skeleton').disabled = true;

        console.time( 'Loading Time' );
        document.body.style.backgroundImage = 'none';
        document.getElementById('div_error').style.display = 'none';
        document.getElementById('div_loading').style.display = 'block';
        document.getElementById('div_loading').innerHTML = 'Load & Visualize';

        if (url_loading === false) {
          // Loaded file
          let fi = document.getElementById('file_input');

          for ( let i = 0; i < fi.files.length; i++ ) {
            let fn_uc = fi.files[ i ].name.toUpperCase();

            if (fn_uc.endsWith('.JS') || fn_uc.endsWith('.JSON')) { selected_json_file = fi.files[ i ]; }
            else if (fi.files[ i ].type.startsWith('image/')) {
              textures[ fi.files[ i ].name ] =  URL.createObjectURL( fi.files[ i ] );
              URL.revokeObjectURL( fi.files[ i ] );
            }
          };

          if (selected_json_file === null) {
            handle_error( 'No valid JSON file selected!' );
            return;
          }

          await new Promise( resolve => {
            file_loader.load( URL.createObjectURL( selected_json_file ), function( file_data ) {
              URL.revokeObjectURL( selected_json_file );

              resolve( fd = file_data );
            });
          });

          if (fd && fd.metadata && fd.metadata.type && fd.metadata.type === 'BufferGeometry') {
            buffer_geometry = true;
            loader = bg_loader;
          } else if (fd && fd.metadata && fd.metadata.type && fd.metadata.type === 'Geometry') {
            handle_error( 'Try using JSON Legacy viewer instead!' );
            return;
          } else {
            loader = json_loader;
          }

          if (fd.geometries) {
            for (const geometry of fd.geometries) {
              if (geometry.type.indexOf( 'Buffer' ) > -1 && geometry.type.startsWith( 'Buffer' ) === false) {
                geometry.type = geometry.type.replace( 'Buffer', '' );

                if (geometry.type === 'PlaneGeometry') {
                  if (geometry.heightSegments === 0) geometry.heightSegments = 1;
                  if (geometry.widthSegments === 0) geometry.widthSegments = 1;
                }
              }
            }
          }

          selected_url_file = '';
        } else {
          // Reset the file input
          document.getElementById('file_input').value = '';
          url_loading = false;
        }

        if (renderer === undefined) {
          renderer = new THREE.WebGLRenderer( { antialias: true, alpha: true } );
          renderer.setPixelRatio( window.devicePixelRatio );
          renderer.toneMapping = THREE.NeutralToneMapping;
          renderer.toneMappingExposure = 1.5;
          renderer.setSize( ww, wh );
          renderer.info.autoReset = false;
          renderer.shadowMap.enabled = true;
          renderer.shadowMap.type = THREE.PCFSoftShadowMap;
          renderer.setClearColor( 0xFFFFFF, 0 ); // Allow setting the background color
          renderer.autoClear = false;

          document.body.appendChild( renderer.domElement );
        }

        if (clock === undefined) clock = new THREE.Clock();

        if (scene === undefined) scene = new THREE.Scene();
        if (mesh === undefined) mesh = new THREE.Object3D();

        if (!events_initialized) { initialize_event_listeners(); events_initialized = true; }

        if (camera === undefined) {
          camera = new THREE.PerspectiveCamera( 45, ww / wh, 0.1, 10000 );
          camera.position.set( 0, 0, 250 );
          scene.add( camera );
        }

        // Add AmbientLight to the scene
        if (ambientLight === undefined) {
          ambientLight = new THREE.AmbientLight( 0xFFFFFF, 0.25 );
          ambientLight.position.set( 0, 0, - 250 );
          scene.add( ambientLight );
        }

        // Add DirectionalLight to the camera (add it to the scene instead if not using Orbit Controls)
        if (directionalLight === undefined) {
          directionalLight = new THREE.DirectionalLight( 0xFFFFFF, 2.5 );
          directionalLight.position.set( 0, 100, 250 );
          directionalLight.lookAt( new THREE.Vector3( 0, 0, 0 ) );
          camera.add( directionalLight );
        }

        if (controls === undefined) {
          const { OrbitControls } = await import( "three/addons/controls/OrbitControls.min.js" );

          controls = new OrbitControls( camera, renderer.domElement );
          controls.zoomToCursor = true;
          controls.zoomSpeed = 0.5;
          controls.rotateSpeed = 0.5;
          controls.keyPanSpeed = 0.5; 
          controls.panSpeed = 0.5;
          //controls.enableDamping = true;
          //controls.dampingFactor = 0.3;
          //controls.enableKeys = false;
          //controls.enableZoom = true;
          //controls.maxPolarAngle = 2.2;
          //controls.minPolarAngle = 1.1;
          //controls.minDistance = 2;
          //controls.maxDistance = 500;
        }

        if (material === undefined) {
          material = new THREE.MeshStandardMaterial( {
            side: THREE.DoubleSide,
            vertexColors: false,
            flatShading: false,
            metalness: 0.2,
            roughness: 0.5,
            transparent: true,
            opacity: 1,
            fog: true
          });
        }

        if (scene.environment === null) {
          let url = 'https://raw.githubusercontent.com/GitHubDragonFly/three.js/dev/examples/textures/water.avif';

          texture_loader.load( url, async function( texture ) {
            texture.mapping = THREE.EquirectangularReflectionMapping;
            texture.needsUpdate = true;

            scene.environment = texture.clone();
            scene.environmentIntensity = 0.15;

            mouse_wheel = true;

            texture.dispose();
          }, function ( xhr ) {
          }, function ( error ) {
            console.log( 'Error Loading Scene Environment Image File!' );
            console.log( error );
          });
        }

        // Load the json file
        selected_json_file !== null ? loadFile() : loadURLFile();
      }

      function loadFile() {
        if (selected_json_file !== null) {
          if (buffer_geometry === true) {
            try {
              loader.load( URL.createObjectURL( selected_json_file ), addFileInScene,
              function( xhr ) { }, // onProgress
              function ( error ) {
                URL.revokeObjectURL( selected_json_file );
                handle_error( error );
              }); // onError
            } catch ( uncaught_error ) {
              // Uncaught error by the library
              URL.revokeObjectURL( selected_json_file );
              handle_error( uncaught_error );
            }
          } else {
            try {
              loader.parse( fd, addFileInScene,
              function( xhr ) { }, // onProgress
              function ( error ) { handle_error( error ); }); // onError
            } catch ( uncaught_error ) {
              // Uncaught error by the library
              handle_error( uncaught_error );
            }
          }
        }
      }

      async function addFileInScene( object ) {
        if (selected_json_file !== null && buffer_geometry === true) {
          URL.revokeObjectURL( selected_json_file );
        }

        if (buffer_geometry === true) {
          object.deleteAttribute( 'normal' );
          object = merge_vertices( object, 1e-6 );
          object.computeVertexNormals();
          object.normalizeNormals();
          object.center();

          object.computeBoundingBox();
          object.computeBoundingSphere();

          mesh = new THREE.Mesh( object, material );
        } else {
          mesh = object;
        }

        if (buffer_geometry === true || (mesh.material && mesh.isPoints === undefined)) {
          mesh.name = 'mesh_0';

          if (mesh.geometry.attributes.color && mesh.geometry.attributes.color.array.length > 0) {
            vertex_colors_enabled = true;
          }

          if (Object.getOwnPropertyNames( textures ).length > 0) {
            mesh.material.forEach( mtl => {
              let map_strings = [ 'map', 'aoMap', 'alphaMap', 'bumpMap', 'emissiveMap', 'lightMap',
                'normalMap', 'specularMap', 'metalnessMap', 'roughnessMap'
              ];

              for (const [ key, value ] of Object.entries( textures )) {
                for (const map_str of map_strings) {
                  if (mtl[ map_str ]) {
                    if (mtl[ map_str ].source.data[ 'src' ].endsWith( key )) {
                      mtl[ map_str ].source.data[ 'src' ] = value;
                    }
                  }
                }
              }

              set_texture_options( mtl );
              mtl.needsUpdate = true;
            });
          } else {
            if (Array.isArray( mesh.material )) {
              mesh.material.forEach( mtl => {
                set_texture_options( mtl );
                mtl.needsUpdate = true;
              });
            } else {
              set_texture_options( mesh.material );
              mesh.material.needsUpdate = true;
            }
          }
        } else {
          mesh.traverse( function( child ) {
            if (child.isBone) bones_exist = true;

            if (child.isMesh || child.isPoints) {
              if (!child.geometry.attributes.normal) child.geometry.computeVertexNormals();
              child.geometry.normalizeNormals();

              child.geometry.computeBoundingBox();
              child.geometry.computeBoundingSphere();

              if (child.geometry.attributes.color && child.geometry.attributes.color.array.length > 0) {
                vertex_colors_enabled = true;
              }

              if (child.isMesh) {
                object_is_mesh = true;
                if (child.isSkinnedMesh) child.frustumCulled = false;
              } else {
                child.sizeAttenuation = true;
                child.sortPoints = true;
              }

              if (child.material) {
                if (Array.isArray( child.material )) {
                  child.material.forEach( mtl => {
                    if (child.isPoints) {
                      mtl.size = (isMobile === true) ? 0.8 : 1.0;
                    } else {
                      set_texture_options( mtl );
                    }

                    mtl.needsUpdate = true;
                  });
                } else {
                  if (child.isPoints) {
                    child.material.size = (isMobile === true) ? 0.8 : 1.0;
                  } else {
                    set_texture_options( child.material );
                  }

                  child.material.needsUpdate = true;
                }
              }
            }
          });
        }

        await new Promise( resolve => setTimeout( resolve, 100 ) );

        if (bones_exist === true) {
          skeleton_helper = new THREE.SkeletonHelper( mesh );

          skeleton_helper.bones.forEach( ( bone, index ) => {
            bones[ index ] = [ bone.rotation.x, bone.rotation.y, bone.rotation.z ];
          });

          document.getElementById('btn_skeleton').disabled = false;
        }

        animations = mesh.animations;

        if (animations && animations.length > 0) {
          animation_mixer = new THREE.AnimationMixer( mesh );
          current_animation = 0;

          animations.forEach( clip => {
            animation_mixer.clipAction( clip ).loop = THREE.LoopRepeat;
          });

          animation_mixer.clipAction( animations[ 0 ] ).play();
          animation_running = true;

          document.getElementById('btn_animate').disabled = false;
          document.getElementById('btn_animate').style.backgroundColor = 'lightgreen';
        }

        // Add mesh to the scene
        scene.add( mesh );
        camera.lookAt( mesh.position );

        finish_loading();
      }

      async function loadURLFile() {
        if (selected_url_file != '') {
          if (selected_url_file.indexOf(',') > -1) {
            let urls = selected_url_file.split( ',' );

            for (let i = 0; i < urls.length; i++) {
              let url = urls[ i ].trim();

              let url_uc = url.toUpperCase();

              if (url_uc.endsWith('.JS') || url_uc.endsWith('.JSON')) {
                selected_url_file = url;
                break;
              }
            }

            if (selected_url_file.indexOf( ',' ) > -1) {
              alert( 'Could not detect valid JSON URL!' );
              return;
            }
          }

          if (selected_url_file.startsWith('https://www.dropbox.com') === true) {
            selected_url_file = selected_url_file.replace('www.dropbox.com', 'dl.dropbox.com');
          } else if (selected_url_file.startsWith('https://github.com') === true) {
            selected_url_file = ( selected_url_file.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
          }

          // No extension checking for URL so it has to point to JS or JSON file

          await new Promise( resolve => {
            file_loader.load( selected_url_file, function( file_data ) {
              resolve( fd = file_data );
            });
          });

          if (fd && fd.metadata && fd.metadata.type && fd.metadata.type === 'BufferGeometry') {
            buffer_geometry = true;
            loader = bg_loader;
          } else if (fd && fd.metadata && fd.metadata.type && fd.metadata.type === 'Geometry') {
            handle_error( 'Try using JSON Legacy viewer instead.' );
            return;
          } else {
            loader = json_loader;
          }

          let old_geometry_type = false;

          if (fd.geometries) {
            for (const geometry of fd.geometries) {
              if (geometry.type.indexOf( 'Buffer' ) > -1 && geometry.type.startsWith( 'Buffer' ) === false) {
                geometry.type = geometry.type.replace( 'Buffer', '' );
                old_geometry_type = true;

                if (geometry.type === 'PlaneGeometry') {
                  if (geometry.heightSegments === 0) geometry.heightSegments = 1;
                  if (geometry.widthSegments === 0) geometry.widthSegments = 1;
                }
              }
            }
          }

          // Launch loading of the selected file, addFileInScene is the callback when it's ready
          try {
            if (old_geometry_type === true) {
              loader.parse( fd, addFileInScene,
              function( xhr ) { }, // onProgress
              function ( error ) { handle_error( error ); }); // onError
            } else {
              loader.load( selected_url_file, addFileInScene,
              function( xhr ) { }, // onProgress
              function ( error ) { handle_error( error ); }); // onError
            }
          } catch ( uncaught_error ) {
            // Uncaught error by the library
            handle_error( uncaught_error );
          }
        }
      }

      function set_texture_options( material ) {
        if (material.map && (!material.map.colorSpace || material.map.colorSpace === 'NoColorSpace')) {
          material.map.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.aoMap && (!material.aoMap.colorSpace || material.aoMap.colorSpace === 'NoColorSpace')) {
          material.aoMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.alphaMap && (!material.alphaMap.colorSpace || material.alphaMap.colorSpace === 'NoColorSpace')) {
          material.alphaMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.bumpMap && (!material.bumpMap.colorSpace || material.bumpMap.colorSpace === 'NoColorSpace')) {
          material.bumpMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.lightMap && (!material.lightMap.colorSpace || material.lightMap.colorSpace === 'NoColorSpace')) {
          material.lightMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.emissiveMap && (!material.emissiveMap.colorSpace || material.emissiveMap.colorSpace === 'NoColorSpace')) {
          material.emissiveMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.normalMap && (!material.normalMap.colorSpace || material.normalMap.colorSpace === 'NoColorSpace')) {
          material.normalMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.specularMap && (!material.specularMap.colorSpace || material.specularMap.colorSpace === 'NoColorSpace')) {
          material.specularMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.metalnessMap && (!material.metalnessMap.colorSpace || material.metalnessMap.colorSpace === 'NoColorSpace')) {
          material.metalnessMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.roughnessMap && (!material.roughnessMap.colorSpace || material.roughnessMap.colorSpace === 'NoColorSpace')) {
          material.roughnessMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.anisotropyMap && (!material.anisotropyMap.colorSpace || material.anisotropyMap.colorSpace === 'NoColorSpace')) {
          material.anisotropyMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.clearcoatMap && (!material.clearcoatMap.colorSpace || material.clearcoatMap.colorSpace === 'NoColorSpace')) {
          material.clearcoatMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.clearcoatNormalMap && (!material.clearcoatNormalMap.colorSpace || material.clearcoatNormalMap.colorSpace === 'NoColorSpace')) {
          material.clearcoatNormalMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.clearcoatRoughnessMap && (!material.clearcoatRoughnessMap.colorSpace || material.clearcoatRoughnessMap.colorSpace === 'NoColorSpace')) {
          material.clearcoatRoughnessMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.iridescenceMap && (!material.iridescenceMap.colorSpace || material.iridescenceMap.colorSpace === 'NoColorSpace')) {
          material.iridescenceMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.iridescenceThicknessMap && (!material.iridescenceThicknessMap.colorSpace || material.iridescenceThicknessMap.colorSpace === 'NoColorSpace')) {
          material.iridescenceThicknessMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.sheenColorMap && (!material.sheenColorMap.colorSpace || material.sheenColorMap.colorSpace === 'NoColorSpace')) {
          material.sheenColorMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.sheenRoughnessMap && (!material.sheenRoughnessMap.colorSpace || material.sheenRoughnessMap.colorSpace === 'NoColorSpace')) {
          material.sheenRoughnessMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.specularColorMap && (!material.specularColorMap.colorSpace || material.specularColorMap.colorSpace === 'NoColorSpace')) {
          material.specularColorMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.specularIntensityMap && (!material.specularIntensityMap.colorSpace || material.specularIntensityMap.colorSpace === 'NoColorSpace')) {
          material.specularIntensityMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.thicknessMap && (!material.thicknessMap.colorSpace || material.thicknessMap.colorSpace === 'NoColorSpace')) {
          material.thicknessMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        if (material.transmissionMap && (!material.transmissionMap.colorSpace || material.transmissionMap.colorSpace === 'NoColorSpace')) {
          material.transmissionMap.colorSpace = THREE.LinearSRGBColorSpace;
        }

        material.vertexColors = vertex_colors_enabled;
        material.format = THREE.RGBAFormat;
        material.flatShading = false;
      }

      async function finish_loading() {
        set_initial_scale();
        resize();

        enable_disable( false );

        if (object_is_mesh === false) {
          document.getElementById('btn_flat').disabled = true;
          document.getElementById('btn_wireframe').disabled = true;
          disabled_changed();
        }

        console.timeEnd( 'Loading Time' );
        document.getElementById('div_loading').style.display = 'none';

        render_requested = true;
        mouse_wheel = true;
        render();

        if (isMobile === false) await new Promise( resolve => setTimeout( log_info(), 250 ) );
      }

      function log_info() {
        console.log( 'Memory: ', renderer.info.memory );
        console.log( 'Render: ', renderer.info.render );
      }

      function handle_error( error ) {
        console.timeEnd( 'Loading Time' );
        console.log( 'Error loading model!' );
        console.log( error );
        mouse_wheel = true;
        render_requested = false;
        enable_disable( true );

        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').style.display = 'block';
      }

      function show_skeleton() {
        if (skeleton_visible === true) {
          if (skeleton_demo === true) {
            // Run the demo with the skeleton visible
            skeleton_demo = false;
            skeleton_demo_running = true;
            document.getElementById('btn_skeleton').style.backgroundColor = 'red';

            if (animations && animations.length > 0) {
              document.getElementById('btn_animate').disabled = true;
              skeleton_animation_changed();
            }
          } else if (skeleton_demo_running === true) {
            // Stop the demo and hide the skeleton, the demo will remain available
            // Animations, if present, will control the demo availability when turned ON / OFF
            skeleton_demo_running = false;

            skeleton_helper.bones.forEach( ( bone, index ) => {
              bone.rotation.x = bones[ index ][ 0 ];
              bone.rotation.y = bones[ index ][ 1 ];
              bone.rotation.z = bones[ index ][ 2 ];
            });

            skeleton_demo = true;
            skeleton_visible = false;
            scene.remove( skeleton_helper );
            document.getElementById('btn_skeleton').style.backgroundColor = 'transparent';

            if (animations && animations.length > 0) {
              document.getElementById('btn_animate').disabled = false;
              skeleton_animation_changed();
            }
          } else {
            // Hide the skeleton
            skeleton_visible = false;
            scene.remove( skeleton_helper );
            document.getElementById('btn_skeleton').style.backgroundColor = 'transparent';
          }
        } else {
          // Show the skeleton
          skeleton_visible = true;
          scene.add( skeleton_helper );
          document.getElementById('btn_skeleton').style.backgroundColor = 'lightgreen';
        }

        mouse_wheel = true;
      }

      function quick_x_rotation( angle ) {
        mesh.rotateX( Math.PI * parseFloat( angle ) );

        mouse_wheel = true;
      }

      function set_flat() {
        if (flat_shading_enabled === true) {
          document.getElementById('btn_flat').style.backgroundColor = 'transparent';
          flat_shading_enabled = false;
        } else {
          document.getElementById('btn_flat').style.backgroundColor = 'lightgreen';
          flat_shading_enabled = true;
        }

        mesh.traverse( function( child ) {
          if (child.isMesh) {
            if (child.material) {
              if (Array.isArray( child.material )) {
                child.material.forEach( mtl => {
                  mtl.flatShading = flat_shading_enabled;
                  mtl.needsUpdate = true;
                });
              } else {
                child.material.flatShading = flat_shading_enabled;
                child.material.needsUpdate = true;
              }
            }
          }

          mouse_wheel = true;
    	  });
      }

      function show_wireframe() {
        if (mesh) {
          if (wireframe_enabled === true) {
            wireframe_enabled = false;
            document.getElementById('btn_wireframe').style.backgroundColor = 'transparent';
          } else {
            wireframe_enabled = true;
            document.getElementById('btn_wireframe').style.backgroundColor = 'lightgreen';
          }

          mesh.traverse( function( child ) {
            if (child.isMesh){
              if (child.material) {
                if (Array.isArray( child.material )) {
                  child.material.forEach( mtl => {
                    mtl.wireframe = wireframe_enabled;
                  });
                } else {
                  child.material.wireframe = wireframe_enabled;
                }
              }
            }

            mouse_wheel = true;
          });
        }
      }

      async function render() {
        if (mesh) {
          if (animation_running === true || mouse_down === true || mouse_wheel === true ||
            (skeleton_demo === false && skeleton_demo_running === true)) {

            if (skeleton_demo === false && skeleton_demo_running === true) {
              skeleton_helper.bones.forEach( bone => {
                if (sk_count < 500) {
                  bone.rotation.x += 0.0005;
                  bone.rotation.z -= 0.0005;
                } else {
                  bone.rotation.x -= 0.0005;
                  bone.rotation.z += 0.0005;
                }

                if (bone.children && bone.children.length > 0) {
                  bone.children.forEach( child => {
                    if (child.isBone) { (sk_count < 500) ? child.rotation.x += 0.0005 : child.rotation.x -= 0.0005; }
                  });
                }
              });

              sk_count ++;
              if (sk_count > 1000) sk_count = 0;
            } else {
              if (animation_running === true) animation_mixer.update( clock.getDelta() );
            }

            controls.update();

            renderer.clear();
            renderer.render( scene, camera );

            if (mouse_wheel === true) {
              if (count > 5) {
                mouse_wheel = false;
                count = 0;
              } else {
                count ++;
              }
            }
          }
        }

        if (render_requested === true) requestAnimationFrame( render );
      }

      async function reset_all( reset = false ) {
        document.getElementById('back_color').value = '#000000';
        document.getElementById('dli_val').innerText = 2.5;
        document.getElementById('directional_light_intensity').value = 2.5;
        document.getElementById('btn_flat').style.backgroundColor = 'transparent';
        document.getElementById('btn_animate').style.backgroundColor = 'transparent';
        document.getElementById('btn_skeleton').style.backgroundColor = 'transparent';
        document.getElementById('btn_wireframe').style.backgroundColor = 'transparent';

        if (scene) {
          if (directionalLight) {
            set_directional_light_intensity();
          }
        }

        // Reset the view
        if (reset === true) {
          controls.reset();
          set_back_color();
        } else {
          // Page (re)loading
          if (scene) {
            if (scene.environment) {
              scene.environment.dispose();
              scene.environment = null;
            }

            if (mesh) await scene_cleanup();

            while (scene.children.length > 0) {
              scene.remove( scene.children[ 0 ] );
            }

            renderer.clear();
            renderer.dispose();
          }

          mouse_wheel = true;

          document.getElementById('file_input').value = '';
          document.getElementById('div_error').style.display = 'none';
          document.getElementById('btn_animate').disabled = true;
          document.getElementById('btn_skeleton').disabled = true;
          document.getElementById('url_entry').value = '';
          selected_url_file = '';
          enable_disable( true );
        }

        mouse_wheel = true;
      }

      async function scene_cleanup() {
        scene.remove( mesh );

        renderer.clear();

        if (animation_mixer) {
          animation_mixer.stopAllAction();

          for ( let i = 0; i < animations.length; i++ ) {
            animation_mixer.uncacheAction( animations[ i ] );
            animation_mixer.uncacheClip( animations[ i ] );
          }

          animation_mixer.uncacheRoot( animation_mixer.getRoot() );
        }

        if (wireframe_enabled === true) await show_wireframe();

        if (skeleton_helper) {
          skeleton_demo_running = false;

          if (skeleton_visible === true) {
            scene.remove( skeleton_helper );
            skeleton_visible = false;
          }

          skeleton_helper = null;
          sk_count = 0;
        }

        if (mesh.skeleton && mesh.skeleton.boneTexture)
          mesh.skeleton.boneTexture.dispose();

        mesh.traverse( function( child ) {
          if (child.isMesh || child.isPoints || child.isLine) {
            if (child.skeleton && child.skeleton.boneTexture)
                child.skeleton.boneTexture.dispose();

            if (child.material) {
              if (Array.isArray( child.material )) {
                child.material.forEach( mtl => {
                  if (mtl.uniforms) {
                    Object.keys( mtl.uniforms ).forEach( ( key ) => {
                      if (mtl.uniforms[ key ].value) {
                        if (Array.isArray( mtl.uniforms[ key ].value ) && mtl.uniforms[ key ].value.length > 0) {
                          mtl.uniforms[ key ].value.forEach( val => {
                            if (val.type && val.type === 1009)
                              val.dispose();
                          });
                        } else {
                          if (mtl.uniforms[ key ].value.type && mtl.uniforms[ key ].value.type === 1009)
                            mtl.uniforms[ key ].value.dispose();
                        }
                      }
                    });
                  } else {
                    for (const prop in mtl) {
                      texture_maps.forEach( tex_map => {
                        if (prop === tex_map) {
                          if (mtl[ prop ]) mtl[ prop ].dispose();
                        }
                      });
                    };
                  }

                  mtl.dispose();
                });
              } else {
                if (child.material.uniforms) {
                  Object.keys( child.material.uniforms ).forEach( ( key ) => {
                    if (child.material.uniforms[ key ].value) {
                      if (Array.isArray( child.material.uniforms[ key ].value ) && child.material.uniforms[ key ].value.length > 0) {
                        child.material.uniforms[ key ].value.forEach( val => {
                          if (val.type && val.type === 1009)
                            val.dispose();
                        });
                      } else {
                        if (child.material.uniforms[ key ].value.type && child.material.uniforms[ key ].value.type === 1009)
                          child.material.uniforms[ key ].value.dispose();
                      }
                    }
                  });
                } else {
                  for (const prop in child.material) {
                    texture_maps.forEach( tex_map => {
                      if (prop === tex_map) {
                        if (child.material[ prop ]) child.material[ prop ].dispose();
                      }
                    });
                  };
                }

                child.material.dispose();
              }
            }

            child.geometry.dispose();
          }
        });

        while (mesh.children.length > 0) {
          mesh.remove( mesh.children[ 0 ] );
        }

        mesh.children.length = 0;

        material.dispose();
        material = undefined;

        if (isMobile === false) {
          renderer.info.reset();
          renderer.state.reset();
        }
      }

      function enable_disable( disable = false ) {
        document.getElementById('directional_light_intensity').disabled = disable;
        document.getElementById('btn_dc_dli').disabled = disable;
        document.getElementById('back_color').disabled = disable;
        document.getElementById('btn_flat').disabled = disable;
        document.getElementById('btn_quick_x').disabled = disable;
        document.getElementById('btn_wireframe').disabled = disable;
        disabled_changed();

        mouse_wheel = true;
      }
    </script>

    <script>
      function document_ready() {
        isMobile = (/iPad|iPhone|iPod/.test( navigator.platform )) ||
          (/Android|webOS|iPhone|iPad|iPod|CriOS|BlackBerry|IEMobile|Opera Mini/i.test( navigator.userAgent )) ||
          (navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));

        texture_maps = [
          'map', 'aoMap', 'alphaMap', 'bumpMap', 'displacementMap', 'envMap', 'lightMap', 'emissiveMap', 'normalMap',
          'metalnessMap', 'roughnessMap', 'anisotropyMap', 'clearcoatMap', 'clearcoatNormalMap', 'clearcoatRoughnessMap',
          'iridescenceMap', 'iridescenceThicknessMap', 'sheenColorMap', 'sheenRoughnessMap', 'specularMap',
          'specularColorMap', 'specularIntensityMap', 'thicknessMap', 'transmissionMap'
        ];

        $('#url_entry').keypress( function( event ) { if (event.key === 'Enter') $('#btn_load').click(); });
      }

      function disabled_changed() {
        $('button').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });

        $('input[type=color]').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px whitesmoke'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });
      }

      function skeleton_animation_changed() {
        if ($('#btn_animate')[ 0 ].disabled === true) {
          $('#btn_animate').unbind('mouseenter mouseleave');
        } else {
          $('#btn_animate').hover(
          function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
          function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
        }

        mouse_wheel = true;
      }
    </script>
  </body>
</html>
