<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="OBJ + MTL (Wavefront Technologies) Viewer">
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.157.0" defer></script>
    <script src="../../static/js/MTLLoader.js" defer></script>
    <script src="../../static/js/OBJLoader.js" defer></script>
    <script src="../../static/js/TGALoader.js" defer></script>
    <script src="../../static/js/DDSLoader.js" defer></script>
    <script src="../../static/js/OrbitControls.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.147.0/examples/js/environments/RoomEnvironment.js" defer></script>

    <style>
      body, html {
        position: relative;
        display: block;
        background-color: black;
        width: 100%;
        min-height: 100vh;
        border: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }

      button {
        border: 1px solid blue;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        vertical-align: middle;
        margin: 2px 2px 2px 0;
        min-width: 22px;
        height: 22px;
        padding: 1px;
      }

      label {
        vertical-align: middle;
        height: 22px;
        margin: 2px 0 2px 0;
      }

      input[type=color] {
        border: 1px solid whitesmoke;
        margin: 2px 3px 2px -2px;
        vertical-align: middle;
        background: none;
        height: 20px;
        width: 16px;
        padding: 0;
      }

      input[type=file] {
        vertical-align: middle;
        margin: 2px 0 2px 0;
        max-width: 170px;
      }

      input[type=text] {
        vertical-align: middle;
        margin: 2px 2px 2px 0;
      }

      .error_msg {
        background-color: transparent;
        position: absolute;
        text-align: center;
        font-size: x-large;
        display: none;
        color: red;
        width: 240px;
        height: 240px;
        top: 50%;
        left: 50%;
        margin-left: -127px;
        padding: 10px;
        border: none;
      }

      .loading_msg {
        background-color: transparent;
        color: greenyellow;
        position: absolute;
        text-align: center;
        font-size: large;
        display: none;
        height: 240px;
        width: 240px;
        top: 50%;
        left: 50%;
        margin-left: -127px;
        padding: 10px;
        border: none;
      }

      .fm { color: navy; width: 99.25%; border: 1px solid navy; -webkit-border-radius: 2px; border-radius: 2px; padding: 4px; margin: 1px; }

      .fixed-menu {
        background-color: whitesmoke;
        display: inline-block;
        position: fixed;
        padding: 1px;
        width: 100%;
        z-index: 1;
        margin: 0;
      }
    </style>

    <!-- Original OBJ source code that inspired this: https://codepen.io/Mamboleoo/pen/PqjGdN -->
    <!-- OBJ Examples from: https://github.com/mrdoob/three.js -->
    <!-- More OBJ examples: -->
    <!--   https://people.math.sc.edu/Burkardt/data/data.html -->
    <!--   http://casual-effects.com/data/index.html -->
    <!--   https://www.videocopilot.net/blog/2016/05/free-star-wars-model-pack/ -->

    <!-- mouse_wheel variable is used throughout as a trigger for rendering -->

    <title>OBJ Viewer</title>
  </head>
  <body onload="reset_all(); disabled_changed();" onresize="resize();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm">
        <button title="URL of the remote 3D model" id="btn_url" onclick="show_url();" style="background-color: transparent; min-width: 34px;">URL</button>
        <input type="file" title="Browse Local Files" id="file_input" onchange="init();" accept=".obj, .mtl, .dib, .dds, .tga, image/png, image/jpeg, image/bmp, image/gif, image/svg+xml, image/webp" multiple />
        <label for="back_color" title="Background Color">BG</label>
        <input type="color" title="Background Color" id="back_color" onchange="set_back_color();" disabled />
        <button title="Flat Shading" id="btn_flat" onclick="set_flat();" disabled>F</button>
        <button title="Wireframe" id="btn_wireframe" onclick="show_wireframe();" disabled >W</button>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry" title="Remote URL"></label>
        <input type="text" id="url_entry" value="" style="width: 70%; margin-right: 3px;" />
        <button onclick="load_url_file();" style="min-width: 38px; margin-right: 3px;">Load</button>
        <button onclick="clear_url();" style="min-width: 38px; margin-right: 1px;">Clear</button>
      </div>
    </div>

    <div id="div_error" class="error_msg">E R R O R !</div>
    <div id="div_loading" class="loading_msg">Loading</div>

    <script>
      function show_url() {
        if (url_displayed === true) {
          document.getElementById('url').style.display = 'none';
          url_displayed = false;
        } else {
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url !== '') { selected_url_file = url; url_loading = true; init(); }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function initialize_event_listeners() {
        window.addEventListener( 'pointerdown', (event) => { mouse_down = true; }, false);
        window.addEventListener( 'pointerup', (event) => { mouse_down = false; }, false);
        window.addEventListener( 'wheel', ( event ) => { mouse_wheel = true; }, false);
      }

      function resize() {
        if (scene) {
          mouse_wheel = true;

          renderer.setSize( window.innerWidth, window.innerHeight );

          camera.aspect = window.innerWidth / window.innerHeight;
          camera.updateProjectionMatrix();

          ww = window.innerWidth;
          wh = window.innerHeight;

          mouse_wheel = true;
        }
      }
    </script>

    <script>
      const isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test( navigator.userAgent );

      var manager, texture_loader, obj_loader, mtl_loader, tga_loader, dds_loader;
      var renderer, scene, camera, Obj, render_requested, object_is_points, count = 0;
      var pmremGenerator, directionalLight, bounding_box, flat_shading_enabled;
      var controls, mouse_down, mouse_wheel, events_initialized, wireframe_enabled;
      var ww = window.innerWidth, wh = window.innerHeight;
      var selected_url_file = '', selected_obj_url_file, count = 0;
      var selected_mtl_file, selected_mtl_url_file, selected_obj_file;
      var url_displayed = false, url_loading = false, vertex_colors_enabled;
      var texture_files_png, texture_files_jpg, texture_files_bmp, texture_files_gif;
      var texture_files_svg, texture_files_dds, texture_files_tga, texture_files_webp;

      function set_back_color() {
        scene.background = null;
        document.body.style.backgroundColor = document.getElementById('back_color').value;
      }

      function set_initial_scale() {
        // Set the initial scale of the object so it comes to view

        bounding_box.setFromObject( Obj );
        let size = bounding_box.getSize( new THREE.Vector3() );

        if ( size.y > 1 ) {
          Obj.scale.multiplyScalar( 50 / size.y );
        } else if ( size.y > 0.02 ) {
          Obj.scale.multiplyScalar( 25 / size.y );
        } else if ( size.y > 0.01 ) {
          Obj.scale.multiplyScalar( 10 / size.y );
        } else {
          Obj.scale.multiplyScalar( 1 / size.y );
        }

        bounding_box.setFromObject( Obj );
        let center = bounding_box.getCenter( new THREE.Vector3() );
        controls.target.set( center.x, center.y, center.z );
      }

      function init(){
        if (scene) {
          if (Obj) {
            if (wireframe_enabled === true) show_wireframe();

            Obj.traverse( function( child ) {
              if (child.isMesh || child.isPoints) {
                if (child.material) {
                  if (Array.isArray( child.material )) {
                    child.material.forEach( mtl => {
                      mtl.dispose();
                    });
                  } else {
                    child.material.dispose();
                  }
                }

                child.geometry.dispose();
              }
            });

            scene.remove( Obj );
          }

          mouse_wheel = true;

          reset_all( true );
        }

        enable_disable( true );

        THREE.DefaultLoadingManager.onLoad = function() { pmremGenerator.dispose(); }

        if (manager === undefined) manager = new THREE.LoadingManager();

        manager.onProgress = function ( item, loaded, total ) {
          if ( loaded === total ) {
            console.timeEnd( 'Loading Time' );
            document.getElementById('div_loading').style.display = 'none';
            enable_disable( false );

            if (object_is_points === true) {
              document.getElementById('btn_flat').disabled = true;
              document.getElementById('btn_wireframe').disabled = true;
              disabled_changed();
            }

            render_requested = true;
            mouse_wheel = true;
            render();
          }
        }

        if (texture_loader === undefined) texture_loader = new THREE.TextureLoader();

        if (obj_loader === undefined) obj_loader = new THREE.OBJLoader( manager );

        if (mtl_loader === undefined) mtl_loader = new THREE.MTLLoader( manager );

        if (tga_loader === undefined) {
          tga_loader = new THREE.TGALoader( manager );
          manager.addHandler( /\.tga$/i, tga_loader );
        }

        if (dds_loader === undefined) {
          dds_loader = new THREE.DDSLoader( manager );
          manager.addHandler( /\.dds$/i, dds_loader );
        }

        obj_loader.setMaterials( null );

        selected_obj_file = null;
        selected_obj_url_file = null;
        selected_mtl_file = null;
        selected_mtl_url_file = null;
        object_is_points = false;
        mouse_down = false;
        mouse_wheel = true;
        texture_files_jpg = [];
        texture_files_png = [];
        texture_files_bmp = [];
        texture_files_gif = [];
        texture_files_svg = [];
        texture_files_webp = [];
        texture_files_dds = [];
        texture_files_tga = [];
        flat_shading_enabled = false;
        vertex_colors_enabled = false;
        wireframe_enabled = false;
        render_requested = false;
        bounding_box = new THREE.Box3();

        document.getElementById('btn_wireframe').disabled = false;

        console.time( 'Loading Time' );
        document.getElementById('div_error').style.display = 'none';
        document.getElementById('div_loading').style.display = 'block';
        document.getElementById('div_loading').innerHTML = 'Load & Visualize';

        if (url_loading === false) {
          // Loaded file(s)
          let fi = document.getElementById('file_input');

          // Include check for JPG/PNG/BMP/GIF/TIF, SVG, TGA and DDS (DirectDraw Surface container file format)
          for (let i = 0; i < fi.files.length; i++) {
            let fn_uc = fi.files[ i ].name.toUpperCase();

            if (fn_uc.endsWith('.OBJ')) { selected_obj_file = fi.files[ i ]; }
            else if (fn_uc.endsWith('.MTL')) { selected_mtl_file = fi.files[ i ]; }
            else if (fn_uc.endsWith('.TGA')) { texture_files_tga.push( fi.files[ i ] ); }
            else if (fn_uc.endsWith('.DDS')) { texture_files_dds.push( fi.files[ i ] ); }
            else if (fn_uc.endsWith('.DIB')) { texture_files_bmp.push( fi.files[ i ] ); }
            else if (fi.files[ i ].type.startsWith('image/png')) { texture_files_png.push( fi.files[ i ] ); }
            else if (fi.files[ i ].type.startsWith('image/jpeg')) { texture_files_jpg.push( fi.files[ i ] ); }
            else if (fi.files[ i ].type.startsWith('image/bmp')) { texture_files_bmp.push( fi.files[ i ] ); }
            else if (fi.files[ i ].type.startsWith('image/gif')) { texture_files_gif.push( fi.files[ i ] ); }
            else if (fi.files[ i ].type.startsWith('image/svg+xml')) { texture_files_svg.push( fi.files[ i ] ); }
            else if (fi.files[ i ].type.startsWith('image/webp')) { texture_files_webp.push( fi.files[ i ] ); }
          };

          if (selected_obj_file === null) {
            handle_error( 'No valid OBJ file selected!' );
            return;
          }

          selected_url_file = '';
        } else {
          // Reset the file input
          document.getElementById('file_input').value = '';
          url_loading = false;
        }

        if (renderer === undefined) {
          renderer = new THREE.WebGLRenderer( { antialias: true, alpha: true } );
          renderer.setPixelRatio( window.devicePixelRatio );
          renderer.toneMapping = THREE.ACESFilmicToneMapping;
          renderer.toneMappingExposure = 0.75;
          renderer.setSize( ww, wh );
          renderer.shadowMap.enabled = true;
          renderer.shadowMap.type = THREE.PCFSoftShadowMap;
          renderer.setClearColor( 0xFFFFFF, 0 ); // Allow setting the background color
          renderer.autoClear = false;

          document.body.appendChild( renderer.domElement );
        }

        if (scene === undefined) scene = new THREE.Scene();

        if (!events_initialized) { initialize_event_listeners(); events_initialized = true; }

        if (camera === undefined) {
          camera = new THREE.PerspectiveCamera( 45, ww / wh, 0.5, 2500 );
          camera.position.set( 0, 0, 250 );
          scene.add( camera );
        }

        // Add DirectionalLight to the camera (add it to the scene instead if not using Orbit Controls)
        if (directionalLight === undefined) {
          directionalLight = new THREE.DirectionalLight( 0xFFFFFF, 7.5 );
          directionalLight.position.set( 0, 0, 250 );
          directionalLight.lookAt( new THREE.Vector3( 0, 0, 0 ) );
          camera.add( directionalLight );
        }

        if (controls === undefined) {
          controls = new THREE.OrbitControls( camera, renderer.domElement );
          //controls.enableZoomToCursor = true;
          controls.zoomSpeed = 0.8;
          controls.rotateSpeed = 0.8;
          controls.keyPanSpeed = 0.8; 
          controls.panSpeed = 0.8;
          //controls.enableDamping = true;
          //controls.dampingFactor = 0.3;
          //controls.enableKeys = false;
          //controls.enableZoom = true;
          //controls.maxPolarAngle = 2.2;
          //controls.minPolarAngle = 1.1;
          //controls.rotateSpeed = 0.2;
          //controls.minDistance = 2;
          //controls.maxDistance = 500;
        }

        if (scene.environment === null) {
          pmremGenerator = new THREE.PMREMGenerator( renderer );
          scene.environment = pmremGenerator.fromScene( new THREE.RoomEnvironment(), .005 ).texture;
        }

        // Load the Obj file
        selected_obj_file !== null ? loadFile() : loadURLFile();
      }

      function loadFile() {
        if (selected_mtl_file) {
          document.getElementById('div_loading').style.display = 'block';

          mtl_loader.load( URL.createObjectURL( selected_mtl_file ), ( mtl ) => {
            URL.revokeObjectURL( selected_mtl_file );

            if (texture_files_png.length > 0 || texture_files_jpg.length > 0 || texture_files_bmp.length > 0 || texture_files_gif.length > 0 || texture_files_svg.length > 0 || texture_files_webp.length > 0 || texture_files_tga.length > 0 || texture_files_dds.length > 0) {
              if (texture_files_png.length > 0) {
                for (const [ key, value ] of Object.entries( mtl.materialsInfo )) {
                  texture_files_png.forEach( file => { set_mtl_materialsInfo( key, value, file, mtl ) });
                }
              }

              if (texture_files_jpg.length > 0) {
                for (const [ key, value ] of Object.entries( mtl.materialsInfo )) {
                  texture_files_jpg.forEach( file => { set_mtl_materialsInfo( key, value, file, mtl ) });
                }
              }

              if (texture_files_bmp.length > 0) {
                for (const [ key, value ] of Object.entries( mtl.materialsInfo )) {
                  texture_files_bmp.forEach( file => { set_mtl_materialsInfo( key, value, file, mtl ) });
                }
              }

              if (texture_files_gif.length > 0) {
                for (const [ key, value ] of Object.entries( mtl.materialsInfo )) {
                  texture_files_gif.forEach( file => { set_mtl_materialsInfo( key, value, file, mtl ) });
                }
              }

              if (texture_files_svg.length > 0) {
                for (const [ key, value ] of Object.entries( mtl.materialsInfo )) {
                  texture_files_svg.forEach( file => { set_mtl_materialsInfo( key, value, file, mtl ) });
                }
              }

              if (texture_files_webp.length > 0) {
                for (const [ key, value ] of Object.entries( mtl.materialsInfo )) {
                  texture_files_webp.forEach( file => { set_mtl_materialsInfo( key, value, file, mtl ) });
                }
              }

              if (texture_files_tga.length > 0) {
                for (const [ key, value ] of Object.entries( mtl.materialsInfo )) {
                  mtl.materialsInfo[ key ][ 'ext' ] = '.tga';

                  texture_files_tga.forEach( file => { set_mtl_materialsInfo( key, value, file, mtl ) });
                }
              }

              if (texture_files_dds.length > 0) {
                for (const [ key, value ] of Object.entries( mtl.materialsInfo )) {
                  mtl.materialsInfo[ key ][ 'ext' ] = '.dds';

                  texture_files_dds.forEach( file => { set_mtl_materialsInfo( key, value, file, mtl ) });
                }
              }
            } else {
              mtl.preload();
            }

            obj_loader.setMaterials( mtl );

            // Launch loading of the selected file
            obj_loader.load( URL.createObjectURL( selected_obj_file ), function ( object ) {
              URL.revokeObjectURL( selected_obj_file );

              Obj = object;

              Obj.traverse( function( child ) {
                if (child.isMesh || child.isPoints) {
                  if (child.geometry.isBufferGeometry) {
                    child.geometry.computeBoundingBox();
                    child.geometry.computeBoundingSphere();
                    if (! child.geometry.getAttribute( 'normal' )) child.geometry.computeVertexNormals();
                    child.geometry.normalizeNormals();
                  }

                  if (child.geometry.attributes.color && child.geometry.attributes.color.array.length > 0) {
                    vertex_colors_enabled = true;
                  }

                  if (child.isPoints) object_is_points = true;

                  if (Array.isArray( child.material )) {
                    child.material.forEach( mtrl => {
                      if ( mtrl.aoMap && child.geometry.attributes.uv1 === undefined && child.geometry.attributes.uv !== undefined ) {
                        child.geometry.setAttribute( 'uv1', child.geometry.attributes.uv );
                        mtrl.aoMap.channel = 1;
                      }

                      set_texture_colorSpace( mtrl );
                      mtrl.vertexColors = vertex_colors_enabled;

                      if (child.isPoints) {
                        (isMobile === true) ? mtrl.size = 0.8 : mtrl.size = 0.3;
                        child.sizeAttenuation = true;
                        child.sortPoints = true;
                      }

                      mtrl.needsUpdate = true;
                    });
                  } else {
                    if ( child.material.aoMap && child.geometry.attributes.uv1 === undefined && child.geometry.attributes.uv !== undefined ) {
                      child.geometry.setAttribute( 'uv1', child.geometry.attributes.uv );
                      child.material.aoMap.channel = 1;
                    }

                    set_texture_colorSpace( child.material );
                    child.material.vertexColors = vertex_colors_enabled;

                    if (child.isPoints) {
                      (isMobile === true) ? child.material.size = 0.8 : child.material.size = 0.3;
                      child.sizeAttenuation = true;
                      child.sortPoints = true;
                    }

                    child.material.needsUpdate = true;
                  }
                }
              });

              // Add 3D object to scene
              scene.add( Obj );
              Obj.position.set( 0, 0, 0 );
              camera.lookAt( Obj.position );

              set_initial_scale();
              resize();
            }, function ( xhr ) { // onProgress
            }, function ( error ) { // onError
              handle_error( error );
              URL.revokeObjectURL( selected_obj_file );
            });
          }, function ( xhr ) {  // onProgress
          }, function ( error ) { // onError
            handle_error( error );
            URL.revokeObjectURL( selected_mtl_file );
          });
        } else {
          document.getElementById('div_loading').style.display = 'block';

          // Launch loading of the selected file
          obj_loader.load( URL.createObjectURL( selected_obj_file ), function( object ) {
            URL.revokeObjectURL( selected_obj_file );

            Obj = object;

            Obj.traverse( function( child ) {
              if (child.isMesh || child.isPoints) {
                if (child.geometry.isBufferGeometry) {
                  child.geometry.computeBoundingBox();
                  child.geometry.computeBoundingSphere();
                  if (! child.geometry.getAttribute( 'normal' )) child.geometry.computeVertexNormals();
                  child.geometry.normalizeNormals();
                }

                if (child.geometry.attributes.color && child.geometry.attributes.color.array.length > 0) {
                  vertex_colors_enabled = true;
                }

                if (child.isPoints) object_is_points = true;

                if (Array.isArray( child.material )) {
                  child.material.forEach( mtrl => {
                    if ( mtrl.aoMap && child.geometry.attributes.uv1 === undefined && child.geometry.attributes.uv !== undefined ) {
                      child.geometry.setAttribute( 'uv1', child.geometry.attributes.uv );
                      mtrl.aoMap.channel = 1;
                    }

                    set_texture_colorSpace( mtrl );
                    mtrl.vertexColors = vertex_colors_enabled;

                    if (child.isPoints) {
                      (isMobile === true) ? mtrl.size = 0.8 : mtrl.size = 0.3;
                      child.sizeAttenuation = true;
                      child.sortPoints = true;
                    }

                    mtrl.needsUpdate = true;
                  });
                } else {
                  if ( child.material.aoMap && child.geometry.attributes.uv1 === undefined && child.geometry.attributes.uv !== undefined ) {
                    child.geometry.setAttribute( 'uv1', child.geometry.attributes.uv );
                    child.material.aoMap.channel = 1;
                  }

                  set_texture_colorSpace( child.material );
                  child.material.vertexColors = vertex_colors_enabled;

                  if (child.isPoints) {
                    (isMobile === true) ? child.material.size = 0.8 : child.material.size = 0.3;
                    child.sizeAttenuation = true;
                    child.sortPoints = true;
                  }

                  child.material.needsUpdate = true;
                }
              }
            });

            // Add 3D object to scene
            scene.add( Obj );
            Obj.position.set( 0, 0, 0 );
            camera.lookAt( Obj.position );

            set_initial_scale();
            resize();
          }, function ( xhr ) { // onProgress
          }, function ( error ) { // onError
            handle_error( error );
            URL.revokeObjectURL( selected_obj_file );
          });
        }

        mouse_wheel = true;
      }

      function set_mtl_materialsInfo( key, value, file, mtl ) {
        let map_strings = [ 'bump', 'map_bump', 'disp', 'map_disp', 'norm', 'map_kn', 'map_d', 'map_ka', 'map_kd', 'map_ke', 'map_emissive', 'map_ks', 'map_ns', 'map_pa', 'map_pi', 'map_pit', 'map_px', 'map_pm', 'map_pr', 'map_psc', 'map_psr', 'map_pcc', 'map_pcn', 'map_pcr', 'map_pth', 'map_ptr', 'map_psi', 'map_psp', 'pl_map' ];
        let file_url = URL.createObjectURL( file ).substring( mtl.baseUrl.length );

        map_strings.forEach( map_str => {
          if (value[ map_str ] && (value[ map_str ].indexOf( ' ' ) ? file.name === value[ map_str ].substring( value[ map_str ].lastIndexOf( ' ' ) + 1 ) : file.name === value[ map_str ])) {
            mtl.materialsInfo[ key ][ map_str ] = file_url;
          }
        });

        URL.revokeObjectURL( file );
      }

      function loadURLFile() {
        if (selected_url_file !== '') {
          if (selected_url_file.indexOf( ',' ) > -1) {
            let urls = selected_url_file.split( ',' );

            for (let i = 0; i < urls.length; i++) {
              let url = urls[ i ].trim();

              if (url.startsWith('https://github.com') === true) {
                url = ( url.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
              }

              let url_uc = url.toUpperCase();

              if (url_uc.endsWith('.MTL')) {
                selected_mtl_url_file = url;
              } else if (url_uc.endsWith('.OBJ')) {
                selected_obj_url_file = url;
              } else if (url.endsWith('/')) {
                obj_loader.setResourcePath( url );
              }
            }

            if (selected_obj_url_file !== null) {
              document.getElementById('div_loading').style.display = 'block';

              if (selected_mtl_url_file) {
                mtl_loader.load( selected_mtl_url_file, ( mtl ) => {
                  mtl.preload();

                  obj_loader.setMaterials( mtl );

                  obj_loader.load( selected_obj_url_file, function( object ) {
                    Obj = object;

                    Obj.traverse( function( child ) {
                      if (child.isMesh || child.isPoints) {
                        if (child.geometry.isBufferGeometry) {
                          child.geometry.computeBoundingBox();
                          child.geometry.computeBoundingSphere();
                          if (! child.geometry.getAttribute( 'normal' )) child.geometry.computeVertexNormals();
                          child.geometry.normalizeNormals();
                        }

                        if (child.geometry.attributes.color && child.geometry.attributes.color.array.length > 0) {
                          vertex_colors_enabled = true;
                        }

                        if (child.isPoints) object_is_points = true;

                        if (Array.isArray( child.material )) {
                          child.material.forEach( mtrl => {
                            if ( mtrl.aoMap && child.geometry.attributes.uv1 === undefined && child.geometry.attributes.uv !== undefined ) {
                              child.geometry.setAttribute( 'uv1', child.geometry.attributes.uv );
                              mtrl.aoMap.channel = 1;
                            }

                            set_texture_colorSpace( mtrl );
                            if (mtrl.map) mtrl.map.generateMipmaps = true;

                            mtrl.vertexColors = vertex_colors_enabled;

                            if (child.isPoints) {
                              (isMobile === true) ? mtrl.size = 0.8 : mtrl.size = 0.3;
                              child.sizeAttenuation = true;
                              child.sortPoints = true;
                            }

                            mtrl.needsUpdate = true;
                          });
                        } else {
                          if ( child.material.aoMap && child.geometry.attributes.uv1 === undefined && child.geometry.attributes.uv !== undefined ) {
                            child.geometry.setAttribute( 'uv1', child.geometry.attributes.uv );
                            child.material.aoMap.channel = 1;
                          }

                          set_texture_colorSpace( child.material );
                          if (child.material.map) child.material.map.generateMipmaps = true;

                          child.material.vertexColors = vertex_colors_enabled;

                          if (child.isPoints) {
                            (isMobile === true) ? child.material.size = 0.8 : child.material.size = 0.3;
                            child.sizeAttenuation = true;
                            child.sortPoints = true;
                          }

                          child.material.needsUpdate = true;
                        }
                      }
                    });

                    // Add 3D object to scene
                    scene.add( Obj );
                    Obj.position.set( 0, 0, 0 );
                    camera.lookAt( Obj.position );

                    set_initial_scale();
                    resize();
                  }, function ( xhr ) { // onProgress
                  }, function ( error ) { handle_error( error ); }); // onError
                }, function ( xhr ) { // onProgress
                }, function ( error ) { handle_error( error ); }); // onError
              } else {
                obj_loader.load( selected_obj_url_file, function( object ) {
                  Obj = object;

                  Obj.traverse( function( child ) {
                    if (child.isMesh || child.isPoints) {
                      if (child.geometry.isBufferGeometry) {
                        child.geometry.computeBoundingBox();
                        child.geometry.computeBoundingSphere();
                        if (! child.geometry.getAttribute( 'normal' )) child.geometry.computeVertexNormals();
                        child.geometry.normalizeNormals();
                      }

                      if (child.geometry.attributes.color && child.geometry.attributes.color.array.length > 0) {
                        vertex_colors_enabled = true;
                      }

                      if (child.isPoints) object_is_points = true;

                      if (Array.isArray( child.material )) {
                        child.material.forEach( mtrl => {
                          if ( mtrl.aoMap && child.geometry.attributes.uv1 === undefined && child.geometry.attributes.uv !== undefined ) {
                            child.geometry.setAttribute( 'uv1', child.geometry.attributes.uv );
                            mtrl.aoMap.channel = 1;
                          }

                          set_texture_colorSpace( mtrl );
                          if (mtrl.map) mtrl.map.generateMipmaps = true;

                          mtrl.vertexColors = vertex_colors_enabled;

                          if (child.isPoints) {
                            (isMobile === true) ? mtrl.size = 0.8 : mtrl.size = 0.3;
                            child.sizeAttenuation = true;
                            child.sortPoints = true;
                          }

                          mtrl.needsUpdate = true;
                        });
                      } else {
                        if ( child.material.aoMap && child.geometry.attributes.uv1 === undefined && child.geometry.attributes.uv !== undefined ) {
                          child.geometry.setAttribute( 'uv1', child.geometry.attributes.uv );
                          child.material.aoMap.channel = 1;
                        }

                        set_texture_colorSpace( child.material );
                        if (child.material.map) child.material.map.generateMipmaps = true;

                        child.material.vertexColors = vertex_colors_enabled;

                        if (child.isPoints) {
                          (isMobile === true) ? child.material.size = 0.8 : child.material.size = 0.3;
                          child.sizeAttenuation = true;
                          child.sortPoints = true;
                        }

                        child.material.needsUpdate = true;
                      }
                    }
                  });

                  // Add 3D object to scene
                  scene.add( Obj );
                  Obj.position.set( 0, 0, 0 );
                  camera.lookAt( Obj.position );

                  set_initial_scale();
                  resize();
                }, function ( xhr ) { // onProgress
                }, function ( error ) { handle_error( error ); }); // onError
              }
            } else {
              handle_error( 'Unsupported URL model!' );
            }
          } else {
            if (selected_url_file.startsWith('https://www.dropbox.com') === true) {
              selected_obj_url_file = selected_url_file.replace('www.dropbox.com', 'dl.dropbox.com');
            } else {
              if (selected_url_file.startsWith('https://github.com') === true) {
                selected_url_file = ( selected_url_file.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
              }

              if (selected_url_file.toUpperCase().endsWith('.OBJ')) selected_obj_url_file = selected_url_file;
            }

            if (selected_obj_url_file === null) {
              handle_error( 'Unsupported URL file!' );
              return;
            }

            obj_loader.load( selected_obj_url_file, function ( object ) {
              Obj = object;

              Obj.traverse( function( child ) {
                if (child.isMesh || child.isPoints) {
                  if (child.geometry.isBufferGeometry) {
                    child.geometry.computeBoundingBox();
                    child.geometry.computeBoundingSphere();
                    if (! child.geometry.getAttribute( 'normal' )) child.geometry.computeVertexNormals();
                    child.geometry.normalizeNormals();
                  }

                  if (child.geometry.attributes.color && child.geometry.attributes.color.array.length > 0) {
                    vertex_colors_enabled = true;
                  }

                  if (child.isPoints) object_is_points = true;

                  if (Array.isArray( child.material )) {
                    child.material.forEach( mtrl => {
                      if ( mtrl.aoMap && child.geometry.attributes.uv1 === undefined && child.geometry.attributes.uv !== undefined ) {
                        child.geometry.setAttribute( 'uv1', child.geometry.attributes.uv );
                        mtrl.aoMap.channel = 1;
                      }

                      set_texture_colorSpace( mtrl );
                      mtrl.vertexColors = vertex_colors_enabled;

                      if (child.isPoints) {
                        (isMobile === true) ? mtrl.size = 0.8 : mtrl.size = 0.3;
                        child.sizeAttenuation = true;
                        child.sortPoints = true;
                      }

                      mtrl.needsUpdate = true;
                    });
                  } else {
                    if ( child.material.aoMap && child.geometry.attributes.uv1 === undefined && child.geometry.attributes.uv !== undefined ) {
                      child.geometry.setAttribute( 'uv1', child.geometry.attributes.uv );
                      child.material.aoMap.channel = 1;
                    }

                    set_texture_colorSpace( child.material );
                    child.material.vertexColors = vertex_colors_enabled;

                    if (child.isPoints) {
                      (isMobile === true) ? child.material.size = 0.8 : child.material.size = 0.3;
                      child.sizeAttenuation = true;
                      child.sortPoints = true;
                    }

                    child.material.needsUpdate = true;
                  }
                }
              });

              // Add 3D object to scene
              scene.add( Obj );
              Obj.position.set( 0, 0, 0 );
              camera.lookAt( Obj.position );

              set_initial_scale();
              resize();
            }, function ( xhr ) { // onProgress
            }, function ( error ) { handle_error( error ); }); // onError
          }
        }

        mouse_wheel = true;
      }

      function set_texture_colorSpace( material ) {
        if (material.map) material.map.colorSpace = THREE.SRGBColorSpace;
        if (material.aoMap) material.aoMap.colorSpace = THREE.LinearSRGBColorSpace;
        if (material.alphaMap) material.alphaMap.colorSpace = THREE.LinearSRGBColorSpace;
        if (material.lightMap) material.lightMap.colorSpace = THREE.LinearSRGBColorSpace;
        if (material.emissiveMap) material.emissiveMap.colorSpace = THREE.SRGBColorSpace;
        if (material.normalMap) material.normalMap.colorSpace = THREE.LinearSRGBColorSpace;
        if (material.specularMap) material.specularMap.colorSpace = THREE.SRGBColorSpace;
        if (material.metalnessMap) material.metalnessMap.colorSpace = THREE.LinearSRGBColorSpace;
        if (material.roughnessMap) material.roughnessMap.colorSpace = THREE.LinearSRGBColorSpace;
        if (material.clearcoatMap) material.clearcoatMap.colorSpace = THREE.LinearSRGBColorSpace;
        if (material.clearcoatNormalMap) material.clearcoatNormalMap.colorSpace = THREE.LinearSRGBColorSpace;
        if (material.clearcoatRoughnessMap) material.clearcoatRoughnessMap.colorSpace = THREE.LinearSRGBColorSpace;
        if (material.iridescenceMap) material.iridescenceMap.colorSpace = THREE.SRGBColorSpace;
        if (material.iridescenceThicknessMap) material.iridescenceThicknessMap.colorSpace = THREE.SRGBColorSpace;
        if (material.sheenColorMap) material.sheenColorMap.colorSpace = THREE.SRGBColorSpace;
        if (material.sheenRoughnessMap) material.sheenRoughnessMap.colorSpace = THREE.LinearSRGBColorSpace;
        if (material.specularColorMap) material.specularColorMap.colorSpace = THREE.LinearSRGBColorSpace;
        if (material.specularIntensityMap) material.specularIntensityMap.colorSpace = THREE.LinearSRGBColorSpace;
        if (material.thicknessMap) material.thicknessMap.colorSpace = THREE.LinearSRGBColorSpace;
        if (material.transmissionMap) material.transmissionMap.colorSpace = THREE.LinearSRGBColorSpace;
      }

      function handle_error( error ) {
        console.timeEnd( 'Loading Time' );
        console.log( 'Error loading model!' );
        console.log( error );
        render_requested = false;
        enable_disable( true );

        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').style.display = 'block';
      }

      function set_flat() {
        if (flat_shading_enabled === true) {
          document.getElementById('btn_flat').style.backgroundColor = 'transparent';
          flat_shading_enabled = false;
        } else {
          document.getElementById('btn_flat').style.backgroundColor = 'lightgreen';
          flat_shading_enabled = true;
        }

        // Go through all children of the loaded object and search for a Mesh
        Obj.traverse( function( child ) {
          // This will allow us to check if the child is an instance of the Mesh constructor
          if (child.isMesh) {
            if (Array.isArray( child.material )) {
              child.material.forEach( mtl => {
                mtl.flatShading = flat_shading_enabled;
                mtl.needsUpdate = true;
              });
            } else {
              child.material.flatShading = flat_shading_enabled;
              child.material.needsUpdate = true;
            }
          }

          mouse_wheel = true;
        });
      }

      function show_wireframe() {
        if (Obj) {
          if (wireframe_enabled === true) {
            wireframe_enabled = false;
            document.getElementById('btn_wireframe').style.backgroundColor = 'transparent';
          } else {
            wireframe_enabled = true;
            document.getElementById('btn_wireframe').style.backgroundColor = 'lightgreen';
          }

          Obj.traverse( function( child ) {
            if (child.isMesh) {
              if (Array.isArray( child.material )) {
                child.material.forEach( mtl => {
                  mtl.wireframe = wireframe_enabled;
                });
              } else {
                child.material.wireframe = wireframe_enabled;
              }

              mouse_wheel = true;
            }
      	  });
        }
      }

      async function render() {
        if (Obj) {
          if (mouse_down === true || mouse_wheel === true) {
            controls.update();

            renderer.clear();
            renderer.render( scene, camera );

            scene.updateMatrixWorld();
            camera.updateMatrixWorld();

            if (mouse_wheel === true) {
              if (count > 3) {
                mouse_wheel = false;
                count = 0;
              } else {
                count += 1;
              }
            }
          }
        }

        if (render_requested === true) requestAnimationFrame( render );
      }

      function reset_all( reset = false ) {
        document.getElementById('back_color').value = '#000000';
        document.getElementById('btn_flat').style.backgroundColor = 'transparent';
        document.getElementById('btn_wireframe').style.backgroundColor = 'transparent';

        // Reset the view
        if (reset === true) {
          controls.reset();
          set_back_color();
        } else {
          // Page (re)loading
          if (scene) {
            if (Obj) {
              Obj.traverse( function( child ) {
                if (child.isMesh || child.isPoints) {
                  if (child.material) {
                    if (Array.isArray( child.material )) {
                      child.material.forEach( mtl => {
                        mtl.dispose();
                      });
                    } else {
                      child.material.dispose();
                    }
                  }

                  child.geometry.dispose();
                }
              });
            }

            while (scene.children.length > 0) {
              scene.remove( scene.children[ 0 ] );
            }
          }

          mouse_wheel = true;

          document.getElementById('file_input').value = '';
          document.getElementById('div_error').style.display = 'none';
          document.getElementById('url_entry').value = '';
          selected_url_file = '';
          enable_disable( true );
        }
      }

      function enable_disable( disable = false ) {
        document.getElementById('back_color').disabled = disable;
        document.getElementById('btn_flat').disabled = disable;
        document.getElementById('btn_wireframe').disabled = disable;
        disabled_changed();
      }
    </script>

    <script>
      function disabled_changed() {
        $('button').each( function() {
          mouse_wheel = true;

          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px blue'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }
        });

        $('input[type=color]').each( function() {
          mouse_wheel = true;

          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px whitesmoke'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }
        });
      }
    </script>
  </body>
</html>
