<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PCD (Point Cloud Data), XYZ and LAS/LAZ Viewer">
    <link rel="stylesheet" href="../../static/css/mobile-viewers.css">
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>

    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.10.0/dist/es-module-shims.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.178.0/build/three.module.min.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.178.0/examples/jsm/",
          "loaders-core": "https://esm.sh/@loaders.gl/core@4.3.4",
          "loaders-las": "https://esm.sh/@loaders.gl/las@4.3.4"
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>

    <script>
      var THREE, manager, pcd_loader, xyz_loader, xyz_format, las_loader, las_format;
      var renderer, scene, camera, pcd_obj, controls, isMobile, render_requested;
      var mouse_down, mouse_wheel, reset_rotation, events_initialized, count = 0;
      var ww = window.innerWidth, wh = window.innerHeight, bounding_box;
      var selected_pcd_file, selected_url_file = '';
      var url_displayed = false, url_loading = false;
      var vertex_colors_present, vertex_colors_enabled;
      var normal_colors_present, normal_colors_enabled;
      var elevationColors, elevation, original_vertex_color_array;
    </script>

    <script type="module">
      import * as three_js from "three";
      import { PCDLoader } from "three/addons/loaders/PCDLoader.min.js";
      import { XYZLoader } from "../../static/jsm/loaders/XYZLoader.min.js";
      import { LASZLoader } from "../../static/jsm/loaders/LASZLoader.min.js";

      THREE = three_js;

      manager = new THREE.LoadingManager();
      manager.onLoad = function() { mouse_wheel = true; }

      pcd_loader = new PCDLoader( manager );
      xyz_loader = new XYZLoader( manager );
      las_loader = new LASZLoader( manager );
    </script>

    <!-- Original OBJ source code that inspired this: https://codepen.io/Mamboleoo/pen/PqjGdN -->
    <!-- Using three.js library: https://github.com/mrdoob/three.js -->
    <!-- Using loaders.gl library: https://github.com/visgl/loaders.gl -->

    <!-- mouse_wheel variable is used throughout as a trigger for rendering -->

    <title>PCD+XYZ+LAS Viewer (r178)</title>
  </head>
  <body onload="reset_all(); document_ready(); disabled_changed();" onresize="resize();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm">
        <button id="btn_desktop" title="Open Desktop Version" onclick="switch_to_desktop();">D</button>
        <label for="btn_desktop" title="Open Desktop Version"></label>
        <button title="Get remote model via URL" id="btn_url" onclick="show_url()" style="min-width: 38px;">URL</button>
        <label for="btn_url" title="Get remote model via URL"></label>
        <button title="Browse Local Files" id="btn_file_input" style="min-width: 54px;" onclick="document.getElementById('file_input').click();">Browse</button>
        <label for="btn_file_input" title="Browse Local Files"></label>
        <input type="file" id="file_input" style="display: none;" onchange="init();" accept=".las, .laz, .pcd, .xyz" />
        <label for="back_color" title="Background Color">B</label>
        <input type="color" title="Background Color" id="back_color" onchange="set_back_color();" disabled />
        <label for="points_color" title="Points Color">C</label>
        <input type="color" title="Points Color" id="points_color" name="points_color" onchange="set_points_color();" disabled />
        <button title="Increase Points Size" id="btn_plus" onclick="increase_points_size();" style="color: red;" disabled>+</button>
        <label for="btn_plus" title="Increase Points Size"></label>
        <button title="Decrease Points Size" id="btn_minus" onclick="decrease_points_size();" style="color: red;" disabled>-</button>
        <label for="btn_minus" title="Decrease Points Size"></label>
        <button title="Toggle Elevation Colors" id="btn_elevation_colors" onclick="set_elevation_colors();" style="min-width: 28px; margin-left: 3px;" disabled>EC</button>
        <label for="btn_elevation_colors" title="Toggle Elevation Colors"></label>
        <button title="Toggle Vertex Colors" id="btn_vertex_colors" onclick="set_vertex_colors();" style="display: none; min-width: 28px;">VC</button>
        <label for="btn_vertex_colors" title="Toggle Vertex Colors"></label>
        <button title="Toggle Normal Colors" id="btn_normal_colors" onclick="set_normal_colors();" style="display: none; min-width: 28px;">NC</button>
        <label for="btn_normal_colors" title="Toggle Normal Colors"></label>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry" title="Remote URL"></label>
        <input type="text" id="url_entry" value="" style="width: calc(75% - 12px);" />
        <button title="Load" id="btn_load" onclick="load_url_file();" style="min-width: 8.5%;">Load</button>
        <label for="btn_load" title="Load"></label>
        <button title="Clear" id="btn_clear" onclick="clear_url();" style="min-width: 8.5%;">Clear</button>
        <label for="btn_clear" title="Clear"></label>
      </div>
    </div>

    <div id="div_error" class="error_msg">E R R O R !</div>
    <div id="div_loading" class="loading_msg">PCD+XYZ+LAS Viewer</div>

    <script>
      function return_false() { return false; }

      function switch_to_desktop() {
        let link = document.createElement( 'a' );
        link.style.display = 'none';
        link.href = "../PCD Viewer.html";
        link.click();
      }

      function show_url() {
        if (url_displayed === true) {
          url_displayed = false;
          document.getElementById('url').style.display = 'none';
          document.getElementById('btn_url').style.backgroundColor = 'transparent';
        } else {
          document.getElementById('btn_url').style.backgroundColor = 'lightgreen';
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url !== '') { selected_url_file = url; url_loading = true; init(); }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function initialize_event_listeners() {
        const arrow_keys = [ 'ArrowUp', 'ArrowDown', 'ArrowRight', 'ArrowLeft' ];

        window.addEventListener( 'pointerdown', (event) => { mouse_down = true; }, false);
        window.addEventListener( 'pointerup', (event) => { mouse_down = false; mouse_wheel = true; }, false);
        window.addEventListener( 'wheel', ( event ) => { mouse_wheel = true; }, false);
        window.addEventListener( 'keydown', ( event ) => {
          if (arrow_keys.some( k => k === event.key ) || event.ctrlKey || event.metaKey || event.shiftKey) {
            controls.listenToKeyEvents( window );
            mouse_wheel = true;
          }
        }, false);
        window.addEventListener( 'keyup', ( event ) => {
          if (arrow_keys.some( k => k === event.key )) {
            controls.stopListenToKeyEvents();
            mouse_wheel = false;
          }
        }, false);
      }

      function resize() {
        if (scene !== undefined) {
          mouse_wheel = true;

          ww = window.innerWidth;
          wh = window.innerHeight;

          renderer.setSize( ww, wh );

          camera.aspect = ww / wh;
          camera.updateProjectionMatrix();

          mouse_wheel = true;
        }
      }
    </script>

    <script>
      function set_back_color() {
        scene.background = null;
        document.body.style.backgroundColor = document.getElementById('back_color').value;
        mouse_wheel = true;
      }

      function set_points_color() {
        let pts_color = document.getElementById('points_color').value; // hex format '#rrggbb'

        pcd_obj.traverse( ( child ) => {
          if (child.isPoints) {
            if (pts_color === '#000000') child.material.color.setRGB( 1, 1, 1 );
            else child.material.color.setRGB( parseInt( pts_color.substring( 1, 3 ), 16 ) / 255.0, parseInt( pts_color.substring( 3, 5 ), 16 ) / 255.0, parseInt( pts_color.substring( 5 ), 16 ) / 255.0);

            child.material.needsUpdate = true;
            mouse_wheel = true;
          }
        });
      }

      function increase_points_size() {
        pcd_obj.traverse( ( child ) => {
          if (child.isPoints) {
            child.material.size *= 1.05;
            mouse_wheel = true;
          }
        });
      }

      function decrease_points_size() {
        pcd_obj.traverse( ( child ) => {
          if (child.isPoints) {
            child.material.size /= 1.05;
            mouse_wheel = true;
          }
        });
      }

      function set_initial_scale() {
        // Set the initial scale of the object so it comes to view

        bounding_box.setFromObject( pcd_obj );
        let size = bounding_box.getSize( new THREE.Vector3() );

        if ( size.y > 1 ) {
          pcd_obj.scale.multiplyScalar( 50 / size.y );
        } else if ( size.y > 0.02 ) {
          pcd_obj.scale.multiplyScalar( 25 / size.y );
        } else if ( size.y > 0.01 ) {
          pcd_obj.scale.multiplyScalar( 10 / size.y );
        } else {
          pcd_obj.scale.multiplyScalar( 1 / size.y )
        }

        pcd_obj.material.size = (isMobile === true) ? 0.8 : 0.1;

        bounding_box.setFromObject( pcd_obj );
        let center = bounding_box.getCenter( new THREE.Vector3() );

        controls.target.set( center.x, center.y, center.z );

        mouse_wheel = true;
      }

      async function init() {
        if (url_loading === false && document.getElementById('file_input').files.length === 0) return;

        if (scene) {
          mouse_wheel = true;

          if (pcd_obj) await scene_cleanup();

          await reset_all( true );
        }

        enable_disable( true );

        selected_pcd_file = null;
        las_format = false;
        xyz_format = false;
        mouse_down = false;
        mouse_wheel = true;
        count =0;
        render_requested = false;
        vertex_colors_enabled = false;
        vertex_colors_present = false;
        normal_colors_enabled = false;
        normal_colors_present = false;
        bounding_box = new THREE.Box3();
        original_vertex_color_array = {};

        console.time( 'Loading Time' );
        document.body.style.backgroundImage = 'none';
        document.getElementById('div_error').style.display = 'none';
        document.getElementById('div_loading').style.display = 'block';
        document.getElementById('div_loading').innerHTML = 'Load & Visualize';

        if (url_loading === false) {
          // Loaded file
          var fi = document.getElementById('file_input');
          let uc_name = fi.files[ 0 ].name.toUpperCase();

          if (uc_name.endsWith('.PCD')) selected_pcd_file = fi.files[ 0 ];
          else if (uc_name.endsWith('.XYZ')) { selected_pcd_file = fi.files[ 0 ]; xyz_format = true; }
          else if (uc_name.endsWith('.LAS') || uc_name.endsWith('.LAZ')) { selected_pcd_file = fi.files[ 0 ]; las_format = true; }

          if (selected_pcd_file === null) {
            handle_error( 'No valid PCD or XYZ or LAS/LAZ file selected!' );
            return;
          }

          selected_url_file = '';
        } else {
          // Reset the file input
          document.getElementById('file_input').value = '';
          url_loading = false;
        }

        if (renderer === undefined) {
          renderer = new THREE.WebGLRenderer( { antialias: true, alpha: true } );
          renderer.setPixelRatio( window.devicePixelRatio );
          renderer.toneMapping = THREE.NeutralToneMapping;
          renderer.toneMappingExposure = 1.5;
          renderer.setSize( ww, wh );
          renderer.shadowMap.enabled = true;
          renderer.shadowMap.type = THREE.PCFSoftShadowMap;
          renderer.setClearColor( 0xFFFFFF, 0 ); // Allow setting the background color
          renderer.autoClear = false;

          document.body.appendChild( renderer.domElement );
        }

        if (scene === undefined) scene = new THREE.Scene();
        if (pcd_obj === undefined) pcd_obj = new THREE.Object3D();

        if (!events_initialized) { initialize_event_listeners(); events_initialized = true; }

        if (camera === undefined) {
          camera = new THREE.PerspectiveCamera( 45, ww / wh, 0.1, 10000 );
          camera.position.set( 0, 0, 250 );
          scene.add( camera );
        }

        if (controls === undefined) {
          const { OrbitControls } = await import( "three/addons/controls/OrbitControls.min.js" );

          controls = new OrbitControls( camera, renderer.domElement );
          controls.zoomToCursor = true;
          controls.zoomSpeed = 0.5;
          controls.rotateSpeed = 0.5;
          controls.keyPanSpeed = 0.5; 
          controls.panSpeed = 0.5;
          //controls.enableDamping = true;
          //controls.dampingFactor = 0.3;
          //controls.enableKeys = false;
          //controls.enableZoom = true;
          //controls.maxPolarAngle = 2.2;
          //controls.minPolarAngle = 1.1;
          //controls.minDistance = 2;
          //controls.maxDistance = 500;
        }

        // Load PCD or XYZ or LAS/LAZ file
        selected_pcd_file !== null ? loadFile() : loadURLFile();
      }

      function colormap( t ) {
        if (t < 0.2) { // blue → cyan
          const k = t / 0.2;
          return [ 0, k, 1 ];
        }

        if (t < 0.4) { // cyan → green
          const k = (t - 0.2) / 0.2;
          return [ 0, 1, 1 - k ];
        }

        if (t < 0.6) { // green → yellow
          const k = (t - 0.4) / 0.2;
          return [ k, 1, 0 ];
        }

        if (t < 0.8) { // yellow → orange
          const k = (t - 0.6) / 0.2;
          return [ 1, 1 - k * 0.5, 0 ];
        }

        // orange → red
        const k = (t - 0.8) / 0.2;
        return [ 1, 0.5 - k * 0.5, 0 ];
      }

      function turbo( t ) {
        const r = 0.13572138 + 4.61539260*t - 42.66032258*t*t + 132.13108234*t*t*t
                  - 152.94239396*t*t*t*t + 59.28637943*t*t*t*t*t;
        const g = 0.09140261 + 2.19418839*t + 4.84296658*t*t - 14.18503333*t*t*t
                  + 4.27729857*t*t*t*t + 2.82956604*t*t*t*t*t;
        const b = 0.10667330 + 12.64194608*t - 60.58204836*t*t + 110.36276771*t*t*t
                  - 89.90310912*t*t*t*t + 27.34824973*t*t*t*t*t;

        return [
          Math.min( Math.max( r, 0 ), 1 ),
          Math.min( Math.max( g, 0 ), 1 ),
          Math.min( Math.max( b, 0 ), 1 )
        ];
      }

      function get_elevation_colors( points_cloud, pcd = false ) {
        const pos = points_cloud.attributes.position.array;
        const pos_count = pos.length / 3.0;

        const minZ = pcd ? points_cloud.boundingBox.max.y : points_cloud.boundingBox.min.z;
        const maxZ = pcd ? points_cloud.boundingBox.min.y : points_cloud.boundingBox.max.z;

        const rangeZ = (maxZ - minZ) || 1;

        elevationColors = new Float32Array( pos.length );

        for (let i = 0; i < pos_count; i++) {
          const z = pos[i * 3 + (pcd ? 1 : 2)];
          const t = (z - minZ) / rangeZ; // normalized 0–1

          // Gradient: blue → cyan → green → yellow → red

          let tSmooth = t * t * (3 - 2 * t);  // smoothstep
          //tSmooth = Math.pow( tSmooth, 0.9 ); // gamma correction

          //const r = tSmooth;
          //const g = Math.sqrt( tSmooth );
          //const b = 1.0 - tSmooth;

          const [ r, g, b ] = colormap( tSmooth );

          //const [ r, g, b ] = turbo( tSmooth );

          elevationColors[i * 3 + 0] = r;
          elevationColors[i * 3 + 1] = g;
          elevationColors[i * 3 + 2] = b;
        }
      }

      function loadFile() {
        let loader = (xyz_format === true) ? xyz_loader : (las_format === true) ? las_loader : pcd_loader;

        loader.load( URL.createObjectURL( selected_pcd_file ), function( points ) {
          URL.revokeObjectURL( selected_pcd_file );

          if (las_format === true || xyz_format === true) {
            // points were returned as geometry
            points.computeBoundingBox();
            points.computeBoundingSphere();

            get_elevation_colors( points, false );

            points.center();

            if ( points.hasAttribute( 'color' ) === true ) vertex_colors_enabled = true;

            let material = new THREE.PointsMaterial( { size: 0.1, transparent: true } );

            points.rotateX( - Math.PI / 2 );

            let las_xyz_points = new THREE.Points( points, material );
            las_xyz_points.name = (las_format === true) ? 'las_points' : 'xyz_points';

            pcd_obj = las_xyz_points;
          } else {
            points.geometry.computeBoundingBox();
            points.geometry.computeBoundingSphere();

            get_elevation_colors( points.geometry, true );

            points.geometry.center();

            points.geometry.rotateX( Math.PI );

            if (points.material.vertexColors) vertex_colors_enabled = true;

            pcd_obj = points.clone();
          }

          pcd_obj.sizeAttenuation = true;
          pcd_obj.sortPoints = true;

          finish_loading();
        }, function ( xhr ) { // onProgress
        }, function ( error ) { // onError
          handle_error( error );
          URL.revokeObjectURL( selected_pcd_file );
        });

        mouse_wheel = true;
      }

      function loadURLFile() {
        if (selected_url_file !== '') {
          if (selected_url_file.startsWith('https://www.dropbox.com') === true) {
            selected_url_file = selected_url_file.replace('www.dropbox.com', 'dl.dropbox.com');
          } else if (selected_url_file.startsWith('https://github.com') === true) {
            selected_url_file = ( selected_url_file.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
          }

          // No extension checking for URL so it has to point to PCD or XYZ or LAS/LAZ model

          console.log( 'Trying PCD Loader...' );

          pcd_loader.load( selected_url_file, function( points ) {
            points.geometry.computeBoundingBox();
            points.geometry.computeBoundingSphere();

            get_elevation_colors( points.geometry, true );

            points.geometry.center();

            points.geometry.rotateX( Math.PI );

            if (points.material.vertexColors) vertex_colors_enabled = true;

            pcd_obj = points.clone();

            pcd_obj.sizeAttenuation = true;
            pcd_obj.sortPoints = true;

            finish_loading();
          }, function ( xhr ) { // onProgress
          }, function ( error1 ) { // onError
            console.log( error1 );
            console.log( 'Trying LAS/LAZ Loader...' );

            las_loader.load( selected_url_file, function( points ) {
              points.computeBoundingBox();
              points.computeBoundingSphere();

              get_elevation_colors( points, false );

              points.center();

              points.rotateX( - Math.PI / 2 );

              if ( points.hasAttribute( 'color' ) === true ) vertex_colors_enabled = true;

              let material = new THREE.PointsMaterial( { size: 0.1, transparent: true } );

              let las_points = new THREE.Points( points, material );
              las_points.name = 'las_points';

              pcd_obj = las_points;

              pcd_obj.sizeAttenuation = true;
              pcd_obj.sortPoints = true;

              finish_loading();
            }, function ( xhr ) { // onProgress
            }, function ( error2 ) { // onError
              console.log( error2 );

              let high_version = error2.message?.includes('<= 1.3');
              let git_lfs = (error2.message === 'The selected file is stored in Git LFS!');

              if (high_version || git_lfs) {
                handle_error( error2 );
                return;
              }

              console.log( 'Trying XYZ Loader...' );

              xyz_loader.load( selected_url_file, function( points ) {
                points.computeBoundingBox();
                points.computeBoundingSphere();

                get_elevation_colors( points, false );

                points.center();

                points.rotateX( - Math.PI / 2 );

                if ( points.hasAttribute( 'color' ) === true ) vertex_colors_enabled = true;

                let material = new THREE.PointsMaterial( { size: 0.1, transparent: true } );

                let xyz_points = new THREE.Points( points, material );
                xyz_points.name = 'xyz_points';

                pcd_obj = xyz_points;

                pcd_obj.sizeAttenuation = true;
                pcd_obj.sortPoints = true;

                finish_loading();
              }, function ( xhr ) { // onProgress
              }, function ( error3 ) { // onError
                handle_error( error3 );
              });
            });
          });

          mouse_wheel = true;
        }
      }

      async function finish_loading() {
        original_vertex_color_array[ pcd_obj.name ] = pcd_obj.geometry.getAttribute( 'color' );

        pcd_obj.material.vertexColors = vertex_colors_enabled;
        pcd_obj.material.needsUpdate = true;

        // Add pcd_obj to the scene
        scene.add( pcd_obj );
        camera.lookAt( pcd_obj.position );

        set_initial_scale();
        resize();

        enable_disable( false );

        if (vertex_colors_enabled) {
          document.getElementById('btn_vertex_colors').style.backgroundColor = 'lightgreen';
          document.getElementById('btn_vertex_colors').style.display = '';
          vertex_colors_present = true;
        } else {
          document.getElementById('btn_vertex_colors').style.backgroundColor = 'transparent';
          document.getElementById('btn_vertex_colors').style.display = 'none';
        }

        if (pcd_obj.geometry.hasAttribute( 'normal' )) {
          document.getElementById('btn_normal_colors').style.backgroundColor = 'transparent';
          document.getElementById('btn_normal_colors').style.display = '';
          normal_colors_present = true;
        } else {
          document.getElementById('btn_normal_colors').style.backgroundColor = 'transparent';
          document.getElementById('btn_normal_colors').style.display = 'none';
        }

        console.timeEnd( 'Loading Time' );

        document.getElementById('div_loading').style.display = 'none';

        render_requested = true;
        mouse_wheel = true;
        count =0;
        render();

        if (isMobile === false) await new Promise( resolve => setTimeout( log_info(), 250 ) );
      }

      function log_info() {
        console.log( 'Memory: ', renderer.info.memory );
        console.log( 'Render: ', renderer.info.render );
      }

      function handle_error( error ) {
        console.timeEnd( 'Loading Time' );
        console.log( 'Error loading model!' );
        console.log( error );
        mouse_wheel = true;
        render_requested = false;
        enable_disable( true );

        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').style.display = 'block';
      }

      function set_normal_colors() {
        if (pcd_obj) {
          if (normal_colors_enabled === true) {
            document.getElementById('btn_normal_colors').style.backgroundColor = 'transparent';
            if (vertex_colors_present) document.getElementById('btn_vertex_colors').disabled = false;
            document.getElementById('btn_elevation_colors').disabled = false;

            if (original_vertex_color_array[ pcd_obj.name ]) {
              pcd_obj.geometry.setAttribute( 'color', original_vertex_color_array[ pcd_obj.name ] );
              pcd_obj.material.vertexColors = vertex_colors_enabled;
            } else {
              pcd_obj.geometry.deleteAttribute( 'color' );
              pcd_obj.material.vertexColors = false;
            }

            normal_colors_enabled = false;
          } else {
            document.getElementById('btn_normal_colors').style.backgroundColor = 'lightgreen';
            if (vertex_colors_present) document.getElementById('btn_vertex_colors').disabled = true;
            document.getElementById('btn_elevation_colors').disabled = true;

            const normals = pcd_obj.geometry.getAttribute( 'normal' ).array;
            const normals_count = normals.length / 3.0;

            const colors = new Float32Array( normals.length );

            for (let i = 0; i < normals_count; i++) {
              const nx = normals[ i * 3 + 0 ];
              const ny = normals[ i * 3 + 1 ];
              const nz = normals[ i * 3 + 2 ];

              colors[ i * 3 + 0 ] = ( nx + 1 ) * 0.5;
              colors[ i * 3 + 1 ] = ( ny + 1 ) * 0.5;
              colors[ i * 3 + 2 ] = ( nz + 1 ) * 0.5;
            }

            pcd_obj.geometry.setAttribute( 'color', new THREE.BufferAttribute( colors, 3 ) );
            pcd_obj.material.vertexColors = true;

            normal_colors_enabled = true;
          }

          pcd_obj.material.needsUpdate = true;

          disabled_changed();
        }
      }

      function set_elevation_colors() {
        if (pcd_obj) {
          if (elevation === true) {
            document.getElementById('btn_elevation_colors').style.backgroundColor = 'transparent';
            if (vertex_colors_present) document.getElementById('btn_vertex_colors').disabled = false;
            if (normal_colors_present) document.getElementById('btn_normal_colors').disabled = false;

            if (original_vertex_color_array[ pcd_obj.name ]) {
              pcd_obj.geometry.setAttribute( 'color', original_vertex_color_array[ pcd_obj.name ] );
              pcd_obj.material.vertexColors = vertex_colors_enabled;
            } else {
              pcd_obj.geometry.deleteAttribute( 'color' );
              pcd_obj.material.vertexColors = false;
            }

            elevation = false;
          } else {
            document.getElementById('btn_elevation_colors').style.backgroundColor = 'lightgreen';
            if (vertex_colors_present) document.getElementById('btn_vertex_colors').disabled = true;
            if (normal_colors_present) document.getElementById('btn_normal_colors').disabled = true;

            pcd_obj.geometry.setAttribute( 'color', new THREE.BufferAttribute( elevationColors, 3 ) );
            pcd_obj.material.vertexColors = true;

            elevation = true;
          }

          pcd_obj.material.needsUpdate = true;

          disabled_changed();
        }
      }

      function set_vertex_colors() {
        if (pcd_obj) {
          if (vertex_colors_enabled === true) {
            document.getElementById('btn_vertex_colors').style.backgroundColor = 'transparent';
            vertex_colors_enabled = false;
          } else {
            document.getElementById('btn_vertex_colors').style.backgroundColor = 'lightgreen';
            vertex_colors_enabled = true;
          }

          pcd_obj.material.vertexColors = vertex_colors_enabled ? original_vertex_color_array[ pcd_obj.name ] !== undefined : false;
          pcd_obj.material.needsUpdate = true;

          mouse_wheel = true;
        }
      }

      async function render() {
        if (pcd_obj) {
          if (mouse_down === true || mouse_wheel === true) {
            controls.update();

            renderer.clear();
            renderer.render( scene, camera );

            if (mouse_wheel === true) {
              if (count > 15) {
                mouse_wheel = false;
                count = 0;
              } else {
                count ++;
              }
            }
          }
        }

        if (render_requested === true) requestAnimationFrame( render );
      }

      async function reset_all( reset = false ) {
        document.getElementById('back_color').value = '#000000';
        document.getElementById('points_color').value = '#000000';
        document.getElementById('btn_url').style.backgroundColor = 'transparent';
        document.getElementById('btn_plus').style.backgroundColor = 'transparent';
        document.getElementById('btn_minus').style.backgroundColor = 'transparent';

        // Reset the view
        if (reset === true) {
          controls.reset();
          set_back_color();
        } else {
          // Page (re)loading
          if (scene) {
            if (pcd_obj) await scene_cleanup();

            while (scene.children.length > 0) {
              scene.remove( scene.children[ 0 ] );
            }

            renderer.clear();
            renderer.dispose();
          }

          mouse_wheel = true;

          document.getElementById('file_input').value = '';
          document.getElementById('div_error').style.display = 'none';
          document.getElementById('url_entry').value = '';
          selected_url_file = '';
          enable_disable( true );
        }

        mouse_wheel = true;
      }

      async function scene_cleanup() {
        scene.remove( pcd_obj );

        renderer.clear();

        pcd_obj.traverse( ( child ) => {
          if (child.isPoints) {
            if (child.material.map) child.material.map.dispose();
            child.material.dispose();
            child.geometry.dispose();
          }
        });

        if (isMobile === false) {
          renderer.info.reset();
          renderer.resetState();
        }
      }

      function enable_disable( disable = false ) {
        document.getElementById('back_color').disabled = disable;
        document.getElementById('points_color').disabled = disable;
        document.getElementById('btn_plus').disabled = disable;
        document.getElementById('btn_minus').disabled = disable;
        document.getElementById('btn_elevation_colors').disabled = disable;
        disabled_changed();

        mouse_wheel = true;
      }
    </script>

    <script>
      function document_ready() {
        isMobile = (/iPad|iPhone|iPod/.test( navigator.platform )) ||
          (/Android|webOS|iPhone|iPad|iPod|CriOS|BlackBerry|IEMobile|Opera Mini/i.test( navigator.userAgent )) ||
          (navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));

        mouse_wheel = true;
      }

      function disabled_changed() {
        $('button').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });

        $('input[type=color]').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px whitesmoke'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });
      }
    </script>
  </body>
</html>
