<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PDB (Protein Data Bank) Viewer">
    <link rel="stylesheet" href="../../static/css/mobile-viewers.css">
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>

    <script>
      // Resource Loading Failures (404 or similar)
      window.addEventListener( 'error', function ( event ) {
        // We check if the target has a 'src' or 'href' to identify it as a resource
        if (event.target.src || event.target.href) {
          console.error( 'RESOURCE ERROR:', {
            element: event.target.tagName,
            url: event.target.src || event.target.href,
            html: event.target.outerHTML
          });

          // If the failed resource is jQuery, show the alert immediately
          if ((event.target.src || '').includes('jquery')) {
            alert('jQuery failed to load. Limited functionality. Check your internet connection!');
          }
        }
      }, true); // The 'true' here is vital; it enables the "capturing" phase

      // Standard JavaScript Runtime Errors
      window.onerror = function ( message, source, lineno, colno, error ) {
        console.log( 'RUNTIME ERROR CAUGHT' );

        console.log({
          message: message, // Error message
          file: source,     // The script file where it happened
          line: lineno,     // Line number
          column: colno,    // Column number
          errorObj: error   // The actual Error object (includes stack trace)
        });

        // Returning 'true' prevents the error from showing up in the browser console
        return false; 
      };

      // Unhandled Promise Rejections (Async Errors)
      window.addEventListener( 'unhandledrejection', function ( event ) {
        console.warn( 'UNHANDLED PROMISE:', event.reason );

        // event.promise is the promise that failed
        // event.reason is usually the error object or message

        if (init_running === true) handle_error( 'UNHANDLED PROMISE' );
      });
    </script>

    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.10.0/dist/es-module-shims.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.182.0/build/three.module.min.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.182.0/examples/jsm/"
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>

    <script>
      var THREE, manager, pdb_loader, pdb_obj, json;
      var scene, camera, controls, renderer, render_requested;
      var gui, mouse_down, mouse_wheel, reset_rotation, scale;
      var bounding_box, events_initialized, init_running = false;
      var ww = window.innerWidth, wh = window.innerHeight;
      var root, position, color, offset, start, end;
      var boxGeometry, boxMaterial, sphereGeometry, sphereMaterial;
      var labelMaterial, geometryAtoms, geometryBonds;
      var atoms, labels, bonds, positions, colors, atom_colors;
      var atoms_visible, labels_visible, bonds_visible;
      var url_displayed = false, url_loading = false, isMobile;
      var selected_pdb_file, selected_url_file = '', count = 0;
    </script>

    <script type="module">
      import * as three_js from "three";
      import { GUI } from "three/addons/libs/lil-gui.module.min.js";
      import { PDBLoader } from "three/addons/loaders/PDBLoader.min.js";

      THREE = three_js;

      manager = new THREE.LoadingManager();
      manager.onLoad = function() { mouse_wheel = true; }

      pdb_loader = new PDBLoader( manager );

      gui = new GUI( { title: 'Atoms Legend', autoPlace: false, container: document.getElementById("gui_position") } );
      set_gui_position();
    </script>

    <style>
      .lil-gui { 
        --background-color: black;
        --width: 200px;
        --name-width: 30px;
      }
    </style>

    <!-- Original OBJ source code that inspired this: https://codepen.io/Mamboleoo/pen/PqjGdN -->
    <!-- Using three.js library: https://github.com/mrdoob/three.js -->

    <!-- mouse_wheel variable is used throughout as a trigger for rendering -->

    <title>PDB Viewer (r182)</title>
  </head>
  <body onload="reset_all(); document_ready(); disabled_changed();" onresize="resize();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm">
        <button id="btn_desktop" title="Open Desktop Version" onclick="switch_to_desktop();">D</button>
        <label for="btn_desktop" title="Open Desktop Version"></label>
        <button title="Get remote model via URL" id="btn_url" onclick="show_url()" style="min-width: 38px;">URL</button>
        <label for="btn_url" title="Get remote model via URL"></label>
        <button title="Browse Local Files" id="btn_file_input" style="min-width: 54px;" onclick="document.getElementById('file_input').click();">Browse</button>
        <label for="btn_file_input" title="Browse Local Files"></label>
        <input type="file" id="file_input" style="display: none;" onchange="init();" accept=".pdb" />
        <label for="back_color" title="Background Color">B</label>
        <input type="color" title="Background Color" id="back_color" onchange="set_back_color();" disabled />
        <button title="Directional Light Intensity" id="btn_dc_dli" class="dropdown" style="text-align: center; border: 1px solid blue; -webkit-border-radius: 3px; border-radius: 3px;" onclick="show_hide_dropdown_dli();">DLi
          <div id="dc_dli" class="dropdown-content" style="display: none;" onfocusout="hide_dropdown_dli();">
            <input type="range" orient="vertical" id="directional_light_intensity" min="0" max="5" step="0.05" value="1.25" onkeydown="return_false();" oninput="set_directional_light_intensity();" disabled />
            <span id="dli_val">1.25</span>
          </div>
        </button>
        <label for="btn_dc_dli" title="Directional Light Intensity"></label>
        <button title="Toggle Atoms" id="btn_atoms" onclick="show_atoms();" style="min-width: 24px;" disabled>As</button>
        <label for="btn_atoms" title="Toggle Atoms"></label>
        <button title="Toggle Labels" id="btn_labels" onclick="show_labels();" style="min-width: 24px;" disabled>Ls</button>
        <label for="btn_labels" title="Toggle Labels"></label>
        <button title="Toggle Bonds" id="btn_bonds" onclick="show_bonds();" style="min-width: 24px;" disabled>Bs</button>
        <label for="btn_bonds" title="Toggle Bonds"></label>
        <button title="Quick -90 degree X-Axis Rotation" id="btn_quick_x" onclick="quick_x_rotation();" style="min-width: 15px;" disabled>&#x2191</button>
        <label for="btn_quick_x" title="Quick -90 degree X-Axis Rotation"></label>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry" title="Remote URL"></label>
        <input type="text" id="url_entry" value="" style="width: calc(75% - 12px);" />
        <button title="Load" id="btn_load" onclick="load_url_file();" style="min-width: 8.5%;">Load</button>
        <label for="btn_load" title="Load"></label>
        <button title="Clear" id="btn_clear" onclick="clear_url();" style="min-width: 8.5%;">Clear</button>
        <label for="btn_clear" title="Clear"></label>
      </div>
    </div>
    <div id="gui_position"></div>

    <div id="div_error" class="error_msg">E R R O R !</div>
    <div id="div_loading" class="loading_msg">PDB Viewer</div>

    <script>
      function hide_dropdown_dli() { $('#dc_dli').fadeOut(); mouse_wheel = true; }

      function show_hide_dropdown_dli() {
        if ($('#dc_dli')[ 0 ].style.display === 'none') {
          $('#dc_dli').fadeIn();

          $('#dc_dli')[ 0 ].style.marginTop = '2px';

          $('#directional_light_intensity').focus();
        } else {
          $('#dc_dli').fadeOut();
        }

        mouse_wheel = true;
      }

      function return_false() { return false; }

      function switch_to_desktop() {
        let link = document.createElement( 'a' );
        link.style.display = 'none';
        link.href = "../PDB Viewer.html";
        link.click();
      }

      function set_gui_position() {
        let fixed_menu_bottom = ( parseInt( $('#fixed_menu').outerHeight( true ) ) + 2 ).toString() + 'px';
        document.getElementById('gui_position').style.marginTop = fixed_menu_bottom;
      }

      function show_url() {
        if (url_displayed === true) {
          url_displayed = false;
          document.getElementById('url').style.display = 'none';
          document.getElementById('btn_url').style.backgroundColor = 'transparent';
        } else {
          document.getElementById('btn_url').style.backgroundColor = 'lightgreen';
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }

        if (gui) set_gui_position();

        mouse_wheel = true;
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url !== '') { selected_url_file = url; url_loading = true; init(); }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function initialize_event_listeners() {
        const arrow_keys = [ 'ArrowUp', 'ArrowDown', 'ArrowRight', 'ArrowLeft' ];

        window.addEventListener( 'pointerdown', (event) => { mouse_down = true; }, false);
        window.addEventListener( 'pointerup', (event) => { mouse_down = false; mouse_wheel = true; }, false);
        window.addEventListener( 'wheel', ( event ) => { mouse_wheel = true; }, false);
        window.addEventListener( 'keydown', ( event ) => {
          if (arrow_keys.some( k => k === event.key ) || event.ctrlKey || event.metaKey || event.shiftKey) {
            controls.listenToKeyEvents( window );
            mouse_wheel = true;
          }
        }, false);
        window.addEventListener( 'keyup', ( event ) => {
          if (arrow_keys.some( k => k === event.key )) {
            controls.stopListenToKeyEvents();
            mouse_wheel = false;
          }
        }, false);
      }

      function resize() {
        if (scene !== undefined) {
          mouse_wheel = true;

          ww = window.innerWidth;
          wh = window.innerHeight;

          renderer.setSize( ww, wh );

          camera.aspect = ww / wh;
          camera.updateProjectionMatrix();

          if (gui) set_gui_position();

          mouse_wheel = true;
        }
      }
    </script>

    <script>
      function set_back_color() {
        scene.background = null;
        document.body.style.backgroundColor = document.getElementById('back_color').value;
        mouse_wheel = true;
      }

      function set_directional_light_intensity() {
        let dli_value = document.getElementById('directional_light_intensity').value;
        document.getElementById('dli_val').innerText = dli_value;

        const val = parseFloat( dli_value );

        // Shader lighting

        if (pdb_obj) {
          sphereMaterial.uniforms.uLightIntensity.value = val;
        }

        mouse_wheel = true;
      }

      function frame_camera() {
        bounding_box.setFromObject( pdb_obj );
        const center = bounding_box.getCenter( new THREE.Vector3() );
        const size = bounding_box.getSize( new THREE.Vector3() );

        camera.position.copy( center.clone().add( new THREE.Vector3( 0, 0, size.length())));
        camera.lookAt( center );

        // Center root
        pdb_obj.position.sub( center );

        // Frame camera to root
        const maxDim = Math.max( size.x, size.y, size.z );
        const fov = THREE.MathUtils.degToRad( camera.fov );
        const dist = maxDim / ( 2 * Math.tan( fov / 2.0 ) );
        camera.position.set( 0, 0, dist * 1.5 );
        camera.lookAt( 0, 0, 0 );
        resize();
      }

      function quick_x_rotation( angle ) {
        pdb_obj.rotateX( - Math.PI / 2.0 );

        mouse_wheel = true;
      }

      async function init() {
        if (url_loading === false && document.getElementById('file_input').files.length === 0) return;

        init_running = true;

        if (scene !== undefined) {
          mouse_wheel = true;

          if (pdb_obj) await scene_cleanup();

          await reset_all( true );
        }

        enable_disable( true );

        selected_pdb_file = null;
        mouse_down = false;
        mouse_wheel = true;
        render_requested = false;
        atoms = [];
        labels = [];
        bonds = [];
        atom_colors = {};
        atoms_visible = false;
        labels_visible = false;
        bonds_visible = false;
        bounding_box = new THREE.Box3();
        position = new THREE.Vector3();
        offset = new THREE.Vector3();
        start = new THREE.Vector3();
        end = new THREE.Vector3();
        color = new THREE.Color();
        root = new THREE.Group();

        console.time( 'Loading Time' );
        document.getElementById('div_error').style.display = 'none';
        document.getElementById('div_loading').style.display = 'block';
        document.getElementById('div_loading').innerHTML = 'Load & Visualize';

        if (url_loading === false) {
          // Loaded file
          var fi = document.getElementById('file_input');

          if (fi.files[ 0 ].name.toUpperCase().endsWith('.PDB')) selected_pdb_file = fi.files[ 0 ];

          if (selected_pdb_file === null) {
            handle_error( 'No valid PDB file selected!' );
            return;
          }

          selected_url_file = '';
        } else {
          // Reset the file input
          document.getElementById('file_input').value = '';
          url_loading = false;
        }

        if (renderer === undefined) {
          renderer = new THREE.WebGLRenderer( { antialias: true, alpha: true } );
          renderer.setPixelRatio( window.devicePixelRatio );
          renderer.toneMapping = THREE.NeutralToneMapping;
          renderer.toneMappingExposure = 1.0;
          renderer.setSize( ww, wh );
          renderer.shadowMap.enabled = true;
          renderer.shadowMap.type = THREE.PCFSoftShadowMap;
          renderer.setClearColor( 0xFFFFFF, 0 ); // Allow setting the background color
          renderer.autoClear = false;

          document.body.appendChild( renderer.domElement );
        }

        if (scene === undefined) scene = new THREE.Scene();
        if (pdb_obj === undefined) pdb_obj = new THREE.Object3D();

        if (!events_initialized) { initialize_event_listeners(); events_initialized = true; }

        if (camera === undefined) {
          camera = new THREE.PerspectiveCamera( 45, ww / wh, 0.1, 10000 );
          camera.position.set( 0, 0, 150 );
          scene.add( camera );
        }

        if (controls === undefined) {
          const { OrbitControls } = await import( "three/addons/controls/OrbitControls.min.js" );

          controls = new OrbitControls( camera, renderer.domElement );
          controls.zoomToCursor = true;
          controls.zoomSpeed = 0.6;
          controls.rotateSpeed = 0.6;
          controls.keyPanSpeed = 0.6; 
          controls.panSpeed = 0.6;
          //controls.enableDamping = true;
          //controls.dampingFactor = 0.3;
          //controls.enableKeys = false;
          //controls.enableZoom = true;
          //controls.maxPolarAngle = 2.2;
          //controls.minPolarAngle = 1.1;
          //controls.minDistance = 2;
          //controls.maxDistance = 500;
        }

        if (scene.environment === null) {
          let url = 'https://raw.githubusercontent.com/GitHubDragonFly/three.js/dev/examples/textures/water.avif';

          new THREE.TextureLoader().load( url, async function( texture ) {
            texture.mapping = THREE.EquirectangularReflectionMapping;
            texture.needsUpdate = true;

            scene.environment = texture.clone();
            scene.environmentIntensity = 0.15;

            mouse_wheel = true;

            texture.dispose();
          }, function ( xhr ) {
          }, function ( error ) {
            console.log( 'Error Loading Scene Environment Image File!' );
            console.log( error );
          });
        }

        // Load PDB file
        selected_pdb_file !== null ? loadFile() : loadURLFile();
      }

      function createAtomShaderMaterial() {
        return new THREE.ShaderMaterial({
          transparent: false, // Set to false for Compaq speed
          depthWrite: true,
          depthTest: true,
          vertexColors: true,

          uniforms: {
            uLightIntensity: { value: 1.25 },
            uCameraPos: { value: new THREE.Vector3() }
          },

          vertexShader: `
            uniform vec3 uCameraPos;
            varying vec3 vColor;
            varying float vLightWeight;

            void main() {
              #ifdef USE_INSTANCING
                mat4 instanceMat = instanceMatrix;
                vColor = instanceColor;
              #else
                mat4 instanceMat = mat4(1.0);
                vColor = color;
              #endif

              vec4 worldPos = modelMatrix * instanceMat * vec4(position, 1.0);

              // Calculate lighting here (once per vertex)
              vec3 worldNormal = normalize((modelMatrix * instanceMat * vec4(normal, 0.0)).xyz);
              vec3 viewDir = normalize(uCameraPos - worldPos.xyz);

              // Simple Diffuse
              vLightWeight = max(dot(worldNormal, viewDir), 0.2); // 0.2 is ambient floor

              gl_Position = projectionMatrix * viewMatrix * worldPos;
            }
          `,

          fragmentShader: `
            varying vec3 vColor;
            varying float vLightWeight;
            uniform float uLightIntensity;

            void main() {
              gl_FragColor = vec4(vColor * vLightWeight * uLightIntensity, 1.0);
            }
          `
        });
      }

      function createBondShaderMaterial() {
        return new THREE.ShaderMaterial({
          transparent: false,
          depthWrite: true,
          vertexColors: true,
          side: THREE.DoubleSide,

          vertexShader: `
            varying vec3 vColor;

            void main() {
              #ifdef USE_INSTANCING
                mat4 instanceMat = instanceMatrix;
              #else
                mat4 instanceMat = mat4(1.0);
              #endif

              vColor = color;
              gl_Position = projectionMatrix * viewMatrix * modelMatrix * instanceMat * vec4(position, 1.0);
            }
          `,

          fragmentShader: `
            varying vec3 vColor;

            void main() {
              gl_FragColor = vec4(vColor, 1.0);
            }
          `
        });
      }

      function createLabelShaderMaterial() {
        return new THREE.ShaderMaterial({
          transparent: false,
          depthWrite: true,
          vertexColors: true,
          side: THREE.DoubleSide,

          vertexShader: `
            varying vec3 vColor;

            void main() {
              #ifdef USE_INSTANCING
                mat4 instanceMat = instanceMatrix;
                vColor = instanceColor;
              #else
                mat4 instanceMat = mat4(1.0);
                vColor = color;
              #endif

              gl_Position = projectionMatrix * viewMatrix * modelMatrix * instanceMat * vec4(position, 1.0);
            }
          `,

          fragmentShader: `
            varying vec3 vColor;

            void main() {
              gl_FragColor = vec4(vColor, 1.0);
            }
          `
        });
      }

      function createLabelTexture( text, color ) {
        const canvas = document.createElement( 'canvas' );
        canvas.width = 128; // Keep it power-of-two for old GPUs
        canvas.height = 128;
        const ctx = canvas.getContext( '2d' );

        ctx.roundRect( 0, 0, 128, 128, 20 ); 

        ctx.font = 'bold 90px Arial';
        ctx.textAlign = 'center';
        ctx.textBaseline = 'middle';
        ctx.fillStyle = color.getStyle(); // Use the atom's color
        ctx.fillText( text, 64, 64 );

        // Draw a stroke behind the text to pop against dark backgrounds
        ctx.lineWidth = 1;
        ctx.strokeStyle = color.getStyle() * 0.6; //'#ffffff';
        ctx.strokeText( text, 64, 64 );

        const texture = new THREE.CanvasTexture( canvas );

        texture.colorspace = THREE.SRGBColorSpace;
        texture.magFilter = THREE.LinearFilter;
        texture.minFilter = THREE.LinearMipmapLinearFilter;

        return texture;
      }

      function loadFile() {
        pdb_loader.load( URL.createObjectURL( selected_pdb_file ), async function( pdb ) {
          URL.revokeObjectURL( selected_pdb_file );

          await set_atoms_labels_bonds( pdb );

          pdb_obj = root;

          await finish_loading();
        }, function ( xhr ) { // onProgress
        }, function ( error ) { // onError
          handle_error( error );
          URL.revokeObjectURL( selected_pdb_file );
        });

        mouse_wheel = true;
      }

      function loadURLFile() {
        if (selected_url_file !== '') {
          if (selected_url_file.startsWith('https://www.dropbox.com') === true) {
            selected_url_file = selected_url_file.replace( 'www.dropbox.com', 'dl.dropbox.com' );
          } else if (selected_url_file.startsWith('https://github.com') === true) {
            selected_url_file = ( selected_url_file.replace( 'github.com', 'raw.githubusercontent.com' ) ).replace( 'blob/', '' );
          }

          // No extension checking for URL so it has to point to PDB model

          pdb_loader.load( selected_url_file, async function( pdb ) {
            await set_atoms_labels_bonds( pdb );

            pdb_obj = root;

            await finish_loading();
          }, function ( xhr ) { // onProgress
          }, function ( error ) { // onError
            handle_error( error );
          });
        }
      }

      async function finish_loading() {
        // Add pdb_obj to the scene
        scene.add( pdb_obj );
        camera.lookAt( pdb_obj.position );

        frame_camera();

        enable_disable( false );

        if (bonds.length === 0) {
          document.getElementById('btn_bonds').disabled = true;
          disabled_changed();
        }

        console.timeEnd( 'Loading Time' );

        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('gui_position').style.display = 'block';

        render_requested = true;
        mouse_wheel = true;
        render();

        gui.open();
        set_gui_position();

        init_running = false;

        if (isMobile === false) await new Promise( resolve => setTimeout( log_info(), 250 ) );
      }

      function log_info() {
        console.log( 'Memory: ', renderer.info.memory );
        console.log( 'Render: ', renderer.info.render );
      }

      function handle_error( error ) {
        console.timeEnd( 'Loading Time' );
        console.log( 'Error loading model!' );
        console.log( error );
        mouse_wheel = true;
        render_requested = false;
        enable_disable( true );

        init_running = false;

        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').style.display = 'block';
      }

      async function set_atoms_labels_bonds( pdb ) {
        const { mergeVertices } = await import( 'three/addons/utils/BufferGeometryUtils.min.js' );

        let periodic_table = {
          'H': 'Hydrogen',
          'He': 'Helium',
          'Li': 'Lithium',
          'Be': 'Beryllium',
          'B': 'Boron',
          'C': 'Carbon',
          'N': 'Nitrogen',
          'O': 'Oxygen',
          'F': 'Fluorine',
          'Ne': 'Neon',
          'Na': 'Sodium',
          'Mg': 'Magnesium',
          'Al': 'Aluminium',
          'Si': 'Silicon',
          'P': 'Phosphorus',
          'S': 'Sulfur',
          'Cl': 'Chlorine',
          'Ar': 'Argon',
          'K': 'Potassium',
          'Ca': 'Calcium',
          'Sc': 'Scandium',
          'Ti': 'Titanium',
          'V': 'Vanadium',
          'Cr': 'Chromium',
          'Mn': 'Manganese',
          'Fe': 'Iron',
          'Co': 'Cobalt',
          'Ni': 'Nickel',
          'Cu': 'Copper',
          'Zn': 'Zinc',
          'Ga': 'Gallium',
          'Ge': 'Germanium',
          'As': 'Arsenic',
          'Se': 'Selenium',
          'Br': 'Bromine',
          'Kr': 'Krypton',
          'Rb': 'Rubidium',
          'Sr': 'Strontium',
          'Y': 'Yttrium',
          'Zr': 'Zirconium',
          'Nb': 'Niobium',
          'Mo': 'Molybdenum',
          'Tc': 'Technetium',
          'Ru': 'Ruthenium',
          'Rh': 'Rhodium',
          'Pd': 'Palladium',
          'Ag': 'Silver',
          'Cd': 'Cadmium',
          'In': 'Indium',
          'Sn': 'Tin',
          'Sb': 'Antimony',
          'Te': 'Tellurium',
          'I': 'Iodine',
          'Xe': 'Xenon',
          'Cs': 'Caesium',
          'Ba': 'Barium',
          'La': 'Lanthanum',
          'Ce': 'Cerium',
          'Pr': 'Praseodymium',
          'Nd': 'Neodymium',
          'Pm': 'Promethium',
          'Sm': 'Samarium',
          'Eu': 'Europium',
          'Gd': 'Gadolinium',
          'Tb': 'Terbium',
          'Dy': 'Dysprosium',
          'Ho': 'Holmium',
          'Er': 'Erbium',
          'Tm': 'Thulium',
          'Yb': 'Ytterbium',
          'Lu': 'Lutetium',
          'Hf': 'Hafnium',
          'Ta': 'Tantalum',
          'W': 'Tungsten',
          'Re': 'Rhenium',
          'Os': 'Osmium',
          'Ir': 'Iridium',
          'Pt': 'Platinum',
          'Au': 'Gold',
          'Hg': 'Mercury',
          'Tl': 'Thallium',
          'Pb': 'Lead',
          'Bi': 'Bismuth',
          'Po': 'Polonium',
          'At': 'Astatine',
          'Rn': 'Radon',
          'Fr': 'Francium',
          'Ra': 'Radium',
          'Ac': 'Actinium',
          'Th': 'Thorium',
          'Pa': 'Protactinium',
          'U': 'Uranium',
          'Np': 'Neptunium',
          'Pu': 'Plutonium',
          'Am': 'Americium',
          'Cm': 'Curium',
          'Bk': 'Berkelium',
          'Cf': 'Californium',
          'Es': 'Einstenium',
          'Fm': 'Fermium',
          'Md': 'Mendelevium',
          'No': 'Nobelium',
          'Lr': 'Lawrencium',
          'Rf': 'Rutherfordium',
          'Db': 'Dubnium',
          'Sg': 'Seaborgium',
          'Bh': 'Bohrium',
          'Hs': 'Hassium',
          'Mt': 'Meitnerium',
          'Ds': 'Darmstadium',
          'Rg': 'Roentgenium',
          'Cn': 'Copernicium',
          'Nh': 'Nihonium',
          'Fl': 'Flerovium',
          'Mc': 'Moscovium',
          'Lv': 'Livermorium',
          'Ts': 'Tennessine',
          'Og': 'Oganesson'
        };

        // Get atom related data
        geometryAtoms = pdb.geometryAtoms;
        // Get the data of the bond between atoms
        geometryBonds = pdb.geometryBonds;
        // Get data of atomic text
        json = pdb.json;

        // Center the model
        geometryAtoms.computeBoundingBox();
        geometryAtoms.boundingBox.getCenter( offset ).negate();
        geometryAtoms.translate( offset.x, offset.y, offset.z );
        geometryBonds.translate( offset.x, offset.y, offset.z );

        // Add atoms and atomic text to the model group
        positions = geometryAtoms.getAttribute( 'position' );
        colors = geometryAtoms.getAttribute( 'color' );

        let instanced_atoms = {};
        let sprite_labels = {};
        let positions_count = positions.count;

        const dummy = new THREE.Object3D();

        // High-performance LOD logic
        let detail;

        if (positions_count > 30000) {
          detail = 0; // 20 faces - fast for massive molecules
        } else if (positions_count > 15000) {
          detail = 1; // 80 faces - the "sweet spot"
        } else {
          detail = 2; // 320 faces - smooth for small molecules
        }

        sphereGeometry = new THREE.IcosahedronGeometry( 1, detail );
        sphereMaterial = createAtomShaderMaterial();

        boxGeometry = new THREE.BoxGeometry( 0.5, 0.5, 0.5 );
        boxMaterial = createBondShaderMaterial();

        labelMaterial = createLabelShaderMaterial();

        // Try to unclutter atoms depending on their number count
        const threshold_values = [
          { limit: 250,   val: 28 },
          { limit: 500,   val: 27 },
          { limit: 750,   val: 26 },
          { limit: 1500,  val: 25 },
          { limit: 5000,  val: 24 },
          { limit: 10000, val: 22 },
          { limit: 15000, val: 20 },
          { limit: 25000, val: 18 },
          { limit: 50000, val: 16 }
        ];

        scale = threshold_values.find( t => positions_count < t.limit )?.val || 14;

        for ( var i = 0; i < positions_count; i ++ ) {
          position.x = positions.getX( i );
          position.y = positions.getY( i );
          position.z = positions.getZ( i );

          color.r = colors.getX( i );
          color.g = colors.getY( i );
          color.b = colors.getZ( i );

          let atom = json.atoms[ i ];

          let atom_string = atom[ 4 ];

          let m4 = new THREE.Matrix4();
          m4.makeScale( scale, scale, scale );
          m4.setPosition( position.multiplyScalar( 75 ) );

          if (!instanced_atoms[ atom_string ]) {
            let atom_color = new THREE.Color( color.r, color.g, color.b );

            // Add GUI Legend entries

            let gui_colors = {};
            gui_colors[ atom_string ] = atom_color;

            atom_colors[ atom_string ] = gui.addColor( gui_colors, atom_string );

            atom_colors[ atom_string ].$text.value = periodic_table[ atom_string ];
            atom_colors[ atom_string ].$text.style.backgroundColor = 'black';
            atom_colors[ atom_string ].$text.style.width = '144px';
            atom_colors[ atom_string ].$text.disabled = true;

            atom_colors[ atom_string ].$display.style.width = '20px';

            atom_colors[ atom_string ].$input.disabled = true;

            instanced_atoms[ atom_string ] = {
              count: 0,
              color: atom_color,
              matrix_array: []
            };

            const r = atom[ 3 ][ 0 ];
            const g = atom[ 3 ][ 1 ];
            const b = atom[ 3 ][ 2 ];

            let label_color = 'rgb( ' + `${r}` + ', ' + `${g}` + ', ' + `${b}` + ' )';

            sprite_labels[ atom_string ] = {
              count: 0,
              color: new THREE.Color( label_color ),
              matrix_array: []
            };
          }

          instanced_atoms[ atom_string ].count ++;
          instanced_atoms[ atom_string ].matrix_array.push( m4 );

          sprite_labels[ atom_string ].count ++;
          sprite_labels[ atom_string ].matrix_array.push( m4 );
        }

        for ( const key of Object.keys( instanced_atoms ) ) {
          let atom_count = instanced_atoms[ key ].count;
          let object = new THREE.InstancedMesh( sphereGeometry, sphereMaterial, atom_count );
          atom_colors[ key ].$text.value += ' x ' + atom_count;

          let i = 0;

          for ( const matrix of instanced_atoms[ key ].matrix_array ) {
            object.setMatrixAt( i, matrix );
            object.instanceMatrix.needsUpdate = true;

            object.setColorAt( i, instanced_atoms[ key ].color );
            object.instanceColor.needsUpdate = true;

            i ++;
          }

          atoms.push( object );
          root.add( object );
        }

        for ( const key of Object.keys( sprite_labels ) ) {
          const labelTexture = createLabelTexture( key, sprite_labels[ key ].color );

          const spriteMaterial = new THREE.SpriteMaterial({ 
            map: labelTexture,
            transparent: true,
            depthTest: true,
            depthWrite: true // Set to false for help with overlapping artifacts
          });

          // We use a Group for sprites instead of InstancedMesh 
          // because Sprites are inherently very fast on old hardware

          const labelGroup = new THREE.Group();

          for ( const matrix of sprite_labels[ key ].matrix_array ) {
            const sprite = new THREE.Sprite( spriteMaterial );
            const v3 = new THREE.Vector3().setFromMatrixPosition( matrix );
            v3.y -= 5;
            v3.z += scale + 5;

            sprite.position.copy( v3 );
            sprite.userData.originalPos = v3.clone(); // Store for the render loop
            sprite.scale.set( scale + 15, scale + 15, 1 ); // Adjust size as needed

            labelGroup.add( sprite );
          }

          labelGroup.visible = false;
          labels.push( labelGroup );
          root.add( labelGroup );
        }

        // Add bonds between atoms to the model group
        positions = geometryBonds.getAttribute( 'position' );
        positions_count = positions.count;

        if (positions_count > 0) {
          const instanced_bonds = new THREE.InstancedMesh( boxGeometry, boxMaterial, parseInt( positions_count / 2.0 ) );

          for ( var i = 0; i < positions_count; i += 2 ) {
            start.x = positions.getX( i );
            start.y = positions.getY( i );
            start.z = positions.getZ( i );

            end.x = positions.getX( i + 1 );
            end.y = positions.getY( i + 1 );
            end.z = positions.getZ( i + 1 );

            start.multiplyScalar( 75 );
            end.multiplyScalar( 75 );

            dummy.position.copy( start ).lerp( end, 0.5 );
            dummy.scale.set( 5, 5, start.distanceTo( end ) * 2 );
            dummy.lookAt( end );
            dummy.updateMatrix();

            instanced_bonds.setMatrixAt( i / 2.0, dummy.matrix );
            instanced_bonds.instanceMatrix.needsUpdate = true;
          }

          instanced_bonds.visible = false;

          bonds.push( instanced_bonds );
          root.add( instanced_bonds );
        }

        // Scale and add model groups to the scene
        root.scale.set( 0.1, 0.1, 0.1 );

        atoms_visible = true;
        document.getElementById('btn_atoms').style.backgroundColor = 'lightgreen';

        // Don't automatically show labels or bonds

        mouse_wheel = true;
      }

      function show_atoms() {
        if (atoms_visible === true) {
          document.getElementById('btn_atoms').style.backgroundColor = 'transparent';
          atoms_visible = false;

          atoms.forEach( element => { element.visible = false; });
        } else {
          document.getElementById('btn_atoms').style.backgroundColor = 'lightgreen';
          atoms_visible = true;

          atoms.forEach( element => { element.visible = true; });
        }

        mouse_wheel = true;
      }

      function show_labels() {
        if (labels_visible === true) {
          labels_visible = false;
          document.getElementById('btn_labels').style.backgroundColor = 'transparent';

          labels.forEach( element => { element.visible = false; });
        } else {
          labels_visible = true;
          document.getElementById('btn_labels').style.backgroundColor = 'lightgreen';

          labels.forEach( element => { element.visible = true; });
        }

        mouse_wheel = true;
      }

      function show_bonds() {
        if (bonds_visible === true) {
          bonds_visible = false;
          document.getElementById('btn_bonds').style.backgroundColor = 'transparent';

          bonds.forEach( element => { element.visible = false; });
        } else {
          bonds_visible = true;
          document.getElementById('btn_bonds').style.backgroundColor = 'lightgreen';

          bonds.forEach( element => { element.visible = true; });
        }

        mouse_wheel = true;
      }

      async function gui_reset() {
        await new Promise( resolve => {
          if (Object.entries( atom_colors ).length > 0) {
            Object.keys( atom_colors ).forEach( key => {
              atom_colors[ key ].destroy();
              delete atom_colors[ key ];
            });

            atom_colors = {};
          }

          resolve( gui.reset() );

          mouse_wheel = true;
        });
      }

      async function render() {
        if (pdb_obj) {
          if (mouse_down === true || mouse_wheel === true) {
            controls.update();

            if (labels_visible) {
              const viewDir = new THREE.Vector3();
              viewDir.subVectors( camera.position, root.position ).normalize();

              // Move each label group toward the camera
              labels.forEach( group => {
                if ( group.visible ) {
                  group.children.forEach( sprite => {
                    // Get the original atom position (stored in the sprite's userData or initial state)
                    const atomPos = sprite.userData.originalPos; 

                    // Offset by a fixed amount toward the camera, we will use scale variable
                    sprite.position.copy( atomPos ).addScaledVector( viewDir, scale );
                  });
                }
              });
            }

            if (atoms_visible) sphereMaterial.uniforms.uCameraPos.value.copy(camera.position);

            renderer.clear();
            renderer.render( scene, camera );

            if (mouse_wheel === true) {
              if (count > 30) {
                mouse_wheel = false;
                count = 0;
              } else {
                count ++;
              }
            }
          }
        }

        if (render_requested === true) requestAnimationFrame( render );
      }

      async function reset_all( reset = false ) {
        document.getElementById('back_color').value = '#000000';
        document.getElementById('dli_val').innerText = 1.25;
        document.getElementById('directional_light_intensity').value = 1.25;
        document.getElementById('btn_url').style.backgroundColor = 'transparent';
        document.getElementById('btn_atoms').style.backgroundColor = 'transparent';
        document.getElementById('btn_bonds').style.backgroundColor = 'transparent';
        document.getElementById('btn_labels').style.backgroundColor = 'transparent';

        init_running = false;

        // Reset the view
        if (reset === true) {
          controls.reset();
          set_back_color();
        } else {
          // Page (re)loading
          if (scene !== undefined) {
            if (pdb_obj) await scene_cleanup();

            while (scene.children.length > 0) {
              scene.remove( scene.children[ 0 ] );
            }

            renderer.clear();
            renderer.dispose();
          }

          mouse_wheel = true;

          document.getElementById('file_input').value = '';
          document.getElementById('div_error').style.display = 'none';
          document.getElementById('url_entry').value = '';
          selected_url_file = '';
          enable_disable( true );
        }

        mouse_wheel = true;
      }

      async function scene_cleanup() {
        mouse_wheel = true;

        scene.remove( pdb_obj );

        renderer.clear();

        if (atoms_visible === true) await show_atoms();
        if (bonds_visible === true) await show_bonds();
        if (labels_visible === true) await show_labels();

        pdb_obj.traverse( ( child ) => {
          if (child.isMesh) {
            child.geometry.dispose();
            child.geometry = null;
            child.material.dispose();
            child.material = null;
            child.dispose();
          }
        });

        root.traverse( ( child ) => {
          if (child.isMesh) child.dispose();
        });

        if (atoms.length > 0) {
          for ( const atom of atoms ) {
            if (atom.isMesh) atom.dispose();
          }
        }

        if (bonds.length > 0) {
          for ( const bond of bonds ) {
            if (bond.isMesh) bond.dispose();
          }
        }

        if (labels.length > 0) {
          for ( const label of labels ) {
            label.traverse( ( child ) => {
              if (child.isSprite) {
                child.geometry.dispose();
                child.geometry = null;
                if (child.material.map) {
                  child.material.map.dispose();
                  child.material.map = null;
                }
                child.material.dispose();
                child.material = null;
              }
            });
          }
        }

        await gui_reset();

        if (isMobile === false) {
          renderer.info.reset();
          renderer.resetState();
        }
      }

      function enable_disable( disable = false ) {
        document.getElementById('directional_light_intensity').disabled = disable;
        document.getElementById('btn_dc_dli').disabled = disable;
        document.getElementById('back_color').disabled = disable;
        document.getElementById('btn_atoms').disabled = disable;
        document.getElementById('btn_labels').disabled = disable;
        document.getElementById('btn_bonds').disabled = disable;
        document.getElementById('btn_quick_x').disabled = disable;
        disabled_changed();

        mouse_wheel = true;
      }
    </script>

    <script>
      function document_ready() {
        isMobile = (/iPad|iPhone|iPod/.test( navigator.platform )) ||
          (/Android|webOS|iPhone|iPad|iPod|CriOS|BlackBerry|IEMobile|Opera Mini/i.test( navigator.userAgent )) ||
          (navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));

        gui.close();

        mouse_wheel = true;
      }

      function disabled_changed() {
        $('button').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });

        $('input[type=color]').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px whitesmoke'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });
      }
    </script>
  </body>
</html>
