<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PDB (Protein Data Bank) Viewer">
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>

    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.8.3/dist/es-module-shims.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.168.0/build/three.module.min.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.168.0/examples/jsm/"
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>

    <script type="module">
      import * as three_js from "three";
      import { PDBLoader } from "three/addons/loaders/PDBLoader.min.js";
      import { CSS2DObject, CSS2DRenderer } from "three/addons/renderers/CSS2DRenderer.min.js";

      THREE = three_js;

      manager = new THREE.LoadingManager();
      manager.onLoad = function() { mouse_wheel = true; }

      pdb_loader = new PDBLoader( manager );

      css2d_object = CSS2DObject;
      css2d_renderer = CSS2DRenderer;
    </script>

    <style>
      body, html {
        position: relative;
        display: block;
        background-color: black;
        width: 100%;
        min-height: 100vh;
        border: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }

      button {
        background-color: transparent;
        border: 1px solid blue;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        vertical-align: middle;
        margin: 2px 2px 2px 0;
        min-width: 19px;
        height: 22px;
        padding: 1px;
      }

      label {
        vertical-align: middle;
        height: 22px;
        margin: 2px 0 2px 0;
      }

      input[type=color] {
        border: 1px solid whitesmoke;
        margin: 2px 3px 2px -2px;
        vertical-align: middle;
        background: none;
        height: 20px;
        width: 16px;
        padding: 0;
      }

      input[type=file] {
        vertical-align: middle;
        margin: 2px 0 2px 0;
        max-width: 160px;
      }

      input[type=range] {
        vertical-align: middle;
        margin: 2px 0 2px 0;
        min-width: 30px;
      }

      input[type=text] {
        vertical-align: middle;
        margin: 2px 2px 2px 0;
      }

      .dropdown {
        background-color: transparent;
        vertical-align: middle;
        display: inline-block;
        position: relative;
        min-width: 40px;
        font-size: 85%;
        color: blue;
        border: none;
        padding: 1px;
      }

      .dropdown-content {
        background-color: #FFFAD5;
        border: 1px solid #DEAF64;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        position: absolute;
        margin-top: 2px;
        z-index: 10;
      }

      .error_msg {
        background-color: transparent;
        position: absolute;
        text-align: center;
        font-size: x-large;
        display: none;
        color: red;
        width: 240px;
        height: 240px;
        top: 50%;
        left: 50%;
        margin-left: -127px;
        padding: 10px;
        border: none;
      }

      .loading_msg {
        background-color: transparent;
        color: greenyellow;
        position: absolute;
        text-align: center;
        font-size: large;
        height: 240px;
        width: 240px;
        top: 50%;
        left: 50%;
        margin-left: -127px;
        padding: 10px;
        border: none;
      }

      .fm {
        color: navy;
        width: 99.1%;
        border: 1px solid navy;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        padding: 4px;
        margin: 1px;
      }

      .fixed-menu {
        background-color: whitesmoke;
        display: inline-block;
        position: fixed;
        padding: 1px;
        width: 100%;
        margin: 0px;
        z-index: 1;
      }
    </style>

    <!-- Original OBJ source code that inspired this: https://codepen.io/Mamboleoo/pen/PqjGdN -->
    <!-- Using three.js library: https://github.com/mrdoob/three.js -->

    <!-- mouse_wheel variable is used throughout as a trigger for rendering -->

    <title>PDB Viewer (r168)</title>
  </head>
  <body onload="reset_all(); document_ready(); disabled_changed();" onresize="resize();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm">
        <button title="Get remote model via URL" id="btn_url" onclick="show_url()" style="min-width: 38px;">URL</button>
        <label for="btn_url" title="Get remote model via URL"></label>
        <button title="Browse Local Files" id="btn_file_input" style="min-width: 54px;" onclick="document.getElementById('file_input').click();">Browse</button>
        <label for="btn_file_input" title="Browse Local Files"></label>
        <input type="file" id="file_input" style="display: none;" onchange="init();" accept=".pdb" />
        <label for="back_color" title="Background Color">B</label>
        <input type="color" title="Background Color" id="back_color" onchange="set_back_color();" disabled />
        <button title="Directional Light Intensity" id="btn_dc_dli" class="dropdown" style="text-align: center; border: 1px solid blue; -webkit-border-radius: 3px; border-radius: 3px;" onclick="show_hide_dropdown_dli();">DLi
          <div id="dc_dli" class="dropdown-content" style="display: none;" onfocusout="hide_dropdown_dli();">
            <input type="range" orient="vertical" id="directional_light_intensity" min="0" max="20" step="0.05" value="2.25" onkeydown="return_false();" oninput="set_directional_light_intensity();" disabled />
            <span id="dli_val">2.25</span>
          </div>
        </button>
        <label for="btn_dc_dli" title="Directional Light Intensity"></label>
        <button title="Atoms" id="btn_atoms" onclick="show_atoms();" style="min-width: 24px;" disabled>As</button>
        <label for="btn_atoms" title="Atoms"></label>
        <button title="Labels" id="btn_labels" onclick="show_labels();" style="min-width: 24px;" disabled>Ls</button>
        <label for="btn_labels" title="Labels"></label>
        <button title="Bonds" id="btn_bonds" onclick="show_bonds();" style="min-width: 24px;" disabled>Bs</button>
        <label for="btn_bonds" title="Bonds"></label>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry" title="Remote URL"></label>
        <input type="text" id="url_entry" value="" style="width: calc(75% - 12px);" />
        <button title="Load" id="btn_load" onclick="load_url_file();" style="min-width: 8.5%;">Load</button>
        <label for="btn_load" title="Load"></label>
        <button title="Clear" id="btn_clear" onclick="clear_url();" style="min-width: 8.5%;">Clear</button>
        <label for="btn_clear" title="Clear"></label>
      </div>
    </div>

    <div id="div_error" class="error_msg">E R R O R !</div>
    <div id="div_loading" class="loading_msg">PDB Viewer</div>

    <script>
      function hide_dropdown_dli() { $('#dc_dli').fadeOut(); mouse_wheel = true; }

      function show_hide_dropdown_dli() {
        if ($('#dc_dli')[ 0 ].style.display === 'none') {
          $('#dc_dli').fadeIn();

          $('#dc_dli')[ 0 ].style.marginTop = '2px';

          $('#directional_light_intensity').focus();
        } else {
          $('#dc_dli').fadeOut();
        }

        mouse_wheel = true;
      }

      function return_false() { return false; }

      function show_url() {
        if (url_displayed === true) {
          url_displayed = false;
          document.getElementById('url').style.display = 'none';
          document.getElementById('btn_url').style.backgroundColor = 'transparent';
        } else {
          document.getElementById('btn_url').style.backgroundColor = 'lightgreen';
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url !== '') { selected_url_file = url; url_loading = true; init(); }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function initialize_event_listeners() {
        const arrow_keys = [ 'ArrowUp', 'ArrowDown', 'ArrowRight', 'ArrowLeft' ];

        window.addEventListener( 'pointerdown', (event) => { mouse_down = true; }, false);
        window.addEventListener( 'pointerup', (event) => { mouse_down = false; mouse_wheel = true; }, false);
        window.addEventListener( 'wheel', ( event ) => { mouse_wheel = true; }, false);
        window.addEventListener( 'keydown', ( event ) => {
          if (arrow_keys.some( k => k === event.key ) || event.ctrlKey || event.metaKey || event.shiftKey) {
            controls.listenToKeyEvents( window );
            mouse_wheel = true;
          }
        }, false);
        window.addEventListener( 'keyup', ( event ) => {
          if (arrow_keys.some( k => k === event.key )) {
            controls.stopListenToKeyEvents();
            mouse_wheel = false;
          }
        }, false);
      }

      function resize() {
        if (scene !== undefined) {
          mouse_wheel = true;

          ww = window.innerWidth;
          wh = window.innerHeight;

          renderer.setSize( ww, wh );
          labelRenderer.setSize( ww, wh );

          camera.aspect = ww / wh;
          camera.updateProjectionMatrix();

          mouse_wheel = true;
        }
      }
    </script>

    <script>
      var THREE, manager, pdb_loader, pdb_obj, scene, camera, controls;
      var renderer, labelRenderer, css2d_renderer, css2d_object;
      var mouse_down, mouse_wheel, reset_rotation, events_initialized;
      var directionalLight, bounding_box, render_requested;
      var ww = window.innerWidth, wh = window.innerHeight;
      var root, position, color, offset, start, end;
      var boxGeometry, boxMaterial, sphereGeometry;
      var sphereMaterial, geometryAtoms, geometryBonds;
      var atoms, labels, bonds, positions, colors, json;
      var atoms_visible, labels_visible, bonds_visible;
      var url_displayed = false, url_loading = false, isMobile;
      var selected_pdb_file, selected_url_file = '', count = 0;

      function set_back_color() {
        scene.background = null;
        document.body.style.backgroundColor = document.getElementById('back_color').value;
        mouse_wheel = true;
      }

      function set_directional_light_intensity() {
        let dli_value = document.getElementById('directional_light_intensity').value;
        document.getElementById('dli_val').innerText = dli_value;
        directionalLight.intensity = parseFloat( dli_value );

        mouse_wheel = true;
      }

      function set_initial_scale() {
        // Set the initial scale of the object so it comes to view

        bounding_box.setFromObject( pdb_obj );
        let size = bounding_box.getSize( new THREE.Vector3() );

        if ( size.y > 1 ) {
          pdb_obj.scale.multiplyScalar( 50 / size.y );
        } else if ( size.y > 0.02 ) {
          pdb_obj.scale.multiplyScalar( 25 / size.y );
        } else if ( size.y > 0.01 ) {
          pdb_obj.scale.multiplyScalar( 10 / size.y );
        } else {
          pdb_obj.scale.multiplyScalar( 1 / size.y )
        }

        bounding_box.setFromObject( pdb_obj );
        let center = bounding_box.getCenter( new THREE.Vector3() );

        controls.target.set( center.x, center.y, center.z );

        mouse_wheel = true;
      }

      async function init() {
        if (url_loading === false && document.getElementById('file_input').files.length === 0) return;

        if (scene !== undefined) {
          mouse_wheel = true;

          if (pdb_obj) await scene_cleanup();

          await reset_all( true );
        }

        enable_disable( true );

        selected_pdb_file = null;
        mouse_down = false;
        mouse_wheel = true;
        render_requested = false;
        atoms = [];
        labels = [];
        bonds = [];
        atoms_visible = false;
        labels_visible = false;
        bonds_visible = false;
        bounding_box = new THREE.Box3();
        position = new THREE.Vector3();
        offset = new THREE.Vector3();
        start = new THREE.Vector3();
        end = new THREE.Vector3();
        color = new THREE.Color();
        root = new THREE.Group();
        boxGeometry = new THREE.BoxGeometry( 1, 1, 1 );
        boxMaterial = new THREE.MeshPhongMaterial( { specular: 0x7C7C7C, shininess: 30 } );
        sphereGeometry = new THREE.IcosahedronGeometry( 1, 2 );
        sphereMaterial = new THREE.MeshPhongMaterial( { specular: 0x7C7C7C, shininess: 40 } );

        console.time( 'Loading Time' );
        document.body.style.backgroundImage = 'none';
        document.getElementById('div_error').style.display = 'none';
        document.getElementById('div_loading').style.display = 'block';
        document.getElementById('div_loading').innerHTML = 'Load & Visualize';

        if (url_loading === false) {
          // Loaded file
          var fi = document.getElementById('file_input');

          if (fi.files[ 0 ].name.toUpperCase().endsWith('.PDB')) selected_pdb_file = fi.files[ 0 ];

          if (selected_pdb_file === null) {
            handle_error( 'No valid PDB file selected!' );
            return;
          }

          selected_url_file = '';
        } else {
          // Reset the file input
          document.getElementById('file_input').value = '';
          url_loading = false;
        }

        if (renderer === undefined) {
          renderer = new THREE.WebGLRenderer( { antialias: true, alpha: true } );
          renderer.setPixelRatio( window.devicePixelRatio );
          renderer.toneMapping = THREE.NeutralToneMapping;
          renderer.toneMappingExposure = 1.5;
          renderer.setSize( ww, wh );
          renderer.shadowMap.enabled = true;
          renderer.shadowMap.type = THREE.PCFSoftShadowMap;
          renderer.setClearColor( 0xFFFFFF, 0 ); // Allow setting the background color
          renderer.autoClear = false;

          document.body.appendChild( renderer.domElement );
        }

        if (labelRenderer === undefined) {
          labelRenderer = new css2d_renderer();
          labelRenderer.setSize( ww, wh );
          labelRenderer.domElement.style.position = 'absolute';
          labelRenderer.domElement.style.top = '0px';
          labelRenderer.domElement.style.zIndex = '0';
          labelRenderer.domElement.style.pointerEvents = 'none';

          document.body.appendChild( labelRenderer.domElement );
        }

        if (scene === undefined) scene = new THREE.Scene();
        if (pdb_obj === undefined) pdb_obj = new THREE.Object3D();

        if (!events_initialized) { initialize_event_listeners(); events_initialized = true; }

        if (camera === undefined) {
          camera = new THREE.PerspectiveCamera( 45, ww / wh, 0.1, 10000 );
          camera.position.set( 0, 0, 250 );
          scene.add( camera );
        }

        // Add DirectionalLight to the camera (add it to the scene instead if not using Orbit Controls)
        if (directionalLight === undefined) {
          directionalLight = new THREE.DirectionalLight( 0xFFFFFF, 2.25 );
          directionalLight.position.set( 0, 250, 250 );
          directionalLight.lookAt( new THREE.Vector3( 0, 0, 0 ) );
          camera.add( directionalLight );
        }

        if (controls === undefined) {
          const { OrbitControls } = await import( "three/addons/controls/OrbitControls.min.js" );

          controls = new OrbitControls( camera, renderer.domElement );
          controls.zoomToCursor = true;
          controls.zoomSpeed = 0.5;
          controls.rotateSpeed = 0.5;
          controls.keyPanSpeed = 0.5; 
          controls.panSpeed = 0.5;
          //controls.enableDamping = true;
          //controls.dampingFactor = 0.3;
          //controls.enableKeys = false;
          //controls.enableZoom = true;
          //controls.maxPolarAngle = 2.2;
          //controls.minPolarAngle = 1.1;
          //controls.minDistance = 2;
          //controls.maxDistance = 500;
        }

        // Load PDB file
        selected_pdb_file !== null ? loadFile() : loadURLFile();
      }

      function loadFile(){
        pdb_loader.load( URL.createObjectURL( selected_pdb_file ), async function( pdb ) {
          URL.revokeObjectURL( selected_pdb_file );

          await set_atoms_labels_bonds( pdb );

          pdb_obj = root;

          await finish_loading();
        }, function ( xhr ) { // onProgress
        }, function ( error ) { // onError
          handle_error( error );
          URL.revokeObjectURL( selected_pdb_file );
        });

        mouse_wheel = true;
      }

      function loadURLFile() {
        if (selected_url_file !== '') {
          if (selected_url_file.startsWith('https://www.dropbox.com') === true) {
            selected_url_file = selected_url_file.replace( 'www.dropbox.com', 'dl.dropbox.com' );
          } else if (selected_url_file.startsWith('https://github.com') === true) {
            selected_url_file = ( selected_url_file.replace( 'github.com', 'raw.githubusercontent.com' ) ).replace( 'blob/', '' );
          }

          // No extension checking for URL so it has to point to PDB model

          pdb_loader.load( selected_url_file, async function( pdb ) {
            await set_atoms_labels_bonds( pdb );

            pdb_obj = root;

            await finish_loading();
          }, function ( xhr ) { // onProgress
          }, function ( error ) { // onError
            handle_error( error );
          });
        }
      }

      async function finish_loading() {
        // Add pdb_obj to the scene
        scene.add( pdb_obj );
        camera.lookAt( pdb_obj.position );

        set_initial_scale();
        resize();

        enable_disable( false );

        if (bonds.length === 0) {
          bonds_visible = false;
          document.getElementById('btn_bonds').disabled = true;
          document.getElementById('btn_bonds').style.backgroundColor = 'transparent';
          disabled_changed();
        }

        console.timeEnd( 'Loading Time' );
        document.getElementById('div_loading').style.display = 'none';

        render_requested = true;
        mouse_wheel = true;
        render();

        if (isMobile === false) await new Promise( resolve => setTimeout( log_info(), 250 ) );
      }

      function log_info() {
        console.log( 'Memory: ', renderer.info.memory );
        console.log( 'Render: ', renderer.info.render );
      }

      function handle_error( error ) {
        console.timeEnd( 'Loading Time' );
        console.log( 'Error loading model!' );
        console.log( error );
        mouse_wheel = true;
        render_requested = false;
        enable_disable( true );

        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').style.display = 'block';
      }

      function set_atoms_labels_bonds( pdb ) {
        // Get atom related data
        geometryAtoms = pdb.geometryAtoms;
        // Get the data of the bond between atoms
        geometryBonds = pdb.geometryBonds;
        // Get data of atomic text
        json = pdb.json;

        // Center the model
        geometryAtoms.computeBoundingBox();
        geometryAtoms.boundingBox.getCenter( offset ).negate();
        geometryAtoms.translate( offset.x, offset.y, offset.z );
        geometryBonds.translate( offset.x, offset.y, offset.z );

        // Add atoms and atomic text to the model group
        positions = geometryAtoms.getAttribute( 'position' );
        colors = geometryAtoms.getAttribute( 'color' );

        let instanced_atoms = {};
        let positions_count = positions.count;

        console.log('atoms count ', positions_count);

        // Try to unclutter atoms depending on their number
        let scale = positions_count < 200 ? 25 : (positions_count < 750 ? 20 : (positions_count < 1500 ? 15 : (positions_count < 10000 ? 11 : 7)));

        // Try to unclutter labels depending on the number of atoms
        let font_size = positions_count < 200 ? '120%' : (positions_count < 750 ? '110%' : (positions_count < 1500 ? '95%' : (positions_count < 10000 ? '85%' : '70%')));

        for ( var i = 0; i < positions.count; i ++ ) {
          position.x = positions.getX( i );
          position.y = positions.getY( i );
          position.z = positions.getZ( i );

          color.r = colors.getX( i );
          color.g = colors.getY( i );
          color.b = colors.getZ( i );

          let m4 = new THREE.Matrix4();
          m4.makeScale( scale, scale, scale );
          m4.setPosition( position.multiplyScalar( 75 ) );

          let hex_string = color.getHexString();

          if (!instanced_atoms[ hex_string ]) {
            instanced_atoms[ hex_string ] = { count: 0, color: new THREE.Color( color.r, color.g, color.b ), matrix_array: [] };
          }

          instanced_atoms[ hex_string ].count ++;
          instanced_atoms[ hex_string ].matrix_array.push( m4 );

          let atom = json.atoms[ i ];

          let text = document.createElement( 'div' );

          text.className = 'label';
          text.style.zIndex = '-1';
          text.style.color = 'rgb(' + atom[ 3 ][ 0 ] + ',' + atom[ 3 ][ 1 ] + ',' + atom[ 3 ][ 2 ] + ')';
          text.style.textShadow = '1px 1px 1px #000';
          text.style.fontSize = font_size;
          text.textContent = atom[ 4 ];

          let label = new css2d_object( text );
          label.position.copy( position );
          labels.push( label );

          // Don't automatically show labels if atom count > 200
          if (positions_count < 200) root.add( label );
        }

        for ( const key of Object.keys( instanced_atoms ) ) {
          let object = new THREE.InstancedMesh( sphereGeometry, sphereMaterial, instanced_atoms[ key ].count );
          let i = 0;

          for ( const matrix of instanced_atoms[ key ].matrix_array ) {
            object.setMatrixAt( i, matrix );
            object.instanceMatrix.needsUpdate = true;

            object.setColorAt( i, instanced_atoms[ key ].color );
            object.instanceColor.needsUpdate = true;

            i ++;
          }

          atoms.push( object );
          root.add( object );
        }

        // Add bonds between atoms to the model group
        positions = geometryBonds.getAttribute( 'position' );

        for ( var i = 0; i < positions.count; i += 2 ) {
          start.x = positions.getX( i );
          start.y = positions.getY( i );
          start.z = positions.getZ( i );

          end.x = positions.getX( i + 1 );
          end.y = positions.getY( i + 1 );
          end.z = positions.getZ( i + 1 );

          start.multiplyScalar( 75 );
          end.multiplyScalar( 75 );

          let object = new THREE.Mesh( boxGeometry, boxMaterial );
          object[ 'name' ] = 'bond_' + parseInt( i / 2 );

          object.position.copy( start );
          object.position.lerp( end, 0.5 );
          object.scale.set( 5, 5, start.distanceTo( end ) );
          object.lookAt( end );

          bonds.push( object );

          // Don't automatically show bonds if atom count > 200
          if (positions_count < 200) root.add( object );

          object.material.dispose();
          object.geometry.dispose();
        }

        // Scale and add model groups to the scene
        root.scale.set( 0.1, 0.1, 0.1 );

        atoms_visible = true;
        document.getElementById('btn_atoms').style.backgroundColor = 'lightgreen';

        // Don't automatically show labels and bonds if atom count > 200
        if (positions_count < 200) {
          bonds_visible = true;
          document.getElementById('btn_bonds').style.backgroundColor = 'lightgreen';
          labels_visible = true;
          document.getElementById('btn_labels').style.backgroundColor = 'lightgreen';
        }

        mouse_wheel = true;
      }

      function show_atoms() {
        if (atoms_visible === true) {
          atoms_visible = false;
          document.getElementById('btn_atoms').style.backgroundColor = 'transparent';

          atoms.forEach( element => { pdb_obj.remove( element ); });
        } else {
          atoms_visible = true;
          document.getElementById('btn_atoms').style.backgroundColor = 'lightgreen';

          atoms.forEach( element => { pdb_obj.add( element ); });
        }

        mouse_wheel = true;
      }

      function show_labels() {
        if (labels_visible === true) {
          labels_visible = false;
          document.getElementById('btn_labels').style.backgroundColor = 'transparent';

          labels.forEach( element => { pdb_obj.remove( element ); });
        } else {
          labels_visible = true;
          document.getElementById('btn_labels').style.backgroundColor = 'lightgreen';

          labels.forEach( element => { pdb_obj.add( element ); });
        }

        mouse_wheel = true;
      }

      function show_bonds() {
        if (bonds_visible === true) {
          bonds_visible = false;
          document.getElementById('btn_bonds').style.backgroundColor = 'transparent';

          bonds.forEach( element => { pdb_obj.remove( element ); });
        } else {
          bonds_visible = true;
          document.getElementById('btn_bonds').style.backgroundColor = 'lightgreen';

          bonds.forEach( element => { pdb_obj.add( element ); });
        }

        mouse_wheel = true;
      }

      async function render() {
        if (pdb_obj) {
          if (mouse_down === true || mouse_wheel === true) {
            controls.update();

            if (labels_visible === true) labelRenderer.render( scene, camera );

            renderer.clear();
            renderer.render( scene, camera );

            if (mouse_wheel === true) {
              if (count > 10) {
                mouse_wheel = false;
                count = 0;
              } else {
                count ++;
              }
            }
          }
        }

        if (render_requested === true) requestAnimationFrame( render );
      }

      async function reset_all( reset = false ) {
        document.getElementById('back_color').value = '#000000';
        document.getElementById('dli_val').innerText = 2.25;
        document.getElementById('directional_light_intensity').value = 2.25;
        document.getElementById('btn_url').style.backgroundColor = 'transparent';
        document.getElementById('btn_atoms').style.backgroundColor = 'transparent';
        document.getElementById('btn_bonds').style.backgroundColor = 'transparent';
        document.getElementById('btn_labels').style.backgroundColor = 'transparent';

        if (scene !== undefined) {
          if (directionalLight) {
            set_directional_light_intensity();
          }
        }

        // Reset the view
        if (reset === true) {
          controls.reset();
          set_back_color();
        } else {
          // Page (re)loading
          if (scene !== undefined) {
            if (pdb_obj) await scene_cleanup();

            while (scene.children.length > 0) {
              scene.remove( scene.children[ 0 ] );
            }

            renderer.clear();
            renderer.dispose();
          }

          mouse_wheel = true;

          document.getElementById('file_input').value = '';
          document.getElementById('div_error').style.display = 'none';
          document.getElementById('url_entry').value = '';
          selected_url_file = '';
          enable_disable( true );
        }

        mouse_wheel = true;
      }

      async function scene_cleanup() {
        scene.remove( pdb_obj );

        renderer.clear();

        while ( pdb_obj.children.length > 0 ) {
          let object = pdb_obj.children[ 0 ];

          if (object.material && object.material.map) object.material.map.dispose();
          if (object.material) object.material.dispose();
          if (object.geometry) object.geometry.dispose();

          object.parent.remove( object );
        }

        if (isMobile === false) {
          renderer.info.reset();
          renderer.resetState();
        }
      }

      function enable_disable( disable = false ) {
        document.getElementById('directional_light_intensity').disabled = disable;
        document.getElementById('btn_dc_dli').disabled = disable;
        document.getElementById('back_color').disabled = disable;
        document.getElementById('btn_atoms').disabled = disable;
        document.getElementById('btn_labels').disabled = disable;
        document.getElementById('btn_bonds').disabled = disable;
        disabled_changed();

        mouse_wheel = true;
      }
    </script>

    <script>
      function document_ready() {
        isMobile = (/iPad|iPhone|iPod/.test( navigator.platform )) ||
          (/Android|webOS|iPhone|iPad|iPod|CriOS|BlackBerry|IEMobile|Opera Mini/i.test( navigator.userAgent )) ||
          (navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));

        mouse_wheel = true;
      }

      function disabled_changed() {
        $('button').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });

        $('input[type=color]').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px whitesmoke'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });
      }
    </script>
  </body>
</html>
