<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="USDZ (Universal Scene Description) Viewer">
    <link rel="stylesheet" href="../../static/css/mobile-viewers.css">
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>

    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.10.0/dist/es-module-shims.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.182.0/build/three.module.min.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.182.0/examples/jsm/"
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>

    <script>
      var THREE, manager, renderer, usdz_loader, scene, mesh, render_requested;
      var camera, controls, mouse_down, mouse_wheel, events_initialized;
      var ambientLight, directionalLight, wireframe_enabled;
      var ww = window.innerWidth, wh = window.innerHeight, isMobile;
      var first_run, fr_count, bounding_box, flat_shading_enabled;
      var url_displayed = false, url_loading = false, count = 0;
      var selected_usdz_file, selected_url_file = '', texture_maps;
    </script>

    <script type="module">
      import * as three_js from "three";
      import { USDZLoader } from "../../static/jsm/loaders/USDZLoader.min.js";

      THREE = three_js;

      manager = new THREE.LoadingManager();
      manager.onLoad = function() { mouse_wheel = true; }

      usdz_loader = new USDZLoader( manager );
    </script>

    <!-- Original OBJ source code that inspired this: https://codepen.io/Mamboleoo/pen/PqjGdN -->
    <!-- Using three.js library: https://github.com/mrdoob/three.js -->

    <!-- mouse_wheel variable is used throughout as a trigger for rendering -->

    <title>USDZ Viewer (r182)</title>
  </head>
  <body onload="reset_all(); document_ready(); disabled_changed();" onresize="resize();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm">
        <button id="btn_desktop" title="Open Desktop Version" onclick="switch_to_desktop();">D</button>
        <label for="btn_desktop" title="Open Desktop Version"></label>
        <button title="Get remote model via URL" id="btn_url" onclick="show_url()" style="min-width: 38px;">URL</button>
        <label for="btn_url" title="Get remote model via URL"></label>
        <button title="Browse Local Files" id="btn_file_input" style="min-width: 54px;" onclick="document.getElementById('file_input').click();">Browse</button>
        <label for="btn_file_input" title="Browse Local Files"></label>
        <input type="file" id="file_input" style="display: none;" onchange="init();" accept=".usdz" />
        <label for="back_color" title="Background Color">B</label>
        <input type="color" title="Background Color" id="back_color" onchange="set_back_color();" disabled />
        <button title="Directional Light Intensity" id="btn_dc_dli" class="dropdown" style="text-align: center; border: 1px solid blue; -webkit-border-radius: 3px; border-radius: 3px;" onclick="show_hide_dropdown_dli();">DLi
          <div id="dc_dli" class="dropdown-content" style="display: none;" onfocusout="hide_dropdown_dli();">
            <input type="range" orient="vertical" id="directional_light_intensity" min="0" max="20" step="0.05" value="3" onkeydown="return_false();" oninput="set_directional_light_intensity();" disabled />
            <span id="dli_val">3</span>
          </div>
        </button>
        <label for="btn_dc_dli" title="Directional Light Intensity"></label>
        <button title="Flat Shading" id="btn_flat" onclick="set_flat();" disabled>F</button>
        <label for="btn_flat" title="Flat Shading"></label>
        <button title="Wireframe" id="btn_wireframe" onclick="show_wireframe();" disabled >W</button>
        <label for="btn_wireframe" title="Wireframe"></label>
        <button title="Quick -90 degree X-Axis Rotation" id="btn_quick_x" onclick="quick_x_rotation( '-0.5' );" style="min-width: 14px;" disabled>&#x2191</button>
        <label for="btn_quick_x" title="Quick -90 degree X-Axis Rotation"></label>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry" title="Remote URL"></label>
        <input type="text" id="url_entry" value="" style="width: calc(75% - 12px);" />
        <button title="Load" id="btn_load" onclick="load_url_file();" style="min-width: 8.5%;">Load</button>
        <label for="btn_load" title="Load"></label>
        <button title="Clear" id="btn_clear" onclick="clear_url();" style="min-width: 8.5%;">Clear</button>
        <label for="btn_clear" title="Clear"></label>
      </div>
    </div>

    <div id="div_error" class="error_msg">E R R O R !</div>
    <div id="div_loading" class="loading_msg">USDZ Viewer</div>

    <script>
      function hide_dropdown_dli() { $('#dc_dli').fadeOut(); mouse_wheel = true; }

      function show_hide_dropdown_dli() {
        if ($('#dc_dli')[ 0 ].style.display === 'none') {
          $('#dc_dli').fadeIn();

          $('#dc_dli')[ 0 ].style.marginTop = '2px';

          $('#directional_light_intensity').focus();
        } else {
          $('#dc_dli').fadeOut();
        }

        mouse_wheel = true;
      }

      function return_false() { return false; }

      function switch_to_desktop() {
        let link = document.createElement( 'a' );
        link.style.display = 'none';
        link.href = "../USDZ Viewer.html";
        link.click();
      }

      function show_url() {
        if (url_displayed === true) {
          url_displayed = false;
          document.getElementById('url').style.display = 'none';
          document.getElementById('btn_url').style.backgroundColor = 'transparent';
        } else {
          document.getElementById('btn_url').style.backgroundColor = 'lightgreen';
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();
        if (url !== '') { selected_url_file = url; url_loading = true; init(); }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function initialize_event_listeners() {
        const arrow_keys = [ 'ArrowUp', 'ArrowDown', 'ArrowRight', 'ArrowLeft' ];

        window.addEventListener( 'pointerdown', (event) => { mouse_down = true; }, false);
        window.addEventListener( 'pointerup', (event) => { mouse_down = false; mouse_wheel = true; }, false);
        window.addEventListener( 'wheel', ( event ) => { mouse_wheel = true; }, false);
        window.addEventListener( 'keydown', ( event ) => {
          if (arrow_keys.some( k => k === event.key ) || event.ctrlKey || event.metaKey || event.shiftKey) {
            controls.listenToKeyEvents( window );
            mouse_wheel = true;
          }
        }, false);
        window.addEventListener( 'keyup', ( event ) => {
          if (arrow_keys.some( k => k === event.key )) {
            controls.stopListenToKeyEvents();
            mouse_wheel = false;
          }
        }, false);
      }

      function resize() {
        if (scene !== undefined) {
          mouse_wheel = true;

          ww = window.innerWidth;
          wh = window.innerHeight;

          renderer.setSize( ww, wh );

          camera.aspect = ww / wh;
          camera.updateProjectionMatrix();

          mouse_wheel = true;
        }
      }
    </script>

    <script>
      function set_back_color() {
        scene.background = null;
        document.body.style.backgroundColor = document.getElementById('back_color').value;
        mouse_wheel = true;
      }

      function set_directional_light_intensity() {
        let dli_value = document.getElementById('directional_light_intensity').value;
        document.getElementById('dli_val').innerText = dli_value;
        directionalLight.intensity = parseFloat( dli_value );

        mouse_wheel = true;
      }

      function set_initial_scale() {
        // Set the initial scale of the object so it hopefully comes to view

        bounding_box.setFromObject( mesh );
        let size = bounding_box.getSize( new THREE.Vector3() );
        let center = bounding_box.getCenter( new THREE.Vector3() );

        // Move to the center

        if (center.x !== 0) mesh.translateX( center.x * ( - 1 ) );
        if (center.y !== 0) mesh.translateY( center.y * ( - 1 ) );
        if (center.z !== 0) mesh.translateZ( center.z * ( - 1 ) );

        // Scale according to window width / height, whichever is greater

        if (ww > wh) {
          mesh.scale.multiplyScalar( ( wh / size.y ) * 0.15 );
        } else {
          mesh.scale.multiplyScalar( ( ww / size.x ) * 0.15 );
        }

        // Get center coordinates and move to the center again

        bounding_box.setFromObject( mesh );
        size = bounding_box.getSize( new THREE.Vector3() );
        center = bounding_box.getCenter( new THREE.Vector3() );

        if (center.x !== 0) mesh.translateX( center.x * ( - 1 ) );
        if (center.y !== 0) mesh.translateY( center.y * ( - 1 ) );
        if (center.z !== 0) mesh.translateZ( center.z * ( - 1 ) );

        // Scale again and re-center if the model's width / height is greater than the screen's width / height

        if ( (ww > wh && size.x > ww) || (wh > ww && size.y > wh) ) {
          mesh.scale.multiplyScalar( ( ww / (ww > wh ? size.x : size.y) ) );

          bounding_box.setFromObject( mesh );
          size = bounding_box.getSize( new THREE.Vector3() );
          center = bounding_box.getCenter( new THREE.Vector3() );

          if (center.x !== 0) mesh.translateX( center.x * ( - 1 ) );
          if (center.y !== 0) mesh.translateY( center.y * ( - 1 ) );
          if (center.z !== 0) mesh.translateZ( center.z * ( - 1 ) );
        }

        bounding_box.setFromObject( mesh );
        center = bounding_box.getCenter( new THREE.Vector3() );

        controls.target.set( center.x, center.y, center.z );

        // Set the camera's z distance

        camera.position.z = bounding_box.max.z + 250;
        camera.updateProjectionMatrix();

        mouse_wheel = true;
      }

      async function init() {
        if (url_loading === false && document.getElementById('file_input').files.length === 0) return;

        if (scene) {
          mouse_wheel = true;

          if (mesh) await scene_cleanup();

          await reset_all( true );
        }

        enable_disable( true );

        selected_usdz_file = null;
        mouse_down = false;
        mouse_wheel = true;
        render_requested = false;
        wireframe_enabled = false;
        flat_shading_enabled = false;
        vertex_colors_enabled = false;
        bounding_box = new THREE.Box3();

        console.time( 'Loading Time' );
        document.body.style.backgroundImage = 'none';
        document.getElementById('div_error').style.display = 'none';
        document.getElementById('div_loading').style.display = 'block';
        document.getElementById('div_loading').innerHTML = 'Load & Visualize';

        if (url_loading === false) {
          // Loaded local files
          var fi = document.getElementById('file_input');

          for (let i = 0; i < fi.files.length; i++) {
            if (fi.files[ i ].name.toUpperCase().endsWith('.USDZ')) { selected_usdz_file = fi.files[ i ]; }
          };

          if (selected_usdz_file === null) {
            handle_error( 'No valid USDZ file selected!' );
            return;
          }

          selected_url_file = '';
        } else {
          // Reset the file input
          document.getElementById('file_input').value = '';
          url_loading = false;
        }

        if (renderer === undefined) {
          renderer = new THREE.WebGLRenderer( { antialias: true, alpha: true } );
          renderer.setPixelRatio( window.devicePixelRatio );
          renderer.toneMapping = THREE.NeutralToneMapping;
          renderer.toneMappingExposure = 1;
          renderer.setSize( ww, wh );
          renderer.info.autoReset = false;
          renderer.shadowMap.enabled = true;
          renderer.shadowMap.type = THREE.PCFSoftShadowMap;
          renderer.setClearColor( 0xFFFFFF, 0 ); // Allow setting the background color
          renderer.autoClear = false;

          document.body.appendChild( renderer.domElement );
        }

        if (scene === undefined) scene = new THREE.Scene();
        if (mesh === undefined) mesh = new THREE.Object3D();

        if (!events_initialized) { initialize_event_listeners(); events_initialized = true; }

        if (camera === undefined) {
          camera = new THREE.PerspectiveCamera( 45, ww / wh, 0.1, 10000 );
          camera.position.set( 0, 0, 250 );
          scene.add( camera );
        }

        // Add AmbientLight to the scene
        if (ambientLight === undefined) {
          ambientLight = new THREE.AmbientLight( 0xFFFFFF, 0.15 );
          ambientLight.position.set( 0, 0, - 250 );
          scene.add( ambientLight );
        }

        // Add DirectionalLight to the camera (add it to the scene instead if not using Orbit Controls)
        if (directionalLight === undefined) {
          directionalLight = new THREE.DirectionalLight( 0xFFFFFF, 3 );
          directionalLight.position.set( 0, 100, 250 );
          directionalLight.lookAt( new THREE.Vector3( 0, 0, 0 ) );
          camera.add( directionalLight );
        }

        if (controls === undefined) {
          const { OrbitControls } = await import( "three/addons/controls/OrbitControls.min.js" );

          controls = new OrbitControls( camera, renderer.domElement );
          controls.zoomToCursor = true;
          controls.zoomSpeed = 0.5;
          controls.rotateSpeed = 0.5;
          controls.keyPanSpeed = 0.5; 
          controls.panSpeed = 0.5;
          //controls.enableDamping = true;
          //controls.dampingFactor = 0.3;
          //controls.enableKeys = false;
          //controls.enableZoom = true;
          //controls.maxPolarAngle = 2.2;
          //controls.minPolarAngle = 1.1;
          //controls.minDistance = 2;
          //controls.maxDistance = 500;
        }

        if (scene.environment === null) {
          let url = 'https://raw.githubusercontent.com/GitHubDragonFly/three.js/dev/examples/textures/water.avif';

          new THREE.TextureLoader().load( url, async function( texture ) {
            texture.mapping = THREE.EquirectangularReflectionMapping;
            texture.needsUpdate = true;

            scene.environment = texture.clone();
            scene.environmentIntensity = 0.15;

            mouse_wheel = true;

            texture.dispose();
          }, function ( xhr ) {
          }, function ( error ) {
            console.log( 'Error Loading Scene Environment Image File!' );
            console.log( error );
          });
        }

        // Load the usdz file
        selected_usdz_file !== null ? loadFile() : loadURLFile();
      }

      function loadFile() {
        if (selected_usdz_file !== null) {
          usdz_loader.load( URL.createObjectURL( selected_usdz_file ), addFileInScene,
          function( xhr ) { }, // onProgress
          function ( error ) { // onError
            handle_error( error );
            URL.revokeObjectURL( selected_usdz_file );
          });
        }
      }

      function addFileInScene( usd ) {
        if (selected_usdz_file !== null) URL.revokeObjectURL( selected_usdz_file );

        mesh = usd.clone();

        mesh.traverse( ( child ) => {
          if (child.isMesh) {
            flat_shading_enabled = true;
            document.getElementById('btn_flat').style.backgroundColor = 'lightgreen';

            if (Array.isArray( child.material )) {
              child.material.forEach( mtl => {
                set_texture_colorSpace( mtl );

                mtl.flatShading = flat_shading_enabled;

                mtl.needsUpdate = true;
              });
            } else {
              set_texture_colorSpace( child.material );

              child.material.flatShading = flat_shading_enabled;

              child.material.needsUpdate = true;
            }
          }
        });

        // Add mesh to the scene
        scene.add( mesh );
        camera.lookAt( mesh.position );

        finish_loading();
      }

      function loadURLFile() {
        if (selected_url_file !== '') {
          if (selected_url_file.startsWith('https://www.dropbox.com') === true) {
            selected_url_file = selected_url_file.replace('www.dropbox.com', 'dl.dropbox.com');
          } else if (selected_url_file.startsWith('https://github.com') === true) {
            selected_url_file = ( selected_url_file.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
          }

          // No extension checking for URL so it has to point to USDZ model

          usdz_loader.load( selected_url_file, addFileInScene,
          function( xhr ) { }, // onProgress
          function ( error ) { handle_error( error ); }); // onError
        }
      }

      function set_texture_colorSpace( material ) {
        if (material.map && (!material.map.colorSpace || material.map.colorSpace === 'NoColorSpace')) {
          material.map.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.aoMap && (!material.aoMap.colorSpace || material.aoMap.colorSpace !== 'NoColorSpace')) {
          material.aoMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.alphaMap && (!material.alphaMap.colorSpace || material.alphaMap.colorSpace !== 'NoColorSpace')) {
          material.alphaMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.emissiveMap && (!material.emissiveMap.colorSpace || material.emissiveMap.colorSpace === 'NoColorSpace')) {
          material.emissiveMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.normalMap && (!material.normalMap.colorSpace || material.normalMap.colorSpace !== 'NoColorSpace')) {
          material.normalMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.metalnessMap && (!material.metalnessMap.colorSpace || material.metalnessMap.colorSpace !== 'NoColorSpace')) {
          material.metalnessMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.roughnessMap && (!material.roughnessMap.colorSpace || material.roughnessMap.colorSpace !== 'NoColorSpace')) {
          material.roughnessMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.clearcoatMap && (!material.clearcoatMap.colorSpace || material.clearcoatMap.colorSpace === 'NoColorSpace')) {
          material.clearcoatMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.clearcoatRoughnessMap && (!material.clearcoatRoughnessMap.colorSpace || material.clearcoatRoughnessMap.colorSpace !== 'NoColorSpace')) {
          material.clearcoatRoughnessMap.colorSpace = THREE.NoColorSpace;
        }

        if (material.specularColorMap && (!material.specularColorMap.colorSpace || material.specularColorMap.colorSpace === 'NoColorSpace')) {
          material.specularColorMap.colorSpace = THREE.SRGBColorSpace;
        }

        if (material.transmissionMap && (!material.transmissionMap.colorSpace || material.transmissionMap.colorSpace !== 'NoColorSpace')) {
          material.transmissionMap.colorSpace = THREE.NoColorSpace;
        }
      }

      async function finish_loading() {
        set_initial_scale();
        resize();

        enable_disable( false );

        console.timeEnd( 'Loading Time' );
        document.getElementById('div_loading').style.display = 'none';

        render_requested = true;
        mouse_wheel = false;
        first_run = true;
        fr_count = 0;
        render();

        if (isMobile === false) await new Promise( resolve => setTimeout( log_info(), 250 ) );
      }

      function log_info() {
        console.log( 'Memory: ', renderer.info.memory );
        console.log( 'Render: ', renderer.info.render );
      }

      function handle_error( error ) {
        console.timeEnd( 'Loading Time' );
        console.log( 'Error loading model!' );
        console.log( error );
        render_requested = false;
        enable_disable( true );

        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_error').style.display = 'block';
      }

      function quick_x_rotation( angle ) {
        mesh.rotateX( Math.PI * parseFloat( angle ) );

        mouse_wheel = true;
      }

      function set_flat() {
        if (mesh) {
          if (flat_shading_enabled === true) {
            document.getElementById('btn_flat').style.backgroundColor = 'transparent';
            flat_shading_enabled = false;
          } else {
            document.getElementById('btn_flat').style.backgroundColor = 'lightgreen';
            flat_shading_enabled = true;
          }

          mesh.traverse( ( child ) => {
            if (child.isMesh) {
              child.material.flatShading = flat_shading_enabled;
              child.material.needsUpdate = true;
              mouse_wheel = true;
            }
          });
        }
      }

      function show_wireframe() {
        if (mesh) {
          if (wireframe_enabled === true) {
            wireframe_enabled = false;
            document.getElementById('btn_wireframe').style.backgroundColor = 'transparent';
          } else {
            wireframe_enabled = true;
            document.getElementById('btn_wireframe').style.backgroundColor = 'lightgreen';
          }

          mesh.traverse( function( child ) {
      	    if (child.isMesh) {
              if (Array.isArray( child.material )) {
                child.material.forEach( mtl => {
                  mtl.wireframe = wireframe_enabled;
                });
              } else {
                child.material.wireframe = wireframe_enabled;
              }

              mouse_wheel = true;
            }
      	  });
        }
      }

      async function render() {
        if (mesh) {
          if (first_run === true || mouse_down === true || mouse_wheel === true) {
            controls.update();

            renderer.clear();
            renderer.render( scene, camera );

            // If it might be slow to render initially
            if (first_run === true) {
              fr_count ++;
              if (fr_count > 10) {
                mouse_wheel = true;
                first_run = false;
                fr_count = 0;
                count = 0;
              }
            } else {
              if (mouse_wheel === true) {
                if (count > 5) {
                  mouse_wheel = false;
                  count = 0;
                } else {
                  count ++;
                }
              }
            }
          }
        }

        if (render_requested === true) requestAnimationFrame( render );
      }

      async function reset_all( reset = false ) {
        document.getElementById('back_color').value = '#000000';
        document.getElementById('dli_val').innerText = 3;
        document.getElementById('directional_light_intensity').value = 3;
        document.getElementById('btn_url').style.backgroundColor = 'transparent';
        document.getElementById('btn_flat').style.backgroundColor = 'transparent';
        document.getElementById('btn_wireframe').style.backgroundColor = 'transparent';

        if (scene) {
          if (directionalLight) {
            set_directional_light_intensity();
          }
        }

        // Reset the view
        if (reset === true) {
          controls.reset();
          set_back_color();
        } else {
          // Page (re)loading
          if (scene) {
            if (scene.environment) {
              scene.environment.dispose();
              scene.environment = null;
            }

            if (mesh) await scene_cleanup();

            while (scene.children.length > 0) {
              scene.remove( scene.children[ 0 ] );
            }

            renderer.clear();
            renderer.dispose();
          }

          mouse_wheel = true;

          document.getElementById('file_input').value = '';
          document.getElementById('div_error').style.display = 'none';
          document.getElementById('url_entry').value = '';
          selected_url_file = '';
          enable_disable( true );
        }

        mouse_wheel = true;
      }

      async function scene_cleanup() {
        scene.remove( mesh );

        renderer.clear();

        mesh.traverse( ( child ) => {
          if (child.isMesh) {
            if (child.material) {
              if (Array.isArray( child.material )) {
                child.material.forEach( mtl => {
                  if (mtl.uniforms) {
                    Object.keys( mtl.uniforms ).forEach( ( key ) => {
                      if (mtl.uniforms[ key ].value) {
                        if (Array.isArray( mtl.uniforms[ key ].value ) && mtl.uniforms[ key ].value.length > 0) {
                          mtl.uniforms[ key ].value.forEach( val => {
                            if (val.type && val.type === 1009)
                              val.dispose();
                          });
                        } else {
                          if (mtl.uniforms[ key ].value.type && mtl.uniforms[ key ].value.type === 1009)
                            mtl.uniforms[ key ].value.dispose();
                        }
                      }
                    });
                  } else {
                    for (const prop in mtl) {
                      texture_maps.forEach( tex_map => {
                        if (prop === tex_map) {
                          if (mtl[ prop ]) mtl[ prop ].dispose();
                        }
                      });
                    };
                  }

                  mtl.dispose();
                });
              } else {
                if (child.material.uniforms) {
                  Object.keys( child.material.uniforms ).forEach( ( key ) => {
                    if (child.material.uniforms[ key ].value) {
                      if (Array.isArray( child.material.uniforms[ key ].value ) && child.material.uniforms[ key ].value.length > 0) {
                        child.material.uniforms[ key ].value.forEach( val => {
                          if (val.type && val.type === 1009)
                            val.dispose();
                        });
                      } else {
                        if (child.material.uniforms[ key ].value.type && child.material.uniforms[ key ].value.type === 1009)
                          child.material.uniforms[ key ].value.dispose();
                      }
                    }
                  });
                } else {
                  for (const prop in child.material) {
                    texture_maps.forEach( tex_map => {
                      if (prop === tex_map) {
                        if (child.material[ prop ]) child.material[ prop ].dispose();
                      }
                    });
                  };
                }

                child.material.dispose();
              }
            }

            child.geometry.dispose();
          }
        });

        while (mesh.children.length > 0) {
          mesh.remove( mesh.children[ 0 ] );
        }

        if (isMobile === false) {
          renderer.info.reset();
          renderer.resetState();
        }
      }

      function enable_disable( disable = false ) {
        document.getElementById('directional_light_intensity').disabled = disable;
        document.getElementById('btn_dc_dli').disabled = disable;
        document.getElementById('back_color').disabled = disable;
        document.getElementById('btn_flat').disabled = disable;
        document.getElementById('btn_quick_x').disabled = disable;
        document.getElementById('btn_wireframe').disabled = disable;
        disabled_changed();

        mouse_wheel = true;
      }
    </script>

    <script>
      function document_ready() {
        isMobile = (/iPad|iPhone|iPod/.test( navigator.platform )) ||
          (/Android|webOS|iPhone|iPad|iPod|CriOS|BlackBerry|IEMobile|Opera Mini/i.test( navigator.userAgent )) ||
          (navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));

        texture_maps = [
          'map', 'aoMap', 'alphaMap', 'bumpMap', 'displacementMap', 'envMap', 'lightMap', 'emissiveMap', 'normalMap',
          'metalnessMap', 'roughnessMap', 'anisotropyMap', 'clearcoatMap', 'clearcoatNormalMap', 'clearcoatRoughnessMap',
          'iridescenceMap', 'iridescenceThicknessMap', 'sheenColorMap', 'sheenRoughnessMap', 'specularMap',
          'specularColorMap', 'specularIntensityMap', 'thicknessMap', 'transmissionMap'
        ];

        $('#url_entry').keypress( function( event ) { if (event.key === 'Enter') $('#btn_load').click(); });
      }

      function disabled_changed() {
        $('button').each( function() {
          if (this.disabled === false) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });

        $('input[type=color]').each( function() {
          if (this.disabled === false) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px whitesmoke'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }

          mouse_wheel = true;
        });
      }
    </script>
  </body>
</html>
