<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="encoding" content="utf-8" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Quick Viewer - O3DV engine based">
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>

    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.10.0/dist/es-module-shims.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.178.0/build/three.module.min.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.178.0/examples/jsm/",
          "three/examples/jsm/": "https://cdn.jsdelivr.net/npm/three@0.178.0/examples/jsm/",
          "fflate": "https://cdn.jsdelivr.net/npm/three@0.178.0/examples/jsm/libs/fflate.module.js",
          "o3dv": "https://cdn.jsdelivr.net/npm/online-3d-viewer@0.16.0"
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jszip@3.10.1/dist/jszip.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>

    <script>
      var THREE, OV, o3dv_embedded_viewer, mesh;
      var local_files, url_files, selected_model_file, ext;
      var selected_url_model_file, selected_url_file = '';
      var url_displayed = false, url_loading = false, zip, isMobile;
      var edge_settings, edges_visible, up = false, defaultMaterial;
    </script>

    <script type="module">
      import * as three_js from "three";

      THREE = three_js;
    </script>

    <style>
      body, html {
        position: relative;
        display: block;
        width: 100%;
        min-height: 100vh;
        border: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        background-color: white;
      }

      button {
        background-color: transparent;
        border: 1px solid blue;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        margin: 2px 2px 2px 0;
        min-width: 19px;
        height: 22px;
        padding: 1px;
        vertical-align: middle;
      }

      label {
        vertical-align: middle;
        height: 22px;
        margin: 2px 0 2px 0;
      }

      input[type=color] {
        border: 1px solid whitesmoke;
        vertical-align: middle;
        margin: 2px 2px 2px -1px;
        background: none;
        height: 20px;
        width: 16px;
        padding: 0;
      }

      input[type=file] {
        vertical-align: middle;
        margin: 2px 0 2px 0;
        max-width: 155px;
      }

      input[type=range] {
        vertical-align: middle;
        margin: 2px 0 2px 0;
        min-width: 30px;
      }

      input[type=text] {
        vertical-align: middle;
        margin: 2px 2px 2px 0;
      }

      .dropdown {
        background-color: transparent;
        vertical-align: middle;
        display: inline-block;
        position: relative;
        min-width: 40px;
        font-size: 85%;
        color: blue;
        border: none;
        padding: 1px;
      }

      .dropdown-content {
        background-color: #FFFAD5;
        border: 1px solid #DEAF64;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        position: absolute;
        margin-top: 2px;
        z-index: 10;
      }

      select {
        vertical-align: middle;
        border: 1px solid blue;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background: none;
        min-width: 70px;
        height: 22px;
        padding: 2px;
        margin: 2px;
        color: blue;
      }

      .spinner {
        position: absolute;
        display: none;
        z-index: 99;
        background-color: transparent;
        width: 60px;
        height: 60px;
        top: calc(50% - 32px);
        left: calc(50% - 32px);
        padding: 4px;
        border: 1px solid #4040FF;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border-top-color: transparent;
        border-bottom-color: transparent;
        -webkit-animation: spin 2s ease-in-out infinite;
        animation: spin 2s ease-in-out infinite;
      }

      @-webkit-keyframes spin { to { -webkit-transform: rotate( 360deg ); } }
      @keyframes spin { to { transform: rotate( 360deg ); } }

      .loading_msg {
        display: none;
        min-height: 28px;
        color: #B43232;
        text-align: center;
        background-color: transparent;
      }

      .fm {
        color: navy;
        width: 99.1%;
        border: 1px solid navy;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        padding: 4px;
        margin: 1px;
      }

      .fixed-menu {
        background-color: whitesmoke;
        display: inline-block;
        position: fixed;
        z-index: 99;
        padding: 1px;
        width: 100%;
        margin: 0;
      }

      div.online_3d_viewer {
        background-color: white;
        border: 1px solid blue;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        width: 100%;
        z-index: 1;
      }
    </style>

    <!-- Using Online 3D Viewer as a base: https://github.com/kovacsv/Online3DViewer -->
    <!-- Environment maps work of Emil Persson, aka Humus: https://www.humus.name/ -->

    <title>Quick Viewer (O3DV)</title>
  </head>
  <body onload="reset(); first_run(); document_ready();" onresize="resize();">
    <div id="fixed_menu" class="fixed-menu">
      <div class="fm">
        <label for="file_input" title="3D Model Formats: 3DM, 3DS, 3MF, AMF, BIM, BREP, BRP, DAE, FBX, FCSTD, GLB, GLTF, IFC, IGES, IGS, OBJ + MTL, OFF, PLY, STL, STEP, STP, WRL" style="color: #553801; margin-left: 2px; margin-right: 3px;">3D</label>
        <button title="URL of the remote 3D model" id="btn_url" onclick="show_url();" style="min-width: 38px;">URL</button>
        <input type="file" title="Browse Local Files" id="file_input" onchange="init();" accept=".3dm, .3ds, .3mf, .amf, .bim, .bin, .brep, .brp, .dae, .fbx, .fcstd, .glb, .gltf, .ifc, .iges, .igs, .mtl, .obj, .off, .ply, .stl, .step, .stp, .wrl, .tga, .dds, image/avif, image/bmp, image/gif, image/jpeg, image/png, image/webp" multiple />
        <select title="Export" id="export_names" disabled>
          <option title="Export Formats" value="export" selected disabled>Export</option>
          <option value="bim" onclick="start_export( 'bim' );">BIM</option>
          <option value="ply" onclick="start_export( 'ply' );">PLY</option>
          <option value="stl" onclick="start_export( 'stl' );">STL</option>
          <option value="obj" onclick="start_export( 'obj' );">OBJ</option>
          <option value="off" onclick="start_export( 'off' );">OFF</option>
          <option value="glb" onclick="start_export( 'glb' );">GLB</option>
          <option value="gltf" onclick="start_export( 'gltf' );">GLTF</option>
        </select>
      </div>
      <div class="fm" id="url" style="display: none;">
        <label for="url_entry" title="Remote URL"></label>
        <input type="text" id="url_entry" value="" style="width: calc(75% - 12px);" />
        <button title="Load" id="btn_load" onclick="load_url_file();" style="min-width: 8.5%;">Load</button>
        <button title="Clear" id="btn_clear" onclick="clear_url();" style="min-width: 8.5%;">Clear</button>
      </div>
      <div class="fm">
        <label for="back_color" title="Background Color" style="margin-left: 2px;">BG</label>
        <input type="color" title="Background Color" id="back_color" onchange="set_back_color();" disabled />
        <label for="directional_light_color" title="Directional Light Color">DL</label>
        <input type="color" title="Directional Light Color" id="directional_light_color" onchange="set_directional_light_color();" disabled />
        <button title="Directional Light Intensity" id="btn_dc1" class="dropdown" onclick="show_hide_dropdown1();" style="text-align: center; border: 1px solid blue; -webkit-border-radius: 3px; border-radius: 3px;">DLi
          <div id="dc1" class="dropdown-content" style="display: none;" onfocusout="hide_dropdown1();">
            <input type="range" orient="vertical" id="directional_light_intensity" min="0" max="20" step="0.05" value="5.5" onkeydown="return_false();" oninput="set_directional_light_intensity();" disabled />
            <span id="dli_val">5.5</span>
          </div>
        </button>
        <label for="ambient_light_color" title="Ambient Light Color">AL</label>
        <input type="color" title="Ambient Light Color" id="ambient_light_color" onchange="set_ambient_light_color();" disabled />
        <button title="Ambient Light Intensity" id="btn_dc2" class="dropdown" onclick="show_hide_dropdown2();" style="text-align: center; border: 1px solid blue; -webkit-border-radius: 3px; border-radius: 3px;">ALi
          <div id="dc2" class="dropdown-content" style="display: none;" onfocusout="hide_dropdown2();">
            <input type="range" orient="vertical" id="ambient_light_intensity" min="0" max="10" step="0.05" value="2.1" onkeydown="return_false();" oninput="set_ambient_light_intensity();" disabled />
            <span id="ali_val">2.1</span>
          </div>
        </button>
        <button title="Switch UP Vector" id="btn_up" onclick="switch_up_vector();">&#x2191</button>
        <button title="Flip UP Vector" id="btn_flip" onclick="flip_up_vector();">&#x2193</button>
        <button title="Edges" id="btn_edges" onclick="show_edges();" disabled>E</button>
      </div>
      <div class="fm" title="Export Download Link" id="div_download" style="display: none;">
        <a id="link" href="#" target="_blank" onclick="document.getElementById('div_download').style.display = 'none';">Download Exported Model</a>
        <button title="Cancel Download" onclick="cancel_download();" style="min-width: 50px; margin: 3px 0 3px 15px;">Cancel</button>
      </div>
      <div id="div_loading" class="loading_msg"></div>
      <div id="div_spinner" class="spinner"></div>
    </div>

    <script>
      function hide_dropdown1() { $('#dc1').fadeOut(); }
      function show_hide_dropdown1() {
        ($('#dc1')[ 0 ].style.display === 'none') ? ($('#dc1').fadeIn(), $('#directional_light_intensity').focus()) : $('#dc1').fadeOut();
      }

      function hide_dropdown2() { $('#dc2').fadeOut(); }
      function show_hide_dropdown2() {
        ($('#dc2')[ 0 ].style.display === 'none') ? ($('#dc2').fadeIn(), $('#ambient_light_intensity').focus()) : $('#dc2').fadeOut();
      }

      function return_false() { return false; }

      function show_url() {
        if (url_displayed === true) {
          url_displayed = false;
          document.getElementById('url').style.display = 'none';
          document.getElementById('btn_url').style.backgroundColor = 'transparent';
        } else {
          document.getElementById('btn_url').style.backgroundColor = 'lightgreen';
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();

        if (url !== '') {
          selected_url_file = url;
          url_loading = true;
          init();
        }
      }

      function clear_url() { document.getElementById('url_entry').value = ''; }

      function resize() {
        if (o3dv_embedded_viewer !== undefined) {
          o3dv_embedded_viewer.viewer.Resize();
          o3dv_embedded_viewer.viewer.ResizeRenderer();
        }
      }
    </script>

    <script>
      // Modified version of code from:
      // https://github.com/kovacsv/Online3DViewer/blob/fefe79f09c4df6ef7a84af7e84e091183dc9f5ba/test/tests/exportimport_test.js

      async function Export( model, format, extension, onReady ) {
        const exporter = new OV.Exporter();
        const settings = new OV.ExporterSettings();

        document.getElementById('div_loading').innerHTML = 'Exporting model...';
        document.getElementById('div_loading').style.display = 'block';
        document.getElementById('div_spinner').style.display = 'block';

        exporter.Export( model, settings, format, extension, {
          onSuccess : function( exportedFiles ) {
            onReady( exportedFiles );
          },
          onError : function() {
            alert( 'Export Error!' );
            console.log( 'Export Error!' );
            document.getElementById('div_loading').innerHTML = '';
            document.getElementById('div_loading').style.display = 'none';
            document.getElementById('div_spinner').style.display = 'none';
          }
        });
      }

      async function start_export( ext = 'glb' ) {
        document.getElementById('export_names').selectedIndex = 0;
        if (document.getElementById('div_download').style.display !== 'none') cancel_download();

        if (OV.FileFormat === undefined) {
          const { Exporter, ExporterSettings, FileFormat } = await import('o3dv');

          OV.Exporter = Exporter;
          OV.ExporterSettings = ExporterSettings;
          OV.FileFormat = FileFormat;
        }

        Export( o3dv_embedded_viewer.model, ext === 'glb' ? OV.FileFormat.Binary : OV.FileFormat.Text, ext, async ( exportedFiles ) => {
          for ( let i = 0; i < exportedFiles.length; i++ ) {
            zip.file( exportedFiles[ i ].name, exportedFiles[ i ].content );
          }

          await process_zip( ext.toUpperCase() );
        });
      }

      async function process_zip( ext = '' ) {
        await zip.generateAsync( { type: 'blob', compression: "DEFLATE", compressionOptions: { level: 9 } } ).then( function( zipped_file ) {
          let link = document.getElementById('link');
          link.href = URL.createObjectURL( zipped_file );
          URL.revokeObjectURL( zipped_file );
          link.download = 'model_' + ext + '.zip';
          document.getElementById('div_loading').innerHTML = '';
          document.getElementById('div_loading').style.display = 'none';
          document.getElementById('div_spinner').style.display = 'none';
          document.getElementById('div_download').style.display = 'block';

          zip = new JSZip();
        });
      }

      function cancel_download() {
        document.getElementById('div_download').style.display = 'none';
        document.getElementById('link').download = '';
        document.getElementById('link').href = '#';
      }

      const textureNames = [
        'https://cdn.jsdelivr.net/npm/online-3d-viewer@0.13.0/website/assets/envmaps/ice_river/posx.jpg',
        'https://cdn.jsdelivr.net/npm/online-3d-viewer@0.13.0/website/assets/envmaps/ice_river/negx.jpg',
        'https://cdn.jsdelivr.net/npm/online-3d-viewer@0.13.0/website/assets/envmaps/ice_river/posy.jpg',
        'https://cdn.jsdelivr.net/npm/online-3d-viewer@0.13.0/website/assets/envmaps/ice_river/negy.jpg',
        'https://cdn.jsdelivr.net/npm/online-3d-viewer@0.13.0/website/assets/envmaps/ice_river/posz.jpg',
        'https://cdn.jsdelivr.net/npm/online-3d-viewer@0.13.0/website/assets/envmaps/ice_river/negz.jpg'
      ];

      // If required then change to true in order to see textures as the scene background
      const backgroundIsEnvMap = false;

      async function first_run() {
        if (OV === undefined) {
          const {
            RGBColor,
            RGBAColor,
            EmbeddedViewer,
            EnvironmentSettings,
            Init3DViewerElements,
            SetExternalLibLocation
          } = await import( "o3dv" );

          OV = {
            RGBColor: RGBColor,
            RGBAColor: RGBAColor,
            EmbeddedViewer: EmbeddedViewer,
            EnvironmentSettings: EnvironmentSettings,
            Init3DViewerElements: Init3DViewerElements,
            SetExternalLibLocation: SetExternalLibLocation
          };

          // Set the external libraries location, required for O3DV versions prior to 0.15.0
          // OV.SetExternalLibLocation( 'https://cdn.jsdelivr.net/npm/online-3d-viewer@0.14.0/libs' );

          // Init all the 3d viewer elements.
          OV.Init3DViewerElements();
        }

        let model_viewer = document.createElement('div');

        model_viewer.setAttribute( 'id', 'o3dv_element' );
        model_viewer.setAttribute( 'class', 'online_3d_viewer' );
        model_viewer.setAttribute( 'defaultColor', 'new OV.RGBColor( 225, 225, 225 )' );
        model_viewer.setAttribute( 'style', 'width: 99.75%; height: 95vh;' );

        document.getElementById('fixed_menu').appendChild( model_viewer );

        let element = document.getElementById('o3dv_element');

        element.onerror = function() {
          enable_disable();
          set_lights();
        }

        o3dv_embedded_viewer = new OV.EmbeddedViewer( element, {
          defaultColor: new OV.RGBColor( 225, 225, 225 ),
          environmentSettings: new OV.EnvironmentSettings( textureNames, backgroundIsEnvMap )
        });

        set_lights();
      }

      function set_lights() {
        document.getElementById('back_color').value = '#FFFFFF';
        document.getElementById('ambient_light_color').value = '#FFFFFF';
        document.getElementById('ambient_light_intensity').value = 2.1;
        document.getElementById('directional_light_color').value = '#FFFFFF';
        document.getElementById('directional_light_intensity').value = 5.5;

        if (o3dv_embedded_viewer) {
          set_back_color();
          set_ambient_light_intensity();
          set_directional_light_intensity();
          set_ambient_light_color();
          set_directional_light_color();
          if (edges_visible === true) show_edges();
        }
      }

      function set_back_color() {
        let bg_colors = document.getElementById('back_color').value; // hex format '#rrggbb'

        o3dv_embedded_viewer.viewer.SetBackgroundColor(
          new OV.RGBAColor(
            parseInt( bg_colors.substring( 1, 3 ), 16 ),
            parseInt( bg_colors.substring( 3, 5 ), 16 ),
            parseInt( bg_colors.substring( 5 ), 16 ),
            255
          )
        );

        o3dv_embedded_viewer.viewer.Render();
      }

      function set_directional_light_color() {
        let dl_color = document.getElementById('directional_light_color').value; // hex format '#rrggbb'

        o3dv_embedded_viewer.viewer.scene.children[ 2 ].color.setRGB(
          parseInt( dl_color.substring( 1, 3 ), 16 ) / 255.0,
          parseInt( dl_color.substring( 3, 5 ), 16 ) / 255.0,
          parseInt( dl_color.substring( 5 ), 16 ) / 255.0
        );

        o3dv_embedded_viewer.viewer.Render();
      }

      function set_directional_light_intensity() {
        let dli_value = document.getElementById('directional_light_intensity').value;
        document.getElementById('dli_val').innerText = dli_value;

        o3dv_embedded_viewer.viewer.scene.children[ 2 ].intensity = parseFloat( dli_value );

        o3dv_embedded_viewer.viewer.Render();
      }

      function set_ambient_light_color() {
        let al_color = document.getElementById('ambient_light_color').value; // hex format '#rrggbb'

        o3dv_embedded_viewer.viewer.scene.children[ 1 ].color.setRGB(
          parseInt( al_color.substring( 1, 3 ), 16 ) / 255.0,
          parseInt( al_color.substring( 3, 5 ), 16 ) / 255.0,
          parseInt( al_color.substring( 5 ), 16 ) / 255.0
        );

        o3dv_embedded_viewer.viewer.Render();
      }

      function set_ambient_light_intensity() {
        let ali_value = document.getElementById('ambient_light_intensity').value;
        document.getElementById('ali_val').innerText = ali_value;
        o3dv_embedded_viewer.viewer.scene.children[ 1 ].intensity = parseFloat( ali_value );

        o3dv_embedded_viewer.viewer.Render();
      }
    </script>

    <script>
      function clear_viewer() {
        if (o3dv_embedded_viewer !== undefined) {
          o3dv_embedded_viewer.viewer.SetBackgroundColor( new OV.RGBAColor( 1, 1, 1 ) );

          if (edges_visible === true) show_edges();

          if (mesh !== undefined) {
            mesh.traverse( ( child ) => {
              if (child.isMesh) {
                if (child.material) {
                  if (Array.isArray( child.material )) {
                    for (const material of child.material) { material.dispose(); }
                  } else {
                    child.material.dispose();
                  }
                }

                if (child.geometry) child.geometry.dispose();
              }
            });

            o3dv_embedded_viewer.viewer.scene.remove( mesh );
            mesh = undefined;
          }

          o3dv_embedded_viewer.viewer.Clear();

          document.getElementById('back_color').value = '#FFFFFF';
          set_back_color();

          o3dv_embedded_viewer.viewer.navigation.camera.eye.x = -1.5;
          o3dv_embedded_viewer.viewer.navigation.camera.eye.y = 2;
          o3dv_embedded_viewer.viewer.navigation.camera.eye.z = 250;
          o3dv_embedded_viewer.viewer.navigation.Update();
        }
      }

      async function import_other_ov() {
        if (OV.Model === undefined) {
          const {
            ConvertThreeGeometryToMesh,
            Direction,
            EdgeSettings,
            Model,
            PhysicalMaterial
          } = await import( 'o3dv' );

          OV.ConvertThreeGeometryToMesh = ConvertThreeGeometryToMesh;
          OV.Direction = Direction;
          OV.EdgeSettings = EdgeSettings;
          OV.Model = Model;
          OV.PhysicalMaterial = PhysicalMaterial;
        }
      }

      async function init() {
        await import_other_ov();

        if (zip === undefined) zip = new JSZip();

        clear_viewer();

        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_spinner').style.display = 'block';

        await new Promise( resolve => setTimeout( resolve, 20 ) );

        edges_visible = false;
        edge_settings = new OV.EdgeSettings( edges_visible, new OV.RGBColor( 30, 30, 30 ), 30);

        if (url_loading === false) {
          let model_extensions = [ '.3DM', '.3DS', '.3MF', '.AMF', '.BIM', '.BREP', '.BRP', '.DAE', '.FBX', '.FCSTD', '.GLB', '.GLTF',
           '.IFC', '.IGES', '.IGS', '.OBJ', '.OFF', '.PLY', '.STL', '.STEP', '.STP', '.WRL' ];

          selected_model_file = null;
          selected_url_file = '';
          local_files = [];

          // Loaded files
          var fi = document.getElementById('file_input');

          for (let i = 0; i < fi.files.length; i++) {
            let fn_uc = fi.files[ i ].name.toUpperCase();

            if (fi.files[ i ].type !== '' && ( fi.files[ i ].type.startsWith('image/') || fn_uc.endsWith( '.DDS' ) || fn_uc.endsWith( '.TGA' ) )) {
              local_files.push( fi.files[ i ] );
            } else if (model_extensions.some( ext => fn_uc.endsWith( ext ) )) {
              selected_model_file = fi.files[ i ];
              local_files.push( fi.files[ i ] );
            } else if (fn_uc.endsWith( '.MTL' ) || fn_uc.endsWith( '.BIN' )) {
              local_files.push( fi.files[ i ] );
            }
          };

          if (selected_model_file === null) {
            enable_disable( true );
            document.getElementById('div_loading').innerHTML = 'No valid model file selected!';
            document.getElementById('div_loading').style.display = 'block';
            console.log( 'No valid model file selected!' );
            return;
          }
        } else {
          selected_url_model_file = null;
          selected_model_file = null;
          url_loading = false;
          url_files = [];

          // Reset the file input
          document.getElementById('file_input').value = '';
        }

        if (defaultMaterial === undefined) {
          defaultMaterial = new THREE.MeshStandardMaterial({
            side: THREE.DoubleSide,
            envMapIntensity: 1.0,
            transparent: false,
            flatShading: false,
            color: 0xFFFFFF,
            opacity: 1,
            metalness: 0.35,
            roughness: 0.65
          });
        }

        // Load the model
        selected_model_file !== null ? loadFile() : loadURLFile();
      }

      async function loadFile() {
        o3dv_embedded_viewer.LoadModelFromFileList( local_files );

        if (o3dv_embedded_viewer.model !== null) {
          o3dv_embedded_viewer.viewer.mainModel.GenerateEdgeModel();
          o3dv_embedded_viewer.viewer.SetEdgeSettings( edge_settings );
          o3dv_embedded_viewer.viewer.mainModel.UpdateWorldMatrix();
        }

        enable_disable();
        set_lights();

        o3dv_embedded_viewer.viewer.Render();
      }

      async function loadURLFile() {
        if (selected_url_file !== '') {
          let image_extensions = [ '.PNG', '.JPEG', '.JPG', '.JFIF', '.PJPEG', '.PJP', '.BMP', '.GIF', '.TGA', '.DDS', '.WEBP' ];
          let model_extensions = [ '.3DM', '.3DS', '.3MF', '.AMF', '.BIM', '.BREP', '.BRP', '.DAE', '.FBX', '.FCSTD', '.GLB', '.GLTF',
           '.IFC', '.IGES', '.IGS', '.OBJ', '.OFF', '.PLY', '.STL', '.STEP', '.STP', '.WRL' ];

          // URLs will have to end with an extension
          if (selected_url_file.indexOf( ',' ) > -1) {
            let urls = selected_url_file.split( ',' );

            for (let i = 0; i < urls.length; i++) {
              let url = urls[ i ].trim();

              if (url.startsWith('https://github.com') === true) {
                url = ( url.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
              }

              let url_uc = url.toUpperCase();

              if (model_extensions.some( ext => url_uc.endsWith( ext ) )) {
                selected_url_model_file = url;
                url_files.push( url );
              } else if (image_extensions.some( ext => url_uc.endsWith( ext ) ) || url_uc.endsWith( '.BIN' ) || url_uc.endsWith( '.MTL' )) {
                url_files.push( url );
              }
            }

            if (selected_url_model_file === null) {
              enable_disable( true );
              document.getElementById('div_loading').innerHTML = 'No valid URL model file selected!';
              document.getElementById('div_loading').style.display = 'block';
              console.log( 'No valid URL model file selected!' );
              return;
            }
          } else {
            if (selected_url_file.startsWith('https://github.com') === true) {
              selected_url_file = ( selected_url_file.replace('github.com', 'raw.githubusercontent.com') ).replace('blob/', '');
            }

            let url_uc = selected_url_file.toUpperCase();

            if (model_extensions.some( ext => url_uc.endsWith( ext ) )) {
              url_files.push( selected_url_file );
            } else {
              enable_disable( true );
              document.getElementById('div_loading').innerHTML = 'No valid URL model file selected!';
              document.getElementById('div_loading').style.display = 'block';
              console.log( 'No valid URL model file selected!' );
              return;
            }
          }

          if (url_files.length > 0) {
            o3dv_embedded_viewer.LoadModelFromUrlList( url_files );

            if (o3dv_embedded_viewer.model !== null) {
              o3dv_embedded_viewer.viewer.mainModel.GenerateEdgeModel();
              o3dv_embedded_viewer.viewer.SetEdgeSettings( edge_settings );
              o3dv_embedded_viewer.viewer.mainModel.UpdateWorldMatrix();
            }

            enable_disable();
            set_lights();

            o3dv_embedded_viewer.viewer.Render();
          }
        }
      }

      function finish_loading() {
        // Set the initial scale of the object so it comes to view
        const bounding_box = new THREE.Box3().setFromObject( mesh );
        let size = bounding_box.getSize( new THREE.Vector3() );

        if ( size.y > 20 ) {
          mesh.scale.multiplyScalar( 50 / size.y );
        } else if ( size.y > 1 ) {
          mesh.scale.multiplyScalar( 20 / size.y );
        } else if ( size.y > 0.09 ) {
          mesh.scale.multiplyScalar( 10 / size.y );
        } else if ( size.y > 0.05 ) {
          mesh.scale.multiplyScalar( 1.5 / size.y );
        } else {
          mesh.scale.multiplyScalar( 1 / size.y )
        }

        mesh.position.set( 0, 0, 0 );

        o3dv_embedded_viewer.viewer.SetMainObject( mesh );
        o3dv_embedded_viewer.viewer.mainModel.GenerateEdgeModel();
        o3dv_embedded_viewer.viewer.SetEdgeSettings( edge_settings );
        o3dv_embedded_viewer.viewer.mainModel.UpdateWorldMatrix();

        enable_disable();
        set_lights();

        o3dv_embedded_viewer.viewer.Render();
      }

      function show_edges() {
        if (edges_visible === true) {
          edges_visible = false;
          document.getElementById('btn_edges').style.backgroundColor = 'transparent';
        } else {
          edges_visible = true;
          document.getElementById('btn_edges').style.backgroundColor = 'lightgreen';
        }

        edge_settings.showEdges = edges_visible;
        o3dv_embedded_viewer.viewer.SetEdgeSettings( edge_settings );
        o3dv_embedded_viewer.viewer.Render();

        disabled_changed();
      }

      function switch_up_vector() {
        if (up === false) {
          o3dv_embedded_viewer.viewer.SetUpVector( OV.Direction.Z, true );
          up = true;
        } else {
          o3dv_embedded_viewer.viewer.SetUpVector( OV.Direction.Y, true );
          up = false;
        }
      }

      function flip_up_vector() {
        o3dv_embedded_viewer.viewer.FlipUpVector();
      }

      function reset() {
        document.getElementById('file_input').value = '';
        document.getElementById('url_entry').value = '';
        clear_viewer();
        enable_disable( true );
        set_lights();
      }

      function enable_disable( disable = false ) {
        document.getElementById('div_loading').innerHTML = '';
        document.getElementById('div_loading').style.display = 'none';
        document.getElementById('div_spinner').style.display = 'none';

        document.getElementById('btn_up').disabled = disable;
        document.getElementById('btn_dc1').disabled = disable;
        document.getElementById('btn_dc2').disabled = disable;
        document.getElementById('btn_flip').disabled = disable;
        document.getElementById('btn_edges').disabled = disable;
        document.getElementById('back_color').disabled = disable;
        document.getElementById('export_names').disabled = disable;
        document.getElementById('ambient_light_color').disabled = disable;
        document.getElementById('ambient_light_intensity').disabled = disable;
        document.getElementById('directional_light_color').disabled = disable;
        document.getElementById('directional_light_intensity').disabled = disable;

        disabled_changed();
      }
    </script>

    <script>
      function document_ready() {
        isMobile = (/iPad|iPhone|iPod/.test( navigator.platform ))
         || (/Android|webOS|iPhone|iPad|iPod|CriOS|BlackBerry|IEMobile|Opera Mini/i.test( navigator.userAgent ))
          || (navigator.maxTouchPoints !== undefined && navigator.maxTouchPoints > 2 && /MacIntel/.test( navigator.platform ));

        $('#export_names').keypress( function( event ) { if (event.key === 'Enter') $(this).children(':selected').click(); });
        $('#url_entry').keypress( function( event ) { if (event.key === 'Enter') $('#btn_load').click(); });

        if (navigator.userAgent.indexOf('Chrome') !== -1 || navigator.userAgent.indexOf('Safari') !== -1 || isMobile === true) {
          $('#export_names').change( function() { $(this).children(':selected').click(); });
        }

        document.getElementById('export_names').selectedIndex = 0;
      }

      function disabled_changed() {
        $('button').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }
        });

        $('select').each( function() {
          if (this.disabled === false) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px blue'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }
        });

        $('input[type=color]').each( function() {
          if (this.disabled === false ) {
            $(this).hover(
            function() { $(this)[ 0 ].style.border = 'solid 2px red'; },
            function() { $(this)[ 0 ].style.border = 'solid 1px whitesmoke'; });
          } else {
            $(this).unbind('mouseenter mouseleave');
          }
        });
      }
    </script>
  </body>
</html>
