      body, html {
        position: relative;
        display: block;
        background-color: black;
        width: 100%;
        min-height: 100vh;
        border: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }

      button {
        background-color: transparent;
        border: 1px solid blue;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        vertical-align: middle;
        margin: 2px 2px 2px 0;
        min-width: 19px;
        height: 22px;
        padding: 1px;
      }

      label {
        vertical-align: middle;
        height: 22px;
        margin: 2px 0 2px 0;
      }

      input[type=color] {
        border: 1px solid whitesmoke;
        margin: 2px 3px 2px -2px;
        vertical-align: middle;
        background: none;
        height: 20px;
        width: 16px;
        padding: 0;
      }

      input[type=file] {
        vertical-align: middle;
        margin: 2px 0 2px 0;
        max-width: 160px;
      }

      input[type=range] {
        vertical-align: middle;
        margin: 2px 0 2px 0;
        min-width: 30px;
      }

      input[type=text] {
        vertical-align: middle;
        margin: 2px 2px 2px 0;
      }

      .dropdown {
        background-color: transparent;
        vertical-align: middle;
        display: inline-block;
        position: relative;
        min-width: 40px;
        font-size: 85%;
        color: blue;
        border: none;
        padding: 1px;
      }

      .dropdown-content {
        background-color: #FFFAD5;
        border: 1px solid #DEAF64;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        position: absolute;
        margin-top: 2px;
        z-index: 10;
      }

      select {
        vertical-align: middle;
        border: 1px solid blue;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background: none;
        min-width: 72px;
        height: 22px;
        color: blue;
      }

      .error_msg {
        background-color: transparent;
        position: absolute;
        text-align: center;
        font-size: x-large;
        display: none;
        color: red;
        width: 240px;
        height: 240px;
        top: 50%;
        left: 50%;
        margin-left: -127px;
        padding: 10px;
        border: none;
      }

      .loading_msg {
        background-color: transparent;
        color: greenyellow;
        position: absolute;
        text-align: center;
        font-size: large;
        height: 240px;
        width: 240px;
        top: 50%;
        left: 50%;
        margin-left: -127px;
        padding: 10px;
        border: none;
      }

      #gui_position {
        position: fixed;
        display: none;
        left: 2px;
        right: auto;
        min-width: 230px;
        border: 1px solid navy;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        min-height: 22px;
        max-height: calc(100vh - calc(env(safe-area-inset-bottom) + 50px));
        margin-right: 2px;
        overflow-x: auto;
        overflow-y: auto;
      }

      #right_gui_position {
        position: fixed;
        display: none;
        left: auto;
        right: 2px;
        min-width: 230px;
        border: 1px solid navy;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        min-height: 22px;
        max-height: calc(100vh - calc(env(safe-area-inset-bottom) + 50px));
        margin-left: 2px;
        overflow-x: auto;
        overflow-y: auto;
      }

      .fm {
        color: navy;
        width: 99.1%;
        border: 1px solid navy;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        padding: 4px;
        margin: 1px;
      }

      .fixed-menu {
        background-color: whitesmoke;
        display: inline-block;
        position: fixed;
        z-index: 1;
        margin: 0px;
        padding: 1px;
        width: 100%;
      }

      .indicator {
        display: none;
        width: 12px;
        height: 12px;
        margin: 2px 3px 2px 3px;
        vertical-align: middle;
        background-color: #ff0000; /* Red light */
        border-radius: 50%;        /* Circular - remove for square */
        box-shadow: 0 0 8px #ff0000;
        animation: flash-animation 0.5s infinite;
      }

      @keyframes flash-animation {
        0% { opacity: 1.0; }
        50% { opacity: 0.3; }
        100% { opacity: 1.0; }
      }

      .modal {
        display: none;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba( 0, 0, 0, 0.5 );
      }

      .modal-content {
        background: #fff;
        padding: 20px;
        width: 300px;
        margin: 10% auto;
        border-radius: 8px;
        box-shadow: 0 0 10px #0003;
      }

      .modal-buttons {
        margin-top: 20px;
        padding: 2px;
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
        height: 24px;
     }
